# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

/**               @wbreza

/cli/             @wbreza @vhvb1989 @hemarina @weikanglim @JeffreyCA
/cli/installer/   @danieljurek

/ext/             @karolz-ms

/ext/vscode/      @bwateratmsft

/generators/repo/ @wbreza @danieljurek

/.github/         @danieljurek

/.config/1espt/   @danieljurek @benbp @weshaggard

/eng/             @danieljurek

/schemas/         @karolz-ms @wbreza

/templates/       @jongio @wbreza

# Exclude @jongio from version bump PRs opened by dependabot
/templates/**/package-lock.json     @wbreza
