---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2022-12-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]},"availabilityZoneMappings":[{"logicalZone":"1","physicalZone":"eastus-az3"},{"logicalZone":"2","physicalZone":"eastus-az1"},{"logicalZone":"3","physicalZone":"eastus-az2"}]},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus2","name":"westus2","type":"Region","displayName":"West US 2","regionalDisplayName":"(US) West US 2","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-119.852","latitude":"47.233","physicalLocation":"Washington","pairedRegion":[{"na[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 744.502455ms
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-lbe306a","reference":null},"location":{"value":"eastus2","reference":null},"principalId":{"value":"62661785-adcf-4117-b9d0-22b3aa2b4ebf","reference":null},"pubsub_password":{"value":"wBqv0FwR9Z2F0mbvQOyKR4","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.36.177.2456","templateHash":"9520202537810030559"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the environment that can be used as part of naming resource convention, the name of the resource group for your application will use this name, prefixed with rg-"}},"location":{"type":"string","minLength":1,"metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}},"goversion":{"type":"string","defaultValue":"1.22"},"pubsub_password":{"type":"securestring","metadata":{"azd":{"type":"generate","config":{"length":22,"noSpecial":true}}}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2022-09-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"env","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"userPrincipalId":{"value":"[parameters(''principalId'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.36.177.2456","templateHash":"6730289161664944759"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location for the resource(s) to be deployed."}},"userPrincipalId":{"type":"string"},"tags":{"type":"object","defaultValue":{}}},"resources":[{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2024-11-30","name":"[take(format(''env_mi-{0}'', uniqueString(resourceGroup().id)), 128)]","location":"[parameters(''location'')]","tags":"[parameters(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2025-04-01","name":"[take(format(''envacr{0}'', uniqueString(resourceGroup().id)), 50)]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', take(format(''envacr{0}'', uniqueString(resourceGroup().id)), 50))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', take(format(''envacr{0}'', uniqueString(resourceGroup().id)), 50)), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''env_mi-{0}'', uniqueString(resourceGroup().id)), 128)), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''env_mi-{0}'', uniqueString(resourceGroup().id)), 128)), ''2024-11-30'').principalId]","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]","principalType":"ServicePrincipal"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', take(format(''envacr{0}'', uniqueString(resourceGroup().id)), 50))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''env_mi-{0}'', uniqueString(resourceGroup().id)), 128))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2025-02-01","name":"[take(format(''envlaw-{0}'', uniqueString(resourceGroup().id)), 63)]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2025-01-01","name":"[take(format(''env{0}'', uniqueString(resourceGroup().id)), 24)]","location":"[parameters(''location'')]","properties":{"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', take(format(''envlaw-{0}'', uniqueString(resourceGroup().id)), 63)), ''2025-02-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', take(format(''envlaw-{0}'', uniqueString(resourceGroup().id)), 63)), ''2025-02-01'').primarySharedKey]"}},"workloadProfiles":[{"name":"consumption","workloadProfileType":"Consumption"}]},"tags":"[parameters(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', take(format(''envlaw-{0}'', uniqueString(resourceGroup().id)), 63))]"]},{"type":"Microsoft.App/managedEnvironments/dotNetComponents","apiVersion":"2024-10-02-preview","name":"[format(''{0}/{1}'', take(format(''env{0}'', uniqueString(resourceGroup().id)), 24), ''aspire-dashboard'')]","properties":{"componentType":"AspireDashboard"},"dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', take(format(''env{0}'', uniqueString(resourceGroup().id)), 24))]"]}],"outputs":{"AZURE_LOG_ANALYTICS_WORKSPACE_NAME":{"type":"string","value":"[take(format(''envlaw-{0}'', uniqueString(resourceGroup().id)), 63)]"},"AZURE_LOG_ANALYTICS_WORKSPACE_ID":{"type":"string","value":"[resourceId(''Microsoft.OperationalInsights/workspaces'', take(format(''envlaw-{0}'', uniqueString(resourceGroup().id)), 63))]"},"AZURE_CONTAINER_REGISTRY_NAME":{"type":"string","value":"[take(format(''envacr{0}'', uniqueString(resourceGroup().id)), 50)]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', take(format(''envacr{0}'', uniqueString(resourceGroup().id)), 50)), ''2025-04-01'').loginServer]"},"AZURE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"string","value":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''env_mi-{0}'', uniqueString(resourceGroup().id)), 128))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_NAME":{"type":"string","value":"[take(format(''env{0}'', uniqueString(resourceGroup().id)), 24)]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"string","value":"[resourceId(''Microsoft.App/managedEnvironments'', take(format(''env{0}'', uniqueString(resourceGroup().id)), 24))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"string","value":"[reference(resourceId(''Microsoft.App/managedEnvironments'', take(format(''env{0}'', uniqueString(resourceGroup().id)), 24)), ''2025-01-01'').defaultDomain]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"storage","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.36.177.2456","templateHash":"75824367867333496"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location for the resource(s) to be deployed."}}},"resources":[{"type":"Microsoft.Storage/storageAccounts","apiVersion":"2024-01-01","name":"[take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24)]","kind":"StorageV2","location":"[parameters(''location'')]","sku":{"name":"Standard_GRS"},"properties":{"accessTier":"Hot","allowSharedKeyAccess":false,"minimumTlsVersion":"TLS1_2","networkAcls":{"defaultAction":"Allow"}},"tags":{"aspire-resource-name":"storage"}}],"outputs":{"blobEndpoint":{"type":"string","value":"[reference(resourceId(''Microsoft.Storage/storageAccounts'', take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24)), ''2024-01-01'').primaryEndpoints.blob]"},"queueEndpoint":{"type":"string","value":"[reference(resourceId(''Microsoft.Storage/storageAccounts'', take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24)), ''2024-01-01'').primaryEndpoints.queue]"},"tableEndpoint":{"type":"string","value":"[reference(resourceId(''Microsoft.Storage/storageAccounts'', take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24)), ''2024-01-01'').primaryEndpoints.table]"},"name":{"type":"string","value":"[take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24)]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"webfrontend-identity","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.36.177.2456","templateHash":"14387149048598476089"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location for the resource(s) to be deployed."}}},"resources":[{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2024-11-30","name":"[take(format(''webfrontend_identity-{0}'', uniqueString(resourceGroup().id)), 128)]","location":"[parameters(''location'')]"}],"outputs":{"id":{"type":"string","value":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''webfrontend_identity-{0}'', uniqueString(resourceGroup().id)), 128))]"},"clientId":{"type":"string","value":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''webfrontend_identity-{0}'', uniqueString(resourceGroup().id)), 128)), ''2024-11-30'').clientId]"},"principalId":{"type":"string","value":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''webfrontend_identity-{0}'', uniqueString(resourceGroup().id)), 128)), ''2024-11-30'').principalId]"},"principalName":{"type":"string","value":"[take(format(''webfrontend_identity-{0}'', uniqueString(resourceGroup().id)), 128)]"},"name":{"type":"string","value":"[take(format(''webfrontend_identity-{0}'', uniqueString(resourceGroup().id)), 128)]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"webfrontend-roles-storage","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"principalId":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''webfrontend-identity''), ''2022-09-01'').outputs.principalId.value]"},"storage_outputs_name":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''storage''), ''2022-09-01'').outputs.name.value]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.36.177.2456","templateHash":"10649334063052754419[...]
[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"principalId":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''webfrontend-identity''), ''2022-09-01'').outputs.principalId.value]"},"storage_outputs_name":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resour[...]
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lbe306a-1754120077/operationStatuses/08584474867731052834?api-version=2021-04-01&t=638897169160713583&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lbe306a-1754120077?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lbe306a-1754120077","name":"azdtest-lbe306a-1754120077","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-lbe306a","azd-provision-param-hash":"77d3bb8fd6b5fc3d62ebf84dad613d019c44dd32c82c6d05a9c1e0386876a783"},"properties":{"templateHash":"9520202537810030559","parameters":{"environmentName":{"type":"String","value":"azdtest-lbe306a"},"location":{"type":"String","value":"eastus2"},"principalId":{"type":"String","value":"62661785-adcf-4117-b9d0-22b3aa2b4ebf"},"goversion":{"type":"String","value":"1.22"},"pubsub_password":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-08-02T07:38:24.6945098Z","duration":"PT3M12.3263003S","correlationId":"4fabee69-f450-4d7c-8e12-066e951719a7","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbe306a","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-lbe306a"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbe306a/providers/Microsoft.Resources/deployments/env","resourceType":"Microsoft.Resources/deployments","resourceName":"env"},{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbe306a","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-lbe306a"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGro[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-lbe306a%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbe306a","name":"rg-azdtest-lbe306a","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-lbe306a"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 77.81938ms
[...]
    - id: 8
      request:
            - chunked
        host: envacrgj4p4o24frjhq.azurecr.io
        body: access_token=SANITIZED&grant_type=access_token&service=envacrgj4p4o24frjhq.azurecr.io
        form:
            access_token:
                - SANITIZED
            grant_type:
                - access_token
            service:
                - envacrgj4p4o24frjhq.azurecr.io
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://envacrgj4p4o24frjhq.azurecr.io:443/oauth2/exchange
        method: POST
      response:
            - chunked
        body: '{"refresh_token":"SANITIZED"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Calls-Per-Second:
                - "166.65"
        status: 200 OK
        code: 200
        duration: 503.609429ms
    - id: 9
      request:
        host: management.azure.com
        body: '{"properties":{"mode":"Incremental","parameters":{"apiservice_containerimage":{"value":"envacrgj4p4o24frjhq.azurecr.io/aspire-azd-tests/apiservice-azdtest-lbe306a:azd-deploy-1754120077","reference":null},"apiservice_containerport":{"value":"8080","reference":null},"env_outputs_azure_container_apps_environment_default_domain":{"value":"livelyhill-c89836dd.eastus2.azurecontainerapps.io","reference":null},"env_outputs_azure_container_apps_environment_id":{"value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbe306a/providers/Microsoft.App/managedEnvironments/envgj4p4o24frjhq","reference":null},"env_outputs_azure_container_registry_endpoint":{"value":"envacrgj4p4o24frjhq.azurecr.io","referenc[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-lbe306a/providers/Microsoft.Resources/deployments/apiservice-1754120077/operationStatuses/08584474865381266494?api-version=2021-04-01&t=638897171501842943&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgk[...]
[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbe306a/providers/Microsoft.App/containerApps/apiservice?api-version=2023-11-02-preview
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbe306a/providers/Microsoft.App/containerapps/apiservice","name":"apiservice","type":"Microsoft.App/containerApps","location":"East US 2","systemData":{"createdBy":"vivazqu@microsoft.com","createdByType":"User","createdAt":"2025-08-02T07:39:10.9968684","lastModifiedBy":"vivazqu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-08-02T07:39:10.9968684"},"properties":{"provisioningState":"Succeeded","runningStatus":"Running","managedEnvironmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbe306a/providers/Microsoft.App/managedEnvironments/envgj4p4o24frjhq","environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbe306a/providers/Microsoft.App/managedEnvironments/envgj4p4o24frjhq","workloadProfileName":"consumption","outboundIpAddresses":["20.1.250.250","20.1.251.135","20.7.131.26","20.7.130.240","20.7.131.54","20.7.131.60","20.7.131.34","20.7.131.59","20.7.131.44","20.7.131.5","20.7.131.39","20.7.131.50","20.1.251.104","172.200.51.234","172.200.52.27","172.200.51.44","172.200.51.235","172.200.51.243","172.200.51.45","172.200.51.191","172.200.51.242","172.200.52.26","172.200.51.190","20.1.251.2","13.68.118.203","13.68.119.127","52.184.147.35","52.184.147.9","20.94.111.32","20.94.110.46","20.97.130.219","20.69.200.68","52.167.135.54","52.184.149.238","52.179.250.88","52.184.149.147","52.184.198.180","52.184.138.179","52.179.253.112","52.184.190.79","52.184.141.185","52.184.151.206","20.97.132.38","4.153.163.131","20.36.242.179","20.36.243.222","20.36.243.227","20.36.243.208","128.85.230.186","4.153.163.156","20.36.242.169","4.153.163.201","20.36.244.19","20.97.133.137","20.36.244.21","20.36.243.201","128.85.220.176","128.85.212.114","135.18.214.171","20.85.91.213","128.85.239.223","4.153.23.192","4.153.23.210","4.153.23.204","20.94.122.99","4.153.23.173","20.94.122.65","20.94.122.133","20.94.122.111","20.94.122.70","20.94.122.101","52.184.200.117"],"latestRevisionName":"apiservice--dv6c3jt","latestReadyRevisionName":"apiservice--dv6c3jt","latestRevisionFqdn":"apiservice--dv6c3jt.internal.livelyhill-c89836dd.eastus2.azurecontainerapps.io","customDomainVerificationId":"952E2B5B449FE1809E86B56F4189627111A065213A56FF099BE2E8782C9EB920","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":"apiservice.internal.livelyhill-c89836dd.eastus2.azurecontainerapps.io","external":false,"targetPort":8080,"exposedPort":0,"transport":"Http","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":[{"server":"envacrgj4p4o24frjhq.azurecr.io","username":"","passwordSecretRef":"","identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbe306a/providers/Microsoft.ManagedIdentity/userAssignedIdentities/env_mi-gj4p4o24frjhq"}],"dapr":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"envacrgj4p4o24frjhq.azurecr.io/aspire-azd-tests/apiservice-azdtest-lbe306a:azd-deploy-1754120077","name":"apiservice","env":[{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"}],"resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":1,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus2.azurecontainerapps.dev/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbe306a/containerApps/apiservice/eventstream","delegatedIdentities":[]},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-lbe306a/providers/Microsoft.ManagedIdentity/userAssignedIdentities/env_mi-gj4p4o24frjhq":{"principalId":"eb468e34-bc6f-4fd3-ba41-a9463d5aca3f","clientId":"ab098b73-764f-48ca-8743-15b8252c2206"}}}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview, 2025-07-01
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 276.913947ms
[...]
    - id: 14
      request:
        host: management.azure.com
        body: '{"properties":{"mode":"Incremental","parameters":{"env_outputs_azure_container_apps_environment_default_domain":{"value":"livelyhill-c89836dd.eastus2.azurecontainerapps.io","reference":null},"env_outputs_azure_container_apps_environment_id":{"value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbe306a/providers/Microsoft.App/managedEnvironments/envgj4p4o24frjhq","reference":null},"pubsub_password_value":{"value":"wBqv0FwR9Z2F0mbvQOyKR4","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.36.177.2456","templateHash":"8995507080380254724"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location for the resource(s) to be deployed."}},"env_outputs_azure_container_apps_environment_default_domain":{"type":"string"},"env_outputs_azure_container_apps_environment_id":{"type":"string"},"pubsub_password_value":{"type":"securestring"}},"resources":[{"type":"Microsoft.App/containerApps","apiVersion":"2025-01-01","name":"pubsub","location":"[parameters(''location'')]","properties":{"configuration":{"secrets":[{"name":"redis-password","value":"[parameters(''pubsub_password_value'')]"}],"activeRevisionsMode":"Single","ingress":{"external":false,"targetPort":6379,"transport":"tcp"}},"environmentId":"[parameters(''env_outputs_azure_container_apps_environment_id'')]","template":{"containers":[{"image":"docker.io/library/redis:7.4","name":"pubsub","command":["/bin/sh"],"args":["-c","redis-server --requirepass $REDIS_PASSWORD"],"env":[{"name":"REDIS_PASSWORD","secretRef":"redis-password"}]}],"scale":{"minReplicas":1}}}}]}}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-lbe306a/providers/Microsoft.Resources/deployments/pubsub-1754120077?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af[...]
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-lbe306a/providers/Microsoft.Resources/deployments/pubsub-1754120077/operationStatuses/08584474865007779690?api-version=2021-04-01&t=638897171852933228&c=MIIHhzCCBm-gAwIBAgITfAh_EjM5CPJ1HOWmNAAACH8SMzANBgkqhki[...]
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-lbe306a/providers/Microsoft.Resources/deployments/pubsub-1754120077?api-version=2021-04-01
[...]
