---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2022-12-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]},"availabilityZoneMappings":[{"logicalZone":"1","physicalZone":"eastus-az3"},{"logicalZone":"2","physicalZone":"eastus-az1"},{"logicalZone":"3","physicalZone":"eastus-az2"}]},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/southcentralus","name":"southcentralus","type":"Region","displayName":"South Central US","regionalDisplayName":"(US) South Central US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-98.5","latitude":"29.4167","physicalLocation":"Texas"[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=1ZLBaoNAEEC%2fxT1H2I0aSm61s4G0nd3uumtrb8FaUYNCa1Eb%2fPdqQn%2fAHkJvA%2fMGHo85kbSp26L%2bOrRFU5umyupPsj2RZx4ZG63nsc769unw0RYz8ZANZEuYc%2bMIk%2fT4nbhkdSZ00%2f3uGNs4utqFCHmn7CugVb6AMNRwBEXjHVpOhQlBmfhOmLd3zYR8jGgnwU6cDRD2PZZJJ8p8LUEFMmIv2h4xsnSDlTYxTwdZ3nM0KcVyujETq1yXjCvCb2fvZdrU%2f4u2J42iaBTDctZSARZMRJD7EppBA%2fcE4FqUew9NdVa9JP4XqpeqC7%2fhKlm9ZV2v9rnj%2bAM%3d","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16500"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1100"
        status: 200 OK
        code: 200
        duration: 7.647040625s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=1ZLBaoNAEEC%2FxT1H2I0aSm61s4G0nd3uumtrb8FaUYNCa1Eb%2FPdqQn%2FAHkJvA%2FMGHo85kbSp26L%2BOrRFU5umyupPsj2RZx4ZG63nsc769unw0RYz8ZANZEuYc%2BMIk%2FT4nbhkdSZ00%2F3uGNs4utqFCHmn7CugVb6AMNR[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=1ZJNboMwEIXPgtdEMoRKFbuacRZtbNdmTJTsIkojArKllohAxN0LTXuILEfvW7yfuZHSu652l2NXe4e%2Bqdw3SW9kx3O0eUxSd2nbkPCX5VwEV1279%2BNXVy%2F8WzWQlETBcyBxfxXjfkXCX8L4%2Fl%2BLYhqYZsMEnHptDyCsTiQwZqAFTYuNsJxKZKCxyCR%2BfJpIqm1OewV25ppBYfkkxpIK0Gsx6kRkEds1xppCWnV%2B5QgHLhuTKfCDAR4rPA0zm0gsV2QK%2F5I8pPV76%2FMID1v7%2Bv5A0%2FQD&api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWcnUMDgkNVrLKK83J0VEKd0XmQeSMYJKOocEhQY4%2bno7Orn4gBkzc2dHP0QVdEGISXC%2bEawzRUlsLAA%3d%3d\u0026api-version=2021-04-01","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 1.1868315s
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWcnUMDgkNVrLKK83J0VEKd0XmQeSMYJKOocEhQY4%2Bno7Orn4gBkzc2dHP0QVdEGISXC%2BEawzRUlsLAA%3D%3D&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 1.925446917s
    - id: 5
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-d8c2321","reference":null},"location":{"value":"eastus2","reference":null},"principalId":{"value":"43bb7435-f8c4-4342-9788-fd15e454ea12","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.36.1.42791","templateHash":"6692549542352729212"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the environment that can be used as part of naming resource convention, the name of the resource group for your application will use this name, prefixed with rg-"}},"location":{"type":"string","minLength":1,"metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}},"goversion":{"type":"string","defaultValue":"1.22"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2022-09-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"tags":{"value":"[variables(''tags'')]"},"principalId":{"value":"[parameters(''principalId'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.36.1.42791","templateHash":"3689762934542834295"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}},"tags":{"type":"object","defaultValue":{},"metadata":{"description":"Tags that will be applied to all resources"}}},"variables":{"resourceToken":"[uniqueString(resourceGroup().id)]"},"resources":[{"type":"Microsoft.App/managedEnvironments/dotNetComponents","apiVersion":"2024-02-02-preview","name":"[format(''{0}/{1}'', format(''cae-{0}'', variables(''resourceToken'')), ''aspire-dashboard'')]","properties":{"componentType":"AspireDashboard"},"dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[parameters(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2024-02-02-preview","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"workloadProfiles":[{"workloadProfileType":"Consumption","name":"consumption"}],"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[parameters(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"MANAGED_IDENTITY_CLIENT_ID":{"type":"string","value":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').clientId]"},"MANAGED_IDENTITY_NAME":{"type":"string","value":"[format(''mi-{0}'', variables(''resourceToken''))]"},"MANAGED_IDENTITY_PRINCIPAL_ID":{"type":"string","value":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]"},"AZURE_LOG_ANALYTICS_WORKSPACE_NAME":{"type":"string","value":"[format(''law-{0}'', variables(''resourceToken''))]"},"AZURE_LOG_ANALYTICS_WORKSPACE_ID":{"type":"string","value":"[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]"},"AZURE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"string","value":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_REGISTRY_NAME":{"type":"string","value":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_NAME":{"type":"string","value":"[format(''cae-{0}'', variables(''resourceToken''))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"string","value":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"string","value":"[reference(resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken''))), ''2024-02-02-preview'').defaultDomain]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"storage","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"principalId":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.MANAGED_IDENTITY_PRINCIPAL_ID.value]"},"principalType":{"value":"ServicePrincipal"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.36.1.42791","templateHash":"4572103130477795345"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location for the resource(s) to be deployed."}},"principalId":{"type":"string"},"principalType":{"type":"string"}},"resources":[{"type":"Microsoft.Storage/storageAccounts","apiVersion":"2024-01-01","name":"[take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24)]","kind":"StorageV2","location":"[parameters(''location'')]","sku":{"name":"Standard_GRS"},"properties":{"accessTier":"Hot","allowSharedKeyAccess":false,"minimumTlsVersion":"TLS1_2","networkAcls":{"defaultAction":"Allow"}},"tags":{"aspire-resource-name":"storage"}},{"type":"Microsoft.Storage/storageAccounts/blobServices","apiVersion":"2024-01-01","name":"[format(''{0}/{1}'', take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24), ''default'')]","dependsOn":["[resourceId(''Microsoft.Storage/storageAccounts'', take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24))]"]},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.Storage/storageAccounts/{0}'', take(format(''storag[...]
[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"principalId":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.MANAGED_IDENTITY_PRINCIPAL_ID.value]"},"principalType":{"value":"ServicePrincipal"}},"template":{"$schema":"https://schema.managem[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-d8c2321-1750367036/operationStatuses/08584512397841207823?api-version=2021-04-01&t=638859639045039976&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-d8c2321-1750367036?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-d8c2321-1750367036","name":"azdtest-d8c2321-1750367036","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-d8c2321","azd-provision-param-hash":"a0e9cecbcb612d0fc6c7358a38b911f47256209e75f6b076061b129259e5cb0b"},"properties":{"templateHash":"6692549542352729212","parameters":{"environmentName":{"type":"String","value":"azdtest-d8c2321"},"location":{"type":"String","value":"eastus2"},"principalId":{"type":"String","value":"43bb7435-f8c4-4342-9788-fd15e454ea12"},"goversion":{"type":"String","value":"1.22"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-06-19T21:10:21.1455531Z","duration":"PT5M19.7979355S","correlationId":"6cb2b531-22a1-4685-9a96-ad7808fe526e","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-d8c2321"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-d8c2321"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources","apiVersion":"2022-09-01"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.Resources/deployments/storage","resourceType":"Microsoft.Resources/deployments","resourceName":"storage"}],"outputs":{"manageD_IDENTITY_CLIENT_ID":{"type":"String","value":"017688b7-eb20-436a-8abe-313b542e8dec"},"manageD_IDENTITY_NAME":{"type":"String","value":"mi-qhswawd4mp3am"},"azurE_LOG_ANALYTICS_WORKSPACE_NAME":{"type":"String","value":"law-qhswawd4mp3am"},"azurE_CONTAINER_REGISTRY_ENDPOINT":{"type":"String","value":"acrqhswawd4mp3am.azurecr.io"},"azurE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-qhswawd4mp3am"},"azurE_CONTAINER_REGISTRY_NAME":{"type":"String","value":"acrqhswawd4mp3am"},"azurE_CONTAINER_APPS_ENVIRONMENT_NAME":{"type":"String","value":"cae-qhswawd4mp3am"},"azurE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.App/managedEnvironments/cae-qhswawd4mp3am"},"azurE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"String","value":"happypebble-902052d8.eastus2.azurecontainerapps.io"},"storagE_BLOBENDPOINT":{"type":"String","value":"https://storageqhswawd4mp3am.blob.core.windows.net/"},"storagE_QUEUEENDPOINT":{"type":"String","value":"https://storageqhswawd4mp3am.queue.core.windows.net/"},"storagE_TABLEENDPOINT":{"type":"String","value":"https://storageqhswawd4mp3am.table.core.windows.net/"},"azurE_GOVERSION":{"type":"String","value":"1.22"}},"outputResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.App/managedEnvironments/cae-qhswawd4mp3am"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.App/managedEnvironments/cae-qhswawd4mp3am/dotNetComponents/aspire-dashboard"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-d8c2321%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321","name":"rg-azdtest-d8c2321","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-d8c2321"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 79.907083ms
[...]
    - id: 11
      request:
            - chunked
        host: acrqhswawd4mp3am.azurecr.io
        body: access_token=SANITIZED&grant_type=access_token&service=acrqhswawd4mp3am.azurecr.io
        form:
            access_token:
                - SANITIZED
            grant_type:
                - access_token
            service:
                - acrqhswawd4mp3am.azurecr.io
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://acrqhswawd4mp3am.azurecr.io:443/oauth2/exchange
        method: POST
      response:
            - chunked
        body: '{"refresh_token":"SANITIZED"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Calls-Per-Second:
                - "166.65"
        status: 200 OK
        code: 200
        duration: 574.47725ms
    - id: 12
      request:
        host: management.azure.com
        body: '{"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-qhswawd4mp3am":{}}},"location":"eastus2","properties":{"configuration":{"activeRevisionsMode":"single","ingress":{"allowInsecure":true,"external":false,"targetPort":8080,"transport":"http"},"registries":[{"identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-qhswawd4mp3am","server":"acrqhswawd4mp3am.azurecr.io"}],"runtime":{"dotnet":{"autoConfigureDataProtection":true}}},"environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.App/managedEnvironments/cae-qhswawd4mp3am","template":{"containers":[{"env":[{"name":"AZURE_CLIENT_ID","value":"017688b7-eb20-436a-8abe-313b542e8dec"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"}],"image":"acrqhswawd4mp3am.azurecr.io/aspire-azd-tests/apiservice-azdtest-d8c2321:azd-deploy-1750367036","name":"apiservice"}],"scale":{"minReplicas":1}}},"tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.App/containerApps/apiservice?api-version=2024-02-02-preview
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.App/containerapps/apiservice","name":"apiservice","type":"Microsoft.App/containerApps","location":"East US 2","tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"},"systemData":{"createdBy":"weilim@microsoft.com","createdByType":"User","createdAt":"2025-06-19T21:11:17.6136337Z","lastModifiedBy":"weilim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-06-19T21:11:17.6136337Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.App/managedEnvironments/cae-qhswawd4mp3am","environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.App/managedEnvironments/cae-qhswawd4mp3am","workloadProfileName":"consumption","patchingMode":"Automatic","outboundIpAddresses":["20.97.130.219","20.69.200.68","52.167.135.54","52.184.149.238","52.179.250.88","52.184.149.147","52.184.198.180","52.184.138.179","52.179.253.112","52.184.190.79","52.184.141.185","52.184.151.206","20.97.132.38","20.97.133.137","20.94.122.99","20.94.122.65","20.94.122.133","20.94.122.111","20.94.122.70","20.94.122.101","20.1.250.250","20.1.251.135","20.7.131.26","20.7.130.240","20.7.131.54","20.7.131.60","20.7.131.34","20.7.131.59","20.7.131.44","20.7.131.5","20.7.131.39","20.7.131.50","20.1.251.104","172.200.51.234","172.200.52.27","172.200.51.44","172.200.51.235","172.200.51.243","172.200.51.45","172.200.51.191","172.200.51.242","172.200.52.26","172.200.51.190","20.1.251.2","13.68.118.203","13.68.119.127","52.184.147.35","52.184.147.9","20.94.111.32","20.94.110.46","4.153.89.247"],"customDomainVerificationId":"952E2B5B449FE1809E86B56F4189627111A065213A56FF099BE2E8782C9EB920","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":null,"external":false,"targetPort":8080,"exposedPort":null,"transport":"Http","traffic":null,"customDomains":null,"allowInsecure":true,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":[{"server":"acrqhswawd4mp3am.azurecr.io","identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d8c2321/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-qhswawd4mp3am"}],"identitySettings":[],"dapr":null,"runtime":{"dotnet":{"autoConfigureDataProtection":true}},"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":null,"terminationGracePeriodSeconds":null,"containers":[{"image":"acrqhswawd4mp3am.azurecr.io/aspire-azd-tests/apiservice-azdtest-d8c2321:azd-deploy-1750367036","imageType":"CloudBuild","name":"apiservice","env":[{"name":"AZURE_CLIENT_ID","value":"017688b7-eb20-436a-8abe-313b542e8dec"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"}]}],"initContainers":null,"scale":{"minReplicas":1,"maxReplicas":null,"rules":null},"volumes":null,"serviceBinds":null},"delegatedIdentities":[]},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-d8c2321/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-qhswawd4mp3am":{"principalId":"99455c87-5889-41a2-be86-cbed44b0ffbd","clientId":"017688b7-eb20-436a-8abe-313b542e8dec"}}}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview, 2025-07-01
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.App/locations/eastus2/containerappOperationStatuses/fb4e843f-cc92-4df2-a537-604fc72d09ec?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638859642800824071&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE5MTQyMjI3WhcNMjUxMDE2MTQyMjI3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbn[...]
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
[...]
