---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2022-12-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]},"availabilityZoneMappings":[{"logicalZone":"1","physicalZone":"eastus-az3"},{"logicalZone":"2","physicalZone":"eastus-az1"},{"logicalZone":"3","physicalZone":"eastus-az2"}]},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus2","name":"westus2","type":"Region","displayName":"West US 2","regionalDisplayName":"(US) West US 2","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-119.852","latitude":"47.233","physicalLocation":"Washington","pairedRegion":[{"na[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=NY9Rb4IwFIV%2fC32GpJUtWXgTWzXT267tLQt7M8oMQkqyYUAM%2f30yw9v5cr7cm3Mnx8a3pb8e2rLx2FSF%2fyXJnXwKi84upuiLvv04%2fLTlZOyKG0kIC94CiXkPQx6R8N8wTTd3LF4EplqnwM%2bddl8cnH6RPE0Nr7mm2RqcoBJTrjFbSTx9GybV3tJOcffwIIZLRYFXN%2bDTBxFLyzTS%2fl2zWpgsBWS1NO7VqUu2UZjHwI8DIPQKz1QO4nGnGmQXRWQMiVQGtysh0Sz3zpLEX%2bs6JGI5rZvpuXUmt7PK4faJ4%2fgH","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 5.468072375s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=NY9Rb4IwFIV%2FC32GpJUtWXgTWzXT267tLQt7M8oMQkqyYUAM%2F30yw9v5cr7cm3Mnx8a3pb8e2rLx2FSF%2FyXJnXwKi84upuiLvv04%2FLTlZOyKG0kIC94CiXkPQx6R8N8wTTd3LF4EplqnwM%2Bddl8cnH6RPE0Nr7mm2RqcoBJTr[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=VZBBboMwEEXPEq9BskMrVexC7DRqMnZtj6noLkppREBGaokgRNy9oZRFl0%2F%2FzYz%2B3Mix9k3hL4emqD3WZe6%2FSXwjb8Kis0sS%2B0tVBX8YjYnPu%2Bb18NUU48Auv5KYsMXTQmLWQZ%2BFJPg1TN3OGYuWC1NuEuCnVrt3Dk4%2FSJ4khldc03QDTlCJCdeYriV%2BfBom1d7SVnF39yCCc0mBl1fg4wURScs00u5Fs0qYNAFklTTu0alz%2Bqwwi4Afe0DoFJ6o7MV9T9nLNgzJEBCx%2BldLKoPbtZBoVntn57KTNNP0iZncziqH2wmH4Qc%3D&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 2.510259958s
    - id: 4
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-d40d239","reference":null},"location":{"value":"eastus2","reference":null},"principalId":{"value":"43bb7435-f8c4-4342-9788-fd15e454ea12","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.39.26.7824","templateHash":"7209430862467682605"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the environment that can be used as part of naming resource convention, the name of the resource group for your application will use this name, prefixed with rg-"}},"location":{"type":"string","minLength":1,"metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}},"goversion":{"type":"string","defaultValue":"1.22"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2022-09-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2025-04-01","name":"appHostInfrastructure","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"userPrincipalId":{"value":"[parameters(''principalId'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.39.26.7824","templateHash":"8469712107492300721"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location for the resource(s) to be deployed."}},"userPrincipalId":{"type":"string"},"tags":{"type":"object","defaultValue":{}}},"resources":[{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2024-11-30","name":"[take(format(''appHostInfrastructure_mi-{0}'', uniqueString(resourceGroup().id)), 128)]","location":"[parameters(''location'')]","tags":"[parameters(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2025-04-01","name":"[take(format(''appHostInfrastructureacr{0}'', uniqueString(resourceGroup().id)), 50)]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', take(format(''appHostInfrastructureacr{0}'', uniqueString(resourceGroup().id)), 50))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', take(format(''appHostInfrastructureacr{0}'', uniqueString(resourceGroup().id)), 50)), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''appHostInfrastructure_mi-{0}'', uniqueString(resourceGroup().id)), 128)), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''appHostInfrastructure_mi-{0}'', uniqueString(resourceGroup().id)), 128)), ''2024-11-30'').principalId]","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]","principalType":"ServicePrincipal"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', take(format(''appHostInfrastructureacr{0}'', uniqueString(resourceGroup().id)), 50))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''appHostInfrastructure_mi-{0}'', uniqueString(resourceGroup().id)), 128))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2025-02-01","name":"[take(format(''appHostInfrastructurelaw-{0}'', uniqueString(resourceGroup().id)), 63)]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2025-01-01","name":"[take(format(''apphostinfrastructure{0}'', uniqueString(resourceGroup().id)), 24)]","location":"[parameters(''location'')]","properties":{"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', take(format(''appHostInfrastructurelaw-{0}'', uniqueString(resourceGroup().id)), 63)), ''2025-02-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', take(format(''appHostInfrastructurelaw-{0}'', uniqueString(resourceGroup().id)), 63)), ''2025-02-01'').primarySharedKey]"}},"workloadProfiles":[{"name":"consumption","workloadProfileType":"Consumption"}]},"tags":"[parameters(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', take(format(''appHostInfrastructurelaw-{0}'', uniqueString(resourceGroup().id)), 63))]"]},{"type":"Microsoft.App/managedEnvironments/dotNetComponents","apiVersion":"2024-10-02-preview","name":"[format(''{0}/{1}'', take(format(''apphostinfrastructure{0}'', uniqueString(resourceGroup().id)), 24), ''aspire-dashboard'')]","properties":{"componentType":"AspireDashboard"},"dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', take(format(''apphostinfrastructure{0}'', uniqueString(resourceGroup().id)), 24))]"]}],"outputs":{"AZURE_LOG_ANALYTICS_WORKSPACE_NAME":{"type":"string","value":"[take(format(''appHostInfrastructurelaw-{0}'', uniqueString(resourceGroup().id)), 63)]"},"AZURE_LOG_ANALYTICS_WORKSPACE_ID":{"type":"string","value":"[resourceId(''Microsoft.OperationalInsights/workspaces'', take(format(''appHostInfrastructurelaw-{0}'', uniqueString(resourceGroup().id)), 63))]"},"AZURE_CONTAINER_REGISTRY_NAME":{"type":"string","value":"[take(format(''appHostInfrastructureacr{0}'', uniqueString(resourceGroup().id)), 50)]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', take(format(''appHostInfrastructureacr{0}'', uniqueString(resourceGroup().id)), 50)), ''2025-04-01'').loginServer]"},"AZURE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"string","value":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''appHostInfrastructure_mi-{0}'', uniqueString(resourceGroup().id)), 128))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_NAME":{"type":"string","value":"[take(format(''apphostinfrastructure{0}'', uniqueString(resourceGroup().id)), 24)]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"string","value":"[resourceId(''Microsoft.App/managedEnvironments'', take(format(''apphostinfrastructure{0}'', uniqueString(resourceGroup().id)), 24))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"string","value":"[reference(resourceId(''Microsoft.App/managedEnvironments'', take(format(''apphostinfrastructure{0}'', uniqueString(resourceGroup().id)), 24)), ''2025-01-01'').defaultDomain]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', form[...]
[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"userPrincipalId":{"value":"[parameters(''principalId'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.39.26.7824","templateHash":"8469712107492300721"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"d[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-d40d239-1767997843/operationStatuses/08584336090045297146?api-version=2021-04-01&t=639035946830400015&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-d40d239-1767997843?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-d40d239-1767997843","name":"azdtest-d40d239-1767997843","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-d40d239","azd-layer-name":"","azd-provision-param-hash":"1dafe020f827b2656a31636e023708805eafbabaf833283ccb7b06959bf7e9d8"},"properties":{"templateHash":"7209430862467682605","parameters":{"environmentName":{"type":"String","value":"azdtest-d40d239"},"location":{"type":"String","value":"eastus2"},"principalId":{"type":"String","value":"43bb7435-f8c4-4342-9788-fd15e454ea12"},"goversion":{"type":"String","value":"1.22"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2026-01-09T22:34:55.7810092Z","duration":"PT3M34.8347441S","correlationId":"149c7011-ea85-405b-acb5-9490e8721a31","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-d40d239"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.Resources/deployments/appHostInfrastructure","resourceType":"Microsoft.Resources/deployments","resourceName":"appHostInfrastructure"}],"outputs":{"apphostinfrastructurE_AZURE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"String","value":"politemoss-5b1a7613.eastus2.azurecontainerapps.io"},"apphostinfrastructurE_AZURE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.App/managedEnvironments/apphostinfrastructurefy6"},"apphostinfrastructurE_AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"String","value":"apphostinfrastructureacrfy6lubil5j6lu.azurecr.io"},"apphostinfrastructurE_AZURE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.ManagedIdentity/userAssignedIdentities/appHostInfrastructure_mi-fy6lubil5j6lu"},"azurE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"String","value":"politemoss-5b1a7613.eastus2.azurecontainerapps.io"},"azurE_CONTAINER_REGISTRY_ENDPOINT":{"type":"String","value":"apphostinfrastructureacrfy6lubil5j6lu.azurecr.io"},"azurE_GOVERSION":{"type":"String","value":"1.22"}},"outputResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.App/managedEnvironments/apphostinfrastructurefy6"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.App/managedEnvironments/apphostinfrastructurefy6/dotNetComponents/aspire-dashboard"},{"id":"/subscriptions/faa080af-c1d8-40ad-9[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-d40d239%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239","name":"rg-azdtest-d40d239","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-d40d239"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 123.985625ms
[...]
    - id: 11
      request:
            - chunked
        host: apphostinfrastructureacrfy6lubil5j6lu.azurecr.io
        body: access_token=SANITIZED&grant_type=access_token&service=apphostinfrastructureacrfy6lubil5j6lu.azurecr.io
        form:
            access_token:
                - SANITIZED
            grant_type:
                - access_token
            service:
                - apphostinfrastructureacrfy6lubil5j6lu.azurecr.io
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://apphostinfrastructureacrfy6lubil5j6lu.azurecr.io:443/oauth2/exchange
        method: POST
      response:
            - chunked
        body: '{"refresh_token":"SANITIZED"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Calls-Per-Second:
                - "166.65"
        status: 200 OK
        code: 200
        duration: 555.480125ms
    - id: 12
      request:
        host: management.azure.com
        body: '{"properties":{"mode":"Incremental","parameters":{"apiservice_containerimage":{"value":"apphostinfrastructureacrfy6lubil5j6lu.azurecr.io/aspire-azd-tests/apiservice-azdtest-d40d239:azd-deploy-1767997843","reference":null},"apiservice_containerport":{"value":"8080","reference":null},"apphostinfrastructure_outputs_azure_container_apps_environment_default_domain":{"value":"politemoss-5b1a7613.eastus2.azurecontainerapps.io","reference":null},"apphostinfrastructure_outputs_azure_container_apps_environment_id":{"value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.App/managedEnvironments/apphostinfrastructurefy6","reference":null},"apphostinfrastructure_outputs_azure_container_registry[...]
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-d40d239/providers/Microsoft.Resources/deployments/apiservice-1767997843/operationStatuses/08584336085329143375?api-version=2021-04-01&t=639035951545384649&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgk[...]
[...]
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.App/containerApps/apiservice?api-version=2025-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.App/containerapps/apiservice","name":"apiservice","type":"Microsoft.App/containerApps","location":"East US 2","systemData":{"createdBy":"weilim@microsoft.com","createdByType":"User","createdAt":"2026-01-09T22:39:16.4065778","lastModifiedBy":"weilim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2026-01-09T22:39:16.4065778"},"properties":{"provisioningState":"Succeeded","runningStatus":"Running","managedEnvironmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.App/managedEnvironments/apphostinfrastructurefy6","environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.App/managedEnvironments/apphostinfrastructurefy6","workloadProfileName":"consumption","outboundIpAddresses":["20.97.130.219","20.69.200.68","52.167.135.54","52.184.149.238","52.179.250.88","52.184.149.147","52.184.198.180","52.184.138.179","52.179.253.112","52.184.190.79","52.184.141.185","52.184.151.206","20.97.132.38","4.153.163.131","20.36.242.179","20.36.243.222","20.36.243.227","20.36.243.208","128.85.230.186","4.153.163.156","20.36.242.169","4.153.163.201","20.36.244.19","20.97.133.137","20.36.244.21","20.36.243.201","128.85.220.176","128.85.212.114","135.18.214.171","20.85.91.213","128.85.239.223","4.153.23.192","4.153.23.210","4.153.23.204","20.94.122.99","4.153.23.173","20.94.122.65","20.94.122.133","20.94.122.111","20.94.122.70","20.94.122.101","20.1.250.250","20.1.251.135","20.7.131.26","20.7.130.240","20.7.131.54","20.7.131.60","20.7.131.34","20.7.131.59","20.7.131.44","20.7.131.5","20.7.131.39","20.7.131.50","20.1.251.104","172.200.51.234","172.200.52.27","172.200.51.44","172.200.51.235","172.200.51.243","172.200.51.45","172.200.51.191","172.200.51.242","172.200.52.26","172.200.51.190","20.1.251.2","4.153.75.54","172.193.97.218","68.220.18.20","172.193.72.214","20.161.102.207","130.213.148.50","68.220.243.198","13.68.118.203","13.68.119.127","52.184.147.35","52.184.147.9","20.94.111.32","20.94.110.46","20.15.47.144"],"latestRevisionName":"apiservice--83qh289","latestReadyRevisionName":"apiservice--83qh289","latestRevisionFqdn":"apiservice--83qh289.internal.politemoss-5b1a7613.eastus2.azurecontainerapps.io","customDomainVerificationId":"952E2B5B449FE1809E86B56F4189627111A065213A56FF099BE2E8782C9EB920","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":"apiservice.internal.politemoss-5b1a7613.eastus2.azurecontainerapps.io","external":false,"targetPort":8080,"exposedPort":0,"transport":"Http","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null},"registries":[{"server":"apphostinfrastructureacrfy6lubil5j6lu.azurecr.io","username":"","passwordSecretRef":"","identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.ManagedIdentity/userAssignedIdentities/appHostInfrastructure_mi-fy6lubil5j6lu"}],"dapr":null,"runtime":{},"maxInactiveRevisions":100,"service":null,"identitySettings":[]},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"apphostinfrastructureacrfy6lubil5j6lu.azurecr.io/aspire-azd-tests/apiservice-azdtest-d40d239:azd-deploy-1767997843","name":"apiservice","env":[{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"}],"resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":1,"maxReplicas":10,"cooldownPeriod":300,"pollingInterval":30,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus2.azurecontainerapps.dev/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/containerApps/apiservice/eventstream","delegatedIdentities":[]},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-d40d239/providers/Microsoft.ManagedIdentity/userAssignedIdentities/appHostInfrastructure_mi-fy6lubil5j6lu":{"principalId":"c798bbb2-d62c-46cc-823f-ba13bcc0eabb","clientId":"735c7e42-90aa-4631-85cb-8b88ac4dcdb6"}}}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview, 2025-07-01, 2025-10-02-preview, 2026-01-01
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 362.181ms
[...]
    - id: 21
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27apiservice%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 1.617381458s
[...]
    - id: 24
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27webfrontend%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 428.139708ms
[...]
    - id: 27
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27worker%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 313.812709ms
[...]
    - id: 30
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/resources?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.OperationalInsights/workspaces/appHostInfrastructurelaw-fy6lubil5j6lu","name":"appHostInfrastructurelaw-fy6lubil5j6lu","type":"Microsoft.OperationalInsights/workspaces","location":"eastus2","tags":{}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.ManagedIdentity/userAssignedIdentities/appHostInfrastructure_mi-fy6lubil5j6lu","name":"appHostInfrastructure_mi-fy6lubil5j6lu","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"eastus2","tags":{}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.ContainerRegistry/registries/appHostInfrastructureacrfy6lubil5j6lu","name":"appHostInfrastructureacrfy6lubil5j6lu","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"eastus2","tags":{},"systemData":{"createdBy":"weilim@microsoft.com","createdByType":"User","createdAt":"2026-01-09T22:31:28.2019658Z","lastModifiedBy":"weilim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2026-01-09T22:31:28.2019658Z"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d40d239/providers/Microsoft.App/managedEnvironments/apphostinfrastructurefy6","name":"apphostinfrastructurefy6","type":"Microsoft.App/managedE[...]
[...]
    - id: 52
      request:
[...]
