---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2021-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/southcentralus","name":"southcentralus","type":"Region","displayName":"South Central US","regionalDisplayName":"(US) South Central US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-98.5","latitude":"29.4167","physicalLocation":"Texas","pairedRegion":[{"name":"northcentralus",[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=1ZHNaoNAFEafxVlHcKSBkF3MjCRN7p04PxG7C9YGx6LQWkYNvnuTkpJ9u3J34TuLw7kXkjd1W9Zfp7Zsat1URf1JlhfCV0obdbvqomsPp4%2b2vAG7oidLQr2FhzrrYMh8MvshZON%2bNxosPFnFEbCzS8wLA5M8IYsiyd5ZEhxjMDxAHbFEH9eoX98kRbFXgRPMXLk8hME4tBlFVnVg8x4U3SkTC2XmG2GfOei8R72laLcOz75PxtldN5yMr0o547jmqOVq%2fzdrGv6vss3c9X8dWj4gy%2bbQPypLfkwfpSFAaxzcS6OQesONFAc%2bKe%2bUKz057XH8Bg%3d%3d","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 5.2240862s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1ZHNaoNAFEafxVlHcKSBkF3MjCRN7p04PxG7C9YGx6LQWkYNvnuTkpJ9u3J34TuLw7kXkjd1W9Zfp7Zsat1URf1JlhfCV0obdbvqomsPp4%2b2vAG7oidLQr2FhzrrYMh8MvshZON%2bNxosPFnFEbCzS8wLA5M8IYsiyd5ZEhxjMDxAHbFEH9eoX98kRbFXgRPMXLk8hME4tBlFVnVg8x4U3SkTC2XmG2GfOei8R72laLcOz75PxtldN5yMr0o547jmqOVq%2fzdrGv6vss3c9X8dWj4gy%2bbQPypLfkwfpSFAaxzcS6OQesONFAc%2bKe%2bUKz057XH8Bg%3d%3d
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=1Y7RasJAFES%2fJfucwq41peTNuFeUujfu7l0lfRMbJSRsQCOJkfx7Y6nQX%2bjTDDNnYO7sUPum8Nd9U9Se6jL3FxbfGcwsOftwPu%2bazf7cFA%2fgI7%2bxmIngPUDKOtVnLyz8IUzdPjvBp4EpF4mSp1a7T6mcnqJMEiMrqfl2oRxwpERq2s6Rvo5GYLq2vE2lG7nDZNRXJUFgDxHSKlI3kTl%2bGjfZmyp1h%2f2KY6%2bjkeNsCH%2bvTv7FV7sDCTgHJDNbs9hfqypkmBpagjPpBp7RDiz9TYbhGw%3d%3d","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11998"
        status: 200 OK
        code: 200
        duration: 3.2982165s
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1Y7RasJAFES%2fJfucwq41peTNuFeUujfu7l0lfRMbJSRsQCOJkfx7Y6nQX%2bjTDDNnYO7sUPum8Nd9U9Se6jL3FxbfGcwsOftwPu%2bazf7cFA%2fgI7%2bxmIngPUDKOtVnLyz8IUzdPjvBp4EpF4mSp1a7T6mcnqJMEiMrqfl2oRxwpERq2s6Rvo5GYLq2vE2lG7nDZNRXJUFgDxHSKlI3kTl%2bGjfZmyp1h%2f2KY6%2bjkeNsCH%2bvTv7FV7sDCTgHJDNbs9hfqypkmBpagjPpBp7RDiz9TYbhGw%3d%3d
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 4.3238857s
    - id: 4
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-w7be05d"},"location":{"value":"eastus2"},"principalId":{"value":"19a2053b-445a-4023-95d3-c339051e0f32"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"5559727577912177490"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the environment that can be used as part of naming resource convention, the name of the resource group for your application will use this name, prefixed with rg-"}},"location":{"type":"string","minLength":1,"metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2022-09-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"tags":{"value":"[variables(''tags'')]"},"principalId":{"value":"[parameters(''principalId'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"3657027767394685529"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}},"tags":{"type":"object","defaultValue":{},"metadata":{"description":"Tags that will be applied to all resources"}}},"variables":{"resourceToken":"[uniqueString(resourceGroup().id)]"},"resources":[{"type":"Microsoft.App/managedEnvironments/dotNetComponents","apiVersion":"2024-02-02-preview","name":"[format(''{0}/{1}'', format(''cae-{0}'', variables(''resourceToken'')), ''aspire-dashboard'')]","properties":{"componentType":"AspireDashboard"},"dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[parameters(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2024-02-02-preview","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"workloadProfiles":[{"workloadProfileType":"Consumption","name":"consumption"}],"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[parameters(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.App/managedEnvironments/{0}'', format(''cae-{0}'', variables(''resourceToken'')))]","name":"[guid(resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken''))), parameters(''principalId''), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''b24988ac-6180-42a0-ab88-20f7382dd24c''))]","properties":{"principalId":"[parameters(''principalId'')]","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''b24988ac-6180-42a0-ab88-20f7382dd24c'')]"},"dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.KeyVault/vaults","apiVersion":"2023-07-01","name":"[replace(format(''kvf2edecb5-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","properties":{"sku":{"name":"standard","family":"A"},"tenantId":"[subscription().tenantId]","enableRbacAuthorization":true}},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.KeyVault/vaults/{0}'', replace(format(''kvf2edecb5-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.KeyVault/vaults'', replace(format(''kvf2edecb5-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Micro[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"keyVaultName":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.SERVICE_BINDING_KVF2EDECB5_NAME.value]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"9561877192170741248"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":""}},"keyVaultName":{"type":"string","metadata":{"description":""}}},"resources":[{"type":"Microsoft.DocumentDB/databaseAccounts","apiVersion":"2023-04-15","name":"[toLower(take(format(''cosmos{0}'', uniqueString(resourceGroup().id)), 24))]","location":"[parameters(''location'')]","tags":{"aspire-resource-name":"cosmos"},"kind":"GlobalDocumentDB","properties":{"databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session"},"locations":[{"locationName":"[parameters(''location'')]","failoverPriority":0}]}},{"type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases","apiVersion":"2023-04-15","name":"[format(''{0}/{1}'', toLower(take(format(''cosmos{0}'', uniqueString(resourceGroup().id)), 24)), ''db3'')]","location":"[parameters(''location'')]","properties":{"resource":{"id":"db3"}},"dependsOn":["[resourceId(''Microsoft.DocumentDB/databaseAccounts'', toLower(take(format(''cosmos{0}'', uniqueString(resourceGroup().id)), 24)))]"]},{"type":"Microsoft.KeyVault/vaults/secrets","apiVersion":"2022-07-01","name":"[format(''{0}/{1}'', parameters(''keyVaultName''), ''connectionString'')]","location":"[parameters(''location'')]","properties":{"value":"[format(''AccountEndpoint={0};AccountKey={1}'', reference(resourceId(''Microsoft.DocumentDB/databaseAccounts'', toLower(take(format(''cosmos{0}'', uniqueString(resourceGroup().id)), 24))), ''2023-04-15'').documentEndpoint, listkeys(resourceId(''Microsoft.DocumentDB/databaseAccounts'', toLower(take(format(''cosmos{0}'', uniqueString(resourceGroup().id)), 24))), ''2023-04-15'').primaryMasterKey)]"},"dependsOn":["[resourceId(''Microsoft.DocumentDB/databaseAccounts'', toLower(take(format(''cosmos{0}'', uniqueString(resourceGroup().id)), 24)))]"]}]}},"dependsOn":["[extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources'')]","[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"storage","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"principalId":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.MANAGED_IDENTITY_PRINCIPAL_ID.value]"},"principalType":{"value":"ServicePrincipal"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"6604979230694910773"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":""}},"principalId":{"type":"string","metadata":{"description":""}},"principalType":{"type":"string","metadata":{"description":""}}},"resources":[{"type":"Microsoft.Storage/storageAccounts","apiVersion":"2022-09-01","name":"[toLower(take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24))]","location":"[parameters(''location'')]","tags":{"aspire-resource-name":"storage"},"sku":{"name":"Standard_GRS"},"kind":"StorageV2","properties":{"accessTier":"Hot","networkAcls":{"defaultAction":"Allow"},"minimumTlsVersion":"TLS1_2","allowSharedKeyAccess":false}},{"type":"Microsoft.Storage/storageAccounts/blobServices","apiVersion":"2022-09-01","name":"[format(''{0}/{1}'', toLower(take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24)), ''default'')]","properties":{},"dependsOn":["[resourceId(''Microsoft.Storage/storageAccounts'', toLower(take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24)))]"]},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.Storage/storageAccoun[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w7be05d-1725564419/operationStatuses/08584760424337626427?api-version=2021-04-01
        method: GET
      response:
        body: '{"status":"Succeeded"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 457.0996ms
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w7be05d-1725564419?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w7be05d-1725564419","name":"azdtest-w7be05d-1725564419","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-w7be05d","azd-provision-param-hash":"22e353845eaf7b22c87bbd8e6c8c0b188a4cafa6bad806ac4928bed5df90e611"},"properties":{"templateHash":"5559727577912177490","parameters":{"environmentName":{"type":"String","value":"azdtest-w7be05d"},"location":{"type":"String","value":"eastus2"},"principalId":{"type":"String","value":"19a2053b-445a-4023-95d3-c339051e0f32"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2024-09-05T19:33:24.4402403Z","duration":"PT5M51.1143072S","correlationId":"17245c18-0efb-4383-b18a-22e79402d4a3","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w7be05d","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-w7be05d"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w7be05d/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w7be05d/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"id":"/subscripti[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-w7be05d%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w7be05d","name":"rg-azdtest-w7be05d","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-w7be05d"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 75.2508ms
[...]
    - id: 9
      request:
            - chunked
        host: acrcnmrqkvivke5y.azurecr.io
        body: access_token=SANITIZED&grant_type=access_token&service=acrcnmrqkvivke5y.azurecr.io
        form:
            access_token:
                - SANITIZED
            grant_type:
                - access_token
            service:
                - acrcnmrqkvivke5y.azurecr.io
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://acrcnmrqkvivke5y.azurecr.io:443/oauth2/exchange
        method: POST
      response:
            - chunked
        body: '{"refresh_token":"SANITIZED"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Calls-Per-Second:
                - "166.65"
        status: 200 OK
        code: 200
        duration: 491.4961ms
    - id: 10
      request:
        host: management.azure.com
        body: '{"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w7be05d/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-cnmrqkvivke5y":{}}},"location":"eastus2","properties":{"configuration":{"activeRevisionsMode":"single","ingress":{"allowInsecure":true,"external":false,"targetPort":8080,"transport":"http"},"registries":[{"identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w7be05d/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-cnmrqkvivke5y","server":"acrcnmrqkvivke5y.azurecr.io"}],"runtime":{"dotnet":{"autoConfigureDataProtection":true}}},"environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w7be05d/providers/Microsoft.App/managedEnvironments/cae-cnmrqkvivke5y","template":{"containers":[{"env":[{"name":"AZURE_CLIENT_ID","value":"e867577c-7b30-46b9-917e-45318ab1240a"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"}],"image":"acrcnmrqkvivke5y.azurecr.io/aspireazdtests/apiservice-azdtest-w7be05d:azd-deploy-1725564419","name":"apiservice"}],"scale":{"minReplicas":1}}},"tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w7be05d/providers/Microsoft.App/containerApps/apiservice?api-version=2024-02-02-preview
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w7be05d/providers/Microsoft.App/containerapps/apiservice","name":"apiservice","type":"Microsoft.App/containerApps","location":"East US 2","tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"},"systemData":{"createdBy":"wabrez@microsoft.com","createdByType":"User","createdAt":"2024-09-05T19:34:28.2289966Z","lastModifiedBy":"wabrez@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-09-05T19:34:28.2289966Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w7be05d/providers/Microsoft.App/managedEnvironments/cae-cnmrqkvivke5y","environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w7be05d/providers/Microsoft.App/managedEnvironments/cae-cnmrqkvivke5y","workloadProfileName":"consumption","patchingMode":"Automatic","outboundIpAddresses":["20.1.250.250","20.1.251.135","20.1.251.104","20.1.251.2","13.68.118.203","13.68.119.127","52.184.147.35","52.184.147.9","20.94.111.32","20.94.110.46","20.97.130.219","20.69.200.68","20.97.132.38","20.97.133.137","20.94.122.99","20.94.122.65","20.94.122.133","20.94.122.111","20.94.122.70","20.94.122.101","20.161.138.86","20.161.137.24","4.153.72.251","4.153.73.13","4.153.73.38","4.153.72.240","4.153.73.30","4.153.72.243","4.153.73.23","4.153.72.247","4.153.73.6","4.153.73.37","20.161.137.25","52.184.192.104","52.177.123.74","52.177.123.175","52.177.123.148","52.177.123.136","52.177.123.98","52.177.123.102","52.177.123.125","52.177.123.90","52.177.123.69","20.161.138.87","4.153.106.247","4.153.107.93","4.153.108.180","4.153.107.3","4.153.110.115","4.153.108.140","4.152.100.236"],"customDomainVerificationId":"952E2B5B449FE1809E86B56F4189627111A065213A56FF099BE2E8782C9EB920","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":null,"external":false,"targetPort":8080,"exposedPort":null,"transport":"Http","traffic":null,"customDomains":null,"allowInsecure":true,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":[{"server":"acrcnmrqkvivke5y.azurecr.io","identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w7be05d/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-cnmrqkvivke5y"}],"identitySettings":[],"dapr":null,"runtime":{"dotnet":{"autoConfigureDataProtection":true}},"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":null,"terminationGracePeriodSeconds":null,"containers":[{"image":"acrcnmrqkvivke5y.azurecr.io/aspireazdtests/apiservice-azdtest-w7be05d:azd-deploy-1725564419","imageType":"CloudBuild","name":"apiservice","env":[{"name":"AZURE_CLIENT_ID","value":"e867577c-7b30-46b9-917e-45318ab1240a"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"}]}],"initContainers":null,"scale":{"minReplicas":1,"maxReplicas":null,"rules":null},"volumes":null,"serviceBinds":null},"delegatedIdentities":[]},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-w7be05d/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-cnmrqkvivke5y":{"principalId":"68400be8-fff8-4d7f-92b4-89fe0d768f3a","clientId":"e867577c-7b30-46b9-917e-45318ab1240a"}}}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.App/locations/eastus2/containerappOperationStatuses/85fb410a-f12f-434f-ad29-dd01f5a50a0a?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638611616694633711&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbn[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.App/locations/eastus2/containerappOperationStatuses/85fb410a-f12f-434f-ad29-dd01f5a50a0a?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638611616694633711&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1Mj[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w7be05d/providers/Microsoft.App/containerApps/apiservice?api-version=2024-02-02-preview
        method: GET
      response:
[...]
