---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2022-12-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]},"availabilityZoneMappings":[{"logicalZone":"1","physicalZone":"eastus-az3"},{"logicalZone":"2","physicalZone":"eastus-az1"},{"logicalZone":"3","physicalZone":"eastus-az2"}]},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/southcentralus","name":"southcentralus","type":"Region","displayName":"South Central US","regionalDisplayName":"(US) South Central US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-98.5","latitude":"29.4167","physicalLocation":"Texas"[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=1ZLLToNAFEC%2fhVmXZAakMd0VB0zVO3SeirsGsQEaSBTDo%2bHfhRL9AFyou5vcc5OTk3tGSVXWWflxqLOqVFWRlu9oc0aPgVRaOtNYpm29P7zV2UTcpx3aIGJdW0zFLfSxjVYXQlTN146QtSWK0Ad6bLh%2bpqD5FaO%2bL%2biJcmxC0AFmyqdcmRumXl4FYdGDxE1E9chpD%2biuhTxuWH50Isq9SJInoU8gNV5DIZQJki7K7wJQCYZ8vFEjy20bDSsUbCfvZdoO%2fon2qJEQRrkLOe%2bg37mQEd8YsZfau9VFSGUQam58%2fq3eb3tQvGXNrD4n%2f5fqc%2fWF3%2fInsrvLuv%2fapw%2fDJw%3d%3d","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 6.688667347s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=1ZLLToNAFEC%2FhVmXZAakMd0VB0zVO3SeirsGsQEaSBTDo%2BHfhRL9AFyou5vcc5OTk3tGSVXWWflxqLOqVFWRlu9oc0aPgVRaOtNYpm29P7zV2UTcpx3aIGJdW0zFLfSxjVYXQlTN146QtSWK0Ad6bLh%2BpqD5FaO%2BL%2BiJcmxC0AFmyqdcmRumXl4FYdGDxE1E9chpD%2BiuhTxuWH50Isq9SJInoU8gNV5DIZQJki7K7wJQCYZ8vFEjy20bDSsUbCfvZdoO%2Fon2qJEQRrkLOe%2Bg37mQEd8YsZfau9VFSGUQam58%2Fq3eb3tQvGXNrD4n%2F5fqc%2FWF3%2FInsrvLuv%2Fapw%2FDJw%3D%3D&api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWCncNDgkNNlKyyivNydFRcnUEcWE8iCSMB5GDK4VIGkNka2sB\u0026api-version=2021-04-01","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 4.681163367s
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWCncNDgkNNlKyyivNydFRcnUEcWE8iCSMB5GDK4VIGkNka2sB&api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWcgwNDgly9PF0dHb1AzGUrPJKc3J0lJwd%2fRxdMAQhakKDYargul0dg0Nggm5Bjn7OrmjmhbsGh4QGG8HUgNQjjIFIosrBlUIkjSGytbUA\u0026api-version=2021-04-01","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 1.388930884s
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWcgwNDgly9PF0dHb1AzGUrPJKc3J0lJwd%2FRxdMAQhakKDYargul0dg0Nggm5Bjn7OrmjmhbsGh4QGG8HUgNQjjIFIosrBlUIkjSGytbUA&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 2.419005592s
    - id: 5
      request:
        host: management.azure.com
        body: '{"location":"centralus","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-l31b34d","reference":null},"location":{"value":"centralus","reference":null},"principalId":{"value":"62661785-adcf-4117-b9d0-22b3aa2b4ebf","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.36.1.42791","templateHash":"6692549542352729212"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the environment that can be used as part of naming resource convention, the name of the resource group for your application will use this name, prefixed with rg-"}},"location":{"type":"string","minLength":1,"metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}},"goversion":{"type":"string","defaultValue":"1.22"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2022-09-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"tags":{"value":"[variables(''tags'')]"},"principalId":{"value":"[parameters(''principalId'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.36.1.42791","templateHash":"3689762934542834295"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}},"tags":{"type":"object","defaultValue":{},"metadata":{"description":"Tags that will be applied to all resources"}}},"variables":{"resourceToken":"[uniqueString(resourceGroup().id)]"},"resources":[{"type":"Microsoft.App/managedEnvironments/dotNetComponents","apiVersion":"2024-02-02-preview","name":"[format(''{0}/{1}'', format(''cae-{0}'', variables(''resourceToken'')), ''aspire-dashboard'')]","properties":{"componentType":"AspireDashboard"},"dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[parameters(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2024-02-02-preview","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"workloadProfiles":[{"workloadProfileType":"Consumption","name":"consumption"}],"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[parameters(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"MANAGED_IDENTITY_CLIENT_ID":{"type":"string","value":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').clientId]"},"MANAGED_IDENTITY_NAME":{"type":"string","value":"[format(''mi-{0}'', variables(''resourceToken''))]"},"MANAGED_IDENTITY_PRINCIPAL_ID":{"type":"string","value":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]"},"AZURE_LOG_ANALYTICS_WORKSPACE_NAME":{"type":"string","value":"[format(''law-{0}'', variables(''resourceToken''))]"},"AZURE_LOG_ANALYTICS_WORKSPACE_ID":{"type":"string","value":"[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]"},"AZURE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"string","value":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_REGISTRY_NAME":{"type":"string","value":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_NAME":{"type":"string","value":"[format(''cae-{0}'', variables(''resourceToken''))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"string","value":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"string","value":"[reference(resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken''))), ''2024-02-02-preview'').defaultDomain]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"storage","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"principalId":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.MANAGED_IDENTITY_PRINCIPAL_ID.value]"},"principalType":{"value":"ServicePrincipal"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.36.1.42791","templateHash":"4572103130477795345"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location for the resource(s) to be deployed."}},"principalId":{"type":"string"},"principalType":{"type":"string"}},"resources":[{"type":"Microsoft.Storage/storageAccounts","apiVersion":"2024-01-01","name":"[take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24)]","kind":"StorageV2","location":"[parameters(''location'')]","sku":{"name":"Standard_GRS"},"properties":{"accessTier":"Hot","allowSharedKeyAccess":false,"minimumTlsVersion":"TLS1_2","networkAcls":{"defaultAction":"Allow"}},"tags":{"aspire-resource-name":"storage"}},{"type":"Microsoft.Storage/storageAccounts/blobServices","apiVersion":"2024-01-01","name":"[format(''{0}/{1}'', take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24), ''default'')]","dependsOn":["[resourceId(''Microsoft.Storage/storageAccounts'', take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24))]"]},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.Storage/storageAccounts/{0}'', take(format(''storag[...]
[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"principalId":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.MANAGED_IDENTITY_PRINCIPAL_ID.value]"},"principalType":{"value":"ServicePrincipal"}},"template":{"$schema":"https://schema.managem[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-l31b34d-1748923168/operationStatuses/08584526836712888954?api-version=2021-04-01&t=638845200165154011&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-l31b34d-1748923168?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-l31b34d-1748923168","name":"azdtest-l31b34d-1748923168","type":"Microsoft.Resources/deployments","location":"centralus","tags":{"azd-env-name":"azdtest-l31b34d","azd-provision-param-hash":"4efc4d119260d9de8865ded50560e0d98e42f1c7a8d9957a77656a071c00debc"},"properties":{"templateHash":"6692549542352729212","parameters":{"environmentName":{"type":"String","value":"azdtest-l31b34d"},"location":{"type":"String","value":"centralus"},"principalId":{"type":"String","value":"62661785-adcf-4117-b9d0-22b3aa2b4ebf"},"goversion":{"type":"String","value":"1.22"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-06-03T04:04:50.4398473Z","duration":"PT4M36.2526149S","correlationId":"b761a15d-e950-4357-ba73-dd39e0709ed2","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["centralus"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-l31b34d"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-l31b34d"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources","apiVersion":"2022-09-01"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.Resources/deployments/storage","resourceType":"Microsoft.Resources/deployments","resourceName":"storage"}],"outputs":{"manageD_IDENTITY_CLIENT_ID":{"type":"String","value":"171479e2-e208-4539-9cac-3b3a33a6703b"},"manageD_IDENTITY_NAME":{"type":"String","value":"mi-gyirp6n3ahtcw"},"azurE_LOG_ANALYTICS_WORKSPACE_NAME":{"type":"String","value":"law-gyirp6n3ahtcw"},"azurE_CONTAINER_REGISTRY_ENDPOINT":{"type":"String","value":"acrgyirp6n3ahtcw.azurecr.io"},"azurE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-gyirp6n3ahtcw"},"azurE_CONTAINER_REGISTRY_NAME":{"type":"String","value":"acrgyirp6n3ahtcw"},"azurE_CONTAINER_APPS_ENVIRONMENT_NAME":{"type":"String","value":"cae-gyirp6n3ahtcw"},"azurE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.App/managedEnvironments/cae-gyirp6n3ahtcw"},"azurE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"String","value":"yellowstone-3b0ae135.centralus.azurecontainerapps.io"},"storagE_BLOBENDPOINT":{"type":"String","value":"https://storagegyirp6n3ahtcw.blob.core.windows.net/"},"storagE_QUEUEENDPOINT":{"type":"String","value":"https://storagegyirp6n3ahtcw.queue.core.windows.net/"},"storagE_TABLEENDPOINT":{"type":"String","value":"https://storagegyirp6n3ahtcw.table.core.windows.net/"},"azurE_GOVERSION":{"type":"String","value":"1.22"}},"outputResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.App/managedEnvironments/cae-gyirp6n3ahtcw"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.App/managedEnvironments/cae-gyirp6n3ahtcw/dotNetComponents/aspire-dashboard"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-l31b34d%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d","name":"rg-azdtest-l31b34d","type":"Microsoft.Resources/resourceGroups","location":"centralus","tags":{"azd-env-name":"azdtest-l31b34d"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 571.147188ms
[...]
    - id: 11
      request:
            - chunked
        host: acrgyirp6n3ahtcw.azurecr.io
        body: access_token=SANITIZED&grant_type=access_token&service=acrgyirp6n3ahtcw.azurecr.io
        form:
            access_token:
                - SANITIZED
            grant_type:
                - access_token
            service:
                - acrgyirp6n3ahtcw.azurecr.io
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://acrgyirp6n3ahtcw.azurecr.io:443/oauth2/exchange
        method: POST
      response:
            - chunked
        body: '{"refresh_token":"SANITIZED"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Calls-Per-Second:
                - "166.65"
        status: 200 OK
        code: 200
        duration: 512.379643ms
    - id: 12
      request:
        host: management.azure.com
        body: '{"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-gyirp6n3ahtcw":{}}},"location":"centralus","properties":{"configuration":{"activeRevisionsMode":"single","ingress":{"allowInsecure":true,"external":false,"targetPort":8080,"transport":"http"},"registries":[{"identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-gyirp6n3ahtcw","server":"acrgyirp6n3ahtcw.azurecr.io"}],"runtime":{"dotnet":{"autoConfigureDataProtection":true}}},"environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.App/managedEnvironments/cae-gyirp6n3ahtcw","template":{"containers":[{"env":[{"name":"AZURE_CLIENT_ID","value":"171479e2-e208-4539-9cac-3b3a33a6703b"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"}],"image":"acrgyirp6n3ahtcw.azurecr.io/aspire-azd-tests/apiservice-azdtest-l31b34d:azd-deploy-1748923168","name":"apiservice"}],"scale":{"minReplicas":1}}},"tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.App/containerApps/apiservice?api-version=2024-02-02-preview
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.App/containerapps/apiservice","name":"apiservice","type":"Microsoft.App/containerApps","location":"Central US","tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"},"systemData":{"createdBy":"vivazqu@microsoft.com","createdByType":"User","createdAt":"2025-06-03T04:05:46.303039Z","lastModifiedBy":"vivazqu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-06-03T04:05:46.303039Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.App/managedEnvironments/cae-gyirp6n3ahtcw","environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.App/managedEnvironments/cae-gyirp6n3ahtcw","workloadProfileName":"consumption","patchingMode":"Automatic","outboundIpAddresses":["40.89.240.243","13.89.111.127","64.236.113.15","64.236.112.134","64.236.112.251","64.236.113.32","64.236.112.119","64.236.113.23","64.236.112.111","64.236.112.120","64.236.112.221","64.236.112.237","13.89.111.197","40.89.240.113","52.230.237.13","52.230.237.16","52.230.237.27","52.230.237.18","52.230.237.21","52.230.237.9","20.84.194.4","20.84.193.62","104.43.206.195","104.43.193.31","104.43.193.12","104.43.206.255","104.208.32.103","104.43.202.40","104.43.193.29","104.43.204.253","104.43.193.0","104.43.193.5","20.84.193.84","40.77.66.51","40.83.16.22","40.83.21.214","40.77.64.230","40.77.68.211","40.77.66.213","40.77.80.56","40.77.71.108","40.77.71.6","40.77.68.109","20.84.193.40","172.169.204.243","172.169.205.18","172.169.204.172","172.169.204.186","172.169.204.232","172.169.204.225","172.169.189.2"],"customDomainVerificationId":"952E2B5B449FE1809E86B56F4189627111A065213A56FF099BE2E8782C9EB920","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":null,"external":false,"targetPort":8080,"exposedPort":null,"transport":"Http","traffic":null,"customDomains":null,"allowInsecure":true,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":[{"server":"acrgyirp6n3ahtcw.azurecr.io","identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l31b34d/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-gyirp6n3ahtcw"}],"identitySettings":[],"dapr":null,"runtime":{"dotnet":{"autoConfigureDataProtection":true}},"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":null,"terminationGracePeriodSeconds":null,"containers":[{"image":"acrgyirp6n3ahtcw.azurecr.io/aspire-azd-tests/apiservice-azdtest-l31b34d:azd-deploy-1748923168","imageType":"CloudBuild","name":"apiservice","env":[{"name":"AZURE_CLIENT_ID","value":"171479e2-e208-4539-9cac-3b3a33a6703b"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"}]}],"initContainers":null,"scale":{"minReplicas":1,"maxReplicas":null,"rules":null},"volumes":null,"serviceBinds":null},"delegatedIdentities":[]},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-l31b34d/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-gyirp6n3ahtcw":{"principalId":"a264676b-aad1-469b-9b15-6502fd8fa97f","clientId":"171479e2-e208-4539-9cac-3b3a33a6703b"}}}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview
            Azure-Asyncoperation:
[...]
