---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2022-12-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]},"availabilityZoneMappings":[{"logicalZone":"1","physicalZone":"eastus-az3"},{"logicalZone":"2","physicalZone":"eastus-az1"},{"logicalZone":"3","physicalZone":"eastus-az2"}]},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus2","name":"westus2","type":"Region","displayName":"West US 2","regionalDisplayName":"(US) West US 2","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-119.852","latitude":"47.233","physicalLocation":"Washington","pairedRegion":[{"na[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=xZHLboMwEEW%2fBa%2bDhEmRKnYhJlUfY9dmTEV3EaURD4HUEgGO%2bPeaRmy7qpTl6J67OHMvJO%2favmzPx77sWuzqov0m4YW8xQnqxCdhe26aDYl3y7kEbTH2r8evvlz452IiIaHOvcMxG8FkLtn8Eqob1oxufUfVhwjYaZD6nYGWd5xFkWINk156AB17HCMmMd1z%2fPhUlIuXxBsE05aTBqqc8ir3eCWNQDA8oRK98UnSJlZpBEgbrnSgRZU%2bAOYGDNhuHtjeBJgZYDEV0nXJvGpYq5t51FSwnQ%2fmMYD9Xx7SF0xaD%2blxY3nUE2cnKtB%2b2Hpc19mu61zPG1r9xzrz%2fAM%3d","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16500"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1100"
        status: 200 OK
        code: 200
        duration: 10.486832697s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=xZHLboMwEEW%2FBa%2BDhEmRKnYhJlUfY9dmTEV3EaURD4HUEgGO%2BPeaRmy7qpTl6J67OHMvJO%2FavmzPx77sWuzqov0m4YW8xQnqxCdhe26aDYl3y7kEbTH2r8evvlz452IiIaHOvcMxG8FkLtn8Eqob1oxufUfVhwjYaZD6nYGWd5xFkWINk156AB17HCMmMd1z%2FPhUlIuXxBsE05aTBqqc8ir3eCWNQDA8oRK98UnSJlZpBEgbrnSgRZU%2BAOYGDNhuHtjeBJgZYDEV0nXJvGpYq5t51FSwnQ%2FmMYD9Xx7SF0xaD%2BlxY3nUE2cnKtB%2B2Hpc19mu61zPG1r9xzrz%2FAM%3D&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 1.196892534s
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-l9bd889","reference":null},"location":{"value":"eastus2","reference":null},"principalId":{"value":"62661785-adcf-4117-b9d0-22b3aa2b4ebf","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.37.4.10188","templateHash":"12040680752538436398"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the environment that can be used as part of naming resource convention, the name of the resource group for your application will use this name, prefixed with rg-"}},"location":{"type":"string","minLength":1,"metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}},"goversion":{"type":"string","defaultValue":"1.22"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2022-09-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"appHostInfrastructure","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"userPrincipalId":{"value":"[parameters(''principalId'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.37.4.10188","templateHash":"7891776177351033994"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location for the resource(s) to be deployed."}},"userPrincipalId":{"type":"string"},"tags":{"type":"object","defaultValue":{}}},"resources":[{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2024-11-30","name":"[take(format(''appHostInfrastructure_mi-{0}'', uniqueString(resourceGroup().id)), 128)]","location":"[parameters(''location'')]","tags":"[parameters(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2025-04-01","name":"[take(format(''appHostInfrastructureacr{0}'', uniqueString(resourceGroup().id)), 50)]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', take(format(''appHostInfrastructureacr{0}'', uniqueString(resourceGroup().id)), 50))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', take(format(''appHostInfrastructureacr{0}'', uniqueString(resourceGroup().id)), 50)), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''appHostInfrastructure_mi-{0}'', uniqueString(resourceGroup().id)), 128)), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''appHostInfrastructure_mi-{0}'', uniqueString(resourceGroup().id)), 128)), ''2024-11-30'').principalId]","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]","principalType":"ServicePrincipal"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', take(format(''appHostInfrastructureacr{0}'', uniqueString(resourceGroup().id)), 50))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''appHostInfrastructure_mi-{0}'', uniqueString(resourceGroup().id)), 128))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2025-02-01","name":"[take(format(''appHostInfrastructurelaw-{0}'', uniqueString(resourceGroup().id)), 63)]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2025-01-01","name":"[take(format(''apphostinfrastructure{0}'', uniqueString(resourceGroup().id)), 24)]","location":"[parameters(''location'')]","properties":{"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', take(format(''appHostInfrastructurelaw-{0}'', uniqueString(resourceGroup().id)), 63)), ''2025-02-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', take(format(''appHostInfrastructurelaw-{0}'', uniqueString(resourceGroup().id)), 63)), ''2025-02-01'').primarySharedKey]"}},"workloadProfiles":[{"name":"consumption","workloadProfileType":"Consumption"}]},"tags":"[parameters(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', take(format(''appHostInfrastructurelaw-{0}'', uniqueString(resourceGroup().id)), 63))]"]},{"type":"Microsoft.App/managedEnvironments/dotNetComponents","apiVersion":"2024-10-02-preview","name":"[format(''{0}/{1}'', take(format(''apphostinfrastructure{0}'', uniqueString(resourceGroup().id)), 24), ''aspire-dashboard'')]","properties":{"componentType":"AspireDashboard"},"dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', take(format(''apphostinfrastructure{0}'', uniqueString(resourceGroup().id)), 24))]"]}],"outputs":{"AZURE_LOG_ANALYTICS_WORKSPACE_NAME":{"type":"string","value":"[take(format(''appHostInfrastructurelaw-{0}'', uniqueString(resourceGroup().id)), 63)]"},"AZURE_LOG_ANALYTICS_WORKSPACE_ID":{"type":"string","value":"[resourceId(''Microsoft.OperationalInsights/workspaces'', take(format(''appHostInfrastructurelaw-{0}'', uniqueString(resourceGroup().id)), 63))]"},"AZURE_CONTAINER_REGISTRY_NAME":{"type":"string","value":"[take(format(''appHostInfrastructureacr{0}'', uniqueString(resourceGroup().id)), 50)]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', take(format(''appHostInfrastructureacr{0}'', uniqueString(resourceGroup().id)), 50)), ''2025-04-01'').loginServer]"},"AZURE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"string","value":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', take(format(''appHostInfrastructure_mi-{0}'', uniqueString(resourceGroup().id)), 128))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_NAME":{"type":"string","value":"[take(format(''apphostinfrastructure{0}'', uniqueString(resourceGroup().id)), 24)]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"string","value":"[resourceId(''Microsoft.App/managedEnvironments'', take(format(''apphostinfrastructure{0}'', uniqueString(resourceGroup().id)), 24))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"string","value":"[reference(resourceId(''Microsoft.App/managedEnvironments'', take(format(''apphostinfrastructure{0}'', uniqueString(resourceGroup().id)), 24)), ''2025-01-01'').defaultDomain]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', form[...]
[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"userPrincipalId":{"value":"[parameters(''principalId'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.37.4.10188","templateHash":"7891776177351033994"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"d[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-l9bd889-1759086964/operationStatuses/08584425198802688105?api-version=2021-04-01&t=638946838088019990&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-l9bd889-1759086964?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-l9bd889-1759086964","name":"azdtest-l9bd889-1759086964","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-l9bd889","azd-layer-name":"","azd-provision-param-hash":"38bc5e2d9a781a3da9159e2db2a50c6f71b5ecc246e1a12429d7c52c4fbe3d7b"},"properties":{"templateHash":"12040680752538436398","parameters":{"environmentName":{"type":"String","value":"azdtest-l9bd889"},"location":{"type":"String","value":"eastus2"},"principalId":{"type":"String","value":"62661785-adcf-4117-b9d0-22b3aa2b4ebf"},"goversion":{"type":"String","value":"1.22"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-09-28T19:20:32.1849885Z","duration":"PT3M46.9769669S","correlationId":"3586f609-5bf9-43c7-8d01-4a1b4786a5a0","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-l9bd889"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/providers/Microsoft.Resources/deployments/appHostInfrastructure","resourceType":"Microsoft.Resources/deployments","resourceName":"appHostInfrastructure"}],"outputs":{"apphostinfrastructurE_AZURE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"String","value":"graywave-66178cfd.eastus2.azurecontainerapps.io"},"apphostinfrastructurE_AZURE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/providers/Microsoft.App/managedEnvironments/apphostinfrastructuresfj"},"apphostinfrastructurE_AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"String","value":"apphostinfrastructureacrsfjyigbo3hes2.azurecr.io"},"apphostinfrastructurE_AZURE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/providers/Microsoft.ManagedIdentity/userAssignedIdentities/appHostInfrastructure_mi-sfjyigbo3hes2"},"azurE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"String","value":"graywave-66178cfd.eastus2.azurecontainerapps.io"},"azurE_CONTAINER_REGISTRY_ENDPOINT":{"type":"String","value":"apphostinfrastructureacrsfjyigbo3hes2.azurecr.io"},"azurE_GOVERSION":{"type":"String","value":"1.22"}},"outputResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/providers/Microsoft.App/managedEnvironments/apphostinfrastructuresfj"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/providers/Microsoft.App/managedEnvironments/apphostinfrastructuresfj/dotNetComponents/aspire-dashboard"},{"id":"/subscriptions/faa080af-c1d8-40ad-9[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-l9bd889%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889","name":"rg-azdtest-l9bd889","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-l9bd889","DeleteAfter":"09/29/2025 19:18:52"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 85.907589ms
[...]
    - id: 10
      request:
            - chunked
        host: apphostinfrastructureacrsfjyigbo3hes2.azurecr.io
        body: access_token=SANITIZED&grant_type=access_token&service=apphostinfrastructureacrsfjyigbo3hes2.azurecr.io
        form:
            access_token:
                - SANITIZED
            grant_type:
                - access_token
            service:
                - apphostinfrastructureacrsfjyigbo3hes2.azurecr.io
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://apphostinfrastructureacrsfjyigbo3hes2.azurecr.io:443/oauth2/exchange
        method: POST
      response:
            - chunked
        body: '{"refresh_token":"SANITIZED"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Calls-Per-Second:
                - "166.65"
        status: 200 OK
        code: 200
        duration: 347.96363ms
    - id: 11
      request:
        host: management.azure.com
        body: '{"properties":{"mode":"Incremental","parameters":{"apiservice_containerimage":{"value":"apphostinfrastructureacrsfjyigbo3hes2.azurecr.io/aspire-azd-tests/apiservice-azdtest-l9bd889:azd-deploy-1759086964","reference":null},"apiservice_containerport":{"value":"8080","reference":null},"apphostinfrastructure_outputs_azure_container_apps_environment_default_domain":{"value":"graywave-66178cfd.eastus2.azurecontainerapps.io","reference":null},"apphostinfrastructure_outputs_azure_container_apps_environment_id":{"value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/providers/Microsoft.App/managedEnvironments/apphostinfrastructuresfj","reference":null},"apphostinfrastructure_outputs_azure_container_registry_e[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-l9bd889/providers/Microsoft.Resources/deployments/apiservice-1759086964/operationStatuses/08584425196192849108?api-version=2021-04-01&t=638946840684101172&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgk[...]
[...]
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/providers/Microsoft.App/containerApps/apiservice?api-version=2025-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/providers/Microsoft.App/containerapps/apiservice","name":"apiservice","type":"Microsoft.App/containerApps","location":"East US 2","systemData":{"createdBy":"vivazqu@microsoft.com","createdByType":"User","createdAt":"2025-09-28T19:21:08.8847103","lastModifiedBy":"vivazqu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-09-28T19:21:08.8847103"},"properties":{"provisioningState":"Succeeded","runningStatus":"Running","managedEnvironmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/providers/Microsoft.App/managedEnvironments/apphostinfrastructuresfj","environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/providers/Microsoft.App/managedEnvironments/apphostinfrastructuresfj","workloadProfileName":"consumption","outboundIpAddresses":["20.1.250.250","20.1.251.135","20.7.131.26","20.7.130.240","20.7.131.54","20.7.131.60","20.7.131.34","20.7.131.59","20.7.131.44","20.7.131.5","20.7.131.39","20.7.131.50","20.1.251.104","172.200.51.234","172.200.52.27","172.200.51.44","172.200.51.235","172.200.51.243","172.200.51.45","172.200.51.191","172.200.51.242","172.200.52.26","172.200.51.190","20.1.251.2","13.68.118.203","13.68.119.127","52.184.147.35","52.184.147.9","20.94.111.32","20.94.110.46","20.97.130.219","20.69.200.68","52.167.135.54","52.184.149.238","52.179.250.88","52.184.149.147","52.184.198.180","52.184.138.179","52.179.253.112","52.184.190.79","52.184.141.185","52.184.151.206","20.97.132.38","4.153.163.131","20.36.242.179","20.36.243.222","20.36.243.227","20.36.243.208","128.85.230.186","4.153.163.156","20.36.242.169","4.153.163.201","20.36.244.19","20.97.133.137","20.36.244.21","20.36.243.201","128.85.220.176","128.85.212.114","135.18.214.171","20.85.91.213","128.85.239.223","4.153.23.192","4.153.23.210","4.153.23.204","20.94.122.99","4.153.23.173","20.94.122.65","20.94.122.133","20.94.122.111","20.94.122.70","20.94.122.101","135.18.215.165"],"latestRevisionName":"apiservice--cyt3jpd","latestReadyRevisionName":"apiservice--cyt3jpd","latestRevisionFqdn":"apiservice--cyt3jpd.internal.graywave-66178cfd.eastus2.azurecontainerapps.io","customDomainVerificationId":"952E2B5B449FE1809E86B56F4189627111A065213A56FF099BE2E8782C9EB920","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":"apiservice.internal.graywave-66178cfd.eastus2.azurecontainerapps.io","external":false,"targetPort":8080,"exposedPort":0,"transport":"Http","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null},"registries":[{"server":"apphostinfrastructureacrsfjyigbo3hes2.azurecr.io","username":"","passwordSecretRef":"","identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/providers/Microsoft.ManagedIdentity/userAssignedIdentities/appHostInfrastructure_mi-sfjyigbo3hes2"}],"dapr":null,"runtime":{},"maxInactiveRevisions":100,"service":null,"identitySettings":[]},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"apphostinfrastructureacrsfjyigbo3hes2.azurecr.io/aspire-azd-tests/apiservice-azdtest-l9bd889:azd-deploy-1759086964","name":"apiservice","env":[{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"}],"resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":1,"maxReplicas":10,"cooldownPeriod":300,"pollingInterval":30,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus2.azurecontainerapps.dev/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/containerApps/apiservice/eventstream","delegatedIdentities":[]},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-l9bd889/providers/Microsoft.ManagedIdentity/userAssignedIdentities/appHostInfrastructure_mi-sfjyigbo3hes2":{"principalId":"d393f3ca-d177-4816-b765-13c66c5b9d95","clientId":"aa9d7bf2-3378-4bd8-9aed-44283bcfcb01"}}}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview, 2025-07-01, 2025-10-02-preview
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 188.804981ms
[...]
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=xdHLasMwEAXQb7HWKUhOAsW7OFJKHxpV9sgl3YXUNX4gQ%2BtgRyH%2FXjnB26wKWQ5zB3R0T2Tf2q60h11XthbbOre%2FJDqRD5GiSUMS2UPTzIhYjeO4sPnQve9%2BunLMv%2BZHEhEWPAaA20G67QOZXRJJ2087Ng%2BDpN7Ekhe9Np9cGr0AHscJb7im2UYaQQFjrjFbA359JwzUW0p7xY3PaSerPYOqZoqvQumel3LNNNLhRbNGJFkskTWQmKVRVfYkUYeKa3%2BrKTifR3MEXjCF%2FmXnieFVd3JIJxhg4R26h%2FSWw%2Bcq0YMTzpsX3k79P4ymi%2BPaznxq5zreTfU%2F7ZzPfw%3D%3D&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 1.127976514s
[...]
    - id: 19
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27apiservice%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 362.234853ms
[...]
    - id: 22
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27webfrontend%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 245.156147ms
[...]
    - id: 25
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27worker%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1098"
        status: 200 OK
        code: 200
        duration: 147.920023ms
[...]
    - id: 28
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l9bd889/resources?api-version=2021-04-01
        method: GET
      response:
[...]
