---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2021-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/southcentralus","name":"southcentralus","type":"Region","displayName":"South Central US","regionalDisplayName":"(US) South Central US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-98.5","latitude":"29.4167","physicalLocation":"Texas","pairedRegion":[{"name":"northcentralus",[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=3ZHBboJAEIafxT1rwlJojDfWWWKrOyu7sxJ7M9Q2goGkpQE0vnvB1BdoT%2fU0k8w%2fk%2f%2f%2f5syyqqwP5deuPlQlVcW%2b%2fGSzM5ORJWeHrty39Xr3UR8GwXLfsRnjo%2bkIaduq03bCxleFqZrbjHvTkSlioeC9SdwLKJcECEIYOELibWLlpIckIKHNHOn1zXDUK%2bs1Glyvy3x1Sh766z72%2bwpkqOd8aV2srQsXOn%2bWirIO6YlriEJsJhN2Gf%2fY9f%2bNX5tKkDiXSCZa%2fc51EPyNMmUe5irEvPA1Za22XAx0XV51RgaPqjDCnIaeixT6GiftlX4eddiTV2Ccgm2jyfmKFMdjdf0EakML6Yxey7vKlUpLdxfrcvkG","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11993"
        status: 200 OK
        code: 200
        duration: 6.470590459s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=3ZHBboJAEIafxT1rwlJojDfWWWKrOyu7sxJ7M9Q2goGkpQE0vnvB1BdoT%2fU0k8w%2fk%2f%2f%2f5syyqqwP5deuPlQlVcW%2b%2fGSzM5ORJWeHrty39Xr3UR8GwXLfsRnjo%2bkIaduq03bCxleFqZrb[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1Y7LaoNAGEafxVkbmLGhFHea%2bSVpM%2f9kbkqyC6ktXhihNWgMvnub0kBfobuP853FuZJT5%2fvKn4991XnbNaX%2fJPGVQGKsM7fly7HfHT%2f66ia8lBcSExY8BWj3o5j2CxL%2bGLob7h9jUaCbLBX8fVDuwIVTS%2bRpqnnLFc0z4YCiTbmy%2bQrt65tmKLeGDpK7b%2b8U4QRU1IoJDkvJEyYMK0x%2bSIs2y2X9DIqqR9GoEacNlby5YL15IHP4mxz9q2ZTAAdcAVqdbEnsz20bEpTarsFpuYM7KsDYv2SevwA%3d
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11998"
        status: 200 OK
        code: 200
        duration: 4.768365125s
    - id: 4
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-de5763d"},"location":{"value":"eastus2"},"principalId":{"value":"260c081c-d291-4eb3-9306-0bf65a3f5ff4"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"5559727577912177490"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the environment that can be used as part of naming resource convention, the name of the resource group for your application will use this name, prefixed with rg-"}},"location":{"type":"string","minLength":1,"metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2022-09-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"tags":{"value":"[variables(''tags'')]"},"principalId":{"value":"[parameters(''principalId'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"3657027767394685529"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}},"tags":{"type":"object","defaultValue":{},"metadata":{"description":"Tags that will be applied to all resources"}}},"variables":{"resourceToken":"[uniqueString(resourceGroup().id)]"},"resources":[{"type":"Microsoft.App/managedEnvironments/dotNetComponents","apiVersion":"2024-02-02-preview","name":"[format(''{0}/{1}'', format(''cae-{0}'', variables(''resourceToken'')), ''aspire-dashboard'')]","properties":{"componentType":"AspireDashboard"},"dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[parameters(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2024-02-02-preview","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"workloadProfiles":[{"workloadProfileType":"Consumption","name":"consumption"}],"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[parameters(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.App/managedEnvironments/{0}'', format(''cae-{0}'', variables(''resourceToken'')))]","name":"[guid(resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken''))), parameters(''principalId''), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''b24988ac-6180-42a0-ab88-20f7382dd24c''))]","properties":{"principalId":"[parameters(''principalId'')]","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''b24988ac-6180-42a0-ab88-20f7382dd24c'')]"},"dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.KeyVault/vaults","apiVersion":"2023-07-01","name":"[replace(format(''kvf2edecb5-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","properties":{"sku":{"name":"standard","family":"A"},"tenantId":"[subscription().tenantId]","enableRbacAuthorization":true}},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.KeyVault/vaults/{0}'', replace(format(''kvf2edecb5-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.KeyVault/vaults'', replace(format(''kvf2edecb5-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Micro[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"keyVaultName":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.SERVICE_BINDING_KVF2EDECB5_NAME.value]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"9561877192170741248"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":""}},"keyVaultName":{"type":"string","metadata":{"description":""}}},"resources":[{"type":"Microsoft.DocumentDB/databaseAccounts","apiVersion":"2023-04-15","name":"[toLower(take(format(''cosmos{0}'', uniqueString(resourceGroup().id)), 24))]","location":"[parameters(''location'')]","tags":{"aspire-resource-name":"cosmos"},"kind":"GlobalDocumentDB","properties":{"databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session"},"locations":[{"locationName":"[parameters(''location'')]","failoverPriority":0}]}},{"type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases","apiVersion":"2023-04-15","name":"[format(''{0}/{1}'', toLower(take(format(''cosmos{0}'', uniqueString(resourceGroup().id)), 24)), ''db3'')]","location":"[parameters(''location'')]","properties":{"resource":{"id":"db3"}},"dependsOn":["[resourceId(''Microsoft.DocumentDB/databaseAccounts'', toLower(take(format(''cosmos{0}'', uniqueString(resourceGroup().id)), 24)))]"]},{"type":"Microsoft.KeyVault/vaults/secrets","apiVersion":"2022-07-01","name":"[format(''{0}/{1}'', parameters(''keyVaultName''), ''connectionString'')]","location":"[parameters(''location'')]","properties":{"value":"[format(''AccountEndpoint={0};AccountKey={1}'', reference(resourceId(''Microsoft.DocumentDB/databaseAccounts'', toLower(take(format(''cosmos{0}'', uniqueString(resourceGroup().id)), 24))), ''2023-04-15'').documentEndpoint, listkeys(resourceId(''Microsoft.DocumentDB/databaseAccounts'', toLower(take(format(''cosmos{0}'', uniqueString(resourceGroup().id)), 24))), ''2023-04-15'').primaryMasterKey)]"},"dependsOn":["[resourceId(''Microsoft.DocumentDB/databaseAccounts'', toLower(take(format(''cosmos{0}'', uniqueString(resourceGroup().id)), 24)))]"]}]}},"dependsOn":["[extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources'')]","[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"storage","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"principalId":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.MANAGED_IDENTITY_PRINCIPAL_ID.value]"},"principalType":{"value":"ServicePrincipal"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"6604979230694910773"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":""}},"principalId":{"type":"string","metadata":{"description":""}},"principalType":{"type":"string","metadata":{"description":""}}},"resources":[{"type":"Microsoft.Storage/storageAccounts","apiVersion":"2022-09-01","name":"[toLower(take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24))]","location":"[parameters(''location'')]","tags":{"aspire-resource-name":"storage"},"sku":{"name":"Standard_GRS"},"kind":"StorageV2","properties":{"accessTier":"Hot","networkAcls":{"defaultAction":"Allow"},"minimumTlsVersion":"TLS1_2","allowSharedKeyAccess":false}},{"type":"Microsoft.Storage/storageAccounts/blobServices","apiVersion":"2022-09-01","name":"[format(''{0}/{1}'', toLower(take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24)), ''default'')]","properties":{},"dependsOn":["[resourceId(''Microsoft.Storage/storageAccounts'', toLower(take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24)))]"]},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.Storage/storageAccoun[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-de5763d-1725658601/operationStatuses/08584759482319646448?api-version=2021-04-01
        method: GET
      response:
        body: '{"status":"Succeeded"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11998"
        status: 200 OK
        code: 200
        duration: 388.102542ms
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-de5763d-1725658601?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-de5763d-1725658601","name":"azdtest-de5763d-1725658601","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-de5763d","azd-provision-param-hash":"2d382d0b3421f4818da7f39918cb0f65ca64d267c6ca7dac2c889651c5720b77"},"properties":{"templateHash":"5559727577912177490","parameters":{"environmentName":{"type":"String","value":"azdtest-de5763d"},"location":{"type":"String","value":"eastus2"},"principalId":{"type":"String","value":"260c081c-d291-4eb3-9306-0bf65a3f5ff4"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2024-09-06T21:42:22.7648765Z","duration":"PT4M47.5237661S","correlationId":"4867fc20-653f-49f9-97a7-a6bf0569637d","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-de5763d","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-de5763d"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-de5763d/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-de5763d/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"id":"/subscripti[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-de5763d%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-de5763d","name":"rg-azdtest-de5763d","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-de5763d"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 57.292ms
[...]
    - id: 9
      request:
            - chunked
        host: acrcitrub7djflas.azurecr.io
        body: access_token=SANITIZED&grant_type=access_token&service=acrcitrub7djflas.azurecr.io
        form:
            access_token:
                - SANITIZED
            grant_type:
                - access_token
            service:
                - acrcitrub7djflas.azurecr.io
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://acrcitrub7djflas.azurecr.io:443/oauth2/exchange
        method: POST
      response:
            - chunked
        body: '{"refresh_token":"SANITIZED"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Calls-Per-Second:
                - "166.65"
        status: 200 OK
        code: 200
        duration: 462.12425ms
    - id: 10
      request:
        host: management.azure.com
        body: '{"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-de5763d/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-citrub7djflas":{}}},"location":"eastus2","properties":{"configuration":{"activeRevisionsMode":"single","ingress":{"allowInsecure":true,"external":false,"targetPort":8080,"transport":"http"},"registries":[{"identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-de5763d/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-citrub7djflas","server":"acrcitrub7djflas.azurecr.io"}],"runtime":{"dotnet":{"autoConfigureDataProtection":true}}},"environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-de5763d/providers/Microsoft.App/managedEnvironments/cae-citrub7djflas","template":{"containers":[{"env":[{"name":"AZURE_CLIENT_ID","value":"fc27a360-ee29-4435-ba2f-7ac26235a4b7"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"}],"image":"acrcitrub7djflas.azurecr.io/aspireazdtests/apiservice-azdtest-de5763d:azd-deploy-1725658601","name":"apiservice"}],"scale":{"minReplicas":1}}},"tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-de5763d/providers/Microsoft.App/containerApps/apiservice?api-version=2024-02-02-preview
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-de5763d/providers/Microsoft.App/containerapps/apiservice","name":"apiservice","type":"Microsoft.App/containerApps","location":"East US 2","tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"},"systemData":{"createdBy":"matell@microsoft.com","createdByType":"User","createdAt":"2024-09-06T21:42:53.7604596Z","lastModifiedBy":"matell@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-09-06T21:42:53.7604596Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-de5763d/providers/Microsoft.App/managedEnvironments/cae-citrub7djflas","environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-de5763d/providers/Microsoft.App/managedEnvironments/cae-citrub7djflas","workloadProfileName":"consumption","patchingMode":"Automatic","outboundIpAddresses":["20.1.250.250","20.1.251.135","20.1.251.104","20.1.251.2","13.68.118.203","13.68.119.127","52.184.147.35","52.184.147.9","20.94.111.32","20.94.110.46","20.97.130.219","20.69.200.68","20.97.132.38","20.97.133.137","20.94.122.99","20.94.122.65","20.94.122.133","20.94.122.111","20.94.122.70","20.94.122.101","20.161.138.86","20.161.137.24","4.153.72.251","4.153.73.13","4.153.73.38","4.153.72.240","4.153.73.30","4.153.72.243","4.153.73.23","4.153.72.247","4.153.73.6","4.153.73.37","20.161.137.25","52.184.192.104","52.177.123.74","52.177.123.175","52.177.123.148","52.177.123.136","52.177.123.98","52.177.123.102","52.177.123.125","52.177.123.90","52.177.123.69","20.161.138.87","4.153.106.247","4.153.107.93","4.153.108.180","4.153.107.3","4.153.110.115","4.153.108.140","4.152.87.55"],"customDomainVerificationId":"952E2B5B449FE1809E86B56F4189627111A065213A56FF099BE2E8782C9EB920","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":null,"external":false,"targetPort":8080,"exposedPort":null,"transport":"Http","traffic":null,"customDomains":null,"allowInsecure":true,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":[{"server":"acrcitrub7djflas.azurecr.io","identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-de5763d/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-citrub7djflas"}],"identitySettings":[],"dapr":null,"runtime":{"dotnet":{"autoConfigureDataProtection":true}},"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":null,"terminationGracePeriodSeconds":null,"containers":[{"image":"acrcitrub7djflas.azurecr.io/aspireazdtests/apiservice-azdtest-de5763d:azd-deploy-1725658601","imageType":"CloudBuild","name":"apiservice","env":[{"name":"AZURE_CLIENT_ID","value":"fc27a360-ee29-4435-ba2f-7ac26235a4b7"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"}]}],"initContainers":null,"scale":{"minReplicas":1,"maxReplicas":null,"rules":null},"volumes":null,"serviceBinds":null},"delegatedIdentities":[]},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-de5763d/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-citrub7djflas":{"principalId":"222074b5-62e6-4de0-a801-2b4a1cbe176c","clientId":"fc27a360-ee29-4435-ba2f-7ac26235a4b7"}}}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.App/locations/eastus2/containerappOperationStatuses/7b727836-41da-45f7-bbc8-824c6962c4cf?api-version=2024-02-02-preview&azureAsyncOperation=true&t=638612557753073025&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbn[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.App/locations/eastus2/containerappOperationStatuses/7b727836-41da-45f7-bbc8-824c6962c4cf?api-version=2024-02-02-preview&azureAsyncOperation=true&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADB[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-de5763d/providers/Microsoft.App/containerApps/apiservice?api-version=2024-02-02-preview
        method: GET
      response:
[...]
