---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2021-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/southcentralus","name":"southcentralus","type":"Region","displayName":"South Central US","regionalDisplayName":"(US) South Central US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-98.5","latitude":"29.4167","physicalLocation":"Texas","pairedRegion":[{"name":"northcentralus",[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=1ZDRboIwFIafxV5r0ioxm3ewUxPmzqmUlo3dGXUGMJBsLEiN7z7QmO16XnnVNv1zzvd%2fR7auyjorv1d1VpWmKrblF5sd2auMjY3H%2fbXcHurl6rPO%2bsRi27IZE4OHAZn0gC4dseE5oavm%2bie4N9DFPEDYNZF9B7SRRxAEGvYQ8WSOVnIyAUQmeSKz%2bdCC1EvMGwW2y6WtMsUYXcEJQocgOWZCaiuWKn%2bWaNZOQbcZupn%2baMROQyb9G1g9fgvrgUzYdCYacukYcymoFZEtHhfakr3who6garXcREl%2fgj73MHavYtO%2f5YTA77qnDo0897m4n9yR%2b%2f%2bhiumt6j0FOKF8zcmFnorFm7Z7jC2fYqGtTshi%2fquY3K5B5%2f9RfGfYp9MP","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 4.6464953s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1ZDRboIwFIafxV5r0ioxm3ewUxPmzqmUlo3dGXUGMJBsLEiN7z7QmO16XnnVNv1zzvd%2fR7auyjorv1d1VpWmKrblF5sd2auMjY3H%2fbXcHurl6rPO%2bsRi27IZE4OHAZn0gC4dseE5oavm%2bie4N9DF[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=zc9RS4RAEAfwz%2bI8G7jeGeFb3nggNbOtu3thb0eZiLJCeegpfvfu4iKiD1CPM%2fP%2fw29meO5cX7vDvq87Z7qmdO8Qz%2fCYamN1CLE7tK0P6e1lnMGVY%2f%2bwf%2bvrc%2bGuPEIMwrvx2BQjTcUV%2bJ%2bJvBu%2bbiIIvLzZJoTVoOwTklVrxiTJsUUV7LZk04BNgsrsNmxeXnPB8l4Hg0R7yhVHxkxITNcS1WlXhVIL1phdU6NGnigiU42EdgWLf2GvfrLP%2f%2fyFOuRJRYxqkoZCufmlHshk0bf6nzOX5QM%3d
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWcnUMDgkNNlKyyivNydGBcmG8cFeQJIwX6h3sHxriAeMG%2bPs4%2brk4u%2fqFBDn6wAQhOuDGQbjGENnaWgA%3d","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 2.1502771s
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWcnUMDgkNNlKyyivNydGBcmG8cFeQJIwX6h3sHxriAeMG%2bPs4%2brk4u%2fqFBDn6wAQhOuDGQbjGENnaWgA%3d
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 1.559857s
    - id: 5
      request:
        host: management.azure.com
        body: '{"location":"westus3","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-w27a7fa","reference":null},"goversion":{"value":"1.22","reference":null},"location":{"value":"westus3","reference":null},"principalId":{"value":"547aa7c1-2f57-48d9-8969-ecf696948ca7","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.34.44.31351","templateHash":"13946796937710293791"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the environment that can be used as part of naming resource convention, the name of the resource group for your application will use this name, prefixed with rg-"}},"location":{"type":"string","minLength":1,"metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}},"goversion":{"type":"string","defaultValue":"1.22","metadata":{"azd":{"type":"needForDeploy","config":{}}}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2022-09-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"tags":{"value":"[variables(''tags'')]"},"principalId":{"value":"[parameters(''principalId'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.34.44.31351","templateHash":"16101649860487256780"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}},"tags":{"type":"object","defaultValue":{},"metadata":{"description":"Tags that will be applied to all resources"}}},"variables":{"resourceToken":"[uniqueString(resourceGroup().id)]"},"resources":[{"type":"Microsoft.App/managedEnvironments/dotNetComponents","apiVersion":"2024-02-02-preview","name":"[format(''{0}/{1}'', format(''cae-{0}'', variables(''resourceToken'')), ''aspire-dashboard'')]","properties":{"componentType":"AspireDashboard"},"dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[parameters(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2024-02-02-preview","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"workloadProfiles":[{"workloadProfileType":"Consumption","name":"consumption"}],"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[parameters(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.App/managedEnvironments/{0}'', format(''cae-{0}'', variables(''resourceToken'')))]","name":"[guid(resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken''))), parameters(''principalId''), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''b24988ac-6180-42a0-ab88-20f7382dd24c''))]","properties":{"principalId":"[parameters(''principalId'')]","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''b24988ac-6180-42a0-ab88-20f7382dd24c'')]"},"dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"MANAGED_IDENTITY_CLIENT_ID":{"type":"string","value":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').clientId]"},"MANAGED_IDENTITY_NAME":{"type":"string","value":"[format(''mi-{0}'', variables(''resourceToken''))]"},"MANAGED_IDENTITY_PRINCIPAL_ID":{"type":"string","value":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]"},"AZURE_LOG_ANALYTICS_WORKSPACE_NAME":{"type":"string","value":"[format(''law-{0}'', variables(''resourceToken''))]"},"AZURE_LOG_ANALYTICS_WORKSPACE_ID":{"type":"string","value":"[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]"},"AZURE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"string","value":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_REGISTRY_NAME":{"type":"string","value":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_NAME":{"type":"string","value":"[format(''cae-{0}'', variables(''resourceToken''))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"string","value":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"string","value":"[reference(resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken''))), ''2024-02-02-preview'').defaultDomain]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"storage","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"principalId":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.MANAGED_IDENTITY_PRINCIPAL_ID.value]"},"principalType":{"value":"ServicePrincipal"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.34.44.31351","templateHash":"7657342349770255049"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location for the resource(s) to be deployed."}},"principalId":{"type":"string"},"principalType":{"type":"string"}},"resources":[{"type":"Microsoft.Storage/storageAccounts","apiVersion":"2024-01-01","name":"[take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24)]","kind":"StorageV2","location":"[parameters(''location'')]","sku":{"name":"Standard_GRS"},"properties":{"accessTier":"Hot","allowSharedKeyAccess":false,"minimumTlsVersion":"TLS1_2","networkAcls":{"defaultAction":"Allow"}},"tags":{"aspire-resource-name":"storage"}},{"type":"Microsoft.Storage/storageAccounts/blobServices","apiVersion":"2024-01-01","name":"[format(''{0}/{1}'', take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24), ''default'')]","dependsOn":["[resourceId(''Microsoft.Storage/storageAccounts'', take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24))]"]},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.Storage/storageAccounts/{0}'', take(format(''storag[...]
[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"principalId":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.MANAGED_IDENTITY_PRINCIPAL_ID.value]"},"principalType":{"value":"ServicePrincipal"}},"template":{"$schema":"https://schema.managem[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w27a7fa-1741210758/operationStatuses/08584603960698903706?api-version=2021-04-01&t=638768076173629377&c=MIIHhzCCBm-gAwIBAgITfAaTiaklTwdb3CiPmAAABpOJqTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w27a7fa-1741210758?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w27a7fa-1741210758","name":"azdtest-w27a7fa-1741210758","type":"Microsoft.Resources/deployments","location":"westus3","tags":{"azd-env-name":"azdtest-w27a7fa","azd-provision-param-hash":"4dee372720952ab0a8dda4a1481bb8b8967a8ac4da3fc34159e01fed850b5e78"},"properties":{"templateHash":"13946796937710293791","parameters":{"environmentName":{"type":"String","value":"azdtest-w27a7fa"},"location":{"type":"String","value":"westus3"},"principalId":{"type":"String","value":"547aa7c1-2f57-48d9-8969-ecf696948ca7"},"goversion":{"type":"String","value":"1.22"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-03-05T21:45:43.4630083Z","duration":"PT5M26.3663196S","correlationId":"6e8fe771-9963-450d-b410-a96fd29618a7","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus3"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-w27a7fa"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-w27a7fa"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources","apiVersion":"2022-09-01"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.Resources/deployments/storage","resourceType":"Microsoft.Resources/deployments","resourceName":"storage"}],"outputs":{"manageD_IDENTITY_CLIENT_ID":{"type":"String","value":"219dfab8-3f44-404d-ad3f-df30fea3b798"},"manageD_IDENTITY_NAME":{"type":"String","value":"mi-gvnx27wmgb2nk"},"azurE_LOG_ANALYTICS_WORKSPACE_NAME":{"type":"String","value":"law-gvnx27wmgb2nk"},"azurE_CONTAINER_REGISTRY_ENDPOINT":{"type":"String","value":"acrgvnx27wmgb2nk.azurecr.io"},"azurE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-gvnx27wmgb2nk"},"azurE_CONTAINER_REGISTRY_NAME":{"type":"String","value":"acrgvnx27wmgb2nk"},"azurE_CONTAINER_APPS_ENVIRONMENT_NAME":{"type":"String","value":"cae-gvnx27wmgb2nk"},"azurE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.App/managedEnvironments/cae-gvnx27wmgb2nk"},"azurE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"String","value":"thankfulground-71401486.westus3.azurecontainerapps.io"},"storagE_BLOBENDPOINT":{"type":"String","value":"https://storagegvnx27wmgb2nk.blob.core.windows.net/"},"storagE_QUEUEENDPOINT":{"type":"String","value":"https://storagegvnx27wmgb2nk.queue.core.windows.net/"},"storagE_TABLEENDPOINT":{"type":"String","value":"https://storagegvnx27wmgb2nk.table.core.windows.net/"}},"outputResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.App/managedEnvironments/cae-gvnx27wmgb2nk"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.App/managedEnvironments/cae-gvnx27wmgb2nk/dotNetComponents/aspire-dashboard"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-w27a7fa%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa","name":"rg-azdtest-w27a7fa","type":"Microsoft.Resources/resourceGroups","location":"westus3","tags":{"azd-env-name":"azdtest-w27a7fa"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 287.0011ms
[...]
    - id: 11
      request:
            - chunked
        host: acrgvnx27wmgb2nk.azurecr.io
        body: access_token=SANITIZED&grant_type=access_token&service=acrgvnx27wmgb2nk.azurecr.io
        form:
            access_token:
                - SANITIZED
            grant_type:
                - access_token
            service:
                - acrgvnx27wmgb2nk.azurecr.io
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://acrgvnx27wmgb2nk.azurecr.io:443/oauth2/exchange
        method: POST
      response:
            - chunked
        body: '{"refresh_token":"SANITIZED"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Calls-Per-Second:
                - "166.65"
        status: 200 OK
        code: 200
        duration: 416.3791ms
    - id: 12
      request:
        host: management.azure.com
        body: '{"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-gvnx27wmgb2nk":{}}},"location":"westus3","properties":{"configuration":{"activeRevisionsMode":"single","ingress":{"allowInsecure":true,"external":false,"targetPort":8080,"transport":"http"},"registries":[{"identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-gvnx27wmgb2nk","server":"acrgvnx27wmgb2nk.azurecr.io"}],"runtime":{"dotnet":{"autoConfigureDataProtection":true}}},"environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.App/managedEnvironments/cae-gvnx27wmgb2nk","template":{"containers":[{"env":[{"name":"AZURE_CLIENT_ID","value":"219dfab8-3f44-404d-ad3f-df30fea3b798"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"}],"image":"acrgvnx27wmgb2nk.azurecr.io/aspire-azd-tests/apiservice-azdtest-w27a7fa:azd-deploy-1741210758","name":"apiservice"}],"scale":{"minReplicas":1}}},"tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.App/containerApps/apiservice?api-version=2024-02-02-preview
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.App/containerapps/apiservice","name":"apiservice","type":"Microsoft.App/containerApps","location":"West US 3","tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"},"systemData":{"createdBy":"hemarina@microsoft.com","createdByType":"User","createdAt":"2025-03-05T21:46:11.4221105Z","lastModifiedBy":"hemarina@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-05T21:46:11.4221105Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.App/managedEnvironments/cae-gvnx27wmgb2nk","environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.App/managedEnvironments/cae-gvnx27wmgb2nk","workloadProfileName":"consumption","patchingMode":"Automatic","outboundIpAddresses":["20.125.76.124","20.125.74.58","20.118.180.220","20.125.72.245","4.236.29.28","4.236.28.230","4.236.28.126","4.236.29.23","4.236.28.206","4.236.29.43","20.118.146.180","20.118.148.199","20.118.144.32","20.118.146.221","4.227.76.26","4.227.76.45","4.227.76.46","4.227.76.20","4.227.76.51","4.227.76.18","20.171.233.7","20.171.233.1","20.171.233.9","20.171.232.187","20.171.232.226","20.171.233.2","20.171.232.234","20.171.233.15","20.171.232.230","20.171.232.244","4.227.54.157","4.236.17.85","20.171.217.238","20.171.217.136","4.227.55.63","4.227.55.153","4.227.50.52","20.171.217.234","4.227.52.10","20.171.218.8","4.227.46.141","4.227.46.138","4.236.55.171","4.236.55.141","4.236.55.111","4.236.55.122","4.236.55.120","4.236.55.144","4.236.55.129","4.236.55.124","4.236.55.117","4.236.55.118","4.227.47.9","4.227.47.13","4.236.62.83","4.236.62.134","4.236.62.121","4.236.62.132","4.236.62.123","4.236.62.103","4.227.35.14"],"customDomainVerificationId":"952E2B5B449FE1809E86B56F4189627111A065213A56FF099BE2E8782C9EB920","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":null,"external":false,"targetPort":8080,"exposedPort":null,"transport":"Http","traffic":null,"customDomains":null,"allowInsecure":true,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null,"targetPortHttpScheme":null},"registries":[{"server":"acrgvnx27wmgb2nk.azurecr.io","identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w27a7fa/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-gvnx27wmgb2nk"}],"identitySettings":[],"dapr":null,"runtime":{"dotnet":{"autoConfigureDataProtection":true}},"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":null,"terminationGracePeriodSeconds":null,"containers":[{"image":"acrgvnx27wmgb2nk.azurecr.io/aspire-azd-tests/apiservice-azdtest-w27a7fa:azd-deploy-1741210758","imageType":"CloudBuild","name":"apiservice","env":[{"name":"AZURE_CLIENT_ID","value":"219dfab8-3f44-404d-ad3f-df30fea3b798"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"}]}],"initContainers":null,"scale":{"minReplicas":1,"maxReplicas":null,"rules":null},"volumes":null,"serviceBinds":null},"delegatedIdentities":[]},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-w27a7fa/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-gvnx27wmgb2nk":{"principalId":"e59db938-c2a6-458b-a71f-4a8c994e9f7d","clientId":"219dfab8-3f44-404d-ad3f-df30fea3b798"}}}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview
            Azure-Asyncoperation:
[...]
