<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AspireAzdTests</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="redis">
                <span class="bi bi-redis" aria-hidden="true"></span> Redis
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="azuretables">
                <span class="bi bi-aztables" aria-hidden="true"></span> Azure Tables
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="azureblobs">
                <span class="bi bi-azblobs" aria-hidden="true"></span> Azure Blobs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="azurequeues">
                <span class="bi bi-azqueues" aria-hidden="true"></span> Azure Queues
            </NavLink>
        </div>
    </nav>
</div>
