.azure-pipelines
.eslintignore
eslint.config.mjs
.github/**
.vscode/**
.vscode-test/**
FEATURE_IDEAS.md
TESTING_GUIDE.md
node_modules/**
!node_modules/vscode-nls
out/**
samples/**
src/**
.gitignore
webpack.config.js
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.ps1
