fastapi == 0.78.*
uvicorn == 0.17.*
beanie == 1.11.*
python-dotenv == 0.20.*
# 1.13.0b2 provides AzureDeveloperCredential
# https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/CHANGELOG.md#1130b2-2023-02-07
azure-identity == 1.13.0b2
azure-keyvault-secrets == 4.4.*
opentelemetry-instrumentation-fastapi == 0.30b1
azure-monitor-opentelemetry-exporter == 1.0.0b5
