---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/locations?api-version=2022-12-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/locations/westus"}]},"availabilityZoneMappings":[{"logicalZone":"1","physicalZone":"eastus-az2"},{"logicalZone":"2","physicalZone":"eastus-az1"},{"logicalZone":"3","physicalZone":"eastus-az3"}]},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/locations/westus2","name":"westus2","type":"Region","displayName":"West US 2","regionalDisplayName":"(US) West US 2","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-119.852","latitude":"47.233","physicalLocation":"Washington","pairedRegion":[{"na[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWcnUMDgkNNlKyyivNydFR8vMPCvFwdvULCXL0CQ2GiQb7h2IRhWiFqQl3RTKothYA","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 4.27828469s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/deployments/?%24skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWcnUMDgkNNlKyyivNydFR8vMPCvFwdvULCXL0CQ2GiQb7h2IRhWiFqQl3RTKothYA&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 558.123999ms
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-lb168ee","reference":null},"location":{"value":"eastus2","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.39.26.7824","templateHash":"3539483979435998671"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"deleteAfterTime":{"type":"string","defaultValue":"[dateTimeAdd(utcNow(''o''), ''PT1H'')]","metadata":{"description":"A time to mark on created resource groups, so they can be cleaned up via an automated process."}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]","DeleteAfter":"[parameters(''deleteAfterTime'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2025-04-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.39.26.7824","templateHash":"3341241592091839605"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.Web/sites/config","apiVersion":"2022-03-01","name":"[format(''{0}/{1}'', format(''app-{0}'', variables(''resourceToken'')), ''appsettings'')]","properties":{"SCM_DO_BUILD_DURING_DEPLOYMENT":"true"},"dependsOn":["[resourceId(''Microsoft.Web/sites'', format(''app-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.Web/sites/slots/config","apiVersion":"2022-03-01","name":"[format(''{0}/{1}/{2}'', format(''app-{0}'', variables(''resourceToken'')), ''staging'', ''appsettings'')]","properties":{"SCM_DO_BUILD_DURING_DEPLOYMENT":"true"},"dependsOn":["[resourceId(''Microsoft.Web/sites/slots'', format(''app-{0}'', variables(''resourceToken'')), ''staging'')]"]},{"type":"Microsoft.Web/serverfarms","apiVersion":"2022-03-01","name":"[format(''plan-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]","sku":{"name":"S1","tier":"Standard"},"properties":{"reserved":true,"zoneRedundant":false}},{"type":"Microsoft.Web/sites","apiVersion":"2022-03-01","name":"[format(''app-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[union(variables(''tags''), createObject(''azd-service-name'', ''api''))]","properties":{"serverFarmId":"[resourceId(''Microsoft.Web/serverfarms'', format(''plan-{0}'', variables(''resourceToken'')))]","httpsOnly":true,"siteConfig":{"linuxFxVersion":"PYTHON|3.11","appCommandLine":"gunicorn --bind=0.0.0.0 --timeout 600 server:app"}},"identity":{"type":"SystemAssigned"},"dependsOn":["[resourceId(''Microsoft.Web/serverfarms'', format(''plan-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.Web/sites/slots","apiVersion":"2022-03-01","name":"[format(''{0}/{1}'', format(''app-{0}'', variables(''resourceToken'')), ''staging'')]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]","properties":{"serverFarmId":"[resourceId(''Microsoft.Web/serverfarms'', format(''plan-{0}'', variables(''resourceToken'')))]","httpsOnly":true,"siteConfig":{"linuxFxVersion":"PYTHON|3.11","appCommandLine":"gunicorn --bind=0.0.0.0 --timeout 600 server:app"}},"identity":{"type":"SystemAssigned"},"dependsOn":["[resourceId(''Microsoft.Web/serverfarms'', format(''plan-{0}'', variables(''resourceToken'')))]","[resourceId(''Microsoft.Web/sites'', format(''app-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[format(''https://{0}/'', reference(resourceId(''Microsoft.Web/sites'', format(''app-{0}'', variables(''resourceToken''))), ''2022-03-01'').defaultHostName)]"},"SLOT_URL":{"type":"string","value":"[format(''https://{0}/'', reference(resourceId(''Microsoft.Web/sites/slots'', format(''app-{0}'', variables(''resourceToken'')), ''staging''), ''2022-03-01'').defaultHostName)]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2025-04-01'').outputs.WEBSITE_URL.value]"},"SLOT_URL":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2025-04-01'').outputs.SLOT_URL.value]"}}}},"tags":{"azd-env-name":"azdtest-lb168ee","azd-layer-name":"","azd-provision-param-hash":"13cb11b28979913a2eaa3a8787a0df98d0cf4e27b8d7625032b679398f08ef73"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/deployments/azdtest-lb168ee-1769733024/validate?api-version=2021-04-01
        method: POST
      response:
        body: '{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/deployments/azdtest-lb168ee-1769733024","name":"azdtest-lb168ee-1769733024","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-lb168ee","azd-layer-name":"","azd-provision-param-hash":"13cb11b28979913a2eaa3a8787a0df98d0cf4e27b8d7625032b679398f08ef73"},"properties":{"templateHash":"3539483979435998671","parameters":{"environmentName":{"type":"String","value":"azdtest-lb168ee"},"location":{"type":"String","value":"eastus2"},"deleteAfterTime":{"type":"String","value":"2026-01-30T01:30:43Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2026-01-30T00:30:43.3875481Z","duration":"PT0S","correlationId":"4d19d9d4b3a31b3dc0e203d15347aee9","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-lb168ee"}],"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"}],"validatedResources":[{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee"},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Resources/deployments/resources"},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/sites/app-34ois7zchicre/config/appsettings"},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/sites/app-34ois7zchicre/slots/staging/config/appsettings"},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/serverfarms/plan-34ois7zchicre"},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/sites/app-34ois7zchicre"},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/sites/app-34ois7zchicre/slots/staging"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "2999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "199"
        status: 200 OK
        code: 200
        duration: 1.226723652s
[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/deployments/azdtest-lb168ee-1769733024/operationStatuses/08584318738408751527?api-version=2021-04-01&t=639053298469032303&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/deployments/azdtest-lb168ee-1769733024?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/dep[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-lb168ee%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee","name":"rg-azdtest-lb168ee","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-lb168ee","DeleteAfter":"2026-01-30T01:30:44Z"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 96.494571ms
[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27api%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/sites/app-34ois7zchicre","name":"app-34ois7zchicre","type":"Microsoft.Web/sites","kind":"app,linux","managedBy":"","location":"eastus2","identity":{"principalId":"8f49bb82-d5eb-4640-a4e2-ef28fd49b871","tenantId":"70a036f6-8e4d-4615-bad6-149c02e7720d","type":"SystemAssigned"},"tags":{"azd-env-name":"azdtest-lb168ee","azd-service-name":"api"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 573.14279ms
[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/sites/app-34ois7zchicre/deployments?api-version=2023-01-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"42259c71"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3750"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "250"
        status: 200 OK
        code: 200
        duration: 32.367176219s
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/sites/app-34ois7zchicre/slots?api-version=2023-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/sites/app-34ois7zchicre/slots/staging","name":"app-34ois7zchicre/staging","type":"Microsoft.Web/sites/slots","kind":"app,linux","location":"East US 2","tags":{"azd-env-name":"azdtest-lb168ee"},"properties":{"name":"app-34ois7zchicre(staging)","state":"Running","hostNames":["app-34ois7zchicre-staging.azurewebsites.net"],"webSpace":"rg-azdtest-lb168ee-EastUS2webspace-Linux","selfLink":"https://waws-prod-bn1-275.api.azurewebsites.windows.net:454/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/webspaces/rg-azdtest-lb168ee-EastUS2webspace-Linux/sites/app-34ois7zchicre","repositorySiteName":"app-34ois7zchicre","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["app-34ois7zchicre-staging.azurewebsites.net","app-34ois7zchicre-staging.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"PYTHON|3.11"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":"Limited","hostNameSslStates":[{"name":"app-34ois7zchicre-staging.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"app-34ois7zchicre-staging.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":"Dedicated","serverFarm":null,"serverFarmId":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/serverfarms/plan-34ois7zchicre","reserved":true,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2026-01-30T00:31:51.6633333","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"vnetRouteAllEnabled":false,"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"vnetImagePullEnabled":false,"vnetContentShareEnabled":false,"legacyServiceEndpointTrafficEvaluation":null,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"PYTHON|3.11","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":null,"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":null,"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":0,"elasticWebAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false,"webJobsEnabled":false},"functionAppConfig":null,"daprConfig":null,"deploymentId":"app-34ois7zchicre__81dd","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","vnetBackupRestoreEnabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"66B450D1C01C0DBF95CCAFD98F73407E29EE110F23977426F6B4A678E0B25E27","kind":"app,linux","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"20.119.144.23","possibleInboundIpAddresses":"20.119.144.23","inboundIpv6Address":"2603:1030:40c:7::21","possibleInboundIpv6Addresses":"2603:1030:40c:7::21","ftpUsername":"app-34ois7zchicre__staging\\$app-34ois7zchicre__staging","ftpsHostName":"ftps://waws-prod-bn1-275.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"52.184.247.113,52.184.242.76,52.184.242.77,52.184.243.30,52.184.243.31,52.184.243.97,52.251.8.110,52.184.243.24,52.184.243.172,52.184.244.18,52.184.244.148,52.184.244.197,20.119.144.23","possibleOutboundIpAddresses":"52.184.247.113,52.184.242.76,52.184.242.77,52.184.243.30,52.184.243.31,52.184.243.97,52.251.8.110,52.184.243.24,52.184.243.172,52.184.244.18,52.184.244.148,52.184.244.197,52.184.245.77,52.184.245.167,52.184.245.171,52.184.245.175,52.184.245.248,52.184.246.8,52.184.246.96,52.184.246.117,52.184.246.179,52.184.246.181,52.184.247.52,52.184.247.84,52.184.247.114,52.184.247.115,52.184.247.206,52.184.247.207,52.184.243.16,52.184.243.17,20.119.144.23","outboundIpv6Addresses":"2603:1030:403:15::1de,2603:1030:403:15::1df,2603:1030:403:5::258,2603:1030:403:7::11e,2603:1030:403:13::1b4,2603:1030:403:5::259,2603:1030:403:13::1a4,2603:1030:403:5::162,2603:1030:403:12::1f6,2603:1030:403:7::203,2603:1030:403:5::24a,2603:1030:403:15::5f3,2603:1030:40c:7::21,2603:10e1:100:2::1477:9017","possibleOutboundIpv6Addresses":"2603:1030:403:15::1de,2603:1030:403:15::1df,2603:1030:403:5::258,2603:1030:403:7::11e,2603:1030:403:13::1b4,2603:1030:403:5::259,2603:1030:403:13::1a4,2603:1030:403:5::162,2603:1030:403:12::1f6,2603:1030:403:7::203,2603:1030:403:5::24a,2603:1030:403:15::5f3,2603:1030:403:6::266,2603:1030:403:7::207,2603:1030:403:6::267,2603:1030:403:13::1b1,2603:1030:403:12::1f7,2603:1030:403:13::1b2,2603:1030:403:17::1a7,2603:1030:403:11::20e,2603:1030:403:5::257,2603:1030:403:13::1b3,2603:1030:403:16::1b0,2603:1030:403:10::2cd,2603:1030:403:3::847,2603:1030:403:7::201,2603:1030:403:7::202,2603:1030:403:11::20f,2603:1030:403:11::210,2603:1030:403:17::1a8,2603:1030:40c:7::21,2603:10e1:100:2::1477:9017","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bn1-275","cloningInfo":null,"hostingEnvironmentId":null,"tags":{"azd-env-name":"azdtest-lb168ee"},"resourceGroup":"rg-azdtest-lb168ee","defaultHostName":"app-34ois7zchicre-staging.azurewebsites.net","slotSwapStatus":null,"httpsOnly":true,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null},"identity":{"type":"SystemAssigned","tenantId":"70a036f6-8e4d-4615-bad6-149c02e7720d","principalId":"56e06bc3-561c-44d5-bd7f-627c0b8189df"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"1DC917FD3EC6CF5"'
            X-Ms-Original-Request-Ids:
                - 00389c5f-0e7b-4a26-a427-61f3a2e28182
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 296.886857ms
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/sites/app-34ois7zchicre?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-a[...]
    - id: 15
      request:
        host: app-34ois7zchicre.scm.azurewebsites.net
        body: !!binary |
            UEsDBBQACAAIAM0DPlwAAAAAAAAAAAAAAAAJAAkAZGF0YS5qc29uVVQFAAGj+3tpquZSUF
            DKTS0uTkxPVbJSUPJIzcnJV0grys9VcKwqLUpVcCwoUAhOLSrLTE5VVNIBqS5LLSrOzM8D
            qTbUM9AzUOKq5QIEAAD//1BLBwg582GSSQAAAEcAAABQSwMEFAAIAAgAzQM+XAAAAAAAAA
            AAAAAAABAACQByZXF1aXJlbWVudHMudHh0VVQFAAGj+3tpSstJLM7mSi/Ny0zOL8rjAgQA
            AP//UEsHCOq+kCwVAAAADwAAAFBLAwQUAAgACADNAz5cAAAAA[...]
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/sites/app-34ois7zchicre/deploymentStatus/35aee243-1c5f-4161-bb44-bc0b617809bf?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/sites/app-34ois7zchicre/deploymentStatus/35aee243-1c5f-4161-bb44-bc0b617809bf","name":"35aee243-1c5f-4161-bb44-bc0b617809bf","type":"Microsoft.Web/sites/deploymentStatus","location":"East US 2","tags":{"azd-env-name":"azdtest-lb168ee","azd-service-name":"api"},"properties":{"deploymentId":"35aee243-1c5f-4161-bb44-bc0b617809bf","status":"BuildInProgress","numberOfInstancesInProgress":0,"numberOfInstancesSuccessful":0,"numberOfInstancesFailed":0,"failedInstancesLogs":null,"errors":null}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"1DC917FC4F67835"'
            Location:
                - https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/sites/app-34ois7zchicre/deploymentStatus/35aee243-1c5f-4161-bb44-bc0b617809bf?api-version=2023-01-01&t=639053301471105263&c=MIIHhzCCBm-gAwIBAgITHgfeRdjJjlRVhUe_NgAAB95F2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjYwMTE1MDk0NTI1WhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25p[...]
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-lb168ee/providers/Microsoft.Web/sites/app-34ois7zchicre/deploymentStatus/35aee243-1c5f-4161-bb44-bc0b617809bf?api-version=2023-01-01&t=639053301471105263&c=MIIHhzCCBm-gAwIBAgITHgfeRdjJjlRVhUe_NgAAB95F2DANBgkq[...]
    - id: 18
      request:
[...]
