---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2022-12-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]},"availabilityZoneMappings":[{"logicalZone":"1","physicalZone":"eastus-az3"},{"logicalZone":"2","physicalZone":"eastus-az1"},{"logicalZone":"3","physicalZone":"eastus-az2"}]},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus2","name":"westus2","type":"Region","displayName":"West US 2","regionalDisplayName":"(US) West US 2","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-119.852","latitude":"47.233","physicalLocation":"Washington","pairedRegion":[{"na[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-lccd6f9%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 84.971909ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct48702-HostedResources-32E47270","name":"dataproduct48702-HostedResources-32E47270","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg73273/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct48702","tags":{},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct72706-HostedResources-6BE50C22","name":"dataproduct72706-HostedResources-6BE50C22","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg39104/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct72706","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9c[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=xZHLboMwEEW%2fBa8TCUMjVexC7FRpO3ZtxlTpLkppxEMgtUSAI%2f69phHbrCpleXXPYs7cCzk2dZvX50ObNzU2ZVb%2fkOhC3nmCJglIVJ%2brakH4eopTUWd9%2b3b4bvOJf8kGEhHqPXoC9z3Y%2fZIs%2fgjddHNHw8DT5TYGduqU%2bWBg1INgcaxZxZSfbsFwX2DMFKYbgZ9fmgr5mvidZMZxykJxpMJyK9luEIXq5IYq9PtnRSuu0xiQVkKblZFF%2bgQIVDI1gFUUGFiJYAWDUCBfknHWcFb38ihKd986ALtbwU0PFTgP9wPlC%2bt4NINgJyrRfdh5XNcJ53Wu8X5W%2f7LOOP4C","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 6.963065454s
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=xZHLboMwEEW%2FBa8TCUMjVexC7FRpO3ZtxlTpLkppxEMgtUSAI%2F69phHbrCpleXXPYs7cCzk2dZvX50ObNzU2ZVb%2FkOhC3nmCJglIVJ%2BrakH4eopTUWd9%2B3b4bvOJf8kGEhHqPXoC9z3Y%2FZIs%2FgjddHNHw8DT5TYGduqU%2BWBg1INgcaxZxZSfbsFwX2DMFKYbgZ9fmgr5mvidZMZxykJxpMJyK9luEIXq5IYq9PtnRSuu0xiQVkKblZFF%2BgQIVDI1gFUUGFiJYAWDUCBfknHWcFb38ihKd986ALtbwU0PFTgP9wPlC%2Bt4NINgJyrRfdh5XNcJ53Wu8X5W%2F7LOOP4C&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 990.271683ms
    - id: 5
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-lccd6f9","reference":null},"location":{"value":"eastus2","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.37.4.10188","templateHash":"4746579497706122923"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"deleteAfterTime":{"type":"string","defaultValue":"[dateTimeAdd(utcNow(''o''), ''PT1H'')]","metadata":{"description":"A time to mark on created resource groups, so they can be cleaned up via an automated process."}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]","DeleteAfter":"[parameters(''deleteAfterTime'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.37.4.10188","templateHash":"10372708171593853957"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[variables(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[variables(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2024-03-01","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"workloadProfiles":[{"workloadProfileType":"Consumption","name":"consumption"}],"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[variables(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.App/containerApps","apiVersion":"2024-03-01","name":"[format(''app-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","identity":{"type":"UserAssigned","userAssignedIdentities":{"[format(''{0}'', resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))))]":{}}},"properties":{"environmentId":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","configuration":{"activeRevisionsMode":"Single","ingress":{"external":true,"targetPort":8080,"transport":"http","allowInsecure":false},"registries":[{"server":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]","identity":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"}]},"template":{"containers":[{"image":"nginx","name":"app"}],"scale":{"minReplicas":1}}},"tags":"[union(variables(''tags''), createObject(''azd-service-name'', ''app''))]","dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[format(''https://{0}/'', reference(resourceId(''Microsoft.App/containerApps'', format(''app-{0}'', variables(''resourceToken''))), ''2024-03-01'').configuration.ingress.fqdn)]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.WEBSITE_URL.value]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.AZURE_CONTAINER_REGISTRY_ENDPOINT.value]"}}}},"tags":{"azd-env-name":"azdtest-lccd6f9","azd-layer-name":"","azd-provision-param-hash":"f11096e5b60890195fe98da9dfc0b73b94e7eec1aca1490c73bd166fe15a3f1a"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lccd6f9-1759084386/validate?api-version=2021-04-01
        method: POST
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lccd6f9-1759084386","name":"azdtest-lccd6f9-1759084386","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-lccd6f9","azd-layer-name":"","azd-provision-param-hash":"f11096e5b60890195fe98da9dfc0b73b94e7eec1aca1490c73bd166fe15a3f1a"},"properties":{"templateHash":"4746579497706122923","parameters":{"environmentName":{"type":"String","value":"azdtest-lccd6f9"},"location":{"type":"String","value":"eastus2"},"deleteAfterTime":{"type":"String","value":"2025-09-28T19:33:22Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-09-28T18:33:23.0170988Z","duration":"PT0S","correlationId":"cbf16ad61469683b64ebb1e41c9cfe6f","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lccd6f9","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-lccd6f9"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lccd6f9/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"}],"validatedResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lccd6f9"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lccd6f9/providers/Microsoft.Resources/deployments/resources"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lccd6f9/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-eoqld2hrnlscs"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l[...]
[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lccd6f9-1759084386/operationStatuses/08584425224807163359?api-version=2021-04-01&t=638946812076991090&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lccd6f9-1759084386?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/dep[...]
[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lccd6f9/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27app%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lccd6f9/providers/Microsoft.App/containerApps/app-eoqld2hrnlscs","name":"app-eoqld2hrnlscs","type":"Microsoft.App/containerApps","kind":"","managedBy":"","location":"eastus2","identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-lccd6f9/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-eoqld2hrnlscs":{"principalId":"bc7a12a8-b138-490f-83ca-ce50b518d3ae","clientId":"a17acaae-ea39-4d59-997b-29807e6728e0"}}},"tags":{"azd-env-name":"azdtest-lccd6f9","azd-service-name":"app"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 321.927414ms
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lccd6f9/providers/Microsoft.ContainerRegistry/registries/acreoqld2hrnlscs/listBuildSourceUploadUrl?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"relativePath":"tasks-source/202509280000/0454aeb0e53b5cf072abded626429fc2.tar.gz","uploadUrl":"https://acrtaskprodeus2049.blob.core.windows.net/container-186b3951df1f40c1aab8414bf026b091/tasks-source/202509280000/0454aeb0e53b5cf072abded626429fc2.tar.gz?se=2025-09-28T19%3A36%3A31Z\u0026sig=SANITIZED\u0026ske=2025-10-05T18%3A36%3A32Z\u0026skoid=54ea2226-b787-4507-912e-75de6df49d1d\u0026sks=b\u0026skt=2025-09-28T18%3A31%3A32Z\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skv=2024-11-04\u0026sp=cw\u0026sr=b\u0026sv=2024-11-04"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 341.067607ms
    - id: 13
      request:
        host: acrtaskprodeus2049.blob.core.windows.net
        body: !!binary |
            H4sIAAAAAAAA/+yVUWvbMBDH8+xPcfjFLnjy2Y7tkpK9JB0do6Skg22MQUV8y9y6kiPJIe
            vodx+KmzaUjbwsCQP/XoTuLnf/Q/zjsZzdkfpeVtTbG4iIWb9vzyhPcftcE6VxL0oxy+I8
            T21d1E+yuAe4P0kvNNpw1UNclkv+sGj+Wrcr/7TL8/mf8G46uQQhCxrEseN8mkw/jN9PIe
            R17YwmV1+g5rM7Pid2q6XYCpeioBW71W3o/PPV5PocEkR0nNHlGL66tqUbgLspdL8de9OO
            P7F5n33O2OX/fpK89j8meef/QzCTQhv4YUwNQ1C0aEpFvmfv3smZ47RpTWpJCobrOjZTxA
            1dr2O+r2gRgCJ9AsO38MsBAHtj2nDT6JEsCIYQI569ZMhcEC9I+d5ICkPCvPn4syYvAM/Q
            yoR1xUthh29+QKLwvQuqKhnADX8obpjNPlp5rTBWldqQ8E/xFAPwV1tSrH5ZEavk3Pdaya
            AaIUoxB97uPQjDKM4ZMmTRwLYIn9of+2kOwvb/+75m7PI/pulr/2cZdv4/BK1NXMHvyR2A
            y+vaDdrQPS+FDT1/wZ3HY4vt6Ojo6Phn/A4AAP//sGk6fQAQAAA=
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/octet-stream
            X-Ms-Blob-Type:
                - BlockBlob
            X-Ms-Version:
                - "2025-11-05"
        url: https://acrtaskprodeus2049.blob.core.windows.net:443/container-186b3951df1f40c1aab8414bf026b091/tasks-source/202509280000/0454aeb0e53b5cf072abded626429fc2.tar.gz?se=2025-09-28T19%3A36%3A31Z&sig=SANITIZED&ske=2025-10-05T18%3A36%3A32Z&skoid=54ea2226-b787-4507-912e-75de6df49d1d&sks=b&skt=2025-09-28T18%3A31%3A32Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2024-11-04&sp=cw&sr=b&sv=2024-11-04
        method: PUT
      response:
        body: ""
        headers:
            Content-Md5:
                - IfDvFNvgZ47EuXYYnFpdjw==
            Etag:
                - '"0x8DDFEBDF257FD20"'
            Last-Modified:
                - Sun, 28 Sep 2025 18:36:32 GMT
            X-Ms-Content-Crc64:
                - gvM8myfF+ZI=
            X-Ms-Request-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2025-11-05"
        status: 201 Created
        code: 201
        duration: 376.113813ms
    - id: 14
      request:
        host: management.azure.com
        body: '{"dockerFilePath":"Dockerfile","imageNames":["acreoqld2hrnlscs.azurecr.io/webapp/app-azdtest-lccd6f9:azd-deploy-1759084386"],"isPushEnabled":true,"platform":{"architecture":"amd64","os":"Linux"},"sourceLocation":"tasks-source/202509280000/0454aeb0e53b5cf072abded626429fc2.tar.gz","type":"DockerBuildRequest"}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lccd6f9/providers/Microsoft.ContainerRegistry/registries/acreoqld2hrnlscs/scheduleRun?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ch1","status":"Queued","lastUpdatedTime":"2025-09-28T18:36:32+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lccd6f9/providers/Microsoft.ContainerRegistry/registries/acreoqld2hrnlscs/runs/ch1","name":"ch1","systemData":{"lastModifiedBy":"vivazqu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-09-28T18:36:32.6106717+00:00"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 541.447796ms
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lccd6f9/providers/Microsoft.ContainerRegistry/registries/acreoqld2hrnlscs/runs/ch1/listLogSasUrl?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"logLink":"https://acrtaskprodeus2049.blob.core.windows.net/container-186b3951df1f40c1aab8414bf026b091/logs/ch1/rawtext.log?se=2025-09-28T19%3A46%3A33Z\u0026sig=SANITIZED\u0026ske=2025-10-05T18%3A36%3A32Z\u0026skoid=54ea2226-b787-4507-912e-75de6df49d1d\u0026sks=b\u0026skt=2025-09-28T18%3A31%3A32Z\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skv=2024-11-04\u0026sp=r\u0026sr=b\u0026sv=2024-11-04"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 166.941174ms
    - id: 16
      request:
        host: acrtaskprodeus2049.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Version:
                - "2025-11-05"
        url: https://acrtaskprodeus2049.blob.core.windows.net:443/container-186b3951df1f40c1aab8414bf026b091/logs/ch1/rawtext.log?se=2025-09-28T19%3A46%3A33Z&sig=SANITIZED&ske=2025-10-05T18%3A36%3A32Z&skoid=54ea2226-b787-4507-912e-75de6df49d1d&sks=b&skt=2025-09-28T18%3A31%3A32Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2024-11-04&sp=r&sr=b&sv=2024-11-04
        method: HEAD
      response:
            - chunked
        body: ""
        headers:
            X-Ms-Error-Code:
                - BlobNotFound
            X-Ms-Version:
                - "2025-11-05"
        status: 404 The specified blob does not exist.
        code: 404
        duration: 78.091867ms
    - id: 17
      request:
        host: acrtaskprodeus2049.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Version:
                - "2025-11-05"
        url: https://acrtaskprodeus2049.blob.core.windows.net:443/container-186b3951df1f40c1aab8414bf026b091/logs/ch1/rawtext.log?se=2025-09-28T19%3A46%3A33Z&sig=SANITIZED&ske=2025-10-05T18%3A36%3A32Z&skoid=54ea2226-b787-4507-912e-75de6df49d1d&sks=b&skt=2025-09-28T18%3A31%3A32Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2024-11-04&sp=r&sr=b&sv=2024-11-04
        method: HEAD
      response:
        body: ""
        headers:
            Content-Disposition:
                - ""
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DDFEBDF48ED588"'
            Last-Modified:
                - Sun, 28 Sep 2025 18:36:36 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "3"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Sun, 28 Sep 2025 18:36:33 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2025-11-05"
        status: 200 OK
        code: 200
        duration: 69.531815ms
    - id: 18
      request:
        host: acrtaskprodeus2049.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Range:
                - bytes=0-789
            X-Ms-Version:
                - "2025-11-05"
        url: https://acrtaskprodeus2049.blob.core.windows.net:443/container-186b3951df1f40c1aab8414bf026b091/logs/ch1/rawtext.log?se=2025-09-28T19%3A46%3A33Z&sig=SANITIZED&ske=2025-10-05T18%3A36%3A32Z&skoid=54ea2226-b787-4507-912e-75de6df49d1d&sks=b&skt=2025-09-28T18%3A31%3A32Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2024-11-04&sp=r&sr=b&sv=2024-11-04
        method: GET
      response:
        body: "2025/09/28 18:36:33 Downloading source code...\r\n2025/09/28 18:36:34 Finished downloading source code\r\n2025/09/28 18:36:34 Using acb_vol_5cd3e6c5-9ecd-43bc-b002-04ec61c77e04 as the home volume\n2025/09/28 18:36:34 Setting up Docker configuration...\n2025/09/28 18:36:34 Successfully set up Docker configuration\n2025/09/28 18:36:34 Logging in to registry: acreoqld2hrnlscs.azurecr.io\n2025/09/28 18:36:35 Successfully logged into acreoqld2hrnlscs.azurecr.io\n2025/09/28 18:36:35 Executing step ID: build. Timeout(sec): 28800, Working directory: '', Network: ''\n2025/09/28 18:36:35 Scanning for dependencies...\n2025/09/28 18:36:35 Successfully scanned dependencies\n2025/09/28 18:36:35 Launching container with name: build\nSending build context to Docker daemon  4.096kB\r\r\nStep 1/6 : FROM node:22\r\n"
        headers:
            Content-Disposition:
                - ""
            Content-Range:
                - bytes 0-789/790
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DDFEBDF48ED588"'
            Last-Modified:
                - Sun, 28 Sep 2025 18:36:36 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "3"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Sun, 28 Sep 2025 18:36:33 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2025-11-05"
        status: 206 Partial Content
        code: 206
        duration: 71.130305ms
[...]
    - id: 95
      request:
        host: acrtaskprodeus2049.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
[...]
