---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resources?%24filter=resourceType+eq+%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-hemarina-test-gha/providers/Microsoft.KeyVault/vaults/kv-d7e2iil2mbz6g","name":"kv-d7e2iil2mbz6g","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{"azd-env-name":"hemarina-test-gha"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/cm0ddf918b146443b/providers/Microsoft.KeyVault/vaults/kv-chriss23910047646422","name":"kv-chriss23910047646422","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-vivazqu-with-secrets/providers/Microsoft.KeyVault/vaults/eeeff33eed","name":"eeeff33eed","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/mario-typespec-e2e-demo/providers/Microsoft.KeyVault/vaults/tsp-e2edemo-keyvault","name":"tsp-e2edemo-keyvault","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{" Owners":"marioguerra","DoNotDelete":""}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/jeffreychen/providers/Microsoft.KeyVault/vaults/jcakvtest","name":"jcakvtest","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-rajeshkamal-6661_ai/providers/Microsoft.KeyVault/vaults/kv-rajeshka371125419172","name":"kv-rajeshka371125419172","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscription[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2021-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/southcentralus","name":"southcentralus","type":"Region","displayName":"South Central US","regionalDisplayName":"(US) South Central US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-98.5","latitude":"29.4167","physicalLocation":"Texas","pairedRegion":[{"name":"northcentralus",[...]
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct48702-HostedResources-32E47270","name":"dataproduct48702-HostedResources-32E47270","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg73273/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct48702","tags":{},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct72706-HostedResources-6BE50C22","name":"dataproduct72706-HostedResources-6BE50C22","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg39104/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct72706","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9c[...]
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"eastus2","tags":{}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/azdtest-l415a1d-rg?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azdtest-l415a1d-rg","name":"azdtest-l415a1d-rg","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 201 Created
        code: 201
        duration: 901.16486ms
    - id: 4
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"enableRbacAuthorization":true,"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azdtest-l415a1d-rg/providers/Microsoft.KeyVault/vaults/azdtest-l415a1d-kva?api-version=2023-07-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azdtest-l415a1d-rg/providers/Microsoft.KeyVault/vaults/azdtest-l415a1d-kva","name":"azdtest-l415a1d-kva","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"systemData":{"createdBy":"vivazqu@microsoft.com","createdByType":"User","createdAt":"2025-01-25T02:23:00.046Z","lastModifiedBy":"vivazqu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-01-25T02:23:00.046Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":true,"vaultUri":"https://azdtest-l415a1d-kva.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 3.258057201s
[...]
    - id: 7
      request:
        host: management.azure.com
        body: '{"properties":{"principalId":"62661785-adcf-4117-b9d0-22b3aa2b4ebf","roleDefinitionId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azdtest-l415a1d-rg/providers/Microsoft.KeyVault/vaults/azdtest-l415a1d-kva/providers/Microsoft.Authorization/roleAssignments/4b07af59-ec30-42e7-9fc3-7b2c1760866e?api-version=2022-04-01
        method: PUT
      response:
        body: '{"properties":{"roleDefinitionId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483","principalId":"62661785-adcf-4117-b9d0-22b3aa2b4ebf","principalType":"User","scope":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azdtest-l415a1d-rg/providers/Microsoft.KeyVault/vaults/azdtest-l415a1d-kva","condition":null,"conditionVersion":null,"createdOn":"2025-01-25T02:23:33.0861421Z","updatedOn":"2025-01-25T02:23:33.2931433Z","createdBy":null,"updatedBy":"62661785-adcf-4117-b9d0-22b3aa2b4ebf","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azdtest-l415a1d-rg/providers/Microsoft.KeyVault/vaults/azdtest-l415a1d-kva/providers/Microsoft.Authorization/roleAssignments/4b07af59-ec30-42e7-9fc3-7b2c1760866e","type":"Microsoft.Authorization/roleAssignments","name":"4b07af59-ec30-42e7-9fc3-7b2c1760866e"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 201 Created
        code: 201
        duration: 3.746830906s
    - id: 8
      request:
        host: azdtest-l415a1d-kva.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://azdtest-l415a1d-kva.vault.azure.net:443/secrets/azdtest-l415a1d-kvs?api-version=7.4
        method: PUT
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 418.552531ms
    - id: 9
      request:
        host: azdtest-l415a1d-kva.vault.azure.net
        body: '{"value":"THIS IS THE SECRET VALUE"}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://azdtest-l415a1d-kva.vault.azure.net:443/secrets/azdtest-l415a1d-kvs?api-version=7.4
        method: PUT
      response:
        body: '{"error":{"code":"Forbidden","message":"Caller is not authorized to perform action on resource.\r\nIf role assignments, deny assignments or role definitions were changed recently, please observe propagation time.\r\nCaller: appid=04b07795-8ddb-461a-bbee-02f9e1bf7b46;oid=62661785-adcf-4117-b9d0-22b3aa2b4ebf;iss=https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/\r\nAction: ''Microsoft.KeyVault/vaults/secrets/setSecret/action''\r\nResource: ''/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/azdtest-l415a1d-rg/providers/microsoft.keyvault/vaults/azdtest-l415a1d-kva/secrets/azdtest-l415a1d-kvs''\r\nAssignment: (not found)\r\nDenyAssignmentId: null\r\nDecisionReason: null \r\nVault: azdtest-l415a1d-kva;location=eastus2\r\n","innererror":{"code":"ForbiddenByRbac"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 403 Forbidden
        code: 403
        duration: 187.286811ms
[...]
    - id: 13
      request:
        host: azdtest-l415a1d-kva.vault.azure.net
        body: '{"value":"THIS IS THE SECRET VALUE"}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://azdtest-l415a1d-kva.vault.azure.net:443/secrets/azdtest-l415a1d-kvs?api-version=7.4
        method: PUT
      response:
        body: '{"value":"THIS IS THE SECRET VALUE","id":"https://azdtest-l415a1d-kva.vault.azure.net/secrets/azdtest-l415a1d-kvs/2c0c7d0ae553496ea7be8a08c48357c7","attributes":{"enabled":true,"created":1737771827,"updated":1737771827,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 414.605247ms
    - id: 14
      request:
        host: azdtest-l415a1d-kva.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://azdtest-l415a1d-kva.vault.azure.net:443/secrets/azdtest-l415a1d-kvs/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 80.749034ms
[...]
    - id: 19
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 492.965093ms
    - id: 20
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-l415a1d"},"location":{"value":"eastus2"},"secretParam":{"value":"THIS IS THE SECRET VALUE"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.33.13.18514","templateHash":"7230513710032888086"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"secretParam":{"type":"securestring"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"outputParam":"[format(''SecretParam:{0}'', parameters(''secretParam''))]"},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"}],"outputs":{"BICEP_OUTPUT":{"type":"string","value":"[variables(''outputParam'')]"}}}},"tags":{"azd-env-name":"azdtest-l415a1d","azd-provision-param-hash":"f2ff9dff54afda829e81796efd77d8b236f30be605d598bb30e5e78d7411ab51"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-l415a1d-1737771769?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-l415a1d-1737771769","name":"azdtest-l415a1d-1737771769","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-l415a1d","azd-provision-param-hash":"f2ff9dff54afda829e81796efd77d8b236f30be605d598bb30e5e78d7411ab51"},"properties":{"templateHash":"7230513710032888086","parameters":{"environmentName":{"type":"String","value":"azdtest-l415a1d"},"location":{"type":"String","value":"eastus2"},"secretParam":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2025-01-25T02:23:58.5025027Z","duration":"PT0.0006268S","correlationId":"983cefcee051f8a08a9fd3b92a1d5620","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]}]}],"dependencies":[]}}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-l415a1d-1737771769/operationStatuses/08584638350502595779?api-version=2021-04-01
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Deployment-Engine-Version:
                - 1.224.0
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 201 Created
        code: 201
        duration: 5.090803727s
    - id: 21
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-l415a1d-1737771769/operationStatuses/08584638350502595779?api-version=2021-04-01
        method: GET
      response:
        body: '{"status":"Succeeded"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 206.985491ms
    - id: 22
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-l415a1d-1737771769?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-l415a1d-1737771769","name":"azdtest-l415a1d-1737771769","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-l415a1d","azd-provision-param-hash":"f2ff9dff54afda829e81796efd77d8b236f30be605d598bb30e5e78d7411ab51"},"properties":{"templateHash":"7230513710032888086","parameters":{"environmentName":{"type":"String","value":"azdtest-l415a1d"},"location":{"type":"String","value":"eastus2"},"secretParam":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-01-25T02:24:04.8340071Z","duration":"PT6.3321312S","correlationId":"983cefcee051f8a08a9fd3b92a1d5620","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]}]}],"dependencies":[],"outputs":{"biceP_OUTPUT":{"type":"String","value":"SecretParam:THIS IS THE SECRET VALUE"}},"outputResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l415a1d"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 260.268685ms
    - id: 23
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-l415a1d%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l415a1d","name":"rg-azdtest-l415a1d","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-l415a1d"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1098"
        status: 200 OK
        code: 200
        duration: 67.403767ms
[...]
    - id: 27
      request:
        host: azdtest-l415a1d-kva.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://azdtest-l415a1d-kva.vault.azure.net:443/secrets/azdtest-l415a1d-kvs2?api-version=7.4
        method: PUT
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 76.352049ms
[...]
    - id: 29
      request:
        host: azdtest-l415a1d-kva.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://azdtest-l415a1d-kva.vault.azure.net:443/secrets/azdtest-l415a1d-kvs2/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 81.508539ms
[...]
    - id: 35
      request:
        host: management.azure.com
        body: '{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.33.13.18514","templateHash":"7230513710032888086"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"secretParam":{"type":"securestring"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"outputParam":"[format(''SecretParam:{0}'', parameters(''secretParam''))]"},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"}],"outputs":{"BICEP_OUTPUT":{"type":"string","value":"[variables(''outputParam'')]"}}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/providers/Microsoft.Resources/calculateTemplateHash?api-version=2021-04-01
        method: POST
      response:
        body: '{"minifiedTemplate":"{\"$SCHEMA\":\"HTTPS://SCHEMA.MANAGEMENT.AZURE.COM/SCHEMAS/2018-05-01/SUBSCRIPTIONDEPLOYMENTTEMPLATE.JSON#\",\"CONTENTVERSION\":\"1.0.0.0\",\"PARAMETERS\":{\"ENVIRONMENTNAME\":{\"MINLENGTH\":1,\"MAXLENGTH\":64,\"TYPE\":\"STRING\",\"METADATA\":{\"DESCRIPTION\":\"NAME OF THE THE ENVIRONMENT WHICH IS USED TO GENERATE A SHORT UNIQUE HASH USED IN ALL RESOURCES.\"}},\"LOCATION\":{\"TYPE\":\"STRING\",\"METADATA\":{\"DESCRIPTION\":\"PRIMARY LOCATION FOR ALL RESOURCES\"}},\"SECRETPARAM\":{\"TYPE\":\"SECURESTRING\"}},\"VARIABLES\":{\"TAGS\":{\"AZD-ENV-NAME\":\"[PARAMETERS(''ENVIRONMENTNAME'')]\"},\"OUTPUTPARAM\":\"[FORMAT(''SECRETPARAM:{0}'', PARAMETERS(''SECRETPARAM''))]\"},\"RESOURCES\":[{\"TYPE\":\"MICROSOFT.RESOURCES/RESOURCEGROUPS\",\"APIVERSION\":\"2021-04-01\",\"NAME\":\"[FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME''))]\",\"LOCATION\":\"[PARAMETERS(''LOCATION'')]\",\"TAGS\":\"[VARIABLES(''TAGS'')]\"}],\"OUTPUTS\":{\"BICEP_OUTPUT\":{\"TYPE\":\"STRING\",\"VALUE\":\"[VARIABLES(''OUTPUTPARAM'')]\"}},\"METADATA\":{\"_GENERATOR\":{\"NAME\":\"BICEP\",\"VERSION\":\"0.33.13.18514\",\"TEMPLATEHASH\":\"7230513710032888086\"}}}","templateHash":"7230513710032888086"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Tenant-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 41.690319ms
[...]
    - id: 43
      request:
        host: azdtest-l415a1d-kva.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://azdtest-l415a1d-kva.vault.azure.net:443/secrets?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 77.289453ms
    - id: 44
      request:
        host: azdtest-l415a1d-kva.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://azdtest-l415a1d-kva.vault.azure.net:443/secrets?api-version=7.4
        method: GET
      response:
        body: '{"value":[{"id":"https://azdtest-l415a1d-kva.vault.azure.net/secrets/azdtest-l415a1d-kvs","attributes":{"enabled":true,"created":1737771827,"updated":1737771827,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"id":"https://azdtest-l415a1d-kva.vault.azure.net/secrets/azdtest-l415a1d-kvs2","attributes":{"enabled":true,"created":1737771871,"updated":1737771871,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}],"nextLink":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 106.080097ms
[...]
    - id: 57
      request:
        host: azdtest-l415a1d-kva.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://azdtest-l415a1d-kva.vault.azure.net:443/secrets/azdtest-l415a1d-kvs/?api-version=7.4
        method: GET
      response:
        body: '{"value":"THIS IS THE SECRET VALUE","id":"https://azdtest-l415a1d-kva.vault.azure.net/secrets/azdtest-l415a1d-kvs/2c0c7d0ae553496ea7be8a08c48357c7","attributes":{"enabled":true,"created":1737771827,"updated":1737771827,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 94.949025ms
---
env_name: azdtest-l415a1d
time: "1737771769"
