---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resources?%24filter=resourceType+eq+%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/scaddie/providers/Microsoft.KeyVault/vaults/kvScottTestApp1","name":"kvScottTestApp1","type":"Microsoft.KeyVault/vaults","location":"northcentralus","tags":{}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-hemarina-test-gha/providers/Microsoft.KeyVault/vaults/kv-d7e2iil2mbz6g","name":"kv-d7e2iil2mbz6g","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{"azd-env-name":"hemarina-test-gha"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/vivazqu-testing-azd-secret-env/providers/Microsoft.KeyVault/vaults/keyvault-account","name":"keyvault-account","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/cm0ddf918b146443b/providers/Microsoft.KeyVault/vaults/kv-chriss23910047646422","name":"kv-chriss23910047646422","type":"Microsoft.KeyVault/vaults","loca[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2021-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/southcentralus","name":"southcentralus","type":"Region","displayName":"South Central US","regionalDisplayName":"(US) South Central US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-98.5","latitude":"29.4167","physicalLocation":"Texas","pairedRegion":[{"name":"northcentralus",[...]
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct48702-HostedResources-32E47270","name":"dataproduct48702-HostedResources-32E47270","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg73273/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct48702","tags":{},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct72706-HostedResources-6BE50C22","name":"dataproduct72706-HostedResources-6BE50C22","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg39104/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct72706","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9c[...]
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"eastus2","tags":{}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/azdtest-lbaeec6-rg?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azdtest-lbaeec6-rg","name":"azdtest-lbaeec6-rg","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 201 Created
        code: 201
        duration: 3.840292602s
    - id: 4
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"enableRbacAuthorization":true,"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azdtest-lbaeec6-rg/providers/Microsoft.KeyVault/vaults/azdtest-lbaeec6-kva?api-version=2023-07-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azdtest-lbaeec6-rg/providers/Microsoft.KeyVault/vaults/azdtest-lbaeec6-kva","name":"azdtest-lbaeec6-kva","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"systemData":{"createdBy":"vivazqu@microsoft.com","createdByType":"User","createdAt":"2025-01-23T05:47:22.299Z","lastModifiedBy":"vivazqu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-01-23T05:47:22.299Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":true,"vaultUri":"https://azdtest-lbaeec6-kva.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 3.475471315s
[...]
    - id: 7
      request:
        host: management.azure.com
        body: '{"properties":{"principalId":"62661785-adcf-4117-b9d0-22b3aa2b4ebf","roleDefinitionId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azdtest-lbaeec6-rg/providers/Microsoft.KeyVault/vaults/azdtest-lbaeec6-kva/providers/Microsoft.Authorization/roleAssignments/e3a866f2-e948-46fc-aaad-b1202531c504?api-version=2022-04-01
        method: PUT
      response:
        body: '{"properties":{"roleDefinitionId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483","principalId":"62661785-adcf-4117-b9d0-22b3aa2b4ebf","principalType":"User","scope":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azdtest-lbaeec6-rg/providers/Microsoft.KeyVault/vaults/azdtest-lbaeec6-kva","condition":null,"conditionVersion":null,"createdOn":"2025-01-23T05:47:55.9765927Z","updatedOn":"2025-01-23T05:47:56.2065979Z","createdBy":null,"updatedBy":"62661785-adcf-4117-b9d0-22b3aa2b4ebf","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azdtest-lbaeec6-rg/providers/Microsoft.KeyVault/vaults/azdtest-lbaeec6-kva/providers/Microsoft.Authorization/roleAssignments/e3a866f2-e948-46fc-aaad-b1202531c504","type":"Microsoft.Authorization/roleAssignments","name":"e3a866f2-e948-46fc-aaad-b1202531c504"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 201 Created
        code: 201
        duration: 6.507254856s
    - id: 8
      request:
        host: azdtest-lbaeec6-kva.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://azdtest-lbaeec6-kva.vault.azure.net:443/secrets/azdtest-lbaeec6-kvs?api-version=7.4
        method: PUT
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 371.055002ms
    - id: 9
      request:
        host: azdtest-lbaeec6-kva.vault.azure.net
        body: '{"value":"THIS IS THE SECRET VALUE"}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://azdtest-lbaeec6-kva.vault.azure.net:443/secrets/azdtest-lbaeec6-kvs?api-version=7.4
        method: PUT
      response:
        body: '{"value":"THIS IS THE SECRET VALUE","id":"https://azdtest-lbaeec6-kva.vault.azure.net/secrets/azdtest-lbaeec6-kvs/5bc2758020f4459cb06ee40f112482ab","attributes":{"enabled":true,"created":1737611282,"updated":1737611282,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 236.181683ms
    - id: 10
      request:
        host: azdtest-lbaeec6-kva.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://azdtest-lbaeec6-kva.vault.azure.net:443/secrets/azdtest-lbaeec6-kvs/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 85.82064ms
[...]
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 998.610722ms
    - id: 18
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-lbaeec6"},"location":{"value":"eastus2"},"secretParam":{"value":"THIS IS THE SECRET VALUE"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.32.4.45862","templateHash":"9208930884015842103"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"secretParam":{"type":"securestring"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"outputParam":"[format(''SecretParam:{0}'', parameters(''secretParam''))]"},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"}],"outputs":{"BICEP_OUTPUT":{"type":"string","value":"[variables(''outputParam'')]"}}}},"tags":{"azd-env-name":"azdtest-lbaeec6","azd-provision-param-hash":"ebaf128cc364af2bc37431679e4228b8dd9a7a028ce4664bf8805e305fbc7641"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lbaeec6-1737611232?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lbaeec6-1737611232","name":"azdtest-lbaeec6-1737611232","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-lbaeec6","azd-provision-param-hash":"ebaf128cc364af2bc37431679e4228b8dd9a7a028ce4664bf8805e305fbc7641"},"properties":{"templateHash":"9208930884015842103","parameters":{"environmentName":{"type":"String","value":"azdtest-lbaeec6"},"location":{"type":"String","value":"eastus2"},"secretParam":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2025-01-23T05:48:13.2131819Z","duration":"PT0.0005581S","correlationId":"c0b8007888d52dadaf8aa483b29580c0","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]}]}],"dependencies":[]}}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lbaeec6-1737611232/operationStatuses/08584639955943790016?api-version=2021-04-01
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Deployment-Engine-Version:
                - 1.224.0
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 201 Created
        code: 201
        duration: 3.464940329s
    - id: 19
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lbaeec6-1737611232/operationStatuses/08584639955943790016?api-version=2021-04-01
        method: GET
      response:
        body: '{"status":"Succeeded"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 182.481797ms
    - id: 20
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lbaeec6-1737611232?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lbaeec6-1737611232","name":"azdtest-lbaeec6-1737611232","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-lbaeec6","azd-provision-param-hash":"ebaf128cc364af2bc37431679e4228b8dd9a7a028ce4664bf8805e305fbc7641"},"properties":{"templateHash":"9208930884015842103","parameters":{"environmentName":{"type":"String","value":"azdtest-lbaeec6"},"location":{"type":"String","value":"eastus2"},"secretParam":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-01-23T05:48:18.922411Z","duration":"PT5.7097872S","correlationId":"c0b8007888d52dadaf8aa483b29580c0","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]}]}],"dependencies":[],"outputs":{"biceP_OUTPUT":{"type":"String","value":"SecretParam:THIS IS THE SECRET VALUE"}},"outputResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbaeec6"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 175.199986ms
    - id: 21
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-lbaeec6%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbaeec6","name":"rg-azdtest-lbaeec6","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-lbaeec6"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 93.024952ms
[...]
    - id: 24
      request:
        host: azdtest-lbaeec6-kva.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://azdtest-lbaeec6-kva.vault.azure.net:443/secrets/azdtest-lbaeec6-kvs2?api-version=7.4
        method: PUT
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 85.487139ms
[...]
    - id: 26
      request:
        host: azdtest-lbaeec6-kva.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://azdtest-lbaeec6-kva.vault.azure.net:443/secrets/azdtest-lbaeec6-kvs2/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 82.645735ms
[...]
    - id: 34
      request:
        host: management.azure.com
        body: '{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.32.4.45862","templateHash":"9208930884015842103"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"secretParam":{"type":"securestring"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"outputParam":"[format(''SecretParam:{0}'', parameters(''secretParam''))]"},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"}],"outputs":{"BICEP_OUTPUT":{"type":"string","value":"[variables(''outputParam'')]"}}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/providers/Microsoft.Resources/calculateTemplateHash?api-version=2021-04-01
        method: POST
      response:
        body: '{"minifiedTemplate":"{\"$SCHEMA\":\"HTTPS://SCHEMA.MANAGEMENT.AZURE.COM/SCHEMAS/2018-05-01/SUBSCRIPTIONDEPLOYMENTTEMPLATE.JSON#\",\"CONTENTVERSION\":\"1.0.0.0\",\"PARAMETERS\":{\"ENVIRONMENTNAME\":{\"MINLENGTH\":1,\"MAXLENGTH\":64,\"TYPE\":\"STRING\",\"METADATA\":{\"DESCRIPTION\":\"NAME OF THE THE ENVIRONMENT WHICH IS USED TO GENERATE A SHORT UNIQUE HASH USED IN ALL RESOURCES.\"}},\"LOCATION\":{\"TYPE\":\"STRING\",\"METADATA\":{\"DESCRIPTION\":\"PRIMARY LOCATION FOR ALL RESOURCES\"}},\"SECRETPARAM\":{\"TYPE\":\"SECURESTRING\"}},\"VARIABLES\":{\"TAGS\":{\"AZD-ENV-NAME\":\"[PARAMETERS(''ENVIRONMENTNAME'')]\"},\"OUTPUTPARAM\":\"[FORMAT(''SECRETPARAM:{0}'', PARAMETERS(''SECRETPARAM''))]\"},\"RESOURCES\":[{\"TYPE\":\"MICROSOFT.RESOURCES/RESOURCEGROUPS\",\"APIVERSION\":\"2021-04-01\",\"NAME\":\"[FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME''))]\",\"LOCATION\":\"[PARAMETERS(''LOCATION'')]\",\"TAGS\":\"[VARIABLES(''TAGS'')]\"}],\"OUTPUTS\":{\"BICEP_OUTPUT\":{\"TYPE\":\"STRING\",\"VALUE\":\"[VARIABLES(''OUTPUTPARAM'')]\"}},\"METADATA\":{\"_GENERATOR\":{\"NAME\":\"BICEP\",\"VERSION\":\"0.32.4.45862\",\"TEMPLATEHASH\":\"9208930884015842103\"}}}","templateHash":"9208930884015842103"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Tenant-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 60.903599ms
[...]
    - id: 40
      request:
        host: azdtest-lbaeec6-kva.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://azdtest-lbaeec6-kva.vault.azure.net:443/secrets?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 80.654932ms
    - id: 41
      request:
        host: azdtest-lbaeec6-kva.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://azdtest-lbaeec6-kva.vault.azure.net:443/secrets?api-version=7.4
        method: GET
      response:
        body: '{"value":[{"id":"https://azdtest-lbaeec6-kva.vault.azure.net/secrets/azdtest-lbaeec6-kvs","attributes":{"enabled":true,"created":1737611282,"updated":1737611282,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"id":"https://azdtest-lbaeec6-kva.vault.azure.net/secrets/azdtest-lbaeec6-kvs2","attributes":{"enabled":true,"created":1737611325,"updated":1737611325,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}],"nextLink":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 125.678305ms
[...]
    - id: 54
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-lbaeec6%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lbaeec6","name":"rg-azdtest-lbaeec6","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-lbaeec6"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 68.214612ms
---
env_name: azdtest-lbaeec6
time: "1737611232"
