---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2021-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/southcentralus","name":"southcentralus","type":"Region","displayName":"South Central US","regionalDisplayName":"(US) South Central US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-98.5","latitude":"29.4167","physicalLocation":"Texas","pairedRegion":[{"name":"northcentralus",[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-w1bddb4%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 71.578ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct48702-HostedResources-32E47270","name":"dataproduct48702-HostedResources-32E47270","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg73273/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct48702","tags":{},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct72706-HostedResources-6BE50C22","name":"dataproduct72706-HostedResources-6BE50C22","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg39104/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct72706","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9c[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=1ZLLboMwEEW%2fBa9BMg2LKruYMaraeFy%2fErm7iFJEgozUEpEQ8e%2bFPj4iu9G9Z3F0NTdSdqFvwvnQN12w3akKX2R9I3xjrDPLFapL%2f3r47JsFeKmuZE3S6DFC6y9i9AmJfwjdDf9dSrNInwomoB6UewPhVIbAmIYWFN0VwnGKloGyuxzt%2b4dOUW4NHSS4mStXCJ4KW64E%2bEGM9SjzFE3BlDw%2b8zm%2fInAqjj4TdZKQKf5TfbgL1z2%2fm1l%2fVedZw7ltY2Kks085R6s32%2bUxlnSavgE%3d","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11998"
        status: 200 OK
        code: 200
        duration: 7.8465035s
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1ZLLboMwEEW%2fBa9BMg2LKruYMaraeFy%2fErm7iFJEgozUEpEQ8e%2bFPj4iu9G9Z3F0NTdSdqFvwvnQN12w3akKX2R9I3xjrDPLFapL%2f3r47JsFeKmuZE3S6DFC6y9i9AmJfwjdDf9dSrNInwomoB6UewPhVIbAmIYWFN0VwnGKloGyuxzt%2b4dOUW4NHSS4mStXCJ4KW64E%2bEGM9SjzFE3BlDw%2b8zm%2fInAqjj4TdZKQKf5TfbgL1z2%2fm1l%2fVedZw7ltY2Kks085R6s32%2bUxlnSavgE%3d
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 839.727ms
    - id: 5
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-w1bddb4"},"location":{"value":"eastus2"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"7771222558848349697"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"deleteAfterTime":{"type":"string","defaultValue":"[dateTimeAdd(utcNow(''o''), ''PT1H'')]","metadata":{"description":"A time to mark on created resource groups, so they can be cleaned up via an automated process."}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]","DeleteAfter":"[parameters(''deleteAfterTime'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"8937352026316128621"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[variables(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[variables(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2024-03-01","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"workloadProfiles":[{"workloadProfileType":"Consumption","name":"consumption"}],"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[variables(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.App/containerApps","apiVersion":"2024-03-01","name":"[format(''app-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","identity":{"type":"UserAssigned","userAssignedIdentities":{"[format(''{0}'', resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))))]":{}}},"properties":{"environmentId":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","configuration":{"activeRevisionsMode":"Single","ingress":{"external":true,"targetPort":8080,"transport":"http","allowInsecure":false},"registries":[{"server":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]","identity":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"}]},"template":{"containers":[{"image":"nginx","name":"app"}],"scale":{"minReplicas":1}}},"tags":"[union(variables(''tags''), createObject(''azd-service-name'', ''app''))]","dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[format(''https://{0}/'', reference(resourceId(''Microsoft.App/containerApps'', format(''app-{0}'', variables(''resourceToken''))), ''2024-03-01'').configuration.ingress.fqdn)]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.WEBSITE_URL.value]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.AZURE_CONTAINER_REGISTRY_ENDPOINT.value]"}}}},"tags":{"azd-env-name":"azdtest-w1bddb4","azd-provision-param-hash":"fe4987d2f1426eff8106cba279c787e32c012f26ba25b1068c1d7111166612bf"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w1bddb4-1724434848?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w1bddb4-1724434848","name":"azdtest-w1bddb4-1724434848","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-w1bddb4","azd-provision-param-hash":"fe4987d2f1426eff8106cba279c787e32c012f26ba25b1068c1d7111166612bf"},"properties":{"templateHash":"7771222558848349697","parameters":{"environmentName":{"type":"String","value":"azdtest-w1bddb4"},"location":{"type":"String","value":"eastus2"},"deleteAfterTime":{"type":"String","value":"2024-08-23T18:41:14Z"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-08-23T17:41:15.7136916Z","duration":"PT0.0002843S","correlationId":"bec5ae0e9d4cfc2d5c31aed8317eeb25","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w1bddb4","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-w1bddb4"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w1bddb4/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"}]}}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w1bddb4-1724434848/operationStatuses/08584771720111926932?api-version=2021-04-01
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Deployment-Engine-Version:
                - 1.95.0
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "1199"
        status: 201 Created
        code: 201
        duration: 2.6467224s
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w1bddb4-1724434848/operationStatuses/08584771720111926932?api-version=2021-04-01
        method: GET
      response:
        body: '{"status":"Succeeded"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11994"
        status: 200 OK
        code: 200
        duration: 203.7822ms
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w1bddb4-1724434848?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/dep[...]
[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w1bddb4/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27app%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w1bddb4/providers/Microsoft.App/containerApps/app-umgaspnejhrq2","name":"app-umgaspnejhrq2","type":"Microsoft.App/containerApps","kind":"","managedBy":"","location":"eastus2","identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-w1bddb4/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-umgaspnejhrq2":{"principalId":"60ab7d0e-22e8-42b8-a277-be03c2688b8b","clientId":"b10b5e44-b70a-4dd4-9e94-18698d13bbcb"}}},"tags":{"azd-env-name":"azdtest-w1bddb4","azd-service-name":"app"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11995"
        status: 200 OK
        code: 200
        duration: 608.0121ms
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w1bddb4/providers/Microsoft.ContainerRegistry/registries/acrumgaspnejhrq2/listBuildSourceUploadUrl?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"relativePath":"source/202408230000/fc4e7febd5f2ef1cdfddd45ab3724bc2.tar.gz","uploadUrl":"https://eus2managed210.blob.core.windows.net/da0a9308d24c42269687b5d31efd0586-njecrsxs8y/source/202408230000/fc4e7febd5f2ef1cdfddd45ab3724bc2.tar.gz?se=2024-08-23T18%3A43%3A50Z\u0026sig=SANITIZED\u0026sp=cw\u0026sr=b\u0026sv=2023-01-03"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "1198"
        status: 200 OK
        code: 200
        duration: 497.9537ms
    - id: 12
      request:
        host: eus2managed210.blob.core.windows.net
        body: !!binary |
            H4sIAAAAAAAA/+yVUWvbMBDH/Wzwdzj8Yhc8+ew6SknJXpKOjlFS0sE2xqAivmVuXcmVlJ
            Ft9LsP28mW5aUPmxMG/r0InS53/4v4W1O1uCf9uSjJ6QxERM55syLi/ooJT5wk4zxNsoxn
            QweTJB1wB7A7Sb9ZGSu0g3/da3+4/4RX89kVSJXTKE0913PfzeZvpq/nEIuq8tzJ7PoDVG
            JxL5bE7oySu/FC5rRmd2YTu3h/Pbu5gFNErAtNrqbw0a8r+xH421z/07EH7vmD7cV02eM5
            /2fZYM//ODzt/X8QFkoaC1+srWAMmh5XhaYwqPfByXnt4zbBkP5KGsZNJltoEpZumlgYan
            qMQJM5gfFL+OG5AFBvmbHCrsxE5QRjSBHPd47IXpLISYfBRElL0r54+62iIILA0trGVSkK
            2QjY/oJkHgaXVJYqglvxPb9lzfFTK7KVx8rCWJLhGZ5hBOF6V1A9hiqJlWoZBq1y0CspC7
            kE0f4BozhO0iFDhiwZ1TXibYtjX1KH7H7cu+rxnP+R4/77Pxhg7/9DsLGHL8UD+SPwRVX5
            0Sb2IApZx3493p77dGy9PT09PT3/hp8BAAD//3x8aXIAEAAA
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/octet-stream
            X-Ms-Blob-Type:
                - BlockBlob
            X-Ms-Version:
                - "2023-11-03"
        url: https://eus2managed210.blob.core.windows.net:443/da0a9308d24c42269687b5d31efd0586-njecrsxs8y/source/202408230000/fc4e7febd5f2ef1cdfddd45ab3724bc2.tar.gz?se=2024-08-23T18%3A43%3A50Z&sig=SANITIZED&sp=cw&sr=b&sv=2023-01-03
        method: PUT
      response:
        body: ""
        headers:
            Content-Md5:
                - 7jH7F725T+rBe4BSR8uV1Q==
            Etag:
                - '"0x8DCC39B2653DC05"'
            Last-Modified:
                - Fri, 23 Aug 2024 17:43:51 GMT
            X-Ms-Content-Crc64:
                - dzLS/hEryKw=
            X-Ms-Request-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 201 Created
        code: 201
        duration: 515.3343ms
    - id: 13
      request:
        host: management.azure.com
        body: '{"dockerFilePath":"Dockerfile","imageNames":["acrumgaspnejhrq2.azurecr.io/webapp/app-azdtest-w1bddb4:azd-deploy-1724434848"],"isPushEnabled":true,"platform":{"os":"Linux","architecture":"amd64"},"sourceLocation":"source/202408230000/fc4e7febd5f2ef1cdfddd45ab3724bc2.tar.gz","type":"DockerBuildRequest"}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w1bddb4/providers/Microsoft.ContainerRegistry/registries/acrumgaspnejhrq2/scheduleRun?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ch1","status":"Queued","lastUpdatedTime":"2024-08-23T17:43:51+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w1bddb4/providers/Microsoft.ContainerRegistry/registries/acrumgaspnejhrq2/runs/ch1","name":"ch1","systemData":{"lastModifiedBy":"wabrez@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-23T17:43:51.2317186+00:00"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "1199"
        status: 200 OK
        code: 200
        duration: 1.0054637s
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w1bddb4/providers/Microsoft.ContainerRegistry/registries/acrumgaspnejhrq2/runs/ch1/listLogSasUrl?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"logLink":"https://eus2managed210.blob.core.windows.net/da0a9308d24c42269687b5d31efd0586-njecrsxs8y/logs/ch1/rawtext.log?se=2024-08-23T18%3A53%3A52Z\u0026sig=SANITIZED\u0026sp=r\u0026sr=b\u0026sv=2023-01-03"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "1199"
        status: 200 OK
        code: 200
        duration: 626.5897ms
    - id: 15
      request:
        host: eus2managed210.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Version:
                - "2023-11-03"
        url: https://eus2managed210.blob.core.windows.net:443/da0a9308d24c42269687b5d31efd0586-njecrsxs8y/logs/ch1/rawtext.log?se=2024-08-23T18%3A53%3A52Z&sig=SANITIZED&sp=r&sr=b&sv=2023-01-03
        method: HEAD
      response:
        body: ""
        headers:
            Content-Disposition:
                - ""
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DCC39B26FEF711"'
            Last-Modified:
                - Fri, 23 Aug 2024 17:43:52 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "1"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Fri, 23 Aug 2024 17:43:52 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 200 OK
        code: 200
        duration: 125.9169ms
    - id: 16
      request:
        host: eus2managed210.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Range:
                - bytes=0-47
            X-Ms-Version:
                - "2023-11-03"
        url: https://eus2managed210.blob.core.windows.net:443/da0a9308d24c42269687b5d31efd0586-njecrsxs8y/logs/ch1/rawtext.log?se=2024-08-23T18%3A53%3A52Z&sig=SANITIZED&sp=r&sr=b&sv=2023-01-03
        method: GET
      response:
        body: "2024/08/23 17:43:52 Downloading source code...\r\n"
        headers:
            Content-Disposition:
                - ""
            Content-Range:
                - bytes 0-47/102
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DCC39B276AA17A"'
            Last-Modified:
                - Fri, 23 Aug 2024 17:43:52 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "2"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Fri, 23 Aug 2024 17:43:52 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 206 Partial Content
        code: 206
        duration: 125.4673ms
[...]
    - id: 108
      request:
        host: eus2managed210.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Version:
                - "2023-11-03"
        url: https://eus2managed210.blob.core.windows.net:443/da0a9308d24c42269687b5d31efd0586-njecrsxs8y/logs/ch1/rawtext.log?se=2024-08-23T18%3A53%3A52Z&sig=SANITIZED&sp=r&sr=b&sv=2023-01-03
        method: HEAD
      response:
        body: ""
        headers:
            Content-Disposition:
                - ""
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DCC39B51ACE439"'
            Last-Modified:
                - Fri, 23 Aug 2024 17:45:03 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "18"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Fri, 23 Aug 2024 17:43:52 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Meta-Complete:
                - successful
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 200 OK
        code: 200
        duration: 94.3169ms
[...]
    - id: 111
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w1bddb4/providers/Microsoft.ContainerRegistry/registries/acrumgaspnejhrq2/runs/ch1?api-version=2019-06-01-preview
        method: GET
      response:
        body: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ch1","status":"Running","lastUpdatedTime":"2024-08-23T17:43:51+00:00","runType":"QuickRun","createTime":"2024-08-23T17:43:51.6005727+00:00","startTime":"2024-08-23T17:43:51.9155328+00:00","platform":{"os":"Linux","architecture":"amd64"},"agentConfiguration":{"cpu":2},"provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w1bddb4/providers/Microsoft.ContainerRegistry/registries/acrumgaspnejhrq2/runs/ch1","name":"ch1","systemData":{"lastModifiedBy":"wabrez@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-23T17:43:51.2317186+00:00"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11993"
        status: 200 OK
        code: 200
        duration: 392.3717ms
    - id: 112
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w1bddb4/providers/Microsoft.ContainerRegistry/registries/acrumgaspnejhrq2/runs/ch1?api-version=2019-06-01-preview
        method: GET
      response:
[...]
