---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-l69f915%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11998"
        status: 200 OK
        code: 200
        duration: 97.996483ms
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/meharida-rg","name":"meharida-rg","type":"Microsoft.Resources/resourceGroups","location":"westeurope","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/wenjiefu-ai","name":"wenjiefu-ai","type":"Microsoft.Resources/resourceGroups","location":"westeurope","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/yumeng-chatgpt-hackthon","name":"yumeng-chatgpt-hackthon","type":"Microsoft.Resources/resourceGroups","location":"westeurope","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/lmazuel-eg-test","name":"lmazuel-eg-test","type":"Microsoft.Resources/resourceGroups","location":"northcentralus","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/scaddie","name":"scaddie","type":"Microsoft.Resources/resourceGroups","location":"northcentralus","tags":{},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/MC_kaghiya-test_myAKSCluster_uksouth","name":"MC_kaghiya-test_myAKSCluster_uksouth","type":"Microsoft.Resources/resourceGroups","location":"uksouth","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/kaghiya-test/providers/Microsoft.ContainerService/managedClusters/myAKSCluster","tags":{"aks-managed-cluster-name":"myAKSCluster","aks-managed-cluster-rg":"kaghiya-test"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/mario-ai","name":"mario-ai","type":"Microsoft.Resources/resourceGroups","location":"francecentral","tags":{"owners":"marioguerra"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/yumeng-skypack","name":"yumeng-skypack","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/Default-EventHub-637","name":"Default-EventHub-637","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"DeleteAfter":"09/09/2023 21:30:32"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/billwert-cloudshell","name":"billwert-cloudshell","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/achand-shell-rg","name":"achand-shell-rg","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-hemarina-openai","name":"rg-hemarina-openai","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"azd-env-name":"hemarina-openai"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-kashifkhan","name":"rg-kashifkhan","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-hemarina-openaitest","name":"rg-hemarina-openaitest","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"azd-env-name":"hemarina-openaitest"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chrissidentity","name":"rg-chrissidentity","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"Owners":"chriss","ServiceDirectory":"identity","DeleteAfter":"2023-09-23T15:37:11.5666081Z"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/MC_rg-chrissidentity_t56c180479338b12b_southcentralus","name":"MC_rg-chrissidentity_t56c180479338b12b_southcentralus","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-chrissidentity/providers/Microsoft.ContainerServ[...]
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=1c%2fBaoNAFIXhZ%2fGuDTiJQnE3ekcCyVzrzJ2UdBdaEyQyQmswMfjuraVZ9Qm6Pv9ZfHd463zf%2bMuhbzrP3bn2n5DewZaO17kiNnLrLKT%2b0rYhKGnZ2eUc%2bPraPx8%2b%2bmb%2bbeobpCCCp4B4f9XjfgHhT2G64bGJKA7Mucg0nobKvaJ2VUyYZQZbrKJdoZ2KiDOseJcTvx%2bNoHJro6FEFxPLFY1SlKxHQjUQn1Y6F2RcsibsbgbV8ntLNMqEWC1gCqEwknL1S3gA%2fohe1Cz6B6Bp%2bgI%3d"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 4.117089323s
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1c%2fBaoNAFIXhZ%2fGuDTiJQnE3ekcCyVzrzJ2UdBdaEyQyQmswMfjuraVZ9Qm6Pv9ZfHd463zf%2bMuhbzrP3bn2n5DewZaO17kiNnLrLKT%2b0rYhKGnZ2eUc%2bPraPx8%2b%2bmb%2bbeobpCCCp4B4f9XjfgHhT2G64bGJKA7Mucg0nobKvaJ2VUyYZQZbrKJdoZ2KiDOseJcTvx%2bNoHJro6FEFxPLFY1SlKxHQjUQn1Y6F2RcsibsbgbV8ntLNMqEWC1gCqEwknL1S3gA%2fohe1Cz6B6Bp%2bgI%3d
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=3ZFfT4MwFMU%2fC32eSTsxcXsDWiKOtvTPxcy3RdHgSEmUBcbCd3edIzF%2bBN%2fO%2fd1zH865J%2fTSuq52h11Xt862%2b8p9ofUJschYMEsvXTV0xe6zq71jUx3RGpHgPhB2O%2fBxe4MWF4du%2b3lHQhzofRpz%2bt4reKYcVChoHGvaUIXLlAPDwsZU2TIR9vVNEyFzg3tJIRQ2uxOUDYLCko%2bKcBr1MiEbBSIHvJLy45GVbMXs2B41E9aw1AC96AIwKcDzVGjrGc1CabMlmhboifk8%2fyzO%2bT3u0DRzutvfIwMtCzYTI8E%2bJOe%2bdJT7Gn7OUh2JhF3xDP%2b4pukb"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 3.892927778s
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=3ZFfT4MwFMU%2fC32eSTsxcXsDWiKOtvTPxcy3RdHgSEmUBcbCd3edIzF%2bBN%2fO%2fd1zH865J%2fTSuq52h11Xt862%2b8p9ofUJschYMEsvXTV0xe6zq71jUx3RGpHgPhB2O%2fBxe4MWF4du%2b3lH[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=XY9Ri4JAFIV%2fi%2fNc4KTC4tvoHQlqrjneKdq32CwkGWHXsAz%2f%2b67tDgs9nnO%2be%2bF7sI%2fWdrW9Hrq6tdReKvvF4geToiRTLlhsr00zYzs5RZfMqswNLV38ZacrW926zeGzq6dnq%2brOYsa9[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=XZBBT4NAEIV%2fC3uuCSAmlhuwS0Rgl92dwdRbo2iwBBKlgdLw3xUoSe1t5ntvJvPmTN6aui3r474tmxqaQ1H%2fEPdMmKcB9VTVRd9m%2b%2b%2b2nAxxcSIusYxHg8OuT4fdHdnMDtV0q2Y5pqEOoZ%2fSz07iK01ROpz6vqIVlWYepshMDj6VkAcc3j%2bUxUWizU5QdDhED5yynlO000FaKfU6EVixRJ6guRXi65nlbMtgaE6KcdAs1EjnOkPTynDiIVcwMRo5AiKbjJtLHJu49bGqNuSFLemWDmMtEJ7%2bizfe%2b2uVoRIZW8k8HPwdo7xketmyNFQeD9gFr%2fDGNY6%2f
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 554.806963ms
    - id: 7
      request:
        host: management.azure.com
        body: '{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.21.1.54444","templateHash":"54023946800429648"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"deleteAfterTime":{"type":"string","defaultValue":"[dateTimeAdd(utcNow(''o''), ''PT1H'')]","metadata":{"description":"A time to mark on created resource groups, so they can be cleaned up via an automated process."}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]","DeleteAfter":"[parameters(''deleteAfterTime'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.21.1.54444","templateHash":"14985247059983965804"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"},"adminUserEnabled":{"type":"bool","defaultValue":true},"anonymousPullEnabled":{"type":"bool","defaultValue":false},"dataEndpointEnabled":{"type":"bool","defaultValue":false},"encryption":{"type":"object","defaultValue":{"status":"disabled"}},"networkRuleBypassOptions":{"type":"string","defaultValue":"AzureServices"},"publicNetworkAccess":{"type":"string","defaultValue":"Enabled"},"sku":{"type":"object","defaultValue":{"name":"Basic"}},"zoneRedundancy":{"type":"string","defaultValue":"Disabled"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2022-02-01-preview","name":"[format(''cr{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]","sku":"[parameters(''sku'')]","properties":{"adminUserEnabled":"[parameters(''adminUserEnabled'')]","anonymousPullEnabled":"[parameters(''anonymousPullEnabled'')]","dataEndpointEnabled":"[parameters(''dataEndpointEnabled'')]","encryption":"[parameters(''encryption'')]","networkRuleBypassOptions":"[parameters(''networkRuleBypassOptions'')]","publicNetworkAccess":"[parameters(''publicNetworkAccess'')]","zoneRedundancy":"[parameters(''zoneRedundancy'')]"}},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2022-03-01","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]","properties":{"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''log-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''log-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''log-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''log-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]","properties":{"retentionInDays":30,"features":{"searchVersion":1},"sku":{"name":"PerGB2018"}}}],"outputs":{"containerRegistryName":{"type":"string","value":"[format(''cr{0}'', variables(''resourceToken''))]"},"containerAppsEnvironmentName":{"type":"string","value":"[format(''cae-{0}'', variables(''resourceToken''))]"},"containerRegistryloginServer":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', format(''cr{0}'', variables(''resourceToken''))), ''2022-02-01-preview'').loginServer]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"web","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"containerRegistryName":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.containerRegistryName.value]"},"containerAppsEnvironmentName":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.containerAppsEnvironmentName.value]"},"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"},"imageName":{"value":"nginx:latest"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.21.1.54444","templateHash":"11652942448559603939"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"},"imageName":{"type":"string"},"containerRegistryName":{"type":"string"},"containerAppsEnvironmentName":{"type":"string"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.App/containerApps","apiVersion":"2022-03-01","name":"[format(''ca-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[union(variables(''tags''), createObject(''azd-service-name'', ''web''))]","properties":{"managedEnvironmentId":"[resourceId(''Microsoft.App/managedEnvironments'', parameters(''containerAppsEnvironmentName''))]","configuration":{"activeRevisionsMode":"single","ingress":{"external":true,"targetPort":3100,"transport":"auto"},"secrets":[{"name":"registry-password","value":"[listCredentials(resourceId(''Microsoft.ContainerRegistry/registries'', parameters(''containerRegistryName'')), ''2022-02-01-preview'').passwords[0].value]"}],"registries":[{"server":"[format(''{0}.azurecr.io'', parameters(''containerRegistryName''))]","username":"[parameters(''containerRegistryName'')]","passwordSecretRef":"registry-password"}]},"template":{"containers":[{"image":"[parameters(''imageName'')]","name":"main","env":[]}]}}}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[format(''https://{0}'', reference(resourceId(''Microsoft.App/containerApps'', format(''ca-{0}'', variables(''resourceToken''))), ''2022-03-01'').configuration.ingress.fqdn)]"}}}},"dependsOn":["[extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources'')]","[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]}],"outputs":{"AZURE_CONTAINER_REGISTRY_NAME":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.containerRegistryName.value]"},"AZURE_CONTAINER_ENVIRONMENT_NAME":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.containerAppsEnvironmentName.value]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.containerRegistryloginServer.value]"},"WEBSITE_URL":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''web''), ''2022-09-01'').outputs.WEBSITE_URL.value]"}}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/providers/Microsoft.Resources/calculateTemplateHash?api-version=2021-04-01
        method: POST
      response:
        body: '{"minifiedTemplate":"{\"$SCHEMA\":\"HTTPS://SCHEMA.MANAGEMENT.AZURE.COM/SCHEMAS/2018-05-01/SUBSCRIPTIONDEPLOYMENTTEMPLATE.JSON#\",\"CONTENTVERSION\":\"1.0.0.0\",\"PARAMETERS\":{\"ENVIRONMENTNAME\":{\"MINLENGTH\":1,\"MAXLENGTH\":64,\"TYPE\":\"STRING\",\"METADATA\":{\"DESCRIPTION\":\"NAME OF THE THE ENVIRONMENT WHICH IS USED TO GENERATE A SHORT UNIQUE HASH USED IN ALL RESOURCES.\"}},\"LOCATION\":{\"TYPE\":\"STRING\",\"METADATA\":{\"DESCRIPTION\":\"PRIMARY LOCATION FOR ALL RESOURCES\"}},\"DELETEAFTERTIME\":{\"DEFAULTVALUE\":\"[DATETIMEADD(UTCNOW(''O''), ''PT1H'')]\",\"TYPE\":\"STRING\",\"METADATA\":{\"DESCRIPTION\":\"A TIME TO MARK ON CREATED RESOURCE GROUPS, SO THEY CAN BE CLEANED UP VIA AN AUTOMATED PROCESS.\"}}},\"VARIABLES\":{\"TAGS\":{\"AZD-ENV-NAME\":\"[PARAMETERS(''ENVIRONMENTNAME'')]\",\"DELETEAFTER\":\"[PARAMETERS(''DELETEAFTERTIME'')]\"}},\"RESOURCES\":[{\"TYPE\":\"MICROSOFT.RESOURCES/RESOURCEGROUPS\",\"APIVERSION\":\"2021-04-01\",\"NAME\":\"[FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME''))]\",\"LOCATION\":\"[PARAMETERS(''LOCATION'')]\",\"TAGS\":\"[VARIABLES(''TAGS'')]\"},{\"TYPE\":\"MICROSOFT.RESOURCES/DEPLOYMENTS\",\"APIVERSION\":\"2022-09-01\",\"NAME\":\"RESOURCES\",\"DEPENDSON\":[\"[SUBSCRIPTIONRESOURCEID(''MICROSOFT.RESOURCES/RESOURCEGROUPS'', FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME'')))]\"],\"PROPERTIES\":{\"EXPRESSIONEVALUATIONOPTIONS\":{\"SCOPE\":\"INNER\"},\"MODE\":\"INCREMENTAL\",\"PARAMETERS\":{\"ENVIRONMENTNAME\":{\"VALUE\":\"[PARAMETERS(''ENVIRONMENTNAME'')]\"},\"LOCATION\":{\"VALUE\":\"[PARAMETERS(''LOCATION'')]\"}},\"TEMPLATE\":{\"$SCHEMA\":\"HTTPS://SCHEMA.MANAGEMENT.AZURE.COM/SCHEMAS/2019-04-01/DEPLOYMENTTEMPLATE.JSON#\",\"CONTENTVERSION\":\"1.0.0.0\",\"METADATA\":{\"_GENERATOR\":{\"NAME\":\"BICEP\",\"VERSION\":\"0.21.1.54444\",\"TEMPLATEHASH\":\"14985247059983965804\"}},\"PARAMETERS\":{\"ENVIRONMENTNAME\":{\"TYPE\":\"STRING\"},\"LOCATION\":{\"TYPE\":\"STRING\",\"DEFAULTVALUE\":\"[RESOURCEGROUP().LOCATION]\"},\"ADMINUSERENABLED\":{\"TYPE\":\"BOOL\",\"DEFAULTVALUE\":TRUE},\"ANONYMOUSPULLENABLED\":{\"TYPE\":\"BOOL\",\"DEFAULTVALUE\":FALSE},\"DATAENDPOINTENABLED\":{\"TYPE\":\"BOOL\",\"DEFAULTVALUE\":FALSE},\"ENCRYPTION\":{\"TYPE\":\"OBJECT\",\"DEFAULTVALUE\":{\"STATUS\":\"DISABLED\"}},\"NETWORKRULEBYPASSOPTIONS\":{\"TYPE\":\"STRING\",\"DEFAULTVALUE\":\"AZURESERVICES\"},\"PUBLICNETWORKACCESS\":{\"TYPE\":\"STRING\",\"DEFAULTVALUE\":\"ENABLED\"},\"SKU\":{\"TYPE\":\"OBJECT\",\"DEFAULTVALUE\":{\"NAME\":\"BASIC\"}},\"ZONEREDUNDANCY\":{\"TYPE\":\"STRING\",\"DEFAULTVALUE\":\"DISABLED\"}},\"VARIABLES\":{\"TAGS\":{\"AZD-ENV-NAME\":\"[PARAMETERS(''ENVIRONMENTNAME'')]\"},\"RESOURCETOKEN\":\"[TOLOWER(UNIQUESTRING(SUBSCRIPTION().ID, PARAMETERS(''ENVIRONMENTNAME''), PARAMETERS(''LOCATION'')))]\"},\"RESOURCES\":[{\"TYPE\":\"MICROSOFT.CONTAINERREGISTRY/REGISTRIES\",\"APIVERSION\":\"2022-02-01-PREVIEW\",\"NAME\":\"[FORMAT(''CR{0}'', VARIABLES(''RESOURCETOKEN''))]\",\"LOCATION\":\"[PARAMETERS(''LOCATION'')]\",\"TAGS\":\"[VARIABLES(''TAGS'')]\",\"SKU\":\"[PARAMETERS(''SKU'')]\",\"PROPERTIES\":{\"ADMINUSERENABLED\":\"[PARAMETERS(''ADMINUSERENABLED'')]\",\"ANONYMOUSPULLENABLED\":\"[PARAMETERS(''ANONYMOUSPULLENABLED'')]\",\"DATAENDPOINTENABLED\":\"[PARAMETERS(''DATAENDPOINTENABLED'')]\",\"ENCRYPTION\":\"[PARAMETERS(''ENCRYPTION'')]\",\"NETWORKRULEBYPASSOPTIONS\":\"[PARAMETERS(''NETWORKRULEBYPASSOPTIONS'')]\",\"PUBLICNETWORKACCESS\":\"[PARAMETERS(''PUBLICNETWORKACCESS'')]\",\"ZONEREDUNDANCY\":\"[PARAMETERS(''ZONEREDUNDANCY'')]\"}},{\"TYPE\":\"MICROSOFT.APP/MANAGEDENVIRONMENTS\",\"APIVERSION\":\"2022-03-01\",\"NAME\":\"[FORMAT(''CAE-{0}'', VARIABLES(''RESOURCETOKEN''))]\",\"LOCATION\":\"[PARAMETERS(''LOCATION'')]\",\"TAGS\":\"[VARIABLES(''TAGS'')]\",\"PROPERTIES\":{\"APPLOGSCONFIGURATION\":{\"DESTINATION\":\"LOG-ANALYTICS\",\"LOGANALYTICSCONFIGURATION\":{\"CUSTOMERID\":\"[REFERENCE(RESOURCEID(''MICROSOFT.OPERATIONALINSIGHTS/WORKSPACES'', FORMAT(''LOG-{0}'', VARIABLES(''RESOURCETOKEN''))), ''2022-10-01'').CUSTOMERID]\",\"SHAREDKEY\":\"[LISTKEYS(RESOURCEID(''MICROSOFT.OPERATIONALINSIGHTS/WORKSPACES'', FORMAT(''LOG-{0}'', VARIABLES(''RESOURCETOKEN''))), ''2022-10-01'').PRIMARYSHAREDKEY]\"}}},\"DEPENDSON\":[\"[RESOURCEID(''MICROSOFT.OPERATIONALINSIGHTS/WORKSPACES'', FORMAT(''LOG-{0}'', VARIABLES(''RESOURCETOKEN'')))]\"]},{\"TYPE\":\"MICROSOFT.OPERATIONALINSIGHTS/WORKSPACES\",\"APIVERSION\":\"2022-10-01\",\"NAME\":\"[FORMAT(''LOG-{0}'', VARIABLES(''RESOURCETOKEN''))]\",\"LOCATION\":\"[PARAMETERS(''LOCATION'')]\",\"TAGS\":\"[VARIABLES(''TAGS'')]\",\"PROPERTIES\":{\"RETENTIONINDAYS\":30,\"FEATURES\":{\"SEARCHVERSION\":1},\"SKU\":{\"NAME\":\"PERGB2018\"}}}],\"OUTPUTS\":{\"CONTAINERREGISTRYNAME\":{\"TYPE\":\"STRING\",\"VALUE\":\"[FORMAT(''CR{0}'', VARIABLES(''RESOURCETOKEN''))]\"},\"CONTAINERAPPSENVIRONMENTNAME\":{\"TYPE\":\"STRING\",\"VALUE\":\"[FORMAT(''CAE-{0}'', VARIABLES(''RESOURCETOKEN''))]\"},\"CONTAINERREGISTRYLOGINSERVER\":{\"TYPE\":\"STRING\",\"VALUE\":\"[REFERENCE(RESOURCEID(''MICROSOFT.CONTAINERREGISTRY/REGISTRIES'', FORMAT(''CR{0}'', VARIABLES(''RESOURCETOKEN''))), ''2022-02-01-PREVIEW'').LOGINSERVER]\"}}}},\"RESOURCEGROUP\":\"[FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME''))]\"},{\"TYPE\":\"MICROSOFT.RESOURCES/DEPLOYMENTS\",\"APIVERSION\":\"2022-09-01\",\"NAME\":\"WEB\",\"DEPENDSON\":[\"[EXTENSIONRESOURCEID(FORMAT(''/SUBSCRIPTIONS/{0}/RESOURCEGROUPS/{1}'', SUBSCRIPTION().SUBSCRIPTIONID, FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME''))), ''MICROSOFT.RESOURCES/DEPLOYMENTS'', ''RESOURCES'')]\",\"[SUBSCRIPTIONRESOURCEID(''MICROSOFT.RESOURCES/RESOURCEGROUPS'', FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME'')))]\"],\"PROPERTIES\":{\"EXPRESSIONEVALUATIONOPTIONS\":{\"SCOPE\":\"INNER\"},\"MODE\":\"INCREMENTAL\",\"PARAMETERS\":{\"CONTAINERREGISTRYNAME\":{\"VALUE\":\"[REFERENCE(EXTENSIONRESOURCEID(FORMAT(''/SUBSCRIPTIONS/{0}/RESOURCEGROUPS/{1}'', SUBSCRIPTION().SUBSCRIPTIONID, FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME''))), ''MICROSOFT.RESOURCES/DEPLOYMENTS'', ''RESOURCES''), ''2022-09-01'').OUTPUTS.CONTAINERREGISTRYNAME.VALUE]\"},\"CONTAINERAPPSENVIRONMENTNAME\":{\"VALUE\":\"[REFERENCE(EXTENSIONRESOURCEID(FORMAT(''/SUBSCRIPTIONS/{0}/RESOURCEGROUPS/{1}'', SUBSCRIPTION().SUBSCRIPTIONID, FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME''))), ''MICROSOFT.RESOURCES/DEPLOYMENTS'', ''RESOURCES''), ''2022-09-01'').OUTPUTS.CONTAINERAPPSENVIRONMENTNAME.VALUE]\"},\"ENVIRONMENTNAME\":{\"VALUE\":\"[PARAMETERS(''ENVIRONMENTNAME'')]\"},\"LOCATION\":{\"VALUE\":\"[PARAMETERS(''LOCATION'')]\"},\"IMAGENAME\":{\"VALUE\":\"NGINX:LATEST\"}},\"TEMPLATE\":{\"$SCHEMA\":\"HTTPS://SCHEMA.MANAGEMENT.AZURE.COM/SCHEMAS/2019-04-01/DEPLOYMENTTEMPLATE.JSON#\",\"CONTENTVERSION\":\"1.0.0.0\",\"METADATA\":{\"_GENERATOR\":{\"NAME\":\"BICEP\",\"VERSION\":\"0.21.1.54444\",\"TEMPLATEHASH\":\"11652942448559603939\"}},\"PARAMETERS\":{\"ENVIRONMENTNAME\":{\"TYPE\":\"STRING\"},\"LOCATION\":{\"TYPE\":\"STRING\",\"DEFAULTVALUE\":\"[RESOURCEGROUP().LOCATION]\"},\"IMAGENAME\":{\"TYPE\":\"STRING\"},\"CONTAINERREGISTRYNAME\":{\"TYPE\":\"STRING\"},\"CONTAINERAPPSENVIRONMENTNAME\":{\"TYPE\":\"STRING\"}},\"VARIABLES\":{\"TAGS\":{\"AZD-ENV-NAME\":\"[PARAMETERS(''ENVIRONMENTNAME'')]\"},\"RESOURCETOKEN\":\"[TOLOWER(UNIQUESTRING(SUBSCRIPTION().ID, PARAMETERS(''ENVIRONMENTNAME''), PARAMETERS(''LOCATION'')))]\"},\"RESOURCES\":[{\"TYPE\":\"MICROSOFT.APP/CONTAINERAPPS\",\"APIVERSION\":\"2022-03-01\",\"NAME\":\"[FORMAT(''CA-{0}'', VARIABLES(''RESOURCETOKEN''))]\",\"LOCATION\":\"[PARAMETERS(''LOCATION'')]\",\"TAGS\":\"[UNION(VARIABLES(''TAGS''), CREATEOBJECT(''AZD-SERVICE-NAME'', ''WEB''))]\",\"PROPERTIES\":{\"MANAGEDENVIRONMENTID\":\"[RESOURCEID(''MICROSOFT.APP/MANAGEDENVIRONMENTS'', PARAMETERS(''CONTAINERAPPSENVIRONMENTNAME''))]\",\"CONFIGURATION\":{\"ACTIVEREVISIONSMODE\":\"SINGLE\",\"INGRESS\":{\"EXTERNAL\":TRUE,\"TARGETPORT\":3100,\"TRANSPORT\":\"AUTO\"},\"SECRETS\":[{\"NAME\":\"REGISTRY-PASSWORD\",\"VALUE\":\"[LISTCREDENTIALS(RESOURCEID(''MICROSOFT.CONTAINERREGISTRY/REGISTRIES'', PARAMETERS(''CONTAINERREGISTRYNAME'')), ''2022-02-01-PREVIEW'').PASSWORDS[0].VALUE]\"}],\"REGISTRIES\":[{\"SERVER\":\"[FORMAT(''{0}.AZURECR.IO'', PARAMETERS(''CONTAINERREGISTRYNAME''))]\",\"USERNAME\":\"[PARAMETERS(''CONTAINERREGISTRYNAME'')]\",\"PASSWORDSECRETREF\":\"REGISTRY-PASSWORD\"}]},\"TEMPLATE\":{\"CONTAINERS\":[{\"IMAGE\":\"[PARAMETERS(''IMAGENAME'')]\",\"NAME\":\"MAIN\",\"ENV\":[]}]}}}],\"OUTPUTS\":{\"WEBSITE_URL\":{\"TYPE\":\"STRING\",\"VALUE\":\"[FORMAT(''HTTPS://{0}'', REFERENCE(RESOURCEID(''MICROSOFT.APP/CONTAINERAPPS'', FORMAT(''CA-{0}'', VARIABLES(''RESOURCETOKEN''))), ''2022-03-01'').CONFIGURATION.INGRESS.FQDN)]\"}}}},\"RESOURCEGROUP\":\"[FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME''))]\"}],\"OUTPUTS\":{\"AZURE_CONTAINER_REGISTRY_NAME\":{\"TYPE\":\"STRING\",\"VALUE\":\"[REFERENCE(EXTENSIONRESOURCEID(FORMAT(''/SUBSCRIPTIONS/{0}/RESOURCEGROUPS/{1}'', SUBSCRIPT[...]
[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-l69f915-1695231925/operationStatuses/08585063749394695702?api-version=2021-04-01
        method: GET
      response:
        body: '{"status":"Succeeded"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 178.56595ms
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
[...]
