---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2022-12-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]},"availabilityZoneMappings":[{"logicalZone":"1","physicalZone":"eastus-az3"},{"logicalZone":"2","physicalZone":"eastus-az1"},{"logicalZone":"3","physicalZone":"eastus-az2"}]},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus2","name":"westus2","type":"Region","displayName":"West US 2","regionalDisplayName":"(US) West US 2","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-119.852","latitude":"47.233","physicalLocation":"Washington","pairedRegion":[{"na[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-d37be87%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 156.078916ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct48702-HostedResources-32E47270","name":"dataproduct48702-HostedResources-32E47270","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg73273/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct48702","tags":{},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct72706-HostedResources-6BE50C22","name":"dataproduct72706-HostedResources-6BE50C22","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg39104/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct72706","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9c[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=Nc9Ra4MwFIbh32KuFYxuMLyrTbqyNsmSnGPp7krnilUibJY4i%2f99uuLdeTnPzXcn59Z1lbuduqp10Nal%2byHZnRy4BbTJfLqy795P3101i135SzJCg5dAwrEXwzEi4b8wrV9%2bNE0CU29ywS5e4wcTqJ8ky3PDGqbjYiOQxxJypqFYS%2fj8MlSqvY29Yjg5kUqY%2fFAPCtALdqbKUg1x%2f6Zpw02RC6CNNPiM6lq8SuCTr71kmCq4UAGYiGvdCx9FZAyJVAa2ay7BrPZoSeZuTRMSvprXLfXYuhTurELYPnIc%2fwA%3d","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16500"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1100"
        status: 200 OK
        code: 200
        duration: 5.357454042s
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=Nc9Ra4MwFIbh32KuFYxuMLyrTbqyNsmSnGPp7krnilUibJY4i%2F99uuLdeTnPzXcn59Z1lbuduqp10Nal%2ByHZnRy4BbTJfLqy795P3101i135SzJCg5dAwrEXwzEi4b8wrV9%2BNE0CU29ywS5e4wcTqJ8ky3PDGqbjYiOQxxJypqFYS[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=VZDBboMwEES%2FBZ9BwqGVKm4hdho1sV3bu1TpLUppREBGaolMifj3khIOPT7Nm8PMlRwb15bucmjLxkFTFe6bpFfyxi2gXZDUXeo6vGNyS1zRta%2BHr7a8FbbFD0kJDZ4CCftO9PuIhH%2BGafyc0WQRmGqdCXbyGt%2BZQP0gWZYZVjMd52uBPJaQMQ35SsLHp6FS7WzsFcPRE4mE0e%2BrXgF6wY5UWaoh7l40rbnJMwG0lgYfUZ3zZwl89CsvGSYKTlQALsS56oSPIjKEhC%2F%2FzZLKwGbFJZjlDu08dpJmmp6YCbdWIWwmHIZf&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 681.052792ms
    - id: 6
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-d37be87","reference":null},"location":{"value":"eastus2","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.39.26.7824","templateHash":"10898219461876186438"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"deleteAfterTime":{"type":"string","defaultValue":"[dateTimeAdd(utcNow(''o''), ''PT1H'')]","metadata":{"description":"A time to mark on created resource groups, so they can be cleaned up via an automated process."}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]","DeleteAfter":"[parameters(''deleteAfterTime'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2025-04-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.39.26.7824","templateHash":"4963480331615759327"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[variables(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[variables(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2024-03-01","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"workloadProfiles":[{"workloadProfileType":"Consumption","name":"consumption"}],"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[variables(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.App/containerApps","apiVersion":"2024-03-01","name":"[format(''app-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","identity":{"type":"UserAssigned","userAssignedIdentities":{"[format(''{0}'', resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))))]":{}}},"properties":{"environmentId":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","configuration":{"activeRevisionsMode":"Single","ingress":{"external":true,"targetPort":8080,"transport":"http","allowInsecure":false},"registries":[{"server":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]","identity":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"}]},"template":{"containers":[{"image":"nginx","name":"app"}],"scale":{"minReplicas":1}}},"tags":"[union(variables(''tags''), createObject(''azd-service-name'', ''app''))]","dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[format(''https://{0}/'', reference(resourceId(''Microsoft.App/containerApps'', format(''app-{0}'', variables(''resourceToken''))), ''2024-03-01'').configuration.ingress.fqdn)]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2025-04-01'').outputs.WEBSITE_URL.value]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2025-04-01'').outputs.AZURE_CONTAINER_REGISTRY_ENDPOINT.value]"}}}},"tags":{"azd-env-name":"azdtest-d37be87","azd-layer-name":"","azd-provision-param-hash":"33ffbfd55f9b5705016c0cc617d1fe45e35edf5b7efcb5b954a26f0f31a3d077"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-d37be87-1767901863/validate?api-version=2021-04-01
        method: POST
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-d37be87-1767901863","name":"azdtest-d37be87-1767901863","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-d37be87","azd-layer-name":"","azd-provision-param-hash":"33ffbfd55f9b5705016c0cc617d1fe45e35edf5b7efcb5b954a26f0f31a3d077"},"properties":{"templateHash":"10898219461876186438","parameters":{"environmentName":{"type":"String","value":"azdtest-d37be87"},"location":{"type":"String","value":"eastus2"},"deleteAfterTime":{"type":"String","value":"2026-01-08T20:51:23Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2026-01-08T19:51:23.8816956Z","duration":"PT0S","correlationId":"1b766d2828c58d828feb5ee0718fbbca","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d37be87","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-d37be87"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d37be87/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"}],"validatedResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d37be87"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d37be87/providers/Microsoft.Resources/deployments/resources"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d37be87/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-7xpr3fqcy4c4i"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d[...]
[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-d37be87-1767901863/operationStatuses/08584337049994402989?api-version=2021-04-01&t=639034986882374578&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-d37be87-1767901863?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/dep[...]
[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d37be87/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27app%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d37be87/providers/Microsoft.App/containerApps/app-7xpr3fqcy4c4i","name":"app-7xpr3fqcy4c4i","type":"Microsoft.App/containerApps","kind":"","managedBy":"","location":"eastus2","identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-d37be87/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-7xpr3fqcy4c4i":{"principalId":"9eeb20e8-4711-41e7-b2ad-d3ed9ad40aac","clientId":"7e70b784-64a8-4f49-9b6e-c76f2a7f734f"}}},"tags":{"azd-env-name":"azdtest-d37be87","azd-service-name":"app"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 1.288568959s
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d37be87/providers/Microsoft.ContainerRegistry/registries/acr7xpr3fqcy4c4i/listBuildSourceUploadUrl?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"relativePath":"tasks-source/202601080000/eb01b8e314bd1cb4ca8d23462ced6686.tar.gz","uploadUrl":"https://acrtaskprodeus2067.blob.core.windows.net/container-ebf3f72f44e44ec09d0b07b1d9760c0e/tasks-source/202601080000/eb01b8e314bd1cb4ca8d23462ced6686.tar.gz?se=2026-01-08T20%3A54%3A43Z\u0026sig=SANITIZED\u0026ske=2026-01-15T19%3A54%3A43Z\u0026skoid=54ea2226-b787-4507-912e-75de6df49d1d\u0026sks=b\u0026skt=2026-01-08T19%3A49%3A43Z\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skv=2024-11-04\u0026sp=cw\u0026sr=b\u0026sv=2024-11-04"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 1.178718708s
    - id: 14
      request:
        host: acrtaskprodeus2067.blob.core.windows.net
        body: !!binary |
            H4sIAAAAAAAA/+yVUWvbMBDH/exPcfjFLnjy2bGTkpK9JB0do6Skg22MQUV8ydQ6kispW7
            bR7z4UN20o2/qyJBT8exE6Xe7+x/GPR2p6Q3omKvJ2BiJiN8/XZ69brE/MmrsjLTIvLdIO
            IhZZkXuYdoo08wB3J+mRpbFce4jfSVRi8fc8Y/ls9o8697M8nC+EN5PxOUhVUj/LfP/DeP
            Ju9HYCCa9rfzi++AQ1n97wObFro+RWWMiSVuzaNKHTjxfjy1NwC/T94fkIPgeuZBBDsEkM
            vhx60pY/sdnPLns85/+803nq/7Tba/2/D6ZKGgtfra1hAJpul0JTFLp7eHTi+82zIf2NNA
            zWeWyqiVu6XMeiSNNtDJrMEQxewy8fANyNGcvt0gxVSTCADPHk8YXsGfGSdBQOlbQk7av3
            P2oKYwgtrWxSV1xI13zzA5JlFJ5RVakYrvjP8oq51zsnrxHGKmEsyegYjzGGaLUlxelXFb
            FKzaOwkQx6KaWQc+DN3P0kSbMeQ4Ys7bsSyX35Q69mL2z/v++qx3P+x6J44v8cU2z9vw8a
            mwSSLyjoQ8DrOoib0IIL6UIPX3D/7tBiW1paWlr+G78DAAD//7hiP8wAEAAA
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/octet-stream
            X-Ms-Blob-Type:
                - BlockBlob
            X-Ms-Version:
                - "2025-11-05"
        url: https://acrtaskprodeus2067.blob.core.windows.net:443/container-ebf3f72f44e44ec09d0b07b1d9760c0e/tasks-source/202601080000/eb01b8e314bd1cb4ca8d23462ced6686.tar.gz?se=2026-01-08T20%3A54%3A43Z&sig=SANITIZED&ske=2026-01-15T19%3A54%3A43Z&skoid=54ea2226-b787-4507-912e-75de6df49d1d&sks=b&skt=2026-01-08T19%3A49%3A43Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2024-11-04&sp=cw&sr=b&sv=2024-11-04
        method: PUT
      response:
        body: ""
        headers:
            Content-Md5:
                - zO0PdxIsabeBxPCAtS+j3w==
            Etag:
                - '"0x8DE4EEFC7665F82"'
            Last-Modified:
                - Thu, 08 Jan 2026 19:54:48 GMT
            X-Ms-Content-Crc64:
                - 30vZyPM006c=
            X-Ms-Request-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2025-11-05"
        status: 201 Created
        code: 201
        duration: 4.461748917s
    - id: 15
      request:
        host: management.azure.com
        body: '{"dockerFilePath":"Dockerfile","imageNames":["acr7xpr3fqcy4c4i.azurecr.io/webapp/app-azdtest-d37be87:azd-deploy-1767901863"],"isPushEnabled":true,"platform":{"architecture":"amd64","os":"Linux"},"sourceLocation":"tasks-source/202601080000/eb01b8e314bd1cb4ca8d23462ced6686.tar.gz","type":"DockerBuildRequest"}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d37be87/providers/Microsoft.ContainerRegistry/registries/acr7xpr3fqcy4c4i/scheduleRun?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ch1","status":"Queued","lastUpdatedTime":"2026-01-08T19:54:50+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d37be87/providers/Microsoft.ContainerRegistry/registries/acr7xpr3fqcy4c4i/runs/ch1","name":"ch1","systemData":{"lastModifiedBy":"weilim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2026-01-08T19:54:50.2513941+00:00"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 2.065745833s
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d37be87/providers/Microsoft.ContainerRegistry/registries/acr7xpr3fqcy4c4i/runs/ch1/listLogSasUrl?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"logLink":"https://acrtaskprodeus2067.blob.core.windows.net/container-ebf3f72f44e44ec09d0b07b1d9760c0e/logs/ch1/rawtext.log?se=2026-01-08T21%3A04%3A51Z\u0026sig=SANITIZED\u0026ske=2026-01-15T19%3A54%3A51Z\u0026skoid=54ea2226-b787-4507-912e-75de6df49d1d\u0026sks=b\u0026skt=2026-01-08T19%3A49%3A51Z\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skv=2024-11-04\u0026sp=r\u0026sr=b\u0026sv=2024-11-04"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 1.235445167s
    - id: 17
      request:
        host: acrtaskprodeus2067.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Version:
                - "2025-11-05"
        url: https://acrtaskprodeus2067.blob.core.windows.net:443/container-ebf3f72f44e44ec09d0b07b1d9760c0e/logs/ch1/rawtext.log?se=2026-01-08T21%3A04%3A51Z&sig=SANITIZED&ske=2026-01-15T19%3A54%3A51Z&skoid=54ea2226-b787-4507-912e-75de6df49d1d&sks=b&skt=2026-01-08T19%3A49%3A51Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2024-11-04&sp=r&sr=b&sv=2024-11-04
        method: HEAD
      response:
        body: ""
        headers:
            Content-Disposition:
                - ""
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DE4EEFC95AF3F2"'
            Last-Modified:
                - Thu, 08 Jan 2026 19:54:51 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "2"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Thu, 08 Jan 2026 19:54:50 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2025-11-05"
        status: 200 OK
        code: 200
        duration: 935.213959ms
    - id: 18
      request:
        host: acrtaskprodeus2067.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Range:
                - bytes=0-101
            X-Ms-Version:
                - "2025-11-05"
        url: https://acrtaskprodeus2067.blob.core.windows.net:443/container-ebf3f72f44e44ec09d0b07b1d9760c0e/logs/ch1/rawtext.log?se=2026-01-08T21%3A04%3A51Z&sig=SANITIZED&ske=2026-01-15T19%3A54%3A51Z&skoid=54ea2226-b787-4507-912e-75de6df49d1d&sks=b&skt=2026-01-08T19%3A49%3A51Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2024-11-04&sp=r&sr=b&sv=2024-11-04
        method: GET
      response:
        body: "2026/01/08 19:54:50 Downloading source code...\r\n2026/01/08 19:54:51 Finished downloading source code\r\n"
        headers:
            Content-Disposition:
                - ""
            Content-Range:
                - bytes 0-101/102
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DE4EEFC95AF3F2"'
            Last-Modified:
                - Thu, 08 Jan 2026 19:54:51 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "2"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Thu, 08 Jan 2026 19:54:50 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2025-11-05"
        status: 206 Partial Content
        code: 206
        duration: 862.442125ms
[...]
    - id: 74
      request:
        host: acrtaskprodeus2067.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Version:
                - "2025-11-05"
        url: https://acrtaskprodeus2067.blob.core.windows.net:443/container-ebf3f72f44e44ec09d0b07b1d9760c0e/logs/ch1/rawtext.log?se=2026-01-08T21%3A04%3A51Z&sig=SANITIZED&ske=2026-01-15T19%3A54%3A51Z&skoid=54ea2226-b787-4507-912e-75de6df49d1d&sks=b&skt=2026-01-08T19%3A49%3A51Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2024-11-04&sp=r&sr=b&sv=2024-11-04
        method: HEAD
      response:
        body: ""
        headers:
            Content-Disposition:
                - ""
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DE4EEFF5A5B9B9"'
            Last-Modified:
                - Thu, 08 Jan 2026 19:56:05 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "19"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Thu, 08 Jan 2026 19:54:50 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Meta-Complete:
                - successful
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
[...]
