---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2021-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/southcentralus","name":"southcentralus","type":"Region","displayName":"South Central US","regionalDisplayName":"(US) South Central US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-98.5","latitude":"29.4167","physicalLocation":"Texas","pairedRegion":[{"name":"northcentralus",[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-lfd06e2%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 78.598161ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct48702-HostedResources-32E47270","name":"dataproduct48702-HostedResources-32E47270","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg73273/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct48702","tags":{},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct72706-HostedResources-6BE50C22","name":"dataproduct72706-HostedResources-6BE50C22","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg39104/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct72706","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9c[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=xdLBasJAEAbgZ3HPCkmqRbwZZwNSZ9LdzMamN7FWYpYE2kiSFd%2b9SUvp3R48zcD8h4%2bfuYh9VdZ5ed7VeVVyVRzKT7G4CLlM2CTDVh7a%2bnn3UedD4OnQiYXwR%2fMRcdaiyyZi%2fJ3QVfN78735SBdRiHBslHkFNGpKEIYaLCgvjdBIjzgExemK%2bO1d%2bxRvEq%2bJwfQ5M0N3dOiKNoYiiBkd5j4pPwSWNmKrHrFQLTnV4WntCPaBuI7FVg7c4DZvMP2Xl06yIV43eMK29zbY%2bS%2faWEyM11s1p3I%2fzGgrLadQdRrkA4GcxZz1fjX589%2fGv0PdP99xY9138CZbCZJWklgvN2JRnq29Xr8A","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 6.381870182s
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=xdLBasJAEAbgZ3HPCkmqRbwZZwNSZ9LdzMamN7FWYpYE2kiSFd%2B9SUvp3R48zcD8h4%2BfuYh9VdZ5ed7VeVVyVRzKT7G4CLlM2CTDVh7a%2Bnn3UedD4OnQiYXwR%2FMRcdaiyyZi%2FJ3QVfN78735SBdRiHBslHkFNGpKEIYaLCgvj[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=XY9Na4NAFEV%2Fi7M2oPkoxV3Me0Jo5lnHN1q7C6kpRhmhNYwm%2BN9bG7JIV5fDPVy4V3FoTVeZ876rWsNtXZpvEVwFrlPWqQjMuWlckeNE80e80039Vy6mEVP23ev%2Bq6um7ZdyEIHwnWeHuOjlpZgJ989Qrb13%2FnzpqDoKJXzaRL%2BD1MmSIAwVNJB4WSQ1esQhJJxtiD%2BOyqd4l3o2Bv3r6RWd0BJvrTzJPmZp5eC%2FKd3IVHtPslac4WHKKMeGM2gHBbggwFXMxYUgmYnRFWmOgLRBYrXe3T6O4w8%3D&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 1.394803464s
    - id: 6
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-lfd06e2","reference":null},"location":{"value":"eastus2","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.34.44.8038","templateHash":"9237477269793328764"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"deleteAfterTime":{"type":"string","defaultValue":"[dateTimeAdd(utcNow(''o''), ''PT1H'')]","metadata":{"description":"A time to mark on created resource groups, so they can be cleaned up via an automated process."}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]","DeleteAfter":"[parameters(''deleteAfterTime'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.34.44.8038","templateHash":"14451265644819744758"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[variables(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[variables(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2024-03-01","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"workloadProfiles":[{"workloadProfileType":"Consumption","name":"consumption"}],"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[variables(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.App/containerApps","apiVersion":"2024-03-01","name":"[format(''app-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","identity":{"type":"UserAssigned","userAssignedIdentities":{"[format(''{0}'', resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))))]":{}}},"properties":{"environmentId":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","configuration":{"activeRevisionsMode":"Single","ingress":{"external":true,"targetPort":8080,"transport":"http","allowInsecure":false},"registries":[{"server":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]","identity":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"}]},"template":{"containers":[{"image":"nginx","name":"app"}],"scale":{"minReplicas":1}}},"tags":"[union(variables(''tags''), createObject(''azd-service-name'', ''app''))]","dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[format(''https://{0}/'', reference(resourceId(''Microsoft.App/containerApps'', format(''app-{0}'', variables(''resourceToken''))), ''2024-03-01'').configuration.ingress.fqdn)]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.WEBSITE_URL.value]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.AZURE_CONTAINER_REGISTRY_ENDPOINT.value]"}}}},"tags":{"azd-env-name":"azdtest-lfd06e2","azd-provision-param-hash":"37044bd47303a53cbcc41ea10baf7d7bb94503debfab2b3ae4b22fd9a804acff"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lfd06e2-1744260938/validate?api-version=2021-04-01
        method: POST
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lfd06e2-1744260938","name":"azdtest-lfd06e2-1744260938","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-lfd06e2","azd-provision-param-hash":"37044bd47303a53cbcc41ea10baf7d7bb94503debfab2b3ae4b22fd9a804acff"},"properties":{"templateHash":"9237477269793328764","parameters":{"environmentName":{"type":"String","value":"azdtest-lfd06e2"},"location":{"type":"String","value":"eastus2"},"deleteAfterTime":{"type":"String","value":"2025-04-10T05:56:00Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-04-10T04:56:00.9892904Z","duration":"PT0S","correlationId":"679b2008705b7f1cfb6dac954255daf5","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lfd06e2","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-lfd06e2"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lfd06e2/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"}],"validatedResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lfd06e2"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lfd06e2/providers/Microsoft.Resources/deployments/resources"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lfd06e2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-2wafljgvq5cca"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-l[...]
[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lfd06e2-1744260938/operationStatuses/08584573459226751423?api-version=2021-04-01&t=638798577674084212&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lfd06e2-1744260938?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/dep[...]
[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lfd06e2/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27app%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lfd06e2/providers/Microsoft.App/containerApps/app-2wafljgvq5cca","name":"app-2wafljgvq5cca","type":"Microsoft.App/containerApps","kind":"","managedBy":"","location":"eastus2","identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-lfd06e2/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-2wafljgvq5cca":{"principalId":"ad5f85ac-5cd5-459d-a6a3-7d963744c561","clientId":"b1f62a0f-09e1-4eea-8a57-1c13b974e479"}}},"tags":{"azd-env-name":"azdtest-lfd06e2","azd-service-name":"app"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 274.598576ms
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lfd06e2/providers/Microsoft.ContainerRegistry/registries/acr2wafljgvq5cca/listBuildSourceUploadUrl?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"relativePath":"source/202504100000/debb07d467522e6f2889bfbfe2e922fe.tar.gz","uploadUrl":"https://eus2managed221.blob.core.windows.net/9615021253564f98920aaa7adedb7074-xkbrlhlhnx/source/202504100000/debb07d467522e6f2889bfbfe2e922fe.tar.gz?se=2025-04-10T05%3A58%3A41Z\u0026sig=SANITIZED\u0026sp=cw\u0026sr=b\u0026sv=2024-11-04"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 522.813796ms
    - id: 14
      request:
        host: eus2managed221.blob.core.windows.net
        body: !!binary |
            H4sIAAAAAAAA/+yVz2rbQBDGddZTDLpIAXU1+h8c3IudklKCg1NoSylksaauEmUl766Mm5
            J3L2vFiQktvtQ2Bf0uy86MZ75h+axxPbsj+b2syNobiIhZkpgzzFPcPteEaWSFSZ6nWZKn
            YWxhmMRZagHuT9ILrdJcWojLcskfFu1f63bln3Z5Pv8T3k0nlyDqggZRZNufJtMP4/dTCH
            jT2KPJ1Rdo+OyOz4ndqlpshUtR0Irdqi50/vlqcn0OMSLa9uhyDF8d09LxwdkUOt+OvWnP
            n9i8zz5n7PJ/Esev/Y9J1Pv/EMxqoTT80LqBIUhatKUkzzV39+TMtru0IrkkCcN1HZtJ4p
            qu1zHPk7TwQZI6geFb+GUDgLkxpblu1aguCIYQIZ69ZEhfEC9Ieu6oFpqEfvPxZ0OuD66m
            lQ6aipfCDN/8gEThuRdUVbUPN/yhuGEm+2jkdcJYVSpNwjvFU/TBW21JMfrrilhVzz23kw
            yyFaIUc+Dd3oMgCKOcIUMWDkyL4Kn9sZ/mIGz/v+9rxi7/Y5q+9n+Wxb3/D0FnE0fwe3IG
            4PCmcfwudM9LYULPX3D78dhie3p6enr+Gb8DAAD//1KWaGEAEAAA
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/octet-stream
            X-Ms-Blob-Type:
                - BlockBlob
            X-Ms-Version:
                - "2023-11-03"
        url: https://eus2managed221.blob.core.windows.net:443/9615021253564f98920aaa7adedb7074-xkbrlhlhnx/source/202504100000/debb07d467522e6f2889bfbfe2e922fe.tar.gz?se=2025-04-10T05%3A58%3A41Z&sig=SANITIZED&sp=cw&sr=b&sv=2024-11-04
        method: PUT
      response:
        body: ""
        headers:
            Content-Md5:
                - sTRK/heZZnwSAltLmTGesw==
            Etag:
                - '"0x8DD77EC5D768883"'
            Last-Modified:
                - Thu, 10 Apr 2025 04:58:42 GMT
            X-Ms-Content-Crc64:
                - Eh97DfmSupM=
            X-Ms-Request-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 201 Created
        code: 201
        duration: 654.218371ms
    - id: 15
      request:
        host: management.azure.com
        body: '{"dockerFilePath":"Dockerfile","imageNames":["acr2wafljgvq5cca.azurecr.io/webapp/app-azdtest-lfd06e2:azd-deploy-1744260938"],"isPushEnabled":true,"platform":{"os":"Linux","architecture":"amd64"},"sourceLocation":"source/202504100000/debb07d467522e6f2889bfbfe2e922fe.tar.gz","type":"DockerBuildRequest"}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lfd06e2/providers/Microsoft.ContainerRegistry/registries/acr2wafljgvq5cca/scheduleRun?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ch1","status":"Queued","lastUpdatedTime":"2025-04-10T04:58:42+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lfd06e2/providers/Microsoft.ContainerRegistry/registries/acr2wafljgvq5cca/runs/ch1","name":"ch1","systemData":{"lastModifiedBy":"vivazqu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-10T04:58:42.2659862+00:00"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 716.198801ms
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lfd06e2/providers/Microsoft.ContainerRegistry/registries/acr2wafljgvq5cca/runs/ch1/listLogSasUrl?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"logLink":"https://eus2managed221.blob.core.windows.net/9615021253564f98920aaa7adedb7074-xkbrlhlhnx/logs/ch1/rawtext.log?se=2025-04-10T06%3A08%3A43Z\u0026sig=SANITIZED\u0026sp=r\u0026sr=b\u0026sv=2024-11-04"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 446.703336ms
    - id: 17
      request:
        host: eus2managed221.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Version:
                - "2023-11-03"
        url: https://eus2managed221.blob.core.windows.net:443/9615021253564f98920aaa7adedb7074-xkbrlhlhnx/logs/ch1/rawtext.log?se=2025-04-10T06%3A08%3A43Z&sig=SANITIZED&sp=r&sr=b&sv=2024-11-04
        method: HEAD
      response:
        body: ""
        headers:
            Content-Disposition:
                - ""
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DD77EC5E245462"'
            Last-Modified:
                - Thu, 10 Apr 2025 04:58:43 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "1"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Thu, 10 Apr 2025 04:58:43 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 200 OK
        code: 200
        duration: 85.56598ms
    - id: 18
      request:
        host: eus2managed221.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Range:
                - bytes=0-47
            X-Ms-Version:
                - "2023-11-03"
        url: https://eus2managed221.blob.core.windows.net:443/9615021253564f98920aaa7adedb7074-xkbrlhlhnx/logs/ch1/rawtext.log?se=2025-04-10T06%3A08%3A43Z&sig=SANITIZED&sp=r&sr=b&sv=2024-11-04
        method: GET
      response:
        body: "2025/04/10 04:58:43 Downloading source code...\r\n"
        headers:
            Content-Disposition:
                - ""
            Content-Range:
                - bytes 0-47/48
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DD77EC5E245462"'
            Last-Modified:
                - Thu, 10 Apr 2025 04:58:43 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "1"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Thu, 10 Apr 2025 04:58:43 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 206 Partial Content
        code: 206
        duration: 85.63238ms
[...]
    - id: 104
      request:
        host: eus2managed221.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Version:
                - "2023-11-03"
        url: https://eus2managed221.blob.core.windows.net:443/9615021253564f98920aaa7adedb7074-xkbrlhlhnx/logs/ch1/rawtext.log?se=2025-04-10T06%3A08%3A43Z&sig=SANITIZED&sp=r&sr=b&sv=2024-11-04
        method: HEAD
      response:
        body: ""
        headers:
            Content-Disposition:
                - ""
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DD77EC86130436"'
            Last-Modified:
                - Thu, 10 Apr 2025 04:59:50 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "16"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Thu, 10 Apr 2025 04:58:43 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Meta-Complete:
                - successful
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 200 OK
        code: 200
        duration: 84.565078ms
[...]
    - id: 107
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lfd06e2/providers/Microsoft.ContainerRegistry/registries/acr2wafljgvq5cca/runs/ch1?api-version=2019-06-01-preview
        method: GET
      response:
[...]
