---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2021-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/southcentralus","name":"southcentralus","type":"Region","displayName":"South Central US","regionalDisplayName":"(US) South Central US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-98.5","latitude":"29.4167","physicalLocation":"Texas","pairedRegion":[{"name":"northcentralus",[...]
    - id: 1
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"boolTagValue":{"value":false},"environmentName":{"value":"azdtest-we4a0b2"},"intTagValue":{"value":678},"location":{"value":"eastus2"},"secureValue":{"value":""}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"6845266579015915401"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"deleteAfterTime":{"type":"string","defaultValue":"[dateTimeAdd(utcNow(''o''), ''PT1H'')]","metadata":{"description":"A time to mark on created resource groups, so they can be cleaned up via an automated process."}},"intTagValue":{"type":"int","metadata":{"description":"Test parameter for int-typed values."}},"boolTagValue":{"type":"bool","metadata":{"description":"Test parameter for bool-typed values."}},"secureValue":{"type":"securestring","metadata":{"description":"Test parameter for secureString-typed values."}},"secureObject":{"type":"secureObject","defaultValue":{},"metadata":{"description":"Test parameter for secureObject-typed values."}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]","DeleteAfter":"[parameters(''deleteAfterTime'')]","IntTag":"[string(parameters(''intTagValue''))]","BoolTag":"[string(parameters(''boolTagValue''))]","SecureTag":"[parameters(''secureValue'')]","SecureObjectTag":"[string(parameters(''secureObject''))]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"14384209273534421784"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.Storage/storageAccounts","apiVersion":"2022-05-01","name":"[format(''st{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]","kind":"StorageV2","sku":{"name":"Standard_LRS"}}],"outputs":{"AZURE_STORAGE_ACCOUNT_ID":{"type":"string","value":"[resourceId(''Microsoft.Storage/storageAccounts'', format(''st{0}'', variables(''resourceToken'')))]"},"AZURE_STORAGE_ACCOUNT_NAME":{"type":"string","value":"[format(''st{0}'', variables(''resourceToken''))]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]}],"outputs":{"AZURE_STORAGE_ACCOUNT_ID":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.AZURE_STORAGE_ACCOUNT_ID.value]"},"AZURE_STORAGE_ACCOUNT_NAME":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.AZURE_STORAGE_ACCOUNT_NAME.value]"},"STRING":{"type":"string","value":"abc"},"BOOL":{"type":"bool","value":true},"INT":{"type":"int","value":1234},"ARRAY":{"type":"array","value":[true,"abc",1234]},"ARRAY_INT":{"type":"array","value":[1,2,3]},"ARRAY_STRING":{"type":"array","value":["elem1","elem2","elem3"]},"OBJECT":{"type":"object","value":{"foo":"bar","inner":{"foo":"bar"},"array":[true,"abc",1234]}}}},"whatIfSettings":{}}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-we4a0b2-1730775430/whatIf?api-version=2021-04-01
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUFaRFRFU1Q6MkRXRTRBMEIyOjJEMTczMDc3NTQzMC1DNzQ4MTlDODoyRDdCN0I6MkQ0Qzg2OjJEQUFFRjoyRDhCQzVBODE4NkNEQyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2021-04-01&t=638663722566498148&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMj[...]
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUFaRFRFU1Q6MkRXRTRBMEIyOjJEMTczMDc3NTQzMC1DNzQ4MTlDODoyRDdCN0I6MkQ0Qzg2OjJEQUFFRjoyRDhCQzVBODE4NkNEQyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2021-04-01&t=6386637225664981[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-we4a0b2%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 89.8535ms
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct48702-HostedResources-32E47270","name":"dataproduct48702-HostedResources-32E47270","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg73273/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct48702","tags":{},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct72706-HostedResources-6BE50C22","name":"dataproduct72706-HostedResources-6BE50C22","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg39104/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct72706","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9c[...]
[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=pZFNb4JAEIZ%2fi3uuya5CU72Ju6RWZoFllkZvRq1l10DSYkCM%2f71sUw891p7m653kmXcuZFuVdVGeNnVRlVjZfflJphfyKjLU2YhMy9Px%2bEDE7Ke8kHLf1snmoy7cwnJ%2fJlPCBk8DiasWutWQPHwrVNXcZmzkDZQNA%2bCHJtVrDjr1JA8CxY88pXkIWlCJAU8xn0vcvSkm4yijTcx1r9u2EmcedMKXfNH37EgWbJlpH5D6z7F5EWgnQmF1Vlw0YMQj2LSVHTTArScRxuR643eH%2fR2f%2fh9fGt0BWt%2bdEc%2bZzEQY6W7xCxUMtA51LiSqWaSzm%2ffuFUKrOBH38Xv0fvtxwWIEH7geg1lRMIdxnLFlqmWk6SR29udiIrDr7Q%2bDdS7eEzR9LliCdpe4ea8NXASzPcvDcEiu1%2bsX","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16500"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1100"
        status: 200 OK
        code: 200
        duration: 7.3776236s
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=pZFNb4JAEIZ%2fi3uuya5CU72Ju6RWZoFllkZvRq1l10DSYkCM%2f71sUw891p7m653kmXcuZFuVdVGeNnVRlVjZfflJphfyKjLU2YhMy9Px%2bEDE7Ke8kHLf1snmoy7cwnJ%2fJlPCBk8DiasWutWQPHwr[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=xZFBboMwEEXPgtcgQSBSxc7EjpoS22CPU6W7iNKIgEzVEhGIuHuhBPUI3c3%2f%2fy2eNHeU1aYpzPXUFLWBuszNNwrviGIFWq2m0%2bS3Jjl9NcVExHmHQuRZTxaH4431RwfZv4Ss22Xz3MCS5TZi5Nym%2[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1ZJBT4MwFMc%2fy3reEpjMLLsBLVG397rC68y8LYgLY4FEWSgs%2b%2b5SJ9F41JOn9rX%2ftr%2f3S88srco6L0%2b7Oq9KqoqsfGOLMxN%2bQjqZ2mmZmXq9e61zm1hmLVswdzQfIW0NdNsJG38k4qoZ9l[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=ZZBRb4IwFIV%2fC32GBBSThbdCS7ZpW2hvXdybYcwgpCQbBpnxv29Va5bt8Zz73Zt7zglVvRkac9gOTW%2bgb2vziZIToliBVjOUmEPX%2bTfp1Au1Q4uZ%2bjgU24%2bhsdvLekIJirwHj8PmyL42AfIvh[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=ZZBRb4MgFIV%2fizzXRLs%2bNL6hYJa1QIFLF%2ffWONe4Gkw2G7WN%2f33SjmXZnrjn3I%2fD5V5R2dqutudDV7cW2lNlP1FyRc9Ug9GustXQ7Q4fXe2ATTWiBMXBOuBQDOxShGhxI1Tb%2b14crQN1ylNGjr00L4QZueIkTRVpiIz2OTM04pASCfuMw%2bubirnY6qgXxMxcOXJilgyOK3Ypx%2fmFgWcx13kqGZSDeH%2bi8zkKoDEjxZLJMETTAlHsxl2ixJ6bxkuvcoV5RjPKQeGtN7Uw8PjtuY%2feL2aYY4JdmnfcIv5hzqRGiR39jRn94KXZ3PK9vG%2fzZ7w%2fedP0BQ%3d%3d
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 291.778ms
[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"14384209273534421784"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[[...]
[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"14384209273534421784"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[[...]
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-we4a0b2-1730775430/operationStatuses/08584708313844656693?api-version=2021-04-01
        method: GET
      response:
        body: '{"status":"Succeeded"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 232.8108ms
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-we4a0b2-1730775430?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-we4a0b2-1730775430","name":"azdtest-we4a0b2-1730775430","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-we4a0b2","azd-provision-param-hash":"dda6db788e5162577771c8fe30a4263261c0710aba844669ad6bebd73ac3bfe3"},"properties":{"templateHash":"6845266579015915401","parameters":{"environmentName":{"type":"String","value":"azdtest-we4a0b2"},"location":{"type":"String","value":"eastus2"},"deleteAfterTime":{"type":"String","value":"2024-11-05T03:58:20Z"},"intTagValue":{"type":"Int","value":678},"boolTagValue":{"type":"Bool","value":false},"secureValue":{"type":"SecureString"},"secureObject":{"type":"SecureObject"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2024-11-05T02:58:53.9182969Z","duration":"PT30.7679164S","correlationId":"bd55913a702ee1a152495fe15b327637","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-we4a0b2","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-we4a0b2"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-we4a0b2/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"}],"outputs":{"azurE_STORAGE_ACCOUNT_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-we4a0b2/providers/Microsoft.Storage/storageAccounts/stezntqadabguyg"},"azurE_STORAGE_ACCOUNT_NAME":{"type":"String","value":"stezntqadabguyg"},"string":{"type":"String","value":"abc"},"bool":{"type":"Bool","value":true},"int":{"type":"Int","value":1234},"array":{"type":"Array","value":[true,"abc",1234]},"arraY_INT":{"type":"Array","value":[1,2,3]},"arraY_STRING":{"type":"Array","value":["elem1","elem2","elem3"]},"object":{"type":"Object","value":{"foo":"bar","inner":{"foo":"bar"},"array":[true,"abc",1234]}}},"outputResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-we4a0b2"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-we4a0b2/providers/Microsoft.Storage/storageAccounts/stezntqadabguyg"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 370.5134ms
[...]
    - id: 19
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUFaRFRFU1Q6MkRXRTRBMEIyOjJEMTczMDc3NTQzMC05NEEzRTU2MDoyRDA0NEY6MkQ0MjU3OjJEQkM0NDoyRDMwN0EyMTJBNDMxRCIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2021-04-01&t=638663723433866[...]
[...]
    - id: 23
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=pZFBb4JAEIV%2fi3vWhFVsqjdxl8TK7MIyS4M3oxYFA0mLAdbw3wttOfRYe5qZvPeSb2bu5FDk5SW%2f7ctLkWORnfIPsryTVx6iDqdkmd%2bu1zHhq5%2fxTvJTXfr79%2fLSB7anhiwJHT2PBMY1mHhCx[...]
[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"14384209273534421784"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[[...]
[...]
    - id: 57
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=pZFPb4JAEMU%2fi3vWZBFsqjdxl8TK7MIyQ6M3o1YFA0mL4Y%2fhuxfaeuix9jTz8t4kv5m5sV2eFefsui3OeYZ5esg%2b2OzGXmWEFI3ZLLteLkMm5z%2fyxrJDVQTb9%2bLcD6wONZsxa%2fA8ULiuoFm[...]
    - id: 58
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=xZHLboMwEEW%2fJV6DxCtSxQ5iR22TsbE9TpXuIkojAjJSS0RIxL83lLDpD3Q3996zONLcSN7YtrTnQ1s2FpuqsN8kvhGWaDQ6GE9bXNrs8NWWI7EpehITf%2fG04Li%2fwHXvEueXUE03b74XLVS1ToEeO[...]
    - id: 59
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=xZJdb8IgFIZ%2fi1xrUmpdjHdtodmmB4SCi96Zzhlb0yazprTG%2fz7wIy673C52BYfzQp7zhBPKqrLelcd1vatKVRWb8oAmJ0TDVOnUd9tyY%2br5%2brPeucR006IJwr1xj6mlgW45QP1LQlbNvYe9cU8[...]
[...]
    - id: 64
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-we4a0b2/resources?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-we4a0b2/providers/Microsoft.Storage/storageAccounts/stezntqadabguyg","name":"stezntqadabguyg","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","location":"eastus2","tags":{"azd-env-name":"azdtest-we4a0b2"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 172.7842ms
[...]
    - id: 68
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-we4a0b2?api-version=2021-04-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9c[...]
    - id: 69
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzoyREFaRFRFU1Q6MkRXRTRBMEIyLUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2021-04-01&t=638663726051213612&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjAN[...]
[...]
    - id: 71
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{},"variables":{},"resources":[],"outputs":{}}},"tags":{"azd-deploy-reason":"down","azd-env-name":"azdtest-we4a0b2"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-we4a0b2-1730775430?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-we4a0b2-1730775430","name":"azdtest-we4a0b2-1730775430","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-deploy-reason":"down","azd-env-name":"azdtest-we4a0b2"},"properties":{"templateHash":"14737569621737367585","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-11-05T03:03:43.802216Z","duration":"PT0.0007134S","correlationId":"8b0c7bbbe6f488abe625122c9def6348","providers":[],"dependencies":[]}}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-we4a0b2-1730775430/operationStatuses/08584708310639267932?api-version=2021-04-01
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Deployment-Engine-Version:
                - 1.158.0
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 3.3173459s
[...]
    - id: 73
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-we4a0b2-1730775430?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-we4a0b2-1730775430","name":"azdtest-we4a0b2-1730775430","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-deploy-reason":"down","azd-env-name":"azdtest-we4a0b2"},"properties":{"templateHash":"14737569621737367585","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2024-11-05T03:03:44.4814198Z","duration":"PT0.6799172S","correlationId":"8b0c7bbbe6f488abe625122c9def6348","providers":[],"dependencies":[],"outputs":{},"outputResources":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1098"
        status: 200 OK
        code: 200
        duration: 267.6667ms
---
env_name: azdtest-we4a0b2
subscription_id: faa080af-c1d8-40ad-9cce-e1a450ca5b57
time: "1730775430"
