---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"options":{"allowPartialScopes":true},"query":"\n\tResources\n\t| where type in~ (''microsoft.devcenter/projects'')\n\t| where properties[''provisioningState''] =~ ''Succeeded''\n\t| project id, location, tenantId, name, properties, type\n\t"}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/providers/Microsoft.ResourceGraph/resources?api-version=2021-06-01-preview
        method: POST
      response:
        body: '{"totalRecords":15,"count":15,"data":[{"id":"/subscriptions/0a86e8d0-8c17-4765-90eb-aa50dae47299/resourceGroups/project-12719/providers/Microsoft.DevCenter/projects/VisualStudioClient","location":"westus3","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","name":"VisualStudioClient","properties":{"provisioningState":"Succeeded","devCenterUri":"https://72f988bf-86f1-41af-91ab-2d7cd011db47-devcenter-tfotz75rskxty-dc.westus3.devcenter.azure.com/","devCenterId":"/subscriptions/8f22e2e8-b4c1-4f7d-a889-49aec29b9c75/resourceGroups/devcenter-16-25/providers/Microsoft.DevCenter/devcenters/devcenter-tfotz75rskxty-dc"},"type":"microsoft.devcenter/projects"},{"id":"/subscriptions/0a86e8d0-8c17-4765-90eb-aa50dae47299/resourceGroups/project-12719/providers/Microsoft.DevCenter/projects/VSVendors","location":"westus3","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","name":"VSVendors","properties":{"provisioningState":"Succeeded","description":"Project for vendors","devCenterUri":"https://72f988bf-86f1-41af-91ab-2d7cd011db47-devcenter-tfotz75rskxty-dc.westus3.devcenter.azure.com/","devCenterId":"/subscriptions/8f22e2e8-b4c1-4f7d-a889-49aec29b9c75/resourceGroups/devcenter-16-25/providers/Microsoft.DevCenter/devcenters/devcenter-tfotz75rskxty-dc"},"type":"microsoft.devcenter/projects"},{"id":"/subscriptions/0f6b8985-2847-41a6-a1be-9ce8c00b369b/resourceGroups/project-13636/providers/Microsoft.DevCenter/projects/basic","location":"westus3[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourcegroups/rg-azd-devcenter/providers/Microsoft.DevCenter/projects/Project-2/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]},{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]},{"actions":["Microsoft.DevCenter/projects/*","Microsoft.Authorization/*/read","Microsoft.Resources/deployments/*","Microsoft.Resources/subscriptions/resourceGroups/read"],"notActions":["Microsoft.DevCenter/projects/write","Microsoft.DevCenter/projects/delete"],"dataActions":["Microsoft.DevCenter/projects/users/devboxes/adminStart/action","Microsoft.DevCenter/projects/users/devboxes/adminStop/action","Microsoft.DevCenter/p[...]
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/1702e86b-0726-4f19-9ae5-25cad10e4f26/resourcegroups/project-3435/providers/Microsoft.DevCenter/projects/VSCode/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevCente[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/0f6b8985-2847-41a6-a1be-9ce8c00b369b/resourcegroups/project-13636/providers/Microsoft.DevCenter/projects/basic/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevCente[...]
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/16cb61da-05bc-4f08-8bd4-b2cdf51f8035/resourcegroups/project-3429/providers/Microsoft.DevCenter/projects/LanguageAndFrameworkServices/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions[...]
[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/0a86e8d0-8c17-4765-90eb-aa50dae47299/resourcegroups/project-12719/providers/Microsoft.DevCenter/projects/VSVendors/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevC[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/ed99ad84-f5da-479f-81df-23460857ccca/resourcegroups/project-7341/providers/Microsoft.DevCenter/projects/DataAndAI/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevCe[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/f91f9734-8835-4fa4-8564-1dd169bc29dd/resourcegroups/project-8489/providers/Microsoft.DevCenter/projects/VisualStudioServicing/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Mic[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/1603ca8f-8a37-42c0-9e39-26fb03b3cbb6/resourcegroups/project-50/providers/Microsoft.DevCenter/projects/DevDivAzureService/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsof[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/1ba77102-f6a9-4834-93c3-cc42bad6686e/resourcegroups/project-3436/providers/Microsoft.DevCenter/projects/PMUXDesign/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.Dev[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/0a86e8d0-8c17-4765-90eb-aa50dae47299/resourcegroups/project-12719/providers/Microsoft.DevCenter/projects/VisualStudioClient/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Micr[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/17c9d6d4-b083-4266-a260-cbcb366a27a4/resourcegroups/project-8974/providers/Microsoft.DevCenter/projects/ServerlessPaaS/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft[...]
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/0f6b8985-2847-41a6-a1be-9ce8c00b369b/resourcegroups/project-13636/providers/Microsoft.DevCenter/projects/MicroBuild/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.De[...]
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/1e627736-1411-423a-81c4-aa35ca55f2b3/resourcegroups/project-9387/providers/Microsoft.DevCenter/projects/NuGet/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevCente[...]
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourcegroups/qiaozha-test/providers/Microsoft.DevCenter/projects/jsmgmt/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]},{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 670.353ms
    - id: 16
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/environmentDefinitions?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "value": [
                {
                  "id": "/projects/Project-1/catalogs/example/environmentDefinitions/webapp",
                  "name": "WebApp",
                  "catalogName": "Example",
                  "description": "Deploys an Azure Web App without a data store",
                  "parameters": [],
                  "parametersSchema": "{\"type\":\"object\"}",
                  "templatePath": "Environment-Definitions/ARMTemplates/WebApp/azuredeploy.json"
                },
                {
                  "id": "/projects/Project-1/catalogs/test/environmentDefinitions/sandbox",
                  "name": "Sandbox",
                  "catalogName": "test",
                  "description": "Deploys a sandbox environment",
                  "parameters": [],
                  "parametersSchema": "{\"type\":\"object\"}",
                  "templatePath": "Environment-Definitions/ARMTe[...]
[...]
    - id: 33
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/environments?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "value": [
                {
                  "name": "wabrez-hello-dev",
                  "environmentType": "Dev",
                  "user": "19a2053b-445a-4023-95d3-c339051e0f32",
                  "provisioningState": "Succeeded",
                  "resourceGroupId": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-wabrez-hello-dev",
                  "catalogName": "wbreza",
                  "environmentDefinitionName": "HelloWorld",
                  "parameters": {
                    "environmentName": "wabrez-hello-dev",
                    "repoUrl": "https://github.com/wbreza/azd-hello-world"
                  }
                },
                {
                  "name": "wabrez-hello-prod",
                  "environmentType": "Prod",
                  "user": "19a2053b-445a-4023-95d3-c339051e0f32",
                  "provisioningState": "Succeeded",
                  "resourceGroupId": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-wabrez-hello-prod",
                  "catalogName": "wbreza",
          [...]
[...]
    - id: 35
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/environmentTypes?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "value": [
                {
                  "name": "Dev",
                  "deploymentTargetId": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b",
                  "status": "Enabled"
                },
                {
                  "name": "Prod",
                  "deploymentTargetId": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b",
                  "status": "Enabled"
                },
                {
                  "name": "Test",
                  "deploymentTargetId": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b",
                  "status": "Enabled"
                }
              ]
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "298"
            X-Rate-Limit-Reset:
                - "2024-06-11T00:13:14.7936557Z"
        status: 200 OK
        code: 200
        duration: 111.4904ms
    - id: 36
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/catalogs/wbreza/environmentDefinitions/HelloWorld?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "id": "/projects/Project-1/catalogs/wbreza/environmentDefinitions/helloworld",
              "name": "HelloWorld",
              "catalogName": "wbreza",
              "description": "Deploys an Azure App Service within App Service Plan",
              "parameters": [
                {
                  "id": "environmentName",
                  "name": "Environment Name",
                  "description": "Name of the environment",
                  "type": "string",
                  "readOnly": false,
                  "required": false
                },
                {
                  "id": "repoUrl",
                  "name": "Repository URL",
                  "description": "Path the the application source code",
                  "type": "string",
                  "readOnly": false,
                  "required": false,
                  "allowed": [
                    "https://github.com/wbreza/azd-hello-world"
                  ]
                }
              ],
              "parametersSchema": "{\"type\":\"object\",\"properties\":{\"environmentName\":{\"title\":\"Environment Name\",\"description\":\"Name of the environment\"},\"repoUrl\":{\"title\":\"Repository URL\",\"description\":\"Path the the application source code\",\"enum\":[\"https://github.com/wbreza/azd-hello-world\"]}}}",
              "templatePath": "EnvironmentDefinitions/HelloWorld/azuredeploy.json"
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "298"
            X-Rate-Limit-Reset:
                - "2024-06-11T00:13:14.8270684Z"
        status: 200 OK
        code: 200
        duration: 254.4809ms
    - id: 37
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/users/me/environments/azdtest-wa68d26?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "status": "Failed",
              "error": {
                "code": "EnvironmentNotFound",
                "message": "The environment azdtest-wa68d26 cannot be found.",
                "details": [],
                "additionalInfo": []
              }
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "298"
            X-Rate-Limit-Reset:
                - "2024-06-11T00:13:20.5895831Z"
        status: 404 Not Found
        code: 404
        duration: 105.8512ms
    - id: 38
      request:
            - chunked
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: '{"catalogName":"wbreza","environmentDefinitionName":"HelloWorld","environmentType":"Dev","parameters":{"environmentName":"azdtest-wa68d26","repoUrl":"https://github.com/wbreza/azd-hello-world"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/users/me/environments/azdtest-wa68d26?api-version=2023-04-01
        method: PUT
      response:
        body: |-
            {
              "name": "azdtest-wa68d26",
              "environmentType": "Dev",
              "user": "547aa7c1-2f57-48d9-8969-ecf696948ca7",
              "provisioningState": "Creating",
              "catalogName": "wbreza",
              "environmentDefinitionName": "HelloWorld",
              "parameters": {
                "environmentName": "azdtest-wa68d26",
                "repoUrl": "https://github.com/wbreza/azd-hello-world"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com/projects/project-1/operationstatuses/80cfe5b7-7d7c-4f67-8f09-c226bf21ba41?api-version=2023-04-01&monitor=true
            Operation-Location:
                - https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com/projects/project-1/operationstatuses/80cfe5b7-7d7c-4f67-8f09-c226bf21ba41?api-version=2023-04-01
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "297"
            X-Rate-Limit-Reset:
                - "2024-06-11T00:13:14.7936557Z"
        status: 201 Created
        code: 201
        duration: 540.5673ms
    - id: 39
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/project-1/operationstatuses/80cfe5b7-7d7c-4f67-8f09-c226bf21ba41?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "id": "/projects/project-1/operationStatuses/80cfe5b7-7d7c-4f67-8f09-c226bf21ba41",
              "name": "80cfe5b7-7d7c-4f67-8f09-c226bf21ba41",
              "status": "Succeeded",
              "startTime": "2024-06-11T00:12:32.0065039+00:00",
              "endTime": "2024-06-11T00:15:43.7783386+00:00"
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com/projects/project-1/operationstatuses/80cfe5b7-7d7c-4f67-8f09-c226bf21ba41?api-version=2023-04-01&monitor=true
            Operation-Location:
                - https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com/projects/project-1/operationstatuses/80cfe5b7-7d7c-4f67-8f09-c226bf21ba41?api-version=2023-04-01
            Retry-After:
                - "30"
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "299"
            X-Rate-Limit-Reset:
                - "2024-06-11T00:17:03.8455617Z"
        status: 200 OK
        code: 200
        duration: 115.9907ms
[...]
    - id: 42
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourcegroups/project-1-azdtest-wa68d26/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wa68d26/providers/Microsoft.Resources/deployments/app-helloworld-jo3wbujju2yeq-appSettings","name":"app-helloworld-jo3wbujju2yeq-appSettings","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1502109241172037927","parameters":{"name":{"type":"String","value":"app-helloworld-jo3wbujju2yeq"},"appSettings":{"type":"Object","value":{"SCM_DO_BUILD_DURING_DEPLOYMENT":"True","ENABLE_ORYX_BUILD":"True"}}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2024-06-11T00:14:39.1163918Z","duration":"PT11.5951217S","correlationId":"fd3de1de57fd7a67210fb26cd6ff7ac5","providers":[{"namespace":"Microsoft.Web","resourceTypes":[{"resourceType":"sites/config","locations":[null]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wa68d26/providers/Microsoft.Web/sites/app-helloworld-jo3wbujju2yeq/config/appsettings"}]}},{"id":"/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wa68d26/providers/Microsoft.Resources/deployments/app-helloworld-jo3wbujju2yeq-app-module","name":"app-helloworld-jo3wbujju2yeq-app-module","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3548910797978781823","parameters":{"name":{"type":"String","value":"app-helloworld-jo3wbujju2yeq"},"location":{"type":"String","value":"eastus2"},"tags":{"type":"Object","value":{"azd-env-name":"azdtest-wa68d26","azd-service-name":"helloworld"}},"applicationInsightsName":{"type":"String","value":""},"appServicePlanId":{"type":"String","value":"/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wa68d26/providers/Microsoft.Web/serverfarms/plan-jo3wbujju2yeq"},"keyVaultName":{"type":"String","value":""},"managedIdentity":{"type":"Bool","value":false},"runtimeName":{"type":"String","value":"node"},"runtimeNameAndVersion":{"type":"String","value":"node|18-lts"},"runtimeVersion":{"type":"String","value":"18-lts"},"kind":{"type":"String","value":"app,linux"},"allowedOrigins":{"type":"Array","value":[]},"alwaysOn":{"type":"Bool","value":true},"appCommandLine":{"type":"String","value":""},"clientAffinityEnabled":{"type":"Bool","value":false},"enableOryxBuild":{"type":"Bool","value":true},"functionAppScaleLimit":{"type":"Int","value":-1},"linuxFxVersion":{"type":"String","value":"node|18-lts"},"minimumElasticInstanceCount":{"type":"Int","value":-1},"numberOfWorkers":{"type":"Int","value":-1},"scmDoBuildDuringDeployment":{"type":"Bool","value":true},"use32BitWorkerProcess":{"type":"Bool","value":false},"ftpsState":{"type":"String","value":"FtpsOnly"},"healthCheckPath":{"type":"String","value":""}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2024-06-11T00:14:43.0316156Z","duration":"PT38.9919542S","correlationId":"fd3de1de57fd7a67210fb26cd6ff7ac5","providers":[{"namespace":"Microsoft.Web","resourceTypes":[{"resourceType":"sites/config","locations":[null]},{"resourceType":"sites/basicPublishingCredentialsPolicies","locations":[null]},{"resourceType":"sites","locations":["eastus2"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wa68d26/providers/Microsoft.Web/sites/app-helloworld-jo3wbujju2yeq","resourceType":"Microsoft.Web/sites","resourceName":"app-helloworld-jo3wbujju2yeq"}],"id":"/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wa68d26/providers/Microsoft.Web/sites/app-helloworld-jo3wbujju2yeq/config/logs","resourceType":"Microsoft.Web/sites/config","resourceName":"app-helloworld-jo3wbujju2yeq/logs"},{"dependsOn":[{"id":"/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wa68d26/providers/Microsoft.Web/sites/app-helloworld-jo3wbujju2yeq","resourceType":"Microsoft.[...]
    - id: 43
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wa68d26/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27helloworld%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wa68d26/providers/Microsoft.Web/sites/app-helloworld-jo3wbujju2yeq","name":"app-helloworld-jo3wbujju2yeq","type":"Microsoft.Web/sites","kind":"app,linux","managedBy":"","location":"eastus2","tags":{"env":"dev","product":"azdev","project":"Project-1","azd-env-name":"azd-devcenter","azd-service-name":"helloworld","Owners":"rajeshkamal,hemarina,matell,vivazqu,wabrez,weilim"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11998"
        status: 200 OK
        code: 200
        duration: 90.0049ms
    - id: 44
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wa68d26/providers/Microsoft.Web/sites/app-helloworld-jo3wbujju2yeq?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wa68d26/providers/Microsoft.Web/sites/app-helloworld-jo3wbujju2yeq","name":"app-helloworld-jo3wbujju2yeq","type":"Microsoft.Web/sites","kind":"app,linux","location":"East US 2","tags":{"azd-env-name":"azd-devcenter","azd-service-name":"helloworld","env":"dev","Owners":"rajeshkamal,hemarina,matell,vivazqu,wabrez,weilim","product":"azdev","project":"Project-1"},"properties":{"name":"app-helloworld-jo3wbujju2yeq","state":"Running","hostNames":["app-helloworld-jo3wbujju2yeq.azurewebsites.net"],"webSpace":"project-1-azdtest-wa68d26-EastUS2webspace-Linux","selfLink":"https://waws-prod-bn1-247.api.azurewebsites.windows.net:454/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/webspaces/project-1-azdtest-wa68d26-EastUS2webspace-Linux/sites/app-helloworld-jo3wbujju2yeq","repositorySiteName":"app-helloworld-jo3wbujju2yeq","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"afdEnabled":false,"enabledHostNames":["app-helloworld-jo3wbujju2yeq.azurewebsites.net","app-helloworld-jo3wbujju2yeq.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"node|18-lts"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"app-helloworld-jo3wbujju2yeq.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"app-helloworld-jo3wbujju2yeq.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"server
[...]
