---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2022-12-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]},"availabilityZoneMappings":[{"logicalZone":"1","physicalZone":"eastus-az3"},{"logicalZone":"2","physicalZone":"eastus-az1"},{"logicalZone":"3","physicalZone":"eastus-az2"}]},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/southcentralus","name":"southcentralus","type":"Region","displayName":"South Central US","regionalDisplayName":"(US) South Central US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-98.5","latitude":"29.4167","physicalLocation":"Texas"[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=xdLBasJAEAbgZ3HPCkmqRbwZZwNSZ9LdzMamN7FWYpYE2kiSFd%2b9SUvp3R48zcD8h4%2bfuYh9VdZ5ed7VeVVyVRzKT7G4CLlM2CTDVh7a%2bnn3UedD4OnQiYXwR%2fMRcdaiyyZi%2fJ3QVfN78735SBdRiHBslHkFNGpKEIYaLCgvjdBIjzgExemK%2bO1d%2bxRvEq%2bJwfQ5M0N3dOiKNoYiiBkd5j4pPwSWNmKrHrFQLTnV4WntCPaBuI7FVg7c4DZvMP2Xl06yIV43eMK29zbY%2bS%2faWEyM11s1p3I%2fzGgrLadQdRrkA4GcxZz1fjX589%2fGv0PdP99xY9138CZbCZJWklgvN2JRnq29Xr8A","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16500"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1100"
        status: 200 OK
        code: 200
        duration: 6.6246576s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=xdLBasJAEAbgZ3HPCkmqRbwZZwNSZ9LdzMamN7FWYpYE2kiSFd%2B9SUvp3R48zcD8h4%2BfuYh9VdZ5ed7VeVVyVRzKT7G4CLlM2CTDVh7a%2Bnn3UedD4OnQiYXwR%2FMRcdaiyyZi%2FJ3QVfN78735SBdRiHBslHkFNGpKEIYaLCgvj[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=XY9Na4NAFEV%2Fi7M2oPkoxV3Me0Jo5lnHN1q7C6kpRhmhNYwm%2BN9bG7JIV5fDPVy4V3FoTVeZ876rWsNtXZpvEVwFrlPWqQjMuWlckeNE80e80039Vy6mEVP23ev%2Bq6um7ZdyEIHwnWeHuOjlpZgJ989Qrb13%2FnzpqDoKJXzaRL%2BD1MmSIAwVNJB4WSQ1esQhJJxtiD%2BOyqd4l3o2Bv3r6RWd0BJvrTzJPmZp5eC%2FKd3IVHtPslac4WHKKMeGM2gHBbggwFXMxYUgmYnRFWmOgLRBYrXe3T6O4w8%3D&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 1.7691714s
    - id: 4
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-wdeefdd","reference":null},"goversion":{"value":"1.22","reference":null},"location":{"value":"eastus2","reference":null},"principalId":{"value":"d908828a-31ea-40e4-ad67-94220b3e46fb","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.34.44.8038","templateHash":"4992196453639161370"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the environment that can be used as part of naming resource convention, the name of the resource group for your application will use this name, prefixed with rg-"}},"location":{"type":"string","minLength":1,"metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}},"goversion":{"type":"string","defaultValue":"1.22","metadata":{"azd":{"type":"needForDeploy","config":{}}}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2022-09-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"tags":{"value":"[variables(''tags'')]"},"principalId":{"value":"[parameters(''principalId'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.34.44.8038","templateHash":"6283424413186053771"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location used for all deployed resources"}},"principalId":{"type":"string","defaultValue":"","metadata":{"description":"Id of the user or app to assign application roles"}},"tags":{"type":"object","defaultValue":{},"metadata":{"description":"Tags that will be applied to all resources"}}},"variables":{"resourceToken":"[uniqueString(resourceGroup().id)]"},"resources":[{"type":"Microsoft.App/managedEnvironments/dotNetComponents","apiVersion":"2024-02-02-preview","name":"[format(''{0}/{1}'', format(''cae-{0}'', variables(''resourceToken'')), ''aspire-dashboard'')]","properties":{"componentType":"AspireDashboard"},"dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[parameters(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2024-02-02-preview","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"workloadProfiles":[{"workloadProfileType":"Consumption","name":"consumption"}],"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[parameters(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.App/managedEnvironments/{0}'', format(''cae-{0}'', variables(''resourceToken'')))]","name":"[guid(resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken''))), parameters(''principalId''), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''b24988ac-6180-42a0-ab88-20f7382dd24c''))]","properties":{"principalId":"[parameters(''principalId'')]","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''b24988ac-6180-42a0-ab88-20f7382dd24c'')]"},"dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"MANAGED_IDENTITY_CLIENT_ID":{"type":"string","value":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').clientId]"},"MANAGED_IDENTITY_NAME":{"type":"string","value":"[format(''mi-{0}'', variables(''resourceToken''))]"},"MANAGED_IDENTITY_PRINCIPAL_ID":{"type":"string","value":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]"},"AZURE_LOG_ANALYTICS_WORKSPACE_NAME":{"type":"string","value":"[format(''law-{0}'', variables(''resourceToken''))]"},"AZURE_LOG_ANALYTICS_WORKSPACE_ID":{"type":"string","value":"[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]"},"AZURE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"string","value":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_REGISTRY_NAME":{"type":"string","value":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_NAME":{"type":"string","value":"[format(''cae-{0}'', variables(''resourceToken''))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"string","value":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"string","value":"[reference(resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken''))), ''2024-02-02-preview'').defaultDomain]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"storage","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"principalId":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.MANAGED_IDENTITY_PRINCIPAL_ID.value]"},"principalType":{"value":"ServicePrincipal"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.34.44.8038","templateHash":"11487947033648456285"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location for the resource(s) to be deployed."}},"principalId":{"type":"string"},"principalType":{"type":"string"}},"resources":[{"type":"Microsoft.Storage/storageAccounts","apiVersion":"2024-01-01","name":"[take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24)]","kind":"StorageV2","location":"[parameters(''location'')]","sku":{"name":"Standard_GRS"},"properties":{"accessTier":"Hot","allowSharedKeyAccess":false,"minimumTlsVersion":"TLS1_2","networkAcls":{"defaultAction":"Allow"}},"tags":{"aspire-resource-name":"storage"}},{"type":"Microsoft.Storage/storageAccounts/blobServices","apiVersion":"2024-01-01","name":"[format(''{0}/{1}'', take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24), ''default'')]","dependsOn":["[resourceId(''Microsoft.Storage/storageAccounts'', take(format(''storage{0}'', uniqueString(resourceGroup().id)), 24))]"]},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.Storage/storageAccounts/{0}'', take(format(''storag[...]
[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"principalId":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.MANAGED_IDENTITY_PRINCIPAL_ID.value]"},"principalType":{"value":"ServicePrincipal"}},"template":{"$schema":"https://schema.managem[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-wdeefdd-1744218298/operationStatuses/08584573885279850918?api-version=2021-04-01&t=638798151611918745&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-wdeefdd-1744218298?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-wdeefdd-1744218298","name":"azdtest-wdeefdd-1744218298","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-wdeefdd","azd-provision-param-hash":"2cbf7dda4f7d0c484c89d307b9395489115aafcec8fc7cd8278cdb938d05d0f2"},"properties":{"templateHash":"4992196453639161370","parameters":{"environmentName":{"type":"String","value":"azdtest-wdeefdd"},"location":{"type":"String","value":"eastus2"},"principalId":{"type":"String","value":"d908828a-31ea-40e4-ad67-94220b3e46fb"},"goversion":{"type":"String","value":"1.22"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-04-09T17:10:02.2699019Z","duration":"PT4M4.7811599S","correlationId":"82f2d2fa3413b52688661b5512a0253f","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-wdeefdd"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-wdeefdd"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources","apiVersion":"2022-09-01"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.Resources/deployments/storage","resourceType":"Microsoft.Resources/deployments","resourceName":"storage"}],"outputs":{"manageD_IDENTITY_CLIENT_ID":{"type":"String","value":"640a4791-f52a-4ab0-90b9-92b26523ebf3"},"manageD_IDENTITY_NAME":{"type":"String","value":"mi-w3iau6bir7mwk"},"azurE_LOG_ANALYTICS_WORKSPACE_NAME":{"type":"String","value":"law-w3iau6bir7mwk"},"azurE_CONTAINER_REGISTRY_ENDPOINT":{"type":"String","value":"acrw3iau6bir7mwk.azurecr.io"},"azurE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-w3iau6bir7mwk"},"azurE_CONTAINER_REGISTRY_NAME":{"type":"String","value":"acrw3iau6bir7mwk"},"azurE_CONTAINER_APPS_ENVIRONMENT_NAME":{"type":"String","value":"cae-w3iau6bir7mwk"},"azurE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.App/managedEnvironments/cae-w3iau6bir7mwk"},"azurE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"String","value":"victoriousdune-3ed48834.eastus2.azurecontainerapps.io"},"storagE_BLOBENDPOINT":{"type":"String","value":"https://storagew3iau6bir7mwk.blob.core.windows.net/"},"storagE_QUEUEENDPOINT":{"type":"String","value":"https://storagew3iau6bir7mwk.queue.core.windows.net/"},"storagE_TABLEENDPOINT":{"type":"String","value":"https://storagew3iau6bir7mwk.table.core.windows.net/"}},"outputResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.App/managedEnvironments/cae-w3iau6bir7mwk"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.App/managedEnvironments/cae-w3iau6bir7mwk/dotNetComponents/aspire-dashboard"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-wdeefdd%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd","name":"rg-azdtest-wdeefdd","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-wdeefdd"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 134.9839ms
[...]
    - id: 10
      request:
            - chunked
        host: acrw3iau6bir7mwk.azurecr.io
        body: access_token=SANITIZED&grant_type=access_token&service=acrw3iau6bir7mwk.azurecr.io
        form:
            access_token:
                - SANITIZED
            grant_type:
                - access_token
            service:
                - acrw3iau6bir7mwk.azurecr.io
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://acrw3iau6bir7mwk.azurecr.io:443/oauth2/exchange
        method: POST
      response:
            - chunked
        body: '{"refresh_token":"SANITIZED"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Calls-Per-Second:
                - "166.65"
        status: 200 OK
        code: 200
        duration: 453.2063ms
    - id: 11
      request:
        host: management.azure.com
        body: '{"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-w3iau6bir7mwk":{}}},"location":"eastus2","properties":{"configuration":{"activeRevisionsMode":"single","ingress":{"allowInsecure":true,"external":false,"targetPort":8080,"transport":"http"},"registries":[{"identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-w3iau6bir7mwk","server":"acrw3iau6bir7mwk.azurecr.io"}],"runtime":{"dotnet":{"autoConfigureDataProtection":true}}},"environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.App/managedEnvironments/cae-w3iau6bir7mwk","template":{"containers":[{"env":[{"name":"AZURE_CLIENT_ID","value":"640a4791-f52a-4ab0-90b9-92b26523ebf3"},{"name":"ASPNETCORE_FORWARDEDHEADERS_ENABLED","value":"true"},{"name":"HTTP_PORTS","value":"8080"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY","value":"in_memory"}],"image":"acrw3iau6bir7mwk.azurecr.io/aspire-azd-tests/apiservice-azdtest-wdeefdd:azd-deploy-1744218298","name":"apiservice"}],"scale":{"minReplicas":1}}},"tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.App/containerApps/apiservice?api-version=2024-02-02-preview
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.App/containerapps/apiservice","name":"apiservice","type":"Microsoft.App/containerApps","location":"East US 2","tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"},"systemData":{"createdBy":"jeffreychen@microsoft.com","createdByType":"User","createdAt":"2025-04-09T17:10:22.9276278Z","lastModifiedBy":"jeffreychen@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-09T17:10:22.9276278Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.App/managedEnvironments/cae-w3iau6bir7mwk","environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.App/managedEnvironments/cae-w3iau6bir7mwk","workloadProfileName":"consumption","patchingMode":"Automatic","outboundIpAddresses":["20.161.138.86","20.161.137.24","4.153.72.251","4.153.73.13","4.153.73.38","4.153.72.240","4.153.73.30","4.153.72.243","4.153.73.23","4.153.72.247","4.153.73.6","4.153.73.37","20.161.137.25","52.184.192.104","52.177.123.74","52.177.123.175","52.177.123.148","52.177.123.136","52.177.123.98","52.177.123.102","52.177.123.125","52.177.123.90","52.177.123.69","20.161.138.87","20.122.82.135","172.177.177.115","20.122.82.26","20.122.82.51","20.122.81.165","20.122.82.63","20.122.81.203","172.177.180.19[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.App/locations/eastus2/containerappOperationStatuses/ed2b07f4-b0f6-4986-be0b-00e3cf278841?api-version=2024-02-02-preview&azureAsyncOperation=true&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADB[...]
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.App/containerApps/apiservice?api-version=2024-02-02-preview
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.App/containerapps/apiservice","name":"apiservice","type":"Microsoft.App/containerApps","location":"East US 2","tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"},"systemData":{"createdBy":"jeffreychen@microsoft.com","createdByType":"User","createdAt":"2025-04-09T17:10:22.9276278","lastModifiedBy":"jeffreychen@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-09T17:10:22.9276278"},"properties":{"provisioningState":"Succeeded","runningStatus":"Running","managedEnvironmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.App/managedEnvironments/cae-w3iau6bir7mwk","environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.App/managedEnvironments/cae-w3iau6bir7mwk","workloadProfileName":"consumption","patchingMode":"Automatic","outboundIpAddresses":["20.161.138.86","20.161.137.24","4.153.72.251","4.153.73.13","4.1[...]
[...]
    - id: 17
      request:
        host: management.azure.com
        body: '{"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-wdeefdd/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-w3iau6bir7mwk":{}}},"location":"eastus2","properties":{"configuration":{"activeRevisionsMode":"single","ingress":{"allowInsecure":false,"external":false,"targetPort":6379,"transport":"tcp"},"registries":[{"identi[...]
    - id: 18
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.App/locations/eastus2/containerappOperationStatuses/b2c8fe8c-8cab-4a3f-8c40-3baa5200e257?api-version=2024-02-02-preview&azureAsyncOperation=true&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADB[...]
[...]
    - id: 23
      request:
        host: management.azure.com
[...]
