---
version: 2
interactions:
    - id: 0
      request:
        host: aka.ms
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://aka.ms:443/azd/extensions/registry
        method: GET
      response:
        body: ""
        headers:
            Location:
                - https://raw.githubusercontent.com/Azure/azure-dev/refs/heads/main/cli/azd/extensions/registry.json
            X-Response-Cache-Status:
                - "True"
        status: 301 Moved Permanently
        code: 301
        duration: 65.461936ms
    - id: 1
      request:
        host: raw.githubusercontent.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://raw.githubusercontent.com:443/Azure/azure-dev/refs/heads/main/cli/azd/extensions/registry.json
        method: GET
      response:
        body: |
            {
              "extensions": [
                {
                  "id": "microsoft.azd.demo",
                  "namespace": "demo",
                  "displayName": "Demo Extension",
                  "description": "This extension provides examples of the azd extension framework.",
                  "versions": [
                    {
                      "version": "0.1.0-beta.1",
                      "capabilities": [
                        "custom-commands",
                        "lifecycle-events"
                      ],
                      "usage": "azd demo <command> [options]",
                      "examples": [
                        {
                          "name": "context",
                          "description": "Displays the current `azd` project & environment context.",
                          "usage": "azd demo context"
                        },
                        {
                          "name": "prompt",
                          "description": "Display prompt capabilities.",
                          "usage": "azd demo prompt"
                        }
                      ],
                      "artifacts": {
                        "darwin/amd64": {
                          "checksum": {
                            "algorithm": "sha256",
                            "value": "61e6649e0def06fa5baf73501a5730074c432a3717d885ee3d77c44483b0753b"
                          },
                          "entryPoint": "microsoft-azd-demo-darwin-amd64",
                          "url": "https://github.com/Azure/azure-dev/releases/download/azd-ext-microsoft-azd-demo_0.1.0-beta.1/microsoft-azd-demo-darwin-amd64.zip"
                        },
                        "darwin/arm64": {
                          "checksum": {
                            "algorithm": "sha256",
                            "value": "7d9e71c158c864474301696c4a37a28740e5d3f5d94e156e58c2afcc0299b5ac"
                          },
       [...]
[...]
