---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2022-12-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]},"availabilityZoneMappings":[{"logicalZone":"1","physicalZone":"eastus-az3"},{"logicalZone":"2","physicalZone":"eastus-az1"},{"logicalZone":"3","physicalZone":"eastus-az2"}]},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus2","name":"westus2","type":"Region","displayName":"West US 2","regionalDisplayName":"(US) West US 2","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-119.852","latitude":"47.233","physicalLocation":"Washington","pairedRegion":[{"na[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-w29f862%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 139.4078ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct48702-HostedResources-32E47270","name":"dataproduct48702-HostedResources-32E47270","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg73273/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct48702","tags":{},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct72706-HostedResources-6BE50C22","name":"dataproduct72706-HostedResources-6BE50C22","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg39104/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct72706","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9c[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=RY9db4IwGIV%2fC72GhHZcLNyBLdFp367lrYu7M8oMlrTJhsGP8N8nM2Z35%2bO5OOdGdsH3rT9t%2bzZ4DK7xPyS%2fkQ9Ro63ZJH1z7t%2b33307EcvmQnJCo9cIcHOW101C4j%2fChOHZUZZGxlWl5IdB208urc6Al6XhHdfpupJWpIAl17ieAe6%2fDAW1qtNBcXvnJIOjvOtDJrm4KhQMWrowlpbWdUpjuJjKVJbqVB3fhMQdA%2b5eAF0GRZKQMSaimLaT3J%2b6LiagDM5nAtAUq%2f%2f08e%2fJ2GWtLM4fdhx%2fAQ%3d%3d","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 6.3826566s
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=RY9db4IwGIV%2FC72GhHZcLNyBLdFp367lrYu7M8oMlrTJhsGP8N8nM2Z35%2BO5OOdGdsH3rT9t%2BzZ4DK7xPyS%2FkQ9Ro63ZJH1z7t%2B33307EcvmQnJCo9cIcHOW101C4j%2FChOHZUZZGxlWl5IdB208urc6Al6XhHdfpupJWpIA[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=dZDBaoNAEIafxT0ruCaB4k1d09Jkd7u7MxZ7C9YWjazQGrQG372J4qGHHv%2BZbwa%2B%2F0qK1naVvZy6qrXQnkv7TcIreU0NoAlIaC9N4xIjEZ6SVICOjmjW6QJt7rwth%2B7l9NVV9zeH8oeEhDoPjoB84GPuEXcmdNuvO7oJHH3ex5x99grfGEe1FSyONWuY8rM9x9QXEDMFWSLg%2FUNTIY%2FG7yXDG8cDUfNeQnRjilFC7suEKvCHZ0WbVGcxB9oIjTuUdfYoWLTlgON8OxY7ztTA62LkyvPI5JI0%2BiO7xFVSSP2v%2BsrgYS5oidP0Cw%3D%3D&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 579.4969ms
    - id: 6
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-w29f862","reference":null},"location":{"value":"eastus2","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.39.26.7824","templateHash":"17519074622280447864"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"deleteAfterTime":{"type":"string","defaultValue":"[dateTimeAdd(utcNow(''o''), ''PT1H'')]","metadata":{"description":"A time to mark on created resource groups, so they can be cleaned up via an automated process."}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]","DeleteAfter":"[parameters(''deleteAfterTime'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2025-04-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.39.26.7824","templateHash":"7043133148496298500"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"},"adminUserEnabled":{"type":"bool","defaultValue":false},"anonymousPullEnabled":{"type":"bool","defaultValue":false},"dataEndpointEnabled":{"type":"bool","defaultValue":false},"encryption":{"type":"object","defaultValue":{"status":"disabled"}},"networkRuleBypassOptions":{"type":"string","defaultValue":"AzureServices"},"publicNetworkAccess":{"type":"string","defaultValue":"Enabled"},"sku":{"type":"object","defaultValue":{"name":"Basic"}},"zoneRedundancy":{"type":"string","defaultValue":"Disabled"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-01-01-preview","name":"[format(''cr{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]","sku":"[parameters(''sku'')]","properties":{"adminUserEnabled":"[parameters(''adminUserEnabled'')]","anonymousPullEnabled":"[parameters(''anonymousPullEnabled'')]","dataEndpointEnabled":"[parameters(''dataEndpointEnabled'')]","encryption":"[parameters(''encryption'')]","networkRuleBypassOptions":"[parameters(''networkRuleBypassOptions'')]","publicNetworkAccess":"[parameters(''publicNetworkAccess'')]","zoneRedundancy":"[parameters(''zoneRedundancy'')]"}},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2022-03-01","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]","properties":{"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''log-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''log-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''log-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''log-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]","properties":{"retentionInDays":30,"features":{"searchVersion":1},"sku":{"name":"PerGB2018"}}},{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', format(''cr{0}'', variables(''resourceToken'')))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', format(''cr{0}'', variables(''resourceToken''))), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', format(''cr{0}'', variables(''resourceToken'')))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"containerRegistryName":{"type":"string","value":"[format(''cr{0}'', variables(''resourceToken''))]"},"containerAppsEnvironmentName":{"type":"string","value":"[format(''cae-{0}'', variables(''resourceToken''))]"},"containerRegistryloginServer":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', format(''cr{0}'', variables(''resourceToken''))), ''2023-01-01-preview'').loginServer]"},"managedIdentityId":{"type":"string","value":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]}],"outputs":{"AZURE_CONTAINER_REGISTRY_NAME":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2025-04-01'').outputs.containerRegistryName.value]"},"AZURE_CONTAINER_ENVIRONMENT_NAME":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2025-04-01'').outputs.containerAppsEnvironmentName.value]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2025-04-01'').outputs.containerRegistryloginServer.value]"},"SERVICE_WEB_IDENTITY_ID":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2025-04-01'').outputs.managedIdentityId.value]"}}}},"tags":{"azd-env-name":"azdtest-w29f862","azd-layer-name":"","azd-provision-param-hash":"44b5e4d2f6a0994ecd5b029fca59b10578d7433a7c5dcb682e304873fe20bea8"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w29f862-1769126940/validate?api-version=2021-04-01
        method: POST
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w29f862-1769126940","name":"azdtest-w29f862-1769126940","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-w29f862","azd-layer-name":"","azd-provision-param-hash":"44b5e4d2f6a0994ecd5b029fca59b10578d7433a7c5dcb682e304873fe20bea8"},"properties":{"templateHash":"17519074622280447864","parameters":{"environmentName":{"type":"String","value":"azdtest-w29f862"},"location":{"type":"String","value":"eastus2"},"deleteAfterTime":{"type":"String","value":"2026-01-23T01:09:46Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2026-01-23T00:09:46.675095Z","duration":"PT0S","correlationId":"cef3eca015989286764f3d735d335276","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w29f862","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-w29f862"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w29f862/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"}],"validatedResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w29f862"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w29f862/providers/Microsoft.Resources/deployments/resources"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w29f862/providers/Microsoft.ContainerRegistry/registries/critjx2xx5j5ka6"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w29f862/providers/Microsoft.App/managedEnvironments/cae-itjx2xx5j5ka6"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w29f862/providers/Microsoft.OperationalInsights/workspaces/log-itjx2xx5j5ka6"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w29f862/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-itjx2xx5j5ka6"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w29f862/providers/Microsoft.ContainerRegistry/registries/critjx2xx5j5ka6/providers/Microsoft.Authorization/roleAssignments/0132a90f-753d-51a5-93e5-20867e9cc237"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 1.5950445s
[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.39.26.7824","templateHash":"7043133148496298500"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[r[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w29f862-1769126940/operationStatuses/08584324798972010243?api-version=2021-04-01&t=639047237905921515&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w29f862/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27web%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 671.6203ms
[...]
    - id: 14
      request:
            - chunked
        host: critjx2xx5j5ka6.azurecr.io
        body: access_token=SANITIZED&grant_type=access_token&service=critjx2xx5j5ka6.azurecr.io
        form:
            access_token:
                - SANITIZED
            grant_type:
                - access_token
            service:
                - critjx2xx5j5ka6.azurecr.io
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://critjx2xx5j5ka6.azurecr.io:443/oauth2/exchange
        method: POST
      response:
            - chunked
        body: '{"refresh_token":"SANITIZED"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Calls-Per-Second:
                - "166.65"
        status: 200 OK
        code: 200
        duration: 396.6292ms
[...]
    - id: 18
      request:
        host: management.azure.com
        body: '{"properties":{"mode":"Incremental","parameters":{"containerAppsEnvironmentName":{"value":"cae-itjx2xx5j5ka6","reference":null},"containerRegistryName":{"value":"critjx2xx5j5ka6","reference":null},"environmentName":{"value":"azdtest-w29f862","reference":null},"identityId":{"value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w29f862/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-itjx2xx5j5ka6","reference":null},"imageName":{"value":"critjx2xx5j5ka6.azurecr.io/containerapp/web-azdtest-w29f862:azd-deploy-1769126940","reference":null},"location":{"value":"eastus2","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.39.26.7824","templateHash":"2299578518847698082"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","minLength":1,"metadata":{"description":"Primary location for all resources"}},"containerRegistryName":{"type":"string"},"containerAppsEnvironmentName":{"type":"string"},"imageName":{"type":"string"},"identityId":{"type":"string"}},"resources":[{"type":"Microsoft.Resources/deployments","apiVersion":"2025-04-01","name":"web","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"name":{"value":"web"},"ingressTargetPort":{"value":8080},"scaleMinReplicas":{"value":1},"scaleMaxReplicas":{"value":10},"secrets":{"value":{"secureList":[]}},"containers":{"value":[{"image":"[parameters(''imageName'')]","name":"main","resources":{"cpu":"[json(''0.5'')]","memory":"1.0Gi"}}]},"managedIdentities":{"value":{"systemAssigned":false,"userAssignedResourceIds":["[parameters(''identityId'')]"]}},"registries":{"value":[{"server":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', parameters(''containerRegistryName'')), ''2023-01-01-preview'').loginServer]","identity":"[parameters(''identityId'')]"}]},"environmentResourceId":{"value":"[resourceId(''Microsoft.App/managedEnvironments'', parameters(''containerAppsEnvironmentName''))]"},"location":{"value":"[parameters(''location'')]"},"tags":{"value":{"azd-env-name":"[parameters(''environmentName'')]","azd-service-name":"web"}}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","languageVersion":"2.0","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"6290070069549338411"},"name":"Container Apps","description":"This module deploys a Container App.","owner":"Azure/module-maintainers"},"definitions":{"managedIdentitiesType":{"type":"object","properties":{"systemAssigned":{"type":"bool","nullable":true,"metadata":{"description":"Optional. Enables system assigned managed identity on the resource."}},"userAssignedResourceIds":{"type":"array","items":{"type":"string"},"nullable":true,"metadata":{"description":"Optional. The resource ID(s) to assign to the resource."}}},"nullable":true},"lockType":{"type":"object","properties":{"name":{"type":"string","nullable":true,"metadata":{"description":"Optional. Specify the name of lock."}},"kind":{"type":"string","allowedValues":["CanNotDelete","None","ReadOnly"],"nullable":true,"metadata":{"description":"Optional. Specify the type of lock."}}},"nullable":true},"roleAssignmentType":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","nullable":true,"metadata":{"description":"Optional. The name (as GUID) of the role assignment. If not provided, a GUID will be generated."}},"roleDefinitionIdOrName":{"type":"string","metadata":{"description":"Required. The role to assign. You can provide either the display name of the role definition, the role definition GUID, or its fully qualified ID in the following format: ''/providers/Microsoft.Authorization/roleDefinitions/c2f4ef07-c644-48eb-af81-4b1b4947fb11''."}},"principalId":{"type":"string","metadata":{"description":"Required. The principal ID of the principal (user/group/identity) to assign the role to."}},"principalType":{"type":"string","allowedValues":["Device","ForeignGroup","Group","ServicePrincipal","User"],"nullable":true,"metadata":{"description":"Optional. The principal type of the assigned principal ID."}},"description":{"type":"string","nullable":true,"metadata":{"description":"Optional. The description of the role assignment."}},"condition":{"type":"string","nullable":true,"metadata":{"description":"Optional. The conditions on the role assignment. This limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName] StringEqualsIgnoreCase \"foo_storage_container\"."}},"conditionVersion":{"type":"string","allowedValues":["2.0"],"nullable":true,"metadata":{"description":"Optional. Version of the condition."}},"delegatedManagedIdentityResourceId":{"type":"string","nullable":true,"metadata":{"description":"Optional. The Resource Id of the delegated managed identity resource."}}}},"nullable":true},"container":{"type":"object","properties":{"args":{"type":"array","items":{"type":"string"},"nullable":true,"metadata":{"description":"Optional. Container start command arguments."}},"command":{"type":"array","items":{"type":"string"},"nullable":true,"metadata":{"description":"Optional. Container start command."}},"env":{"type":"array","items":{"$ref":"#/definitions/environmentVar"},"nullable":true,"metadata":{"description":"Optional. Container environment variables."}},"image":{"type":"string","metadata":{"description":"Required. Container image tag."}},"name":{"type":"string","nullable":true,"metadata":{"description":"Optional. Custom container name."}},"probes":{"type":"array","items":{"$ref":"#/definitions/containerAppProbe"},"nullable":true,"metadata":{"description":"Optional. List of probes for the container."}},"resources":{"type":"object","metadata":{"description":"Required. Container resource requirements."}},"volumeMounts":{"type":"array","items":{"$ref":"#/definitions/volumeMount"},"nullable":true,"metadata":{"description":"Optional. Container volume mounts."}}}},"environmentVar":{"type":"object","properties":{"name":{"type":"string","metadata":{"description":"Required. Environment variable name."}},"secretRef":{"type":"string","nullable":true,"metadata":{"description":"Optional. Name of the Container App secret from which to pull the environment variable value."}},"value":{"type":"string","nullable":true,"metadata":{"description":"Optional. Non-secret environment variable value."}}}},"containerAppProbe":{"type":"object","properties":{"failureThreshold":{"type":"int","nullable":true,"minValue":1,"maxValue":10,"metadata":{"description":"Optional. Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3."}},"httpGet":{"$ref":"#/definitions/containerAppProbeHttpGet","nullable":true,"metadata":{"description":"Optional. HTTPGet specifies the http request to perform."}},"initialDelaySeconds":{"type":"int","nullable":true,"minValue":1,"maxValue":60,"metadata":{"description":"Optional. Number of seconds after the container has started before liveness probes are initiated."}},"periodSeconds":{"type":"int","nullable":true,"minValue":1,"maxValue":240,"metadata":{"description":"Optional. How often (in seconds) to perform the probe. Default to 10 seconds."}},"successThreshold":{"type":"int","nullable":true,"minValue":1,"maxValue":10,"metadata":{"description":"Optional. Minimum consecutive successes for the probe to be considered successful after having failed. Defaults to 1. Must be 1 for liveness and startup."}},"tcpSocket":{"$ref":"#/definitions/containerAppProbeTcpSocket","nullable":true,"metadata":{"description":"Optional. TCPSocket specifies an action involving a TCP port. TCP hooks not yet supported."}},"terminationGracePeriodSeconds":{"type":"int","nullable":true,"metadata":{"description":"Optional. Optional duration in seconds the pod needs to terminate gracefully upon probe failure. The grace period is the duration in seconds after the processes running in the pod are sent a termination signal and the time when the processes are forcibly halted with a kill signal. Set this value longer than the expected cleanup time for your process. If this value is nil, the pod''s terminationGracePeriodSeconds will be used. Otherwise, this value overrides the value provided by the pod spec. Value must be non-negative integer. The value zero indicates stop immediately via the kill signal (no opportunity to shut down). This is an alpha field and requires enabling ProbeTerminationGracePeriod feature gate. Maximum value is 3600 seconds (1 hour)."}},"timeoutSeconds":{"type":"int","nullable":true,"minValue":1,"maxValue":240,"metadata":{"description":"Optional. Number of seconds after which the probe times out. Defaults to 1 second."}},"type":{"type":"string","allowedValues":["Liveness","Readiness","Startup"],"nullable":true,"metadata":{"description":"Optional. The type of probe."}}}},"corsPolicyType":{"type":"object","properties":{"allowCredentials":{"type":"bool","nullable":true,"metadata":{
[...]
