---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"options":{"allowPartialScopes":true},"query":"\n\tResources\n\t| where type in~ (''microsoft.devcenter/projects'')\n\t| where properties[''provisioningState''] =~ ''Succeeded''\n\t| project id, location, tenantId, name, properties, type\n\t"}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/providers/Microsoft.ResourceGraph/resources?api-version=2021-06-01-preview
        method: POST
      response:
        body: '{"totalRecords":21,"count":21,"data":[{"id":"/subscriptions/0a86e8d0-8c17-4765-90eb-aa50dae47299/resourceGroups/project-12719/providers/Microsoft.DevCenter/projects/VisualStudioClient","location":"westus3","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","name":"VisualStudioClient","properties":{"provisioningState":"Succeeded","devCenterUri":"https://72f988bf-86f1-41af-91ab-2d7cd011db47-devcenter-tfotz75rskxty-dc.westus3.devcenter.azure.com/","devCenterId":"/subscriptions/8f22e2e8-b4c1-4f7d-a889-49aec29b9c75/resourceGroups/devcenter-16-25/providers/Microsoft.DevCenter/devcenters/devcenter-tfotz75rskxty-dc"},"type":"microsoft.devcenter/projects"},{"id":"/subscriptions/0a86e8d0-8c17-4765-90eb-aa50dae47299/resourceGroups/project-12719/providers/Microsoft.DevCenter/projects/VSVendors","location":"westus3","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","name":"VSVendors","properties":{"provisioningState":"Succeeded","description":"Project for vendors","devCenterUri":"https://72f988bf-86f1-41af-91ab-2d7cd011db47-devcenter-tfotz75rskxty-dc.westus3.devcenter.azure.com/","devCenterId":"/subscriptions/8f22e2e8-b4c1-4f7d-a889-49aec29b9c75/resourceGroups/devcenter-16-25/providers/Microsoft.DevCenter/devcenters/devcenter-tfotz75rskxty-dc"},"type":"microsoft.devcenter/projects"},{"id":"/subscriptions/0f6b8985-2847-41a6-a1be-9ce8c00b369b/resourceGroups/project-13636/providers/Microsoft.DevCenter/projects/basic","location":"westus3[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/0f6b8985-2847-41a6-a1be-9ce8c00b369b/resourcegroups/project-13636/providers/Microsoft.DevCenter/projects/basic/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevCenter/projects/read","Microsoft.DevCenter/projects/*/read","Microsoft.Authorization/*/read","Microsoft.Resources/subscriptions/resourceGroups/read"],"notActions":[],"dataActions":["Microsoft.DevCenter/projects/users/devboxes/userStop/action","Microsoft.DevCenter/projects/users/devboxes/userStart/action","Microsoft.DevCenter/projects/users/devboxes/userGetRemoteConnection/action","Microsoft.DevCenter/projects/users/devboxes/userRead/action","Microsoft.DevCenter/projects/users/devboxes/userWrite/action","Microsoft.DevCenter/projects/users/devboxes/userDelete/action","Microsoft.DevCenter/projects/users/devboxes/userUpcomingActionRead/action","Microsoft.DevCenter/projects/users/devboxes/userUpcomingActionManage/action","Microsoft.DevCenter/projects/users/devboxes/userActionRead/action","Microsoft.DevCenter/projects/users/devboxes/userActionManage/action","Microsoft.DevCenter/projects/users/devboxes/userCustomize/action"],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 392.1537ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/ed99ad84-f5da-479f-81df-23460857ccca/resourcegroups/project-7341/providers/Microsoft.DevCenter/projects/DataAndAI/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevCe[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/1e627736-1411-423a-81c4-aa35ca55f2b3/resourcegroups/project-9387/providers/Microsoft.DevCenter/projects/NuGet/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevCenter[...]
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/50144203-25d7-4aa0-8c7b-3e0d936b07f0/resourcegroups/rg-demo-test101/providers/Microsoft.DevCenter/projects/rltestproj/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 433.6546ms
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/0f6b8985-2847-41a6-a1be-9ce8c00b369b/resourcegroups/project-13636/providers/Microsoft.DevCenter/projects/MicroBuild/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.Dev[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/1ba77102-f6a9-4834-93c3-cc42bad6686e/resourcegroups/project-3436/providers/Microsoft.DevCenter/projects/PMUXDesign/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevC[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/16cb61da-05bc-4f08-8bd4-b2cdf51f8035/resourcegroups/project-3429/providers/Microsoft.DevCenter/projects/LanguageAndFrameworkServices/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/1702e86b-0726-4f19-9ae5-25cad10e4f26/resourcegroups/project-3435/providers/Microsoft.DevCenter/projects/VSCode/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevCente[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/sanallur-rg/providers/Microsoft.DevCenter/projects/jssdkproject/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActio[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/50144203-25d7-4aa0-8c7b-3e0d936b07f0/resourcegroups/rg-devbox-pub/providers/Microsoft.DevCenter/projects/ade-project1/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11998"
        status: 200 OK
        code: 200
        duration: 441.0134ms
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/0a86e8d0-8c17-4765-90eb-aa50dae47299/resourcegroups/project-12719/providers/Microsoft.DevCenter/projects/VSVendors/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.Dev[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/1603ca8f-8a37-42c0-9e39-26fb03b3cbb6/resourcegroups/project-50/providers/Microsoft.DevCenter/projects/DevDivAzureService/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microso[...]
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/0a86e8d0-8c17-4765-90eb-aa50dae47299/resourcegroups/project-12719/providers/Microsoft.DevCenter/projects/VisualStudioClient/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Micr[...]
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/50144203-25d7-4aa0-8c7b-3e0d936b07f0/resourcegroups/rg-devbox-pub/providers/Microsoft.DevCenter/projects/Inventory-Management-Project/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 479.7892ms
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/17c9d6d4-b083-4266-a260-cbcb366a27a4/resourcegroups/project-8974/providers/Microsoft.DevCenter/projects/ServerlessPaaS/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft[...]
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourcegroups/qiaozha-test/providers/Microsoft.DevCenter/projects/jsmgmt/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]},{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11996"
        status: 200 OK
        code: 200
        duration: 539.2686ms
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourcegroups/rg-azd-devcenter/providers/Microsoft.DevCenter/projects/Project-1/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notAc[...]
[...]
    - id: 20
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/50144203-25d7-4aa0-8c7b-3e0d936b07f0/resourcegroups/rg-contoso-ecomm-pe/providers/Microsoft.DevCenter/projects/contoso-ecomm/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 598.1708ms
    - id: 21
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/50144203-25d7-4aa0-8c7b-3e0d936b07f0/resourcegroups/rg-demo-test101/providers/Microsoft.DevCenter/projects/dcprj-pv44d74rp44bs/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 621.8639ms
    - id: 22
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-2/environmentDefinitions?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "value": [
                {
                  "id": "/projects/Project-2/catalogs/example/environmentDefinitions/webapp",
                  "name": "WebApp",
                  "catalogName": "Example",
                  "description": "Deploys an Azure Web App without a data store",
                  "parameters": [],
                  "parametersSchema": "{\"type\":\"object\"}",
                  "templatePath": "Environment-Definitions/ARMTemplates/WebApp/azuredeploy.json"
                },
                {
                  "id": "/projects/Project-2/catalogs/example/environmentDefinitions/sandbox",
                  "name": "Sandbox",
                  "catalogName": "Example",
                  "description": "Deploys a sandbox environment",
                  "parameters": [],
                  "parametersSchema": "{\"type\":\"object\"}",
                  "templatePath": "Environment-Definitions/ARMTemplates/Sandbox/azuredeploy.json"
                },
                {
                  "id": "/projects/Project-2/catalogs/wbreza/environmentDefinitions/helloworld",
                  "name": "HelloWorld",
                  "catalogName": "wbreza",
                  "description": "Deploys an Azure App Service within App Service Plan",
                  "parameters": [
                    {
                      "id": "environmentName",
                      "name": "Environment Name",
                      "description": "Name of the environment",
                      "type": "string",
                      "readOnly": false,
                      "required": false
                    },
                    {
                      "id": "repoUrl",
                      "name": "Repository URL",
                      "description": "Path the the application source code",
                      "type": "string",
                      "readOnly": false,
                      "required": false,
                      "allowed": [
                        "https://github.com/wbreza/azd-hello-world"
                      ]
                    }
                  ],
                  "parametersSchema": "{\"type\":\"object\",\"properties\":{\"environmentName\":{\"title\":\"Environment Name\",\"description\":\"Name of the environment\"},\"repoUrl\":{\"title\":\"Repository URL\",\"description\":\"Path the the application source code\",\"enum\":[\"https://github.com/wbreza/azd-hello-world\"]}}}",
                  "templatePath": "EnvironmentDefinitions/HelloWorld/azuredeploy.json"
                },
                {
                  "id": "/projects/Project-2/catalogs/example/environmentDefinitions/function-app-with-cosmos_azd-template",
                  "name": "Function-App-with-Cosmos_AZD-template",
                  "catalogName": "Example",
                  "description": "Deploys an Azure Function App with Cosmos, it is comp[...]
[...]
    - id: 45
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/environments?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "value": []
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "299"
            X-Rate-Limit-Reset:
                - "2024-04-30T20:00:59.6860499Z"
        status: 200 OK
        code: 200
        duration: 611.3699ms
[...]
    - id: 47
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/environmentTypes?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "value": [
                {
                  "name": "Prod",
                  "deploymentTargetId": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b",
                  "status": "Enabled"
                },
                {
                  "name": "Test",
                  "deploymentTargetId": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b",
                  "status": "Enabled"
                },
                {
                  "name": "Dev",
                  "deploymentTargetId": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b",
                  "status": "Enabled"
                }
              ]
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "298"
            X-Rate-Limit-Reset:
                - "2024-04-30T20:00:57.7437525Z"
        status: 200 OK
        code: 200
        duration: 278.7285ms
    - id: 48
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/catalogs/wbreza/environmentDefinitions/HelloWorld?api-version=2023-04-01
        method: GET
      response:
        body: |-
          [...]
    - id: 49
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/users/me/environments/azdtest-wc748d1?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "status": "Failed",
              "error": {
                "code": "EnvironmentNotFound",
                "message": "The environment azdtest-wc748d1 cannot be found.",
                "details": [],
                "additionalInfo": []
              }
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "298"
            X-Rate-Limit-Reset:
                - "2024-04-30T20:00:59.6860499Z"
        status: 404 Not Found
        code: 404
        duration: 110.5739ms
    - id: 50
      request:
            - chunked
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: '{"catalogName":"wbreza","environmentDefinitionName":"HelloWorld","environmentType":"Dev","parameters":{"environmentName":"azdtest-wc748d1","repoUrl":"https://github.com/wbreza/azd-hello-world"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/users/me/environments/azdtest-wc748d1?api-version=2023-04-01
        method: PUT
      response:
        body: |-
            {
              "name": "azdtest-wc748d1",
              "environmentType": "Dev",
              "user": "19a2053b-445a-4023-95d3-c339051e0f32",
              "provisioningState": "Creating",
              "catalogName": "wbreza",
              "environmentDefinitionName": "HelloWorld",
              "parameters": {
                "environmentName": "azdtest-wc748d1",
                "repoUrl": "https://github.com/wbreza/azd-hello-world"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com/projects/project-1/operationstatuses/60fff383-c795-4862-ba43-188ef5b5cdd4?api-version=2023-04-01&monitor=true
            Operation-Location:
                - https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com/projects/project-1/operationstatuses/60fff383-c795-4862-ba43-188ef5b5cdd4?api-version=2023-04-01
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "297"
            X-Rate-Limit-Reset:
                - "2024-04-30T20:00:57.7437525Z"
        status: 201 Created
        code: 201
        duration: 868.5906ms
    - id: 51
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/project-1/operationstatuses/60fff383-c795-4862-ba43-188ef5b5cdd4?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "id": "/projects/project-1/operationStatuses/60fff383-c795-4862-ba43-188ef5b5cdd4",
              "name": "60fff383-c795-4862-ba43-188ef5b5cdd4",
              "status": "Succeeded",
              "startTime": "2024-04-30T20:00:04.463336+00:00",
              "endTime": "2024-04-30T20:04:45.9793325+00:00"
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com/projects/project-1/operationstatuses/60fff383-c795-4862-ba43-188ef5b5cdd4?api-version=2023-04-01&monitor=true
            Operation-Location:
                - https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com/projects/project-1/operationstatuses/60fff383-c795-4862-ba43-188ef5b5cdd4?api-version=2023-04-01
            Retry-After:
                - "30"
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "299"
            X-Rate-Limit-Reset:
                - "2024-04-30T20:06:13.9943866Z"
        status: 200 OK
        code: 200
        duration: 7.5959984s
    - id: 52
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/users/me/environments/azdtest-wc748d1?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "name": "azdtest-wc748d1",
              "environmentType": "Dev",
              "user": "19a2053b-445a-4023-95d3-c339051e0f32",
              "provisioningState": "Succeeded",
              "resourceGroupId": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wc748d1",
              "catalogName": "wbreza",
              "environmentDefinitionName": "HelloWorld",
              "parameters": {
                "environmentName": "azdtest-wc748d1",
                "repoUrl": "https://github.com/wbreza/azd-hello-world"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "299"
            X-Rate-Limit-Reset:
                - "2024-04-30T20:06:14.5008073Z"
        status: 200 OK
        code: 200
        duration: 472.7459ms
[...]
    - id: 54
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourcegroups/project-1-azdtest-wc748d1/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wc748d1/providers/Microsoft.Resources/deployments/app-helloworld-5tcvcxhocec6c-appSettings","name":"app-helloworld-5tcvcxhocec6c-appSettings","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1502109241172037927","parameters":{"name":{"type":"String","value":"app-helloworld-5tcvcxhocec6c"},"appSettings":{"type":"Object","value":{"SCM_DO_BUILD_DURING_DEPLOYMENT":"True","ENABLE_ORYX_BUILD":"True"}}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2024-04-30T20:03:40.144852Z","duration":"PT13.4911563S","correlationId":"6c651e7115c90163a9ba684a68d8c4df","providers":[{"namespace":"Microsoft.Web","resourceTypes":[{"resourceType":"sites/config","locations":[null]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wc748d1/providers/Microsoft.Web/sites/app-helloworld-5tcvcxhocec6c/config/appsettings"}]}},{"id":"/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wc748d1/providers/Microsoft.Resources/deployments/app-helloworld-5tcvcxhocec6c-app-module","name":"app-helloworld-5tcvcxhocec6c-app-module","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3548910797978781823","parameters":{"name":{"type":"String","value":"app-helloworld-5tcvcxhocec6c"},"location":{"type":"String","value":"eastus2"},"tags":{"type":"Object","value":{"azd-env-name":"azdtest-wc748d1","azd-service-name":"helloworld"}},"applicationInsightsName":{"type":"String","value":""},"appServicePlanId":{"type":"String","value":"/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-wc748d1/providers/Microsoft.Web/serverfarms/plan-5tcvcxhocec6c"},"keyVaultName":{"type":"String","value":""},"managedIdentity":{"type":"Bool","value":false},"runtimeName":{"type":"String","value":"node"},"runtimeNameAndVersion":{"type":"String","value":"node|18-lts"},"runtimeVersion":{"type":"String","value":"18-lts"},"kind":{"type":"String","value":"app,linux"},
[...]
