---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=3ZDNboMwEISfBZ%2bpBC2JWm6AbUVNvNT2mpbcooZG%2fAikloifiHcvNM2pb9DTjjSz0sx3Ie9N3eb1%2bdDmTY1NmdVfxL8QHRvcRAxQBTujiV%2bfq8omLNBo9P0SqLO%2bfTl8tvnyt80G4hPXerQA016M6R2xfxKq6W6eu%2fYsVfJQ0FMnzZ4KIz2gYahoRaWTcGGYAxhSiUkEePxQLsQ77XQxNR5g4AkqH4CWnaDChcIMMLhbbVYCndUmLp5Zwp4Yjs2g5tKacW3orDkovN43iYu3T7AUa1GqWCVHjlU6a9lDUY6AZm5%2b8shkE64CiNjv%2fNv4PzRe2ULjn8OYpm8%3d"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11998"
        status: 200 OK
        code: 200
        duration: 4.854678009s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=3ZDNboMwEISfBZ%2bpBC2JWm6AbUVNvNT2mpbcooZG%2fAikloifiHcvNM2pb9DTjjSz0sx3Ie9N3eb1%2bdDmTY1NmdVfxL8QHRvcRAxQBTujiV%2bfq8omLNBo9P0SqLO%2bfTl8tvnyt80G4hPXerQA016M6R2xfxKq6W6eu%2fYsVfJQ0FMnzZ4KIz2gYahoRaWTcGGYAxhSiUkEePxQLsQ77XQxNR5g4AkqH4CWnaDChcIMMLhbbVYCndUmLp5Zwp4Yjs2g5tKacW3orDkovN43iYu3T7AUa1GqWCVHjlU6a9lDUY6AZm5%2b8shkE64CiNjv%2fNv4PzRe2ULjn8OYpm8%3d
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWcnUMDgkNNlKyyivNydFRCncFcVF5aJLGyLKuoUH%2bAa4wkWD%2f0BAPZ1e%2fkCBHH4QpbkGOfs6uUGGYUjRVtbUA"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 3.563339168s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWcnUMDgkNNlKyyivNydFRCncFcVF5aJLGyLKuoUH%2bAa4wkWD%2f0BAPZ1e%2fkCBHH4QpbkGOfs6uUGGYUjRVtbUA
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=XVDRboJAEPwW7tkmUNG0vAF3xFRv8e72aPHNVGr0CCQtBsHw7wUpSePT7s5MNjNzI59lUZ2Ky746lQWWJit%2biHcjeq1ijSviFZc8nxHmK9RqIIrsWm3339Vp0K%2bzhnjEsV4swPTK2%2fSJzO4KWdYT5yxdS5oo4PRYC72jXAsXaBBImlNhJxHXzAYMqMAkBDx8SQfijbLrmGoX0Hc5FXOgpuaUO3DWDTTOWukFR3uxis9vLGGvDNuykQxQsUhp2u8RSBznh8CB2yVo%2bJIbGcvkEGGe9ru4wtm0gLp3fnRJN8V8nlK%2fszH12MF4PZDz%2f1qmZbxlE3IvMOxdSX8zdDd%2biaQPIfuDJ%2fBB1XW%2f"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.066991201s
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=XVDRboJAEPwW7tkmUNG0vAF3xFRv8e72aPHNVGr0CCQtBsHw7wUpSePT7s5MNjNzI59lUZ2Ky746lQWWJit%2biHcjeq1ijSviFZc8nxHmK9RqIIrsWm3339Vp0K%2bzhnjEsV4swPTK2%2fSJzO4KWdYT5yxdS5oo4PRYC72jXAsXaBBImlNhJxHXzAYMqMAkBDx8SQfijbLrmGoX0Hc5FXOgpuaUO3DWDTTOWukFR3uxis9vLGGvDNuykQxQsUhp2u8RSBznh8CB2yVo%2bJIbGcvkEGGe9ru4wtm0gLp3fnRJN8V8nlK%2fszH12MF4PZDz%2f1qmZbxlE3IvMOxdSX8zdDd%2biaQPIfuDJ%2fBB1XW%2f
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11997"
        status: 200 OK
        code: 200
        duration: 2.597676177s
    - id: 4
      request:
        host: management.azure.com
        body: '{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.21.1.54444","templateHash":"15189948037354168745"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"deleteAfterTime":{"type":"string","defaultValue":"[dateTimeAdd(utcNow(''o''), ''PT1H'')]","metadata":{"description":"A time to mark on created resource groups, so they can be cleaned up via an automated process."}},"intTagValue":{"type":"int","metadata":{"description":"Test parameter for int-typed values."}},"boolTagValue":{"type":"bool","metadata":{"description":"Test parameter for bool-typed values."}},"secureValue":{"type":"securestring","metadata":{"description":"Test parameter for secureString-typed values."}},"secureObject":{"type":"secureObject","defaultValue":{},"metadata":{"description":"Test parameter for secureObject-typed values."}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]","DeleteAfter":"[parameters(''deleteAfterTime'')]","IntTag":"[string(parameters(''intTagValue''))]","BoolTag":"[string(parameters(''boolTagValue''))]","SecureTag":"[parameters(''secureValue'')]","SecureObjectTag":"[string(parameters(''secureObject''))]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.21.1.54444","templateHash":"9455935667434658992"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.Storage/storageAccounts","apiVersion":"2022-05-01","name":"[format(''st{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]","kind":"StorageV2","sku":{"name":"Standard_LRS"}}],"outputs":{"AZURE_STORAGE_ACCOUNT_ID":{"type":"string","value":"[resourceId(''Microsoft.Storage/storageAccounts'', format(''st{0}'', variables(''resourceToken'')))]"},"AZURE_STORAGE_ACCOUNT_NAME":{"type":"string","value":"[format(''st{0}'', variables(''resourceToken''))]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]}],"outputs":{"AZURE_STORAGE_ACCOUNT_ID":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.AZURE_STORAGE_ACCOUNT_ID.value]"},"AZURE_STORAGE_ACCOUNT_NAME":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.AZURE_STORAGE_ACCOUNT_NAME.value]"},"STRING":{"type":"string","value":"abc"},"BOOL":{"type":"bool","value":true},"INT":{"type":"int","value":1234},"ARRAY":{"type":"array","value":[true,"abc",1234]},"ARRAY_INT":{"type":"array","value":[1,2,3]},"ARRAY_STRING":{"type":"array","value":["elem1","elem2","elem3"]},"OBJECT":{"type":"object","value":{"foo":"bar","inner":{"foo":"bar"},"array":[true,"abc",1234]}}}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/providers/Microsoft.Resources/calculateTemplateHash?api-version=2021-04-01
        method: POST
      response:
        body: '{"minifiedTemplate":"{\"$SCHEMA\":\"HTTPS://SCHEMA.MANAGEMENT.AZURE.COM/SCHEMAS/2018-05-01/SUBSCRIPTIONDEPLOYMENTTEMPLATE.JSON#\",\"CONTENTVERSION\":\"1.0.0.0\",\"PARAMETERS\":{\"ENVIRONMENTNAME\":{\"MINLENGTH\":1,\"MAXLENGTH\":64,\"TYPE\":\"STRING\",\"METADATA\":{\"DESCRIPTION\":\"NAME OF THE THE ENVIRONMENT WHICH IS USED TO GENERATE A SHORT UNIQUE HASH USED IN ALL RESOURCES.\"}},\"LOCATION\":{\"TYPE\":\"STRING\",\"METADATA\":{\"DESCRIPTION\":\"PRIMARY LOCATION FOR ALL RESOURCES\"}},\"DELETEAFTERTIME\":{\"DEFAULTVALUE\":\"[DATETIMEADD(UTCNOW(''O''), ''PT1H'')]\",\"TYPE\":\"STRING\",\"METADATA\":{\"DESCRIPTION\":\"A TIME TO MARK ON CREATED RESOURCE GROUPS, SO THEY CAN BE CLEANED UP VIA AN AUTOMATED PROCESS.\"}},\"INTTAGVALUE\":{\"TYPE\":\"INT\",\"METADATA\":{\"DESCRIPTION\":\"TEST PARAMETER FOR INT-TYPED VALUES.\"}},\"BOOLTAGVALUE\":{\"TYPE\":\"BOOL\",\"METADATA\":{\"DESCRIPTION\":\"TEST PARAMETER FOR BOOL-TYPED VALUES.\"}},\"SECUREVALUE\":{\"TYPE\":\"SECURESTRING\",\"METADATA\":{\"DESCRIPTION\":\"TEST PARAMETER FOR SECURESTRING-TYPED VALUES.\"}},\"SECUREOBJECT\":{\"DEFAULTVALUE\":{},\"TYPE\":\"SECUREOBJECT\",\"METADATA\":{\"DESCRIPTION\":\"TEST PARAMETER FOR SECUREOBJECT-TYPED VALUES.\"}}},\"VARIABLES\":{\"TAGS\":{\"AZD-ENV-NAME\":\"[PARAMETERS(''ENVIRONMENTNAME'')]\",\"DELETEAFTER\":\"[PARAMETERS(''DELETEAFTERTIME'')]\",\"INTTAG\":\"[STRING(PARAMETERS(''INTTAGVALUE''))]\",\"BOOLTAG\":\"[STRING(PARAMETERS(''BOOLTAGVALUE''))]\",\"SECURETAG\":\"[PARAMETERS(''SECUREVALUE'')]\",\"SECUREOBJECTTAG\":\"[STRING(PARAMETERS(''SECUREOBJECT''))]\"}},\"RESOURCES\":[{\"TYPE\":\"MICROSOFT.RESOURCES/RESOURCEGROUPS\",\"APIVERSION\":\"2021-04-01\",\"NAME\":\"[FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME''))]\",\"LOCATION\":\"[PARAMETERS(''LOCATION'')]\",\"TAGS\":\"[VARIABLES(''TAGS'')]\"},{\"TYPE\":\"MICROSOFT.RESOURCES/DEPLOYMENTS\",\"APIVERSION\":\"2022-09-01\",\"NAME\":\"RESOURCES\",\"DEPENDSON\":[\"[SUBSCRIPTIONRESOURCEID(''MICROSOFT.RESOURCES/RESOURCEGROUPS'', FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME'')))]\"],\"PROPERTIES\":{\"EXPRESSIONEVALUATIONOPTIONS\":{\"SCOPE\":\"INNER\"},\"MODE\":\"INCREMENTAL\",\"PARAMETERS\":{\"ENVIRONMENTNAME\":{\"VALUE\":\"[PARAMETERS(''ENVIRONMENTNAME'')]\"},\"LOCATION\":{\"VALUE\":\"[PARAMETERS(''LOCATION'')]\"}},\"TEMPLATE\":{\"$SCHEMA\":\"HTTPS://SCHEMA.MANAGEMENT.AZURE.COM/SCHEMAS/2019-04-01/DEPLOYMENTTEMPLATE.JSON#\",\"CONTENTVERSION\":\"1.0.0.0\",\"METADATA\":{\"_GENERATOR\":{\"NAME\":\"BICEP\",\"VERSION\":\"0.21.1.54444\",\"TEMPLATEHASH\":\"9455935667434658992\"}},\"PARAMETERS\":{\"ENVIRONMENTNAME\":{\"TYPE\":\"STRING\"},\"LOCATION\":{\"TYPE\":\"STRING\",\"DEFAULTVALUE\":\"[RESOURCEGROUP().LOCATION]\"}},\"VARIABLES\":{\"TAGS\":{\"AZD-ENV-NAME\":\"[PARAMETERS(''ENVIRONMENTNAME'')]\"},\"RESOURCETOKEN\":\"[TOLOWER(UNIQUESTRING(SUBSCRIPTION().ID, PARAMETERS(''ENVIRONMENTNAME''), PARAMETERS(''LOCATION'')))]\"},\"RESOURCES\":[{\"TYPE\":\"MICROSOFT.STORAGE/STORAGEACCOUNTS\",\"APIVERSION\":\"2022-05-01\",\"NAME\":\"[FORMAT(''ST{0}'', VARIABLES(''RESOURCETOKEN''))]\",\"LOCATION\":\"[PARAMETERS(''LOCATION'')]\",\"TAGS\":\"[VARIABLES(''TAGS'')]\",\"KIND\":\"STORAGEV2\",\"SKU\":{\"NAME\":\"STANDARD_LRS\"}}],\"OUTPUTS\":{\"AZURE_STORAGE_ACCOUNT_ID\":{\"TYPE\":\"STRING\",\"VALUE\":\"[RESOURCEID(''MICROSOFT.STORAGE/STORAGEACCOUNTS'', FORMAT(''ST{0}'', VARIABLES(''RESOURCETOKEN'')))]\"},\"AZURE_STORAGE_ACCOUNT_NAME\":{\"TYPE\":\"STRING\",\"VALUE\":\"[FORMAT(''ST{0}'', VARIABLES(''RESOURCETOKEN''))]\"}}}},\"RESOURCEGROUP\":\"[FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME''))]\"}],\"OUTPUTS\":{\"AZURE_STORAGE_ACCOUNT_ID\":{\"TYPE\":\"STRING\",\"VALUE\":\"[REFERENCE(EXTENSIONRESOURCEID(FORMAT(''/SUBSCRIPTIONS/{0}/RESOURCEGROUPS/{1}'', SUBSCRIPTION().SUBSCRIPTIONID, FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME''))), ''MICROSOFT.RESOURCES/DEPLOYMENTS'', ''RESOURCES''), ''2022-09-01'').OUTPUTS.AZURE_STORAGE_ACCOUNT_ID.VALUE]\"},\"AZURE_STORAGE_ACCOUNT_NAME\":{\"TYPE\":\"STRING\",\"VALUE\":\"[REFERENCE(EXTENSIONRESOURCEID(FORMAT(''/SUBSCRIPTIONS/{0}/RESOURCEGROUPS/{1}'', SUBSCRIPTION().SUBSCRIPTIONID, FORMAT(''RG-{0}'', PARAMETERS(''ENVIRONMENTNAME''))), ''MICROSOFT.RESOURCES/DEPLOYMENTS'', ''RESOURCES''), ''2022-09-01'').OUTPUTS.AZURE_STORAGE_ACCOUNT_NAME.VALUE]\"},\"STRING\":{\"TYPE\":\"STRING\",\"VALUE\":\"ABC\"},\"BOOL\":{\"TYPE\":\"BOOL\",\"VALUE\":TRUE},\"INT\":{\"TYPE\":\"INT\",\"VALUE\":1234},\"ARRAY\":{\"TYPE\":\"ARRAY\",\"VALUE\":[TRUE,\"ABC\",1234]},\"ARRAY_INT\":{\"TYPE\":\"ARRAY\",\"VALUE\":[1,2,3]},\"ARRAY_STRING\":{\"TYPE\":\"ARRAY\",\"VALUE\":[\"ELEM1\",\"ELEM2\",\"ELEM3\"]},\"OBJECT\":{\"TYPE\":\"OBJECT\",\"VALUE\":{\"FOO\":\"BAR\",\"INNER\":{\"FOO\":\"BAR\"},\"ARRAY\":[TRUE,\"ABC\",1234]}}},\"METADATA\":{\"_GENERATOR\":{\"NAME\":\"BICEP\",\"VERSION\":\"0.21.1.54444\",\"TEMPLATEHASH\":\"15189948037354168745\"}}}","templateHash":"15189948037354168745"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Tenant-Writes:
                - "1199"
        status: 200 OK
        code: 200
        duration: 46.789092ms
[...]
{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.21.1.54444","templateHash":"9455935667434658992"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[r[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lcb2ba8-1695090327/operationStatuses/08585065165355104763?api-version=2021-04-01
        method: GET
      response:
        body: '{"status":"Succeeded"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 197.894599ms
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lcb2ba8-1695090327?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-lcb2ba8-1695090327","name":"azdtest-lcb2ba8-1695090327","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-lcb2ba8"},"properties":{"templateHash":"15189948037354168745","parameters":{"environmentName":{"type":"String","value":"azdtest-lcb2ba8"},"location":{"type":"String","value":"eastus2"},"deleteAfterTime":{"type":"String","value":"2023-09-19T03:25:49Z"},"intTagValue":{"type":"Int","value":678},"boolTagValue":{"type":"Bool","value":false},"secureValue":{"type":"SecureString"},"secureObject":{"type":"SecureObject"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2023-09-19T02:26:28.9227571Z","duration":"PT36.5650742S","correlationId":"ce1b91f491ec2245b9bc1fbe47220172","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lcb2ba8","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-lcb2ba8"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lcb2ba8/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"}],"outputs":{"azurE_STORAGE_ACCOUNT_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lcb2ba8/providers/Microsoft.Storage/storageAccounts/stgxoslykikrofk"},"azurE_STORAGE_ACCOUNT_NAME":{"type":"String","value":"stgxoslykikrofk"},"string":{"type":"String","value":"abc"},"bool":{"type":"Bool","value":true},"int":{"type":"Int","value":1234},"array":{"type":"Array","value":[true,"abc",1234]},"arraY_INT":{"type":"Array","value":[1,2,3]},"arraY_STRING":{"type":"Array","value":["elem1","elem2","elem3"]},"object":{"type":"Object","value":{"foo":"bar","inner":{"foo":"bar"},"array":[true,"abc",1234]}}},"outputResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lcb2ba8"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lcb2ba8/providers/Microsoft.Storage/storageAccounts/stgxoslykikrofk"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11998"
        status: 200 OK
        code: 200
        duration: 209.647047ms
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-lcb2ba8%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lcb2ba8","name":"rg-azdtest-lcb2ba8","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-lcb2ba8","DeleteAfter":"2023-09-19T03:25:49Z","IntTag":"678","BoolTag":"False","SecureTag":"","SecureObjectTag":"{}"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 86.999451ms
[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1c%2fRaoMwFMbxZzHXFozYMbyLJraw5rgkJ5b2rmx2OCWBzaK1%2bO6bY73aE%2bz6%2fA8fvxt58a5v3OXUN96hb2v3SdIbMaXFbS4ANdtZQ1J36bqQCGbQmngJXD32z6ePvln%2bnuorSQkNHgPAwyinw4qEP4X2w%2f1G6UOg2yKT%2fG1Q9silVQnwLNO84yqqCmlFBJhxhVUO%2bHrWFMqdiYaS2wSQJZKrGCYxSRTTsgINRW3XR2XXW9MWe1XpjZz8VXMRlygpvLPxu1%2bROSSFZpCLX84d80e3F4vun%2bHm%2bQs%3d
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWcnUMDgkNNlKyyivNydFRCncFcVF5aJLGyLKuoUH%2bAa4wkWD%2f0BAPZ1e%2fkCBHH4QpbkGOfs6uUGGYUjRVtbUA"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 3.36441346s
[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=XZBBa4NAEIV%2fi3tOwLWmFG%2fqrg0kO2bXWUNyC60tVlmhNWgM%2fvfWmIWS47z3MTPvXclbY9rSnE9t2RhsqsL8kOBK9CZLNa5JYM51vSA8zFBnk2GKvt2dvtty4jfFhQSEOi8O4KEXw2FJFjdCNZ31KH12VJVEgn12Uh%2bZ0NIHFkWK1Uy6eSI0dwEjJjGPAd8%2fFIV0m7ldyrQPGPqCSQ8GPgjkw3QFSopKr45Sr9ZZlexlrl7F0FwU416KgsJX2P%2fxSzLatz2bYs%2fnFHOmeXown%2f6zXKt0x61yKyTmgCrcTl3MWxIVQszvshUfqHH8BQ%3d%3d
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.789955831s
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lcb2ba8/resources?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-lcb2ba8/providers/Microsoft.Storage/storageAccounts/stgxoslykikrofk","name":"stgxoslykikrofk","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","location":"eastus2","tags":{"azd-env-name":"azdtest-lcb2ba8"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 116.448468ms
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-lcb2ba8?api-version=2021-04-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzoyREFaRFRFU1Q6MkRMQ0IyQkE4LUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2021-04-01&t=2023-09-19T02%3a27%3a11&c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdDAUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAzMDkwMzExWhcNMjQwNzI4MDkwMzExWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGl[...]
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzoyREFaRFRFU1Q6MkRMQ0IyQkE4LUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2021-04-01&t=2023-09-19T02%3a28%3a12&c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdD[...]
