---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2022-12-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]},"availabilityZoneMappings":[{"logicalZone":"1","physicalZone":"eastus-az3"},{"logicalZone":"2","physicalZone":"eastus-az1"},{"logicalZone":"3","physicalZone":"eastus-az2"}]},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus2","name":"westus2","type":"Region","displayName":"West US 2","regionalDisplayName":"(US) West US 2","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-119.852","latitude":"47.233","physicalLocation":"Washington","pairedRegion":[{"na[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=NY9db4IwGEZ%2fC73GhKIkC3diq276tmt5y9LdGWWGj5Rkw4AY%2fvvGNu6ek%2bfcnAc5N64t3O3UFo3DpsrdF4kf5I2naNJwmi7v29fTZ1tMxiG%2fk5hQ78kTaHsY7IL4v4Zuuvmjy9DT1TYBdu2UeWdg1EqwJNGsZirItmB4IDBhCrONwMuHpkIe06CTzPx4EEpmByifV5JVEQznCO5UYdC%2fKFpznSWAtBbaREaW2Q7QUlHCUpS2l%2bxKAdUAzHaAfEFGnwipcb%2fhAvX6aFISu1td%2b%2f91M5lDKg3uZ%2bTrKf2PxvEb","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 5.844878542s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=NY9db4IwGEZ%2FC73GhKIkC3diq276tmt5y9LdGWWGj5Rkw4AY%2FvvGNu6ek%2BfcnAc5N64t3O3UFo3DpsrdF4kf5I2naNJwmi7v29fTZ1tMxiG%2Fk5hQ78kTaHsY7IL4v4Zuuvmjy9DT1TYBdu2UeWdg1EqwJNGsZirItmB4IDBhCrO[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?%24skiptoken=VY%2FBboJAFEW%2FhVlLMoMladgBg9XqvCnDezR2Zyw1VDIkLYYphn%2Bv1rJweXLvuck9s31ru9qedl3dWmyPlf1m0Zm9ZgVSEbDInppm9o%2Fza2Ir173svrr6KqyrHxYx4T16gFunhq3PZn8N0%2FZTJuaBZ46LRMlDn9ObVJQ%2FgEwSIxuZ83KhKOOAicyxTAHfP4wAvSl4ryVdeirQuBIK9w7kKlSDCiAVOXL3nIsmM2WiUDRgKCT9WT6BjB0MJC5uCJK4QuUADxxi32fjjGXx3S3QBpdpBmjiDRX3ZyeidaEJlxPeFm40jr8%3D&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 594.657166ms
    - id: 4
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-db2277e","reference":null},"location":{"value":"eastus2","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.39.26.7824","templateHash":"2950367126166403802"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"deleteAfterTime":{"type":"string","defaultValue":"[dateTimeAdd(utcNow(''o''), ''PT1H'')]","metadata":{"description":"A time to mark on created resource groups, so they can be cleaned up via an automated process."}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]","DeleteAfter":"[parameters(''deleteAfterTime'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2025-04-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.39.26.7824","templateHash":"1115355894536619571"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.Web/sites/config","apiVersion":"2023-12-01","name":"[format(''{0}/{1}'', format(''func-{0}'', variables(''resourceToken'')), ''appsettings'')]","properties":{"AzureWebJobsStorage__accountName":"[format(''st{0}'', variables(''resourceToken''))]"},"dependsOn":["[resourceId(''Microsoft.Web/sites'', format(''func-{0}'', variables(''resourceToken'')))]","[resourceId(''Microsoft.Storage/storageAccounts'', format(''st{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.Web/sites","apiVersion":"2023-12-01","name":"[format(''func-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","kind":"functionapp,linux","tags":"[union(variables(''tags''), createObject(''azd-service-name'', ''func''))]","properties":{"serverFarmId":"[resourceId(''Microsoft.Web/serverfarms'', format(''plan-{0}'', variables(''resourceToken'')))]","httpsOnly":false,"functionAppConfig":{"deployment":{"storage":{"type":"blobContainer","value":"[format(''{0}{1}'', reference(resourceId(''Microsoft.Storage/storageAccounts'', format(''st{0}'', variables(''resourceToken''))), ''2022-05-01'').primaryEndpoints.blob, ''func-deploy'')]","authentication":{"type":"SystemAssignedIdentity"}}},"scaleAndConcurrency":{"maximumInstanceCount":100,"instanceMemoryMB":2048},"runtime":{"name":"python","version":"3.11"}}},"identity":{"type":"SystemAssigned"},"dependsOn":["[resourceId(''Microsoft.Storage/storageAccounts/blobServices/containers'', format(''st{0}'', variables(''resourceToken'')), ''default'', ''func-deploy'')]","[resourceId(''Microsoft.Web/serverfarms'', format(''plan-{0}'', variables(''resourceToken'')))]","[resourceId(''Microsoft.Storage/storageAccounts'', format(''st{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.Storage/storageAccounts","apiVersion":"2022-05-01","name":"[format(''st{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]","sku":{"name":"Standard_LRS"},"kind":"Storage","properties":{"allowSharedKeyAccess":false}},{"type":"Microsoft.Storage/storageAccounts/blobServices","apiVersion":"2025-01-01","name":"[format(''{0}/{1}'', format(''st{0}'', variables(''resourceToken'')), ''default'')]","dependsOn":["[resourceId(''Microsoft.Storage/storageAccounts'', format(''st{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.Storage/storageAccounts/blobServices/containers","apiVersion":"2025-01-01","name":"[format(''{0}/{1}/{2}'', format(''st{0}'', variables(''resourceToken'')), ''default'', ''func-deploy'')]","properties":{"publicAccess":"None"},"dependsOn":["[resourceId(''Microsoft.Storage/storageAccounts/blobServices'', format(''st{0}'', variables(''resourceToken'')), ''default'')]"]},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.Storage/storageAccounts/{0}'', format(''st{0}'', variables(''resourceToken'')))]","name":"[guid(resourceId(''Microsoft.Storage/storageAccounts'', format(''st{0}'', variables(''resourceToken''))), resourceId(''Microsoft.Web/sites'', format(''func-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''b7e6dc6d-f1e8-4753-8033-0f276bb0955b''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.Web/sites'', format(''func-{0}'', variables(''resourceToken''))), ''2023-12-01'', ''full'').identity.principalId]","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''b7e6dc6d-f1e8-4753-8033-0f276bb0955b'')]","principalType":"ServicePrincipal"},"dependsOn":["[resourceId(''Microsoft.Web/sites'', format(''func-{0}'', variables(''resourceToken'')))]","[resourceId(''Microsoft.Storage/storageAccounts'', format(''st{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.Web/serverfarms","apiVersion":"2023-12-01","name":"[format(''plan-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]","kind":"functionapp","sku":{"tier":"FlexConsumption","name":"FC1"},"properties":{"reserved":true}}],"outputs":{"AZURE_FUNCTION_URI":{"type":"string","value":"[format(''https://{0}'', reference(resourceId(''Microsoft.Web/sites'', format(''func-{0}'', variables(''resourceToken''))), ''2023-12-01'').defaultHostName)]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]}],"outputs":{"AZURE_FUNCTION_URI":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2025-04-01'').outputs.AZURE_FUNCTION_URI.value]"}}}},"tags":{"azd-env-name":"azdtest-db2277e","azd-layer-name":"","azd-provision-param-hash":"3bfcd3ed2f6d01b0addd6af0dac5480c84d33f5eccfbed5df9a7f7d1f1e590f1"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-db2277e-1768256196/validate?api-version=2021-04-01
        method: POST
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-db2277e-1768256196","name":"azdtest-db2277e-1768256196","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-db2277e","azd-layer-name":"","azd-provision-param-hash":"3bfcd3ed2f6d01b0addd6af0dac5480c84d33f5eccfbed5df9a7f7d1f1e590f1"},"properties":{"templateHash":"2950367126166403802","parameters":{"environmentName":{"type":"String","value":"azdtest-db2277e"},"location":{"type":"String","value":"eastus2"},"deleteAfterTime":{"type":"String","value":"2026-01-12T23:16:54Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2026-01-12T22:16:54.1665406Z","duration":"PT0S","correlationId":"ef1cc409200f16fa16c9cbc455eb7eb8","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-db2277e"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"}],"validatedResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e/providers/Microsoft.Resources/deployments/resources"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e/providers/Microsoft.Web/sites/func-nqneps3tsi5gu/config/appsettings"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e/p[...]
[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-db2277e-1768256196/operationStatuses/08584333506689655799?api-version=2021-04-01&t=639038530193584190&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-db2277e-1768256196?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/dep[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-db2277e%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e","name":"rg-azdtest-db2277e","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-db2277e","DeleteAfter":"2026-01-12T23:16:56Z"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1098"
        status: 200 OK
        code: 200
        duration: 462.784334ms
[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27func%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e/providers/Microsoft.Web/sites/func-nqneps3tsi5gu","name":"func-nqneps3tsi5gu","type":"Microsoft.Web/sites","kind":"functionapp,linux","managedBy":"","location":"eastus2","identity":{"principalId":"35ec44c6-09f4-4d89-9cf8-1f6d791e7787","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"tags":{"azd-env-name":"azdtest-db2277e","azd-service-name":"func"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 439.931958ms
[...]
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e/providers/Microsoft.Web/sites/func-nqneps3tsi5gu?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e/providers/Microsoft.Web/sites/func-nqneps3tsi5gu","name":"func-nqneps3tsi5gu","type":"Microsoft.Web/sites","kind":"functionapp,linux","location":"East US 2","tags":{"azd-env-name":"azdtest-db2277e","azd-service-name":"func"},"properties":{"name":"func-nqneps3tsi5gu","state":"Running","hostNames":["func-nqneps3tsi5gu.azurewebsites.net"],"webSpace":"flex-9ad01624484914297819d457028e8cb8a18061877b59dcf9f00636642d7eeae0-webspace","selfLink":"https://waws-prod-bn1-155.api.azurewebsites.windows.net:454/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/webspaces/flex-9ad01624484914297819d457028e8cb8a18061877b59dcf9f00636642d7eeae0-webspace/sites/func-nqneps3tsi5gu","repositorySiteName":"func-nqneps3tsi5gu","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["func-nqneps3tsi5gu.azurewebsites.net","func-nqneps3tsi5gu.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"func-nqneps3tsi5gu.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"func-nqneps3tsi5gu.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e/providers/Microsoft.Web/serverfarms/plan-nqneps3tsi5gu","reserved":true,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2026-01-12T22:17:53.3333333","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"vnetRouteAllEnabled":false,"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"vnetImagePullEnabled":false,"vnetContentShareEnabled":false,"legacyServiceEndpointTrafficEvaluation":null,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":null,"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":null,"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":0,"elasticWebAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false,"webJobsEnabled":false},"functionAppConfig":{"deployment":{"storage":{"type":"blobcontainer","value":"https://stnqneps3tsi5gu.blob.core.windows.net/func-deploy","authentication":{"type":"systemassignedidentity","userAssignedIdentityResourceId":null,"storageAccountConnectionStringName":null}}},"runtime":{"name":"python","version":"3.11"},"scaleAndConcurrency":{"alwaysReady":null,"maximumInstanceCount":100,"instanceMemoryMB":2048,"triggers":null},"siteUpdateStrategy":{"type":"Recreate"}},"daprConfig":null,"deploymentId":"func-nqneps3tsi5gu","slotName":null,"trafficManagerHostNames":null,"sku":"FlexConsumption","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":false,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","vnetBackupRestoreEnabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"952E2B5B449FE1809E86B56F4189627111A065213A56FF099BE2E8782C9EB920","kind":"functionapp,linux","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"20.119.136.3","possibleInboundIpAddresses":"20.119.136.3","inboundIpv6Address":"2603:1030:40c:7::1e","possibleInboundIpv6Addresses":"2603:1030:40c:7::1e","ftpUsername":"func-nqneps3tsi5gu\\$func-nqneps3tsi5gu","ftpsHostName":"ftps://waws-prod-bn1-155.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"130.213.211.141,135.237.212.4,135.224.187.188,135.224.187.166,48.211.225.192,135.237.203.170,52.184.244.40,52.247.19.20,52.251.15.19,52.252.16.56,52.252.16.75,52.252.16.231,20.119.136.3","possibleOutboundIpAddresses":"130.213.211.141,135.237.212.4,135.224.187.188,135.224.187.166,48.211.225.192,135.237.203.170,52.184.244.40,52.247.19.20,52.251.15.19,52.252.16.56,52.252.16.75,52.252.16.231,52.252.17.75,52.252.17.76,52.252.18.18,52.252.18.23,52.252.18.39,52.252.18.59,52.252.21.49,52.252.18.33,52.252.21.175,52.252.22.19,52.252.22.178,52.253.64.5,52.253.64.38,52.253.64.80,52.253.64.150,52.253.64.156,52.253.64.167,52.253.64.225,20.119.136.3","outboundIpv6Addresses":"2603:1030:403:3::197,2603:1030:403:6::289,2603:1030:403:5::277,2603:1030:403:10::2ff,2603:1030:403:12::213,2603:1030:403:3::8e6,2603:1030:403:14::1df,2603:1030:403:5::273,2603:1030:403:3::8d4,2603:1030:403:11::6e,2603:1030:403:5::274,2603:1030:403:7::1ae,2603:1030:40c:7::1e,2603:10e1:100:2::1477:8803","possibleOutboundIpv6Addresses":"2603:1030:403:3::197,2603:1030:403:6::289,2603:1030:403:5::277,2603:1030:403:10::2ff,2603:1030:403:12::213,2603:1030:403:3::8e6,2603:1030:403:14::1df,2603:1030:403:5::273,2603:1030:403:3::8d4,2603:1030:403:11::6e,2603:1030:403:5::274,2603:1030:403:7::1ae,2603:1030:403:17::1bb,2603:1030:403:6::22d,2603:1030:403:17::1bd,2603:1030:403:7::1f2,2603:1030:403:15::4e2,2603:1030:403:17::1be,2603:1030:403:15::4e7,2603:1030:403:14::1e0,2603:1030:403:16::112,2603:1030:403:5::275,2603:1030:403:6::273,2603:1030:403:11::228,2603:1030:403:7::1f3,2603:1030:403:3::8d5,2603:1030:403:7::1f4,2603:1030:403:6::288,2603:1030:403:5::276,2603:1030:403:7::1f5,2603:1030:40c:7::1e,2603:10e1:100:2::1477:8803","containerSize":1536,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bn1-155","cloningInfo":null,"hostingEnvironmentId":null,"tags":{"azd-env-name":"azdtest-db2277e","azd-service-name":"func"},"resourceGroup":"rg-azdtest-db2277e","defaultHostName":"func-nqneps3tsi5gu.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":[],"publicNetworkAccess":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"FunctionAppLogs,AppServiceAuthenticationLogs","inFlightFeatures":["SiteContainers","RouteGeoCapacityClientTrafficToV2","RouteOperationClientTrafficToV2","RouteGeoPlanClientTrafficToV2","RouteGeoSourceControlKeyClientTrafficToV2","RouteGeoUserClientTrafficToV2"],"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null},"identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"35ec44c6-09f4-4d89-9cf8-1f6d791e7787"}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"1DC84114BAEDB55"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 499.92375ms
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e/providers/Microsoft.Web/serverfarms/plan-nqneps3tsi5gu?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-db2277e/providers/Microsoft.Web/serverfarms/plan-nqneps3tsi5gu","name":"plan-nqneps3tsi5gu","type":"Microsoft.Web/serverfarms","kind":"functionapp","location":"East US 2","tags":{"azd-env-name":"azdtest-db2277e"},"properties":{"serverFarmId":82343,"name":"plan-nqneps3tsi5gu","workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":0,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":0,"status":"Ready","webSpace":"flex-9ad01624484914297819d457028e8cb8a18061877b59dcf9f00636642d7eeae0-webspace","subscription":"faa080af-c1d8-40ad-9cce-e1a450ca5b57","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dynamic","siteMode":null,"geoRegion":"East US 2","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":1,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":{"azd-env-name":"azdtest-db2277e"},"kind":"functionapp","resourceGroup":"rg-azdtest-db2277e","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-bn1-155_82343","targetWorkerCount":0,"targetWorkerSizeId":0,"targetWorkerSku":null,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":3,"currentNumberOfZonesUtilized":0,"migrateToVMSS":null,"vnetConnectionsUsed":0,"vnetConnectionsMax":2,"createdTime":"2026-01-12T22:17:10.79","asyncScalingEnabled":false,"isCustomMode":false,"powerState":"Running","eligibleLogCategories":""},"sku":{"name":"FC1","tier":"FlexConsumption","size":"FC1","family":"FC","capacity":0}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
[...]
