---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2021-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/southcentralus","name":"southcentralus","type":"Region","displayName":"South Central US","regionalDisplayName":"(US) South Central US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-98.5","latitude":"29.4167","physicalLocation":"Texas","pairedRegion":[{"name":"northcentralus",[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-w49901b%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 95.0174ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct48702-HostedResources-32E47270","name":"dataproduct48702-HostedResources-32E47270","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg73273/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct48702","tags":{},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/dataproduct72706-HostedResources-6BE50C22","name":"dataproduct72706-HostedResources-6BE50C22","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","managedBy":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg39104/providers/Microsoft.NetworkAnalytics/dataProducts/dataproduct72706","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/faa080af-c1d8-40ad-9c[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=1ZFBb4JAEIV%2fi3vWBKg2xtviLImts7jLLI3ejKUGMJC0GGAN%2f71sbf9Ae%2bpp3mS%2bw3tvbuxUV01eXY9NXldUl1n1wVY3JnhCJnGqyrpmd3xvcgc8Zz1bMX%2bynEjad2j3Mzb9InTd%2ftx8bznRZRQinFtlDoBGzSWEoYYLKC%2bN0AhPUgiK0rWk1zfty3ibeG0MZuROnSTRx2TGyVsk9DDxZSKikRddXDwJpJNF4Au053msZjM2TNmLcHYDtqqul8v02%2f24%2fhP7ayFJ860r%2fB7A5RFGxzvxuwyL4C8v6CWpFu0mkLZ8kMCt7P3QVW%2bKutejV6fJ4COWOkxTvSMTmeS%2bG6SRgU2LheoQRJACnyNxD4vSSjgc2TAMnw%3d%3d","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 5.4169331s
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1ZFBb4JAEIV%2fi3vWBKg2xtviLImts7jLLI3ejKUGMJC0GGAN%2f71sbf9Ae%2bpp3mS%2bw3tvbuxUV01eXY9NXldUl1n1wVY3JnhCJnGqyrpmd3xvcgc8Zz1bMX%2bynEjad2j3Mzb9InTd%2ftx8bznR[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1ZHNboMwEISfBZ%2bJBIRWFTeIHVUltrG9piK3iNKKHxmpJQI34t0LTXmI3nZ2Po1mtTdU9maozfUy1L2Bvq3MF4puiMQKtFonU01Ddvkc6hVIK4si5DtPDoNiot%2fFDrm%2fhOzHzfOD0JHtMaH4YxT6jK[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1ZJRb4IwEMc%2fi32WBJwuxrdCS%2bbwWqFXF%2fdmGDMqgWXDADV%2b9xWVbNmrT3u4tNf%2br%2fnf73oiaVlUu%2bK4qXZlgeUhK77I7EQ4VahVtyuyplpuPqtdJ4iylsyIN5gOBK4bMGuHDC%2bKpKz7[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1VJBbsIwEHwLPoMUh1BV3JzYUduwNrbXVHBDKa1IokRqg0Ko%2bHsTIFKl3tpTb97ZkXd2Zj9JWpX1vjxs631VYpXvyg8y%2fySCWXS2f5W7Y73cvtf7npDsWjIndHQ%2fkrg%2bwmk9IeMLw1TN0KNeMDJ5[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=ZZBbT4NAEIV%2fC%2fuMCdRqDG8Lu8SGzlL2UlPfGsSGQhajNNzCfxfabjX6MA9nzjeTOTOgtNJ1rk%2f7Oq%2b0rIpMfyFvQBQLqQTy9Kks7ataGPlCL%2baAdNbWm%2f1nnc%2fTUdYhD7nWk8XkroV%2b[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=ZZBfS8MwFMU%2fy%2fK8QjIrSN%2fSJkXZcrv8m8y3UavUlhS0o1tHv7tkNTL07Z5zfxzuPRdUdq6v3fHQ150zXVO5L5Rc0DPXxmo%2fuerUbw%2bffe2BdXVGCSKLhwWY%2fUmM%2bwgtr4TqhrAjOF6oJk8Fex%2bkfWHCyhhYmirWMol3ubAcg0mZNLsMzOubIlBsNB4KZmMwAsNYroThBD7kvRjLGDR5UpaktmkLabqzylVuicSCRhGalojT%2bVR3bNugViiZZa4oZDzjYBTdBFMX1jz%2beP7JGc0oUEZ9WnB8Cf8wb3Krii2%2fxay%2bC9Kur%2flBzk3%2bHvQnb5q%2bAQ%3d%3d
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1098"
        status: 200 OK
        code: 200
        duration: 171.7384ms
    - id: 10
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-w49901b"},"location":{"value":"eastus2"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"7771222558848349697"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"deleteAfterTime":{"type":"string","defaultValue":"[dateTimeAdd(utcNow(''o''), ''PT1H'')]","metadata":{"description":"A time to mark on created resource groups, so they can be cleaned up via an automated process."}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]","DeleteAfter":"[parameters(''deleteAfterTime'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.29.47.4906","templateHash":"8937352026316128621"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[variables(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[variables(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2024-03-01","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"workloadProfiles":[{"workloadProfileType":"Consumption","name":"consumption"}],"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[variables(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.App/containerApps","apiVersion":"2024-03-01","name":"[format(''app-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","identity":{"type":"UserAssigned","userAssignedIdentities":{"[format(''{0}'', resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))))]":{}}},"properties":{"environmentId":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","configuration":{"activeRevisionsMode":"Single","ingress":{"external":true,"targetPort":8080,"transport":"http","allowInsecure":false},"registries":[{"server":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]","identity":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"}]},"template":{"containers":[{"image":"nginx","name":"app"}],"scale":{"minReplicas":1}}},"tags":"[union(variables(''tags''), createObject(''azd-service-name'', ''app''))]","dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[format(''https://{0}/'', reference(resourceId(''Microsoft.App/containerApps'', format(''app-{0}'', variables(''resourceToken''))), ''2024-03-01'').configuration.ingress.fqdn)]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.WEBSITE_URL.value]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.AZURE_CONTAINER_REGISTRY_ENDPOINT.value]"}}}},"tags":{"azd-env-name":"azdtest-w49901b","azd-provision-param-hash":"9499e567bfe5402cba98edf4482183be5eaaa1f9cd214c95bf1cdfa825e98f08"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w49901b-1730436107/validate?api-version=2021-04-01
        method: POST
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w49901b-1730436107","name":"azdtest-w49901b-1730436107","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-w49901b","azd-provision-param-hash":"9499e567bfe5402cba98edf4482183be5eaaa1f9cd214c95bf1cdfa825e98f08"},"properties":{"templateHash":"7771222558848349697","parameters":{"environmentName":{"type":"String","value":"azdtest-w49901b"},"location":{"type":"String","value":"eastus2"},"deleteAfterTime":{"type":"String","value":"2024-11-01T05:42:24Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"786594ffcf605add049bd7e234c1469d","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w49901b","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-w49901b"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w49901b/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"}],"validatedResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w49901b"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w49901b/providers/Microsoft.Resources/deployments/resources"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w49901b/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-db24y5gbgjll6"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w[...]
[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w49901b-1730436107/operationStatuses/08584711707385854795?api-version=2021-04-01
        method: GET
      response:
        body: '{"status":"Succeeded"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 395.8854ms
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-w49901b-1730436107?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/de[...]
[...]
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w49901b/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27app%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w49901b/providers/Microsoft.App/containerApps/app-db24y5gbgjll6","name":"app-db24y5gbgjll6","type":"Microsoft.App/containerApps","kind":"","managedBy":"","location":"eastus2","identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-w49901b/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-db24y5gbgjll6":{"principalId":"583a7d86-6d82-4c0e-9226-fd2e8b98aee6","clientId":"6b96069e-d70f-4b1e-b35d-16012050750b"}}},"tags":{"azd-env-name":"azdtest-w49901b","azd-service-name":"app"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "1099"
        status: 200 OK
        code: 200
        duration: 260.2836ms
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w49901b/providers/Microsoft.ContainerRegistry/registries/acrdb24y5gbgjll6/listBuildSourceUploadUrl?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"relativePath":"source/202411010000/c9fa9db834606a3963b2b7b4e902c11e.tar.gz","uploadUrl":"https://eus2managed226.blob.core.windows.net/99a9ad1959d44dbf847af6b70bd3ee36-m7fogayr6l/source/202411010000/c9fa9db834606a3963b2b7b4e902c11e.tar.gz?se=2024-11-01T05%3A45%3A03Z\u0026sig=SANITIZED\u0026sp=cw\u0026sr=b\u0026sv=2023-01-03"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 565.0042ms
    - id: 18
      request:
        host: eus2managed226.blob.core.windows.net
        body: !!binary |
            H4sIAAAAAAAA/+yVUWvbMBDH/axPcfjFLnjyyYmdkpK9JB0do6Skg22MQUV8y9y6kispI9
            vodx+KlzWEQR+2JAz8exG6k+/+h/hbEz2/I/O5qinYG4iIRVGsV0TcXVHkWSD6AyEwLzDL
            AxQi64sAcH+SnlhaJ02Af91rd7j/hFez6SUoXdIwyxh7N529mbyeQSqbho2nVx+gkfM7uS
            B+a7XaCleqpBW/tW3o/P3V9PoceojI2PhyAh9DXzJMINwcDD8de9KOP7G5n332eM7//V5v
            x/84EEXn/0Mw18o6+OJcAyMw9LCsDMWR30cnZ4y1aUvmKxkYrc/xuSHp6Hodi2NDDwkYsi
            cwegk/GAD4HbdOuqUd65JgBBni2VOG3AXJkkwcjbVypNyLt98aihKIHK1c2tSyUr755gNS
            ZRxdUF3rBG7k9/KG++yjl9cK43VlHan4FE8xgXi1JcXr1zXxWi/iqJUMZqlUpRYg27mHaS
            qyAUeOXAx9ifRX+WNfzUHY/r/vq8dz/sc8333/896g8/8haG0SKnlP4RBC2TRh0obuZaV8
            6PcLzh6PLbajo6Oj45/xMwAA//+ge9GgABAAAA==
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/octet-stream
            X-Ms-Blob-Type:
                - BlockBlob
            X-Ms-Version:
                - "2023-11-03"
        url: https://eus2managed226.blob.core.windows.net:443/99a9ad1959d44dbf847af6b70bd3ee36-m7fogayr6l/source/202411010000/c9fa9db834606a3963b2b7b4e902c11e.tar.gz?se=2024-11-01T05%3A45%3A03Z&sig=SANITIZED&sp=cw&sr=b&sv=2023-01-03
        method: PUT
      response:
        body: ""
        headers:
            Content-Md5:
                - TC5HLzX3LkZZ3vC2qVpvpg==
            Etag:
                - '"0x8DCFA2FF3A58000"'
            Last-Modified:
                - Fri, 01 Nov 2024 04:45:03 GMT
            X-Ms-Content-Crc64:
                - MRlFUcSI5c0=
            X-Ms-Request-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 201 Created
        code: 201
        duration: 344.392ms
    - id: 19
      request:
        host: management.azure.com
        body: '{"dockerFilePath":"Dockerfile","imageNames":["acrdb24y5gbgjll6.azurecr.io/webapp/app-azdtest-w49901b:azd-deploy-1730436107"],"isPushEnabled":true,"platform":{"os":"Linux","architecture":"amd64"},"sourceLocation":"source/202411010000/c9fa9db834606a3963b2b7b4e902c11e.tar.gz","type":"DockerBuildRequest"}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w49901b/providers/Microsoft.ContainerRegistry/registries/acrdb24y5gbgjll6/scheduleRun?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ch1","status":"Queued","lastUpdatedTime":"2024-11-01T04:45:04+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w49901b/providers/Microsoft.ContainerRegistry/registries/acrdb24y5gbgjll6/runs/ch1","name":"ch1","systemData":{"lastModifiedBy":"hemarina@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-11-01T04:45:03.9821286+00:00"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 759.2755ms
    - id: 20
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-w49901b/providers/Microsoft.ContainerRegistry/registries/acrdb24y5gbgjll6/runs/ch1/listLogSasUrl?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"logLink":"https://eus2managed226.blob.core.windows.net/99a9ad1959d44dbf847af6b70bd3ee36-m7fogayr6l/logs/ch1/rawtext.log?se=2024-11-01T05%3A55%3A05Z\u0026sig=SANITIZED\u0026sp=r\u0026sr=b\u0026sv=2023-01-03"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "799"
        status: 200 OK
        code: 200
        duration: 601.9795ms
    - id: 21
      request:
        host: eus2managed226.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Version:
                - "2023-11-03"
        url: https://eus2managed226.blob.core.windows.net:443/99a9ad1959d44dbf847af6b70bd3ee36-m7fogayr6l/logs/ch1/rawtext.log?se=2024-11-01T05%3A55%3A05Z&sig=SANITIZED&sp=r&sr=b&sv=2023-01-03
        method: HEAD
      response:
        body: ""
        headers:
            Content-Disposition:
                - ""
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DCFA2FF45F737A"'
            Last-Modified:
                - Fri, 01 Nov 2024 04:45:05 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "1"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Fri, 01 Nov 2024 04:45:04 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 200 OK
        code: 200
        duration: 77.0983ms
    - id: 22
      request:
        host: eus2managed226.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Range:
                - bytes=0-47
            X-Ms-Version:
                - "2023-11-03"
        url: https://eus2managed226.blob.core.windows.net:443/99a9ad1959d44dbf847af6b70bd3ee36-m7fogayr6l/logs/ch1/rawtext.log?se=2024-11-01T05%3A55%3A05Z&sig=SANITIZED&sp=r&sr=b&sv=2023-01-03
        method: GET
      response:
        body: "2024/11/01 04:45:05 Downloading source code...\r\n"
        headers:
            Content-Disposition:
                - ""
            Content-Range:
                - bytes 0-47/48
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DCFA2FF45F737A"'
            Last-Modified:
                - Fri, 01 Nov 2024 04:45:05 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "1"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Fri, 01 Nov 2024 04:45:04 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 206 Partial Content
        code: 206
        duration: 71.3704ms
[...]
    - id: 121
      request:
        host: eus2managed226.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Version:
                - "2023-11-03"
[...]
