---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations?api-version=2021-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/westus"}]}},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/locations/eastus2","name":"eastus2","type":"Region","displayName":"East US 2","regionalDisplayName":"(US) East US 2","metadata":{"regionType":"Physical","regionCategory":"Recommended","geographyGroup":"US","longitude":"-78.3889","latitude":"36.6681","physicalLocation":"Virginia","pairedRegion":[{"name":"centralus","id":"/subscriptions/faa080[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=1ZDNboNADISfBZ%2bJBIRDxS3Um0tjExZvqvQWpTQioF2pJeIn4t0bmlR9hh5GmrG%2fw2iucHS2rezl0FbOiqtL%2bwXJFdSqEFNEs7Vl324Pn201Ey%2flAAmE3pPHsu9p3C%2fA%2fyG0635%2fYRB7ul6nhKcuN29IJo8Z01Rjg3mwW5NRAUuKueyeWd4%2fdMjZpgi6DM2Nq3s61xHJcfYxyymmIeQC1cjoBo1qSbIab4p4pAVM%2fqPrv6j6qh6z2kvT%2bHCPS0j%2bojI626r7ZZq%2bAQ%3d%3d","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 3.492477917s
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1ZDNboNADISfBZ%2bJBIRDxS3Um0tjExZvqvQWpTQioF2pJeIn4t0bmlR9hh5GmrG%2fw2iucHS2rezl0FbOiqtL%2bwXJFdSqEFNEs7Vl324Pn201Ey%2flAAmE3pPHsu9p3C%2fA%2fyG0635%2fYRB7ul[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1VJNb4JAEP0t7FkTVrGx3sQd26TOIMusxt4MpQYhkLQYPgz%2fvVA06bk99TDJvDcvkzcvcxVhnhVxdjkWcZ5xnkTZp1hcBSwDNsGkb7OoKrbHjyLuFS9RLRZCWnOL%2bFBhcxiL0bdC5%2bV9Ju25pZO1i%[...]
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1VLbboJAEP0W91kTttXG%2bibuWFOdWVlmNfTNUNsABpoWA2L894JI0qQf0PRtziWTMydzFmGW5lF63OVRlnKW7NMvMTkLmPps%2fbtmTPdlvt595lHjWO5PYiJkb9wjDkqsgoHoXx0mKzpNOuOeSeYuqvfC[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=1ZJNb8IwDIZ%2fCzmD1Kw9IG4tMVoHcWg%2bQN0NsQ6VoHbaimhB%2fPc1lEqbdttOO0TKa7%2bynSe%2bkG1ZVHlx3FR5WejSZsUHmVwIhEob9eCuRVZXy817lTvHPGvIhNDBeIA6rfk5HZHhzSHLU5%2bj[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/?api-version=2021-04-01&%24skiptoken=ZZDNboMwEISfBZ%2bJBIVDxQ2wUVHiJfgnUXqLWhoRkC21REAi3r04xJWiHnz4ZsZrz97Qh1ZdrS7HrtZK6KZSPyi6IRJzIfkLitSlbd0HWtoTY5qYqoZue%2fzuanN7XY0oQr7z6oA4DPR6WCH3nmC6t57vhQ5rsoTiU1%2fKd0xlGQJOEoZbXHq7jErigUhwKXYpiM8v5kOx4V5fYDnnmqGYD5zzAM5NSMXJA%2b4DJ35SXvXIMAkobgIq8pEKuUKTizIWQ0pSAoLFG%2fv%2fWHKDeWxaWpEXUrw9gqbcUlyu77rFfz7fE0zmF57mL%2fv5W96CgZ1hkEhWbMmiTNMv
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11998"
        status: 200 OK
        code: 200
        duration: 684.491334ms
    - id: 7
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-d4a1701"},"location":{"value":"eastus2"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.25.3.34343","templateHash":"728594026592131354"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the environment that can be used as part of naming resource convention, the name of the resource group for your application will use this name, prefixed with rg-"}},"location":{"type":"string","minLength":1,"metadata":{"description":"The location used for all deployed resources"}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2022-09-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"tags":{"value":"[variables(''tags'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.25.3.34343","templateHash":"10923975593072332028"}},"parameters":{"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location used for all deployed resources"}},"tags":{"type":"object","defaultValue":{},"metadata":{"description":"Tags that will be applied to all resources"}}},"variables":{"resourceToken":"[uniqueString(resourceGroup().id)]"},"resources":[{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[parameters(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"properties":{"adminUserEnabled":true},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[parameters(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2023-05-01","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[parameters(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.App/containerApps","apiVersion":"2023-05-02-preview","name":"cache","location":"[parameters(''location'')]","properties":{"environmentId":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","configuration":{"activeRevisionsMode":"Single","ingress":{"external":false,"targetPort":6379,"transport":"tcp"}},"template":{"containers":[{"image":"redis:7.2.4","name":"cache"}],"scale":{"minReplicas":1}}},"tags":"[union(parameters(''tags''), createObject(''aspire-resource-name'', ''cache''))]","dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.App/containerApps","apiVersion":"2023-05-02-preview","name":"pubsub","location":"[parameters(''location'')]","properties":{"environmentId":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","configuration":{"activeRevisionsMode":"Single","ingress":{"external":false,"targetPort":6379,"transport":"tcp"}},"template":{"containers":[{"image":"redis:7.2.4","name":"pubsub"}],"scale":{"minReplicas":1}}},"tags":"[union(parameters(''tags''), createObject(''aspire-resource-name'', ''pubsub''))]","dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"MANAGED_IDENTITY_CLIENT_ID":{"type":"string","value":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').clientId]"},"MANAGED_IDENTITY_NAME":{"type":"string","value":"[format(''mi-{0}'', variables(''resourceToken''))]"},"MANAGED_IDENTITY_PRINCIPAL_ID":{"type":"string","value":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]"},"AZURE_LOG_ANALYTICS_WORKSPACE_NAME":{"type":"string","value":"[format(''law-{0}'', variables(''resourceToken''))]"},"AZURE_LOG_ANALYTICS_WORKSPACE_ID":{"type":"string","value":"[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]"},"AZURE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"string","value":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"string","value":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]"},"AZURE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"string","value":"[reference(resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken''))), ''2023-05-01'').defaultDomain]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"storage","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"location":{"value":"[parameters(''location'')]"},"principalId":{"value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.MANAGED_IDENTITY_PRINCIPAL_ID.value]"},"principalType":{"value":"ServicePrincipal"},"storageName":{"value":"storage"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.25.3.34343","templateHash":"14408787057834218774"}},"parameters":{"storageName":{"type":"string"},"principalId":{"type":"string"},"principalType":{"type":"string","defaultValue":"ServicePrincipal"},"sku":{"type":"string","defaultValue":"Standard_GRS"},"kind":{"type":"string","defaultValue":"Storage"},"tags":{"type":"object","defaultValue":{},"metadata":{"description":"Tags that will be applied to all resources"}},"location":{"type":"string","defaultValue":"[resourceGroup().location]","metadata":{"description":"The location used for all deployed resources"}}},"variables":{"resourceToken":"[uniqueString(resourceGroup().id)]"},"resources":[{"type":"Microsoft.Storage/storageAccounts/blobServices","apiVersion":"2022-05-01","name":"[format(''{0}/{1}'', re[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-d4a1701-1710780507/operationStatuses/08584908263144977636?api-version=2021-04-01
        method: GET
      response:
        body: '{"status":"Succeeded"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 491.071042ms
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-d4a1701-1710780507?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.Resources/deployments/azdtest-d4a1701-1710780507","name":"azdtest-d4a1701-1710780507","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-d4a1701","azd-provision-param-hash":"d5c51da151660d302192fa46ae9d96f884cf547405f832e034e34f1cc6f95934"},"properties":{"templateHash":"728594026592131354","parameters":{"environmentName":{"type":"String","value":"azdtest-d4a1701"},"location":{"type":"String","value":"eastus2"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2024-03-18T16:51:47.2453418Z","duration":"PT2M14.3259397S","correlationId":"32e88393-5dab-4105-97ed-6a230349ca3e","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-d4a1701"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"dependsOn":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-d4a1701"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources","apiVersion":"2022-09-01"}],"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.Resources/deployments/storage","resourceType":"Microsoft.Resources/deployments","resourceName":"storage"}],"outputs":{"manageD_IDENTITY_CLIENT_ID":{"type":"String","value":"1d07b97d-0df6-4be9-b61e-3a08f1f1a6cf"},"manageD_IDENTITY_NAME":{"type":"String","value":"mi-moz7uhkt7z2yo"},"azurE_LOG_ANALYTICS_WORKSPACE_NAME":{"type":"String","value":"law-moz7uhkt7z2yo"},"azurE_CONTAINER_REGISTRY_ENDPOINT":{"type":"String","value":"acrmoz7uhkt7z2yo.azurecr.io"},"azurE_CONTAINER_REGISTRY_MANAGED_IDENTITY_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-moz7uhkt7z2yo"},"azurE_CONTAINER_APPS_ENVIRONMENT_ID":{"type":"String","value":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.App/managedEnvironments/cae-moz7uhkt7z2yo"},"azurE_CONTAINER_APPS_ENVIRONMENT_DEFAULT_DOMAIN":{"type":"String","value":"bravewater-9baa712b.eastus2.azurecontainerapps.io"},"storagE_BLOBENDPOINT":{"type":"String","value":"https://storagemoz7uhkt7z2yo.blob.core.windows.net/"},"storagE_QUEUEENDPOINT":{"type":"String","value":"https://storagemoz7uhkt7z2yo.queue.core.windows.net/"},"storagE_TABLEENDPOINT":{"type":"String","value":"https://storagemoz7uhkt7z2yo.table.core.windows.net/"}},"outputResources":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.App/containerApps/cache"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.App/containerApps/pubsub"},{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.App/managedE[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-d4a1701%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701","name":"rg-azdtest-d4a1701","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"azd-env-name":"azdtest-d4a1701"},"properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 64.06575ms
[...]
    - id: 12
      request:
            - chunked
        host: acrmoz7uhkt7z2yo.azurecr.io
        body: access_token=SANITIZED&grant_type=access_token&service=acrmoz7uhkt7z2yo.azurecr.io
        form:
            access_token:
                - SANITIZED
            grant_type:
                - access_token
            service:
                - acrmoz7uhkt7z2yo.azurecr.io
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://acrmoz7uhkt7z2yo.azurecr.io:443/oauth2/exchange
        method: POST
      response:
            - chunked
        body: '{"refresh_token":"SANITIZED"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Calls-Per-Second:
                - "166.65"
        status: 200 OK
        code: 200
        duration: 1.025632208s
    - id: 13
      request:
        host: management.azure.com
        body: '{"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-moz7uhkt7z2yo":{}}},"location":"eastus2","properties":{"configuration":{"activeRevisionsMode":"single","ingress":{"allowInsecure":true,"external":false,"targetPort":8080,"transport":"http"},"registries":[{"identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-moz7uhkt7z2yo","server":"acrmoz7uhkt7z2yo.azurecr.io"}]},"environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.App/managedEnvironments/cae-moz7uhkt7z2yo","template":{"containers":[{"env":[{"name":"AZURE_CLIENT_ID","value":"1d07b97d-0df6-4be9-b61e-3a08f1f1a6cf"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"}],"image":"acrmoz7uhkt7z2yo.azurecr.io/azd-deploy-apiservice-1710780728","name":"apiservice"}],"scale":{"minReplicas":1}}},"tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.App/containerApps/apiservice?api-version=2022-11-01-preview
        method: PUT
      response:
        body: '{"id":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.App/containerapps/apiservice","name":"apiservice","type":"Microsoft.App/containerApps","location":"East US 2","tags":{"aspire-resource-name":"apiservice","azd-service-name":"apiservice"},"systemData":{"createdBy":"weilim@microsoft.com","createdByType":"User","createdAt":"2024-03-18T16:53:14.9128306Z","lastModifiedBy":"weilim@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-03-18T16:53:14.9128306Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.App/managedEnvironments/cae-moz7uhkt7z2yo","environmentId":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.App/managedEnvironments/cae-moz7uhkt7z2yo","workloadProfileName":null,"outboundIpAddresses":["52.253.74.39"],"latestRevisionName":"","latestReadyRevisionName":"","latestRevisionFqdn":"","customDomainVerificationId":"952E2B5B449FE1809E86B56F4189627111A065213A56FF099BE2E8782C9EB920","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":"apiservice.internal.bravewater-9baa712b.eastus2.azurecontainerapps.io","external":false,"targetPort":8080,"exposedPort":0,"transport":"Http","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":true,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null},"registries":[{"server":"acrmoz7uhkt7z2yo.azurecr.io","username":"","passwordSecretRef":"","identity":"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-moz7uhkt7z2yo"}],"dapr":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":"","containers":[{"image":"acrmoz7uhkt7z2yo.azurecr.io/azd-deploy-apiservice-1710780728","name":"apiservice","env":[{"name":"AZURE_CLIENT_ID","value":"1d07b97d-0df6-4be9-b61e-3a08f1f1a6cf"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES","value":"true"},{"name":"OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES","value":"true"}],"resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":1,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus2.azurecontainerapps.dev/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/containerApps/apiservice/eventstream"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourcegroups/rg-azdtest-d4a1701/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-moz7uhkt7z2yo":{"principalId":"2bbaa70c-7772-4d4c-8366-84a8efff9bc2","clientId":"1d07b97d-0df6-4be9-b61e-3a08f1f1a6cf"}}}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.App/locations/eastus2/containerappOperationStatuses/5016c4af-ab49-41c4-a1c5-8076f356f2b6?api-version=2022-11-01-preview&azureAsyncOperation=true&t=638463775964910548&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMxMjIwNzA5WhcNMjUwMTI1MjIwNzA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbn[...]
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.App/locations/eastus2/containerappOperationStatuses/5016c4af-ab49-41c4-a1c5-8076f356f2b6?api-version=2022-11-01-preview&azureAsyncOperation=true&t=638463775964910548&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wj[...]
[...]
    - id: 19
      request:
        host: management.azure.com
        body: '{"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-moz7uhkt7z2yo":{}}},"location":"eastus2","properties":{"configuration":{"activeRevisionsMode":"single","ingress":{"allowInsecure":false,"external":true,"targetPort":8080,"transport":"http"},"registries":[{"identi[...]
    - id: 20
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.App/locations/eastus2/containerappOperationStatuses/9f47886e-cc4d-45d8-96be-3a798fc55e86?api-version=2022-11-01-preview&azureAsyncOperation=true&t=638463776713466079&c=MIIHADCCBeigAwIBAgITfARmPsJdo2ShuN-ImAAABGY-wj[...]
[...]
    - id: 31
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-azdtest-d4a1701/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27apiservice%27&api-version=2021-04-01
        method: GET
      response:
[...]
