---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/locations?api-version=2022-12-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/locations/westus"}]},"availabilityZoneMappings":[{"logicalZone":"1","physicalZone":"eastus-az1"},{"logicalZone":"2","physicalZone":"eastus-az2"},{"logicalZone":"3","physicalZone":"eastus-az3"}]},{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/locations/westus2","name":"westus2","type":"Region","displayName":"West US 2","regionalDisplayName":"(US) West US 2","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-119.852","latitude":"47.233","physicalLocation":"Washington","pairedRegion":[{"na[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-laceba1%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 357.990036ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/resourcegroups?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/resourceGroups/azdprod","name":"azdprod","type":"Microsoft.Resources/resourceGroups","location":"westus3","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/resourceGroups/opentiper-ci","name":"opentiper-ci","type":"Microsoft.Resources/resourceGroups","location":"westus3","tags":{},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/resourceGroups/rg-opentipper-prod","name":"rg-opentipper-prod","type":"Microsoft.Resources/resourceGroups","location":"westus3","tags":{"azd-env-name":"opentipper-prod","project":"sport-predictor"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/resourceGroups/rg-opentipper-prod-functions","name":"rg-opentipper-prod-functions","type":"Microsoft.Resources/resourceGroups","location":"westus3","tags":{"azd-env-name":"opentipper-prod","project":"sport-predictor"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/resourceGroups/zedytest","name":"zedytest","type"[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?api-version=2021-04-01\u0026%24skiptoken=ZY%2fNaoQwGEWfxawdMI6W4k6NUul8Sc0Phe6G1hETSaB1iDr47q0ts%2bry3nPv4tzQu7PTYK%2fnaXBWOtPZL5Td0GslpBJHlNnrOIaoyvcY78R28%2fRy%2fpyG%2ffDcLShDOHgMWgMprPkBhb8L7vyd4TgKYO1npmjJVOu5%2fiCUNAklY80kLKCLmkZvJWiIaVRfOKbsJCLPiEqozFfQbUplvwCpPJO9ZyVuuMKFMiNrpVt4zWuFeSFk8wCmnak2CazqCNqkaAuRYEo%2blRWVPD8pcTf6V%2fwZ%2fyjuxtv2DQ%3d%3d","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 5.725987083s
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=ZY%2FNaoQwGEWfxawdMI6W4k6NUul8Sc0Phe6G1hETSaB1iDr47q0ts%2Bry3nPv4tzQu7PTYK%2FnaXBWOtPZL5Td0GslpBJHlNnrOIaoyvcY78R28%2FRy%2FpyG%2FfDcLShDOHgMWgMprPkBhb8L7vyd4TgKYO1npmjJVOu5%2FiCUN[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=1ZLLboMwFES%2FJXdNJUzSh7JzAlZRYzv4oUotXaCWRjxqJEoEIeLfi5PQTaXs65Xv3GNpZuQjvFemycw%2BabLKqKpIzTcsjxBgqbT0YGn2ZelcRrswaddsk7rJLP%2BUHmAJaPYwiwp6S3t8A86JEFU77ZDnzmi%2F67hma66jVuQfPvP[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=fY%2FNCsIwEITfZc49iN56C5Ki4B8mwYPxECRIabuFmkKh5N1NbCOC4N7m25lldsS9JVdSb1zZkmwrS0%2FkIzgTUgnk1Nd1hjU%2FyDPbKcEVO8U12cHtTVfZDjmuo4aLST37NTpDDxtk2DRl5BqL4v9oZMFshre5KDS8v8FnuPDvJlOvZSrGlIjFtizyBKfEKklxVHLz%2BSDRHzCl5svevwA%3D&api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=fY%2fNCsIwEITfZc69qAehtyApCv5hEjwYD0GClLZbqCkUSt7dhjQiCO5tvpnZZUc8WnIl9caVLcm2svRCPmLDj%2fLC9kpwxc4BkB3cwXSV7ZDjNmq4kNXIqa%2frTKMz9LSTnJymDFxjsS7%2bjsbUa8wQw3%2bjRaHh%2fR0%2bA2dCKjHfxZV%2fq%2bgtk8mUCE%2fsWOAJxsYqSXFScvv5NtEfEFvzZu%2ff\u0026api-version=2021-04-01","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 683.720055ms
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=fY%2FNCsIwEITfZc69qAehtyApCv5hEjwYD0GClLZbqCkUSt7dhjQiCO5tvpnZZUc8WnIl9caVLcm2svRCPmLDj%2FLC9kpwxc4BkB3cwXSV7ZDjNmq4kNXIqa%2FrTKMz9LSTnJymDFxjsS7%2BjsbUa8wQw3%2BjRaHh%2FR0%2BA2dCKjHfxZV%2Fq%2Bgtk8mUCE%2FsWOAJxsYqSXFScvv5NtEfEFvzZu%2Ff&api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=fY%2fNCsIwEITfZc69qLfegqQo%2bIdJ8GA8BAlS2m6hplAoeXcT24gguLf5ZmbZHXFvyZXUG1e2JNvK0hP5iDU%2fyDPbKcEVO0VAdnB701W2Q47rqOFiViOnvq4zjc7QwwYZnKaMXGNR%2fB%2bN0GvM8A4XhYb3N%2fgMnAmpxLwZF%2f6tJm%2bZTKZEPHPLIk9waqySFEclN59%2fEv0BU2ve7P0L\u0026api-version=2021-04-01","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 731.727487ms
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=fY%2FNCsIwEITfZc69qLfegqQo%2BIdJ8GA8BAlS2m6hplAoeXcT24gguLf5ZmbZHXFvyZXUG1e2JNvK0hP5iDU%2FyDPbKcEVO0VAdnB701W2Q47rqOFiViOnvq4zjc7QwwYZnKaMXGNR%2FB%2BN0GvM8A4XhYb3N%2FgMnAmpxLwZF%2F6tJm%2BZTKZEPHPLIk9waqySFEclN59%2FEv0BU2ve7P0L&api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=fY%2fNCsIwEITfZc491YPQW5QUBf8wCR6MhyBBStsUagqFknc3IY0IQvc238zsshOenbGVGZStOsO7Wps3iglbeuJXchCMCnIJwOjRHlVf6x4F7pOEDVmJwgxNk0n0yry0l95pq8Al8nW5OBK%2b16oxhjeL2VLCuQdcBkoYF2y%2bixv9VdHLk0kEC0%2fsSeAJxsYqSXYWfPf9NtE%2fEFvzZuc%2b\u0026api-version=2021-04-01","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 1.136200957s
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=fY%2FNCsIwEITfZc491YPQW5QUBf8wCR6MhyBBStsUagqFknc3IY0IQvc238zsshOenbGVGZStOsO7Wps3iglbeuJXchCMCnIJwOjRHlVf6x4F7pOEDVmJwgxNk0n0yry0l95pq8Al8nW5OBK%2B16oxhjeL2VLCuQdcBkoYF2y%2Bixv9VdHLk0kEC0%2FsSeAJxsYqSXYWfPf9NtE%2FEFvzZuc%2B&api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=fY%2fBCsIwEET%2fZc491VtvUVIU1IpJ8GA8BAlS2m6hplAo%2bXcb24gguLd5M7Psjri35ErqjStbkm1l6YlsxIYf5ZntleCKnQIgO7iD6SrbIcN11HAhq5FRX9eJRmfoYSc5OU0ZuEa6zv%2bOxtRrzPAO57mG9zf4BJwJqcSyGRf%2brWYvjSZTIpy5Y4FHODdWUYpCye3nn0h%2fwNxaNnv%2fAg%3d%3d\u0026api-version=2021-04-01","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 526.790451ms
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=fY%2FBCsIwEET%2FZc491VtvUVIU1IpJ8GA8BAlS2m6hplAo%2BXcb24gguLd5M7Psjri35ErqjStbkm1l6YlsxIYf5ZntleCKnQIgO7iD6SrbIcN11HAhq5FRX9eJRmfoYSc5OU0ZuEa6zv%2BOxtRrzPAO57mG9zf4BJwJqcSyGRf%2BrWYvjSZTIpy5Y4FHODdWUYpCye3nn0h%2FwNxaNnv%2FAg%3D%3D&api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=hY%2fNCsIwEITfZc49tQehtyARBf8wCR6MhyBBStst1BQKJe9uYxsRBN3bfDOzyw64NeQK6owrGpJNaemBfMCS7%2bWJbZXgih0DINu7nWlL2yLHZdBwIauRU1dViUZr6G5HOTp1EbhGuvo9GmOvNv0rnC3%2bhb2%2fwifgTEgl5rs48081eWk0mRLhiQ0LPMKpkUUpDkqu399G%2bgWm1rzZ%2byc%3d\u0026api-version=2021-04-01","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 505.560537ms
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=hY%2FNCsIwEITfZc49tQehtyARBf8wCR6MhyBBStst1BQKJe9uYxsRBN3bfDOzyw64NeQK6owrGpJNaemBfMCS7%2BWJbZXgih0DINu7nWlL2yLHZdBwIauRU1dViUZr6G5HOTp1EbhGuvo9GmOvNv0rnC3%2Bhb2%2FwifgTEgl5rs48081eWk0mRLhiQ0LPMKpkUUpDkqu399G%2BgWm1rzZ%2Byc%3D&api-version=2021-04-01
        method: GET
      response:
        body: '{"nextLink":"https://management.azure.com/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=fY%2fBCsIwEET%2fZc492YPQW5AUBbViEjwYD0GClLZbqCkUSv7dxjYiCO5t3swsuyPuLbmSeuPKlmRbWXoiG7HhR3lmeyW4YqcAyA7uYLrKdshwHTVcyGpk1Nd1otEZethJTk5TBq6RrvO%2fozH1GjO8w3mu4f0NPgFnQiqxbMaFf6vZW0WTKRHO3LHAI5wbaZSiUHL7%2bSfSHzC3ls3evwA%3d\u0026api-version=2021-04-01","value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 847.062865ms
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/?%24skiptoken=fY%2FBCsIwEET%2FZc492YPQW5AUBbViEjwYD0GClLZbqCkUSv7dxjYiCO5t3swsuyPuLbmSeuPKlmRbWXoiG7HhR3lmeyW4YqcAyA7uYLrKdshwHTVcyGpk1Nd1otEZethJTk5TBq6RrvO%2FozH1GjO8w3mu4f0NPgFnQiqxbMaFf6vZW0WTKRHO3LHAI5wbaZSiUHL7%2BSfSHzC3ls3evwA%3D&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 591.921695ms
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Authorization/roleAssignments?api-version=2022-04-01&$filter=assignedTo('21b7aed7-36eb-49e7-964b-259e79e276f3')
        method: GET
      response:
        body: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","principalId":"21b7aed7-36eb-49e7-964b-259e79e276f3","principalType":"User","scope":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a","condition":null,"conditionVersion":null,"createdOn":"2025-12-10T16:30:48.7746852Z","updatedOn":"2025-12-10T16:30:48.7746852Z","createdBy":"0469d4cd-df37-4d93-8a61-f8c75b809164","updatedBy":"0469d4cd-df37-4d93-8a61-f8c75b809164","delegatedManagedIdentityResourceId":null,"description":"The Classic Admin role was converted to an Azure Owner role on behalf of the user due to Classic Admin retirement."},"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Authorization/roleAssignments/952918a1-a92a-4f70-8614-aa1e5a3eb4a2","type":"Microsoft.Authorization/roleAssignments","name":"952918a1-a92a-4f70-8614-aa1e5a3eb4a2"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 938.008427ms
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635?api-version=2022-04-01
        method: GET
      response:
        body: '{"properties":{"roleName":"Owner","type":"BuiltInRole","description":"Grants full access to manage all resources, including the ability to assign roles in Azure RBAC.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2021-11-11T20:13:45.8978856Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","type":"Microsoft.Authorization/roleDefinitions","name":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 302.902602ms
    - id: 15
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-laceba1","reference":null},"location":{"value":"eastus2","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.47.16.16243","templateHash":"11503505145105441500"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"deleteAfterTime":{"type":"string","defaultValue":"[dateTimeAdd(utcNow(''o''), ''PT1H'')]","metadata":{"description":"A time to mark on created resource groups, so they can be cleaned up via an automated process."}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]","DeleteAfter":"[parameters(''deleteAfterTime'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2025-04-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.47.16.16243","templateHash":"6135225499618749616"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[variables(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[variables(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2024-03-01","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"workloadProfiles":[{"workloadProfileType":"Consumption","name":"consumption"}],"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[variables(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.App/containerApps","apiVersion":"2024-03-01","name":"[format(''app-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","identity":{"type":"UserAssigned","userAssignedIdentities":{"[format(''{0}'', resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))))]":{}}},"properties":{"environmentId":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","configuration":{"activeRevisionsMode":"Single","ingress":{"external":true,"targetPort":8080,"transport":"http","allowInsecure":false},"registries":[{"server":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]","identity":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"}]},"template":{"containers":[{"image":"nginx","name":"app"}],"scale":{"minReplicas":1}}},"tags":"[union(variables(''tags''), createObject(''azd-service-name'', ''app''))]","dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[format(''https://{0}/'', reference(resourceId(''Microsoft.App/containerApps'', format(''app-{0}'', variables(''resourceToken''))), ''2024-03-01'').configuration.ingress.fqdn)]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2025-04-01'').outputs.WEBSITE_URL.value]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2025-04-01'').outputs.AZURE_CONTAINER_REGISTRY_ENDPOINT.value]"}}}},"tags":{"azd-env-name":"azdtest-laceba1","azd-layer-name":"","azd-project-name":"webapp","azd-provision-param-hash":"e8c3469f45859bbf81f5842e05eabceb4002dcfddce1d6e09d96ddf0dae8ce2c"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/azdtest-laceba1-1789418735/validate?api-version=2021-04-01
        method: POST
      response:
        body: '{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/azdtest-laceba1-1789418735","name":"azdtest-laceba1-1789418735","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-laceba1","azd-layer-name":"","azd-project-name":"webapp","azd-provision-param-hash":"e8c3469f45859bbf81f5842e05eabceb4002dcfddce1d6e09d96ddf0dae8ce2c"},"properties":{"templateHash":"11503505145105441500","parameters":{"environmentName":{"type":"String","value":"azdtest-laceba1"},"location":{"type":"String","value":"eastus2"},"deleteAfterTime":{"type":"String","value":"2026-09-14T21:46:08Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2026-09-14T20:46:08.5416145Z","duration":"PT0S","correlationId":"2f5506a9-a3ae-9c12-d499-b14612081e4b","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/resourceGroups/rg-azdtest-laceba1","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-laceba1"}],"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/resourceGroups/rg-azdtest-laceba1/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"}],"validatedResources":[{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/resourceGroups/rg-azdtest-laceba1"},{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/resourceGroups/rg-azdtest-laceba1/providers/Microsoft.Resources/deployments/resources"},{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/resourceGroups/rg-azdtest-laceba1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-3ffioylc7ewaa"},{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/resourceGroups/rg-azdtest-l[...]
[...]
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/azdtest-laceba1-1789418735/operationStatuses/08584121881146706524?api-version=2021-04-01&t=639250155737912285&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytD[...]
    - id: 18
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/deployments/azdtest-laceba1-1789418735?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/3819cb9d-0f7c-4284-9e93-220e7fb2367a/providers/Microsoft.Resources/de[...]
[...]
    - id: 20
      request:
        host: aka.ms
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
[...]
