---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/locations?api-version=2022-12-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/locations/eastus","name":"eastus","type":"Region","displayName":"East US","regionalDisplayName":"(US) East US","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-79.8164","latitude":"37.3719","physicalLocation":"Virginia","pairedRegion":[{"name":"westus","id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/locations/westus"}]},"availabilityZoneMappings":[{"logicalZone":"1","physicalZone":"eastus-az2"},{"logicalZone":"2","physicalZone":"eastus-az1"},{"logicalZone":"3","physicalZone":"eastus-az3"}]},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/locations/westus2","name":"westus2","type":"Region","displayName":"West US 2","regionalDisplayName":"(US) West US 2","metadata":{"regionType":"Physical","regionCategory":"Recommended","geography":"United States","geographyGroup":"US","longitude":"-119.852","latitude":"47.233","physicalLocation":"Washington","pairedRegion":[{"na[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourcegroups?%24filter=tagName+eq+%27azd-env-name%27+and+tagValue+eq+%27azdtest-l7b9f75%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 70.293458ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourcegroups?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/judytest","name":"judytest","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"DeleteAfter":"06/20/2025 11:09:05"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-vivazqu-2260","name":"rg-vivazqu-2260","type":"Microsoft.Resources/resourceGroups","location":"eastus2","properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-stress-cluster-storage","name":"rg-stress-cluster-storage","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"environment":"storage","owners":"bebroder,ripark","purpose":"stress and load testing for storage SDKs","DoNotDelete":""},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-nodes-s1-stress-storage-storage","name":"rg-nodes-s1-stress-storage-storage","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","managedBy":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourcegroups/rg-stress-cluster-storage/providers/Microsoft.ContainerService/managedClusters/stress-storage","tags":{"DoNotDelete":"","aks-managed-cluster-name":"stress-storage","aks-managed-cluster-rg":"rg-stress-cluster-storage","environment":"storage","owners":"bebroder,ripark","purpose":"stress and load testing for storage SDKs"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/AzureBackupRG_eastus2_1","name":"AzureBackupRG_eastus2_1","type":"Microsoft.Resources/resourceGroups","location":"eastus2","managedBy":"subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.RecoveryServices/","properties":{"prov[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 1.375012599s
    - id: 4
      request:
        host: management.azure.com
        body: '{"location":"eastus2","properties":{"mode":"Incremental","parameters":{"environmentName":{"value":"azdtest-l7b9f75","reference":null},"location":{"value":"eastus2","reference":null}},"template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.37.4.10188","templateHash":"4746579497706122923"}},"parameters":{"environmentName":{"type":"string","minLength":1,"maxLength":64,"metadata":{"description":"Name of the the environment which is used to generate a short unique hash used in all resources."}},"location":{"type":"string","metadata":{"description":"Primary location for all resources"}},"deleteAfterTime":{"type":"string","defaultValue":"[dateTimeAdd(utcNow(''o''), ''PT1H'')]","metadata":{"description":"A time to mark on created resource groups, so they can be cleaned up via an automated process."}}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]","DeleteAfter":"[parameters(''deleteAfterTime'')]"}},"resources":[{"type":"Microsoft.Resources/resourceGroups","apiVersion":"2021-04-01","name":"[format(''rg-{0}'', parameters(''environmentName''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.Resources/deployments","apiVersion":"2022-09-01","name":"resources","resourceGroup":"[format(''rg-{0}'', parameters(''environmentName''))]","properties":{"expressionEvaluationOptions":{"scope":"inner"},"mode":"Incremental","parameters":{"environmentName":{"value":"[parameters(''environmentName'')]"},"location":{"value":"[parameters(''location'')]"}},"template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.37.4.10188","templateHash":"10372708171593853957"}},"parameters":{"environmentName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"}},"variables":{"tags":{"azd-env-name":"[parameters(''environmentName'')]"},"resourceToken":"[toLower(uniqueString(subscription().id, parameters(''environmentName''), parameters(''location'')))]"},"resources":[{"type":"Microsoft.ManagedIdentity/userAssignedIdentities","apiVersion":"2023-01-31","name":"[format(''mi-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","tags":"[variables(''tags'')]"},{"type":"Microsoft.ContainerRegistry/registries","apiVersion":"2023-07-01","name":"[replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')]","location":"[parameters(''location'')]","sku":{"name":"Basic"},"tags":"[variables(''tags'')]"},{"type":"Microsoft.Authorization/roleAssignments","apiVersion":"2022-04-01","scope":"[format(''Microsoft.ContainerRegistry/registries/{0}'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","name":"[guid(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d''))]","properties":{"principalId":"[reference(resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))), ''2023-01-31'').principalId]","principalType":"ServicePrincipal","roleDefinitionId":"[subscriptionResourceId(''Microsoft.Authorization/roleDefinitions'', ''7f951dda-4ed3-4680-a7ca-43fe172d538d'')]"},"dependsOn":["[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.OperationalInsights/workspaces","apiVersion":"2022-10-01","name":"[format(''law-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"sku":{"name":"PerGB2018"}},"tags":"[variables(''tags'')]"},{"type":"Microsoft.App/managedEnvironments","apiVersion":"2024-03-01","name":"[format(''cae-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","properties":{"workloadProfiles":[{"workloadProfileType":"Consumption","name":"consumption"}],"appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"[reference(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').customerId]","sharedKey":"[listKeys(resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken''))), ''2022-10-01'').primarySharedKey]"}}},"tags":"[variables(''tags'')]","dependsOn":["[resourceId(''Microsoft.OperationalInsights/workspaces'', format(''law-{0}'', variables(''resourceToken'')))]"]},{"type":"Microsoft.App/containerApps","apiVersion":"2024-03-01","name":"[format(''app-{0}'', variables(''resourceToken''))]","location":"[parameters(''location'')]","identity":{"type":"UserAssigned","userAssignedIdentities":{"[format(''{0}'', resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken''))))]":{}}},"properties":{"environmentId":"[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","configuration":{"activeRevisionsMode":"Single","ingress":{"external":true,"targetPort":8080,"transport":"http","allowInsecure":false},"registries":[{"server":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]","identity":"[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"}]},"template":{"containers":[{"image":"nginx","name":"app"}],"scale":{"minReplicas":1}}},"tags":"[union(variables(''tags''), createObject(''azd-service-name'', ''app''))]","dependsOn":["[resourceId(''Microsoft.App/managedEnvironments'', format(''cae-{0}'', variables(''resourceToken'')))]","[resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', ''''))]","[resourceId(''Microsoft.ManagedIdentity/userAssignedIdentities'', format(''mi-{0}'', variables(''resourceToken'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[format(''https://{0}/'', reference(resourceId(''Microsoft.App/containerApps'', format(''app-{0}'', variables(''resourceToken''))), ''2024-03-01'').configuration.ingress.fqdn)]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(resourceId(''Microsoft.ContainerRegistry/registries'', replace(format(''acr-{0}'', variables(''resourceToken'')), ''-'', '''')), ''2023-07-01'').loginServer]"}}}},"dependsOn":["[subscriptionResourceId(''Microsoft.Resources/resourceGroups'', format(''rg-{0}'', parameters(''environmentName'')))]"]}],"outputs":{"WEBSITE_URL":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.WEBSITE_URL.value]"},"AZURE_CONTAINER_REGISTRY_ENDPOINT":{"type":"string","value":"[reference(extensionResourceId(format(''/subscriptions/{0}/resourceGroups/{1}'', subscription().subscriptionId, format(''rg-{0}'', parameters(''environmentName''))), ''Microsoft.Resources/deployments'', ''resources''), ''2022-09-01'').outputs.AZURE_CONTAINER_REGISTRY_ENDPOINT.value]"}}}},"tags":{"azd-env-name":"azdtest-l7b9f75","azd-provision-param-hash":"79f11ab2614c75822bb72988bb69bc08a281d11168e147959244c9cdd5b7c08a"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/deployments/azdtest-l7b9f75-1757351581/validate?api-version=2021-04-01
        method: POST
      response:
        body: '{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/deployments/azdtest-l7b9f75-1757351581","name":"azdtest-l7b9f75-1757351581","type":"Microsoft.Resources/deployments","location":"eastus2","tags":{"azd-env-name":"azdtest-l7b9f75","azd-provision-param-hash":"79f11ab2614c75822bb72988bb69bc08a281d11168e147959244c9cdd5b7c08a"},"properties":{"templateHash":"4746579497706122923","parameters":{"environmentName":{"type":"String","value":"azdtest-l7b9f75"},"location":{"type":"String","value":"eastus2"},"deleteAfterTime":{"type":"String","value":"2025-09-08T18:13:10Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-09-08T17:13:10.3382011Z","duration":"PT0S","correlationId":"bbda4b1766ad3a59b833b523200eb7bc","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["eastus2"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-l7b9f75","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"rg-azdtest-l7b9f75"}],"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-l7b9f75/providers/Microsoft.Resources/deployments/resources","resourceType":"Microsoft.Resources/deployments","resourceName":"resources"}],"validatedResources":[{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-l7b9f75"},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-l7b9f75/providers/Microsoft.Resources/deployments/resources"},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-l7b9f75/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-33kluokwc2ju4"},{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-l[...]
[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/deployments/azdtest-l7b9f75-1757351581/operationStatuses/08584442552928707603?api-version=2021-04-01&t=638929483960365064&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImi[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/deployments/azdtest-l7b9f75-1757351581?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Resources/dep[...]
[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-l7b9f75/resources?%24filter=tagName+eq+%27azd-service-name%27+and+tagValue+eq+%27app%27&api-version=2021-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-l7b9f75/providers/Microsoft.App/containerApps/app-33kluokwc2ju4","name":"app-33kluokwc2ju4","type":"Microsoft.App/containerApps","kind":"","managedBy":"","location":"eastus2","identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourcegroups/rg-azdtest-l7b9f75/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mi-33kluokwc2ju4":{"principalId":"0e854591-885f-449e-8968-8e2b4df7f339","clientId":"9b68f628-9041-46f5-a2e7-2bebbf394228"}}},"tags":{"azd-env-name":"azdtest-l7b9f75","azd-service-name":"app"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 778.079856ms
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-l7b9f75/providers/Microsoft.ContainerRegistry/registries/acr33kluokwc2ju4/listBuildSourceUploadUrl?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"relativePath":"tasks-source/202509080000/ec58626c9b1846e6b657b75bf1b921aa.tar.gz","uploadUrl":"https://acrtaskprodeus2022.blob.core.windows.net/container-f14d97aa89c04a91ab0080a9676c6861/tasks-source/202509080000/ec58626c9b1846e6b657b75bf1b921aa.tar.gz?se=2025-09-08T18%3A17%3A22Z\u0026sig=SANITIZED\u0026ske=2025-09-15T17%3A17%3A22Z\u0026skoid=54ea2226-b787-4507-912e-75de6df49d1d\u0026sks=b\u0026skt=2025-09-08T17%3A12%3A22Z\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skv=2024-11-04\u0026sp=cw\u0026sr=b\u0026sv=2024-11-04"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "2999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "199"
        status: 200 OK
        code: 200
        duration: 245.174948ms
    - id: 12
      request:
        host: acrtaskprodeus2022.blob.core.windows.net
        body: !!binary |
            H4sIAAAAAAAA/+yVUWvbMBDH82zwdzj8Yhc8+ezYcUnJXtKOjlFS0sE2xqDCvmVuXcmVlJ
            Jt9LsP20nn9WF5mRsG/r0InS53/5P4x6cyuyX1tShp1BuIiJM4rtcwTbC7NoSTcBQmmKQT
            TKNxMsJwnIY4AuxP0m/W2nA1QnzQmcz/cgn7zrezPK3/CW+WiwsQMqdpFNmWbX1YLN+dvl
            1CwKvKtuaLy09Q8eyWr4jdaCm68ULktGE3ehs7+3i5uDqDMSLWheYXp/DZqSs7Pji7XOfL
            oQce+IPdw/TZY5//4zh57v9xOvj/Rcik0Aa+GVPBDBTdrwtFnlvv3aOT2sdtgib1QApmTS
            bLFHFDV03M8xTd+6BIH8HsNfy0LQCot0wbbtZ6LnOCGUSIJ50jMufEc1KeO5fCkDCv3n+v
            yPXBNbQxQVXyQjQCdr8gkXvuOZWl9OGa/8ivWXP82Ips5bGy0IaEd4zH6IO36Qqqx5AlsV
            KuPLdVDmotRCFWwNsLmAZBGKUMGbJwWtcIdi0O/Ug90v1z76vHPv/jBJ/5P44wGvz/Emzt
            4Qh+R84UHF5Vjr+N3fFC1LGnj7dtPR5a78DAwMDAv+FXAAAA//9y68whABAAAA==
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/octet-stream
            X-Ms-Blob-Type:
                - BlockBlob
            X-Ms-Version:
                - "2023-11-03"
        url: https://acrtaskprodeus2022.blob.core.windows.net:443/container-f14d97aa89c04a91ab0080a9676c6861/tasks-source/202509080000/ec58626c9b1846e6b657b75bf1b921aa.tar.gz?se=2025-09-08T18%3A17%3A22Z&sig=SANITIZED&ske=2025-09-15T17%3A17%3A22Z&skoid=54ea2226-b787-4507-912e-75de6df49d1d&sks=b&skt=2025-09-08T17%3A12%3A22Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2024-11-04&sp=cw&sr=b&sv=2024-11-04
        method: PUT
      response:
        body: ""
        headers:
            Content-Md5:
                - vStG6JGTUQpljIrYJKZ4mw==
            Etag:
                - '"0x8DDEEFB931116EC"'
            Last-Modified:
                - Mon, 08 Sep 2025 17:17:22 GMT
            X-Ms-Content-Crc64:
                - +2SczJDuCYI=
            X-Ms-Request-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 201 Created
        code: 201
        duration: 561.447509ms
    - id: 13
      request:
        host: management.azure.com
        body: '{"dockerFilePath":"Dockerfile","imageNames":["acr33kluokwc2ju4.azurecr.io/custom/image:prod"],"isPushEnabled":true,"platform":{"architecture":"amd64","os":"Linux"},"sourceLocation":"tasks-source/202509080000/ec58626c9b1846e6b657b75bf1b921aa.tar.gz","type":"DockerBuildRequest"}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-l7b9f75/providers/Microsoft.ContainerRegistry/registries/acr33kluokwc2ju4/scheduleRun?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ch1","status":"Queued","lastUpdatedTime":"2025-09-08T17:17:23+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-l7b9f75/providers/Microsoft.ContainerRegistry/registries/acr33kluokwc2ju4/runs/ch1","name":"ch1","systemData":{"lastModifiedBy":"jeffreychen@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-09-08T17:17:22.9563902+00:00"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "2999"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "199"
        status: 200 OK
        code: 200
        duration: 378.079277ms
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/rg-azdtest-l7b9f75/providers/Microsoft.ContainerRegistry/registries/acr33kluokwc2ju4/runs/ch1/listLogSasUrl?api-version=2019-06-01-preview
        method: POST
      response:
        body: '{"logLink":"https://acrtaskprodeus2022.blob.core.windows.net/container-f14d97aa89c04a91ab0080a9676c6861/logs/ch1/rawtext.log?se=2025-09-08T18%3A27%3A23Z\u0026sig=SANITIZED\u0026ske=2025-09-15T17%3A17%3A23Z\u0026skoid=54ea2226-b787-4507-912e-75de6df49d1d\u0026sks=b\u0026skt=2025-09-08T17%3A12%3A23Z\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skv=2024-11-04\u0026sp=r\u0026sr=b\u0026sv=2024-11-04"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "2998"
            X-Ms-Ratelimit-Remaining-Subscription-Writes:
                - "198"
        status: 200 OK
        code: 200
        duration: 203.067502ms
    - id: 15
      request:
        host: acrtaskprodeus2022.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Version:
                - "2023-11-03"
        url: https://acrtaskprodeus2022.blob.core.windows.net:443/container-f14d97aa89c04a91ab0080a9676c6861/logs/ch1/rawtext.log?se=2025-09-08T18%3A27%3A23Z&sig=SANITIZED&ske=2025-09-15T17%3A17%3A23Z&skoid=54ea2226-b787-4507-912e-75de6df49d1d&sks=b&skt=2025-09-08T17%3A12%3A23Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2024-11-04&sp=r&sr=b&sv=2024-11-04
        method: HEAD
      response:
            - chunked
        body: ""
        headers:
            X-Ms-Error-Code:
                - BlobNotFound
            X-Ms-Version:
                - "2023-11-03"
        status: 404 The specified blob does not exist.
        code: 404
        duration: 84.153581ms
    - id: 16
      request:
        host: acrtaskprodeus2022.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Version:
                - "2023-11-03"
        url: https://acrtaskprodeus2022.blob.core.windows.net:443/container-f14d97aa89c04a91ab0080a9676c6861/logs/ch1/rawtext.log?se=2025-09-08T18%3A27%3A23Z&sig=SANITIZED&ske=2025-09-15T17%3A17%3A23Z&skoid=54ea2226-b787-4507-912e-75de6df49d1d&sks=b&skt=2025-09-08T17%3A12%3A23Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2024-11-04&sp=r&sr=b&sv=2024-11-04
        method: HEAD
      response:
        body: ""
        headers:
            Content-Disposition:
                - ""
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DDEEFB9543818A"'
            Last-Modified:
                - Mon, 08 Sep 2025 17:17:26 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "3"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Mon, 08 Sep 2025 17:17:23 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 200 OK
        code: 200
        duration: 82.240675ms
    - id: 17
      request:
        host: acrtaskprodeus2022.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Range:
                - bytes=0-765
            X-Ms-Version:
                - "2023-11-03"
        url: https://acrtaskprodeus2022.blob.core.windows.net:443/container-f14d97aa89c04a91ab0080a9676c6861/logs/ch1/rawtext.log?se=2025-09-08T18%3A27%3A23Z&sig=SANITIZED&ske=2025-09-15T17%3A17%3A23Z&skoid=54ea2226-b787-4507-912e-75de6df49d1d&sks=b&skt=2025-09-08T17%3A12%3A23Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2024-11-04&sp=r&sr=b&sv=2024-11-04
        method: GET
      response:
        body: "2025/09/08 17:17:23 Downloading source code...\r\n2025/09/08 17:17:24 Finished downloading source code\r\n2025/09/08 17:17:24 Using acb_vol_b424035b-e0c2-4d8f-8a82-bdd772a571cf as the home volume\n2025/09/08 17:17:24 Setting up Docker configuration...\n2025/09/08 17:17:25 Successfully set up Docker configuration\n2025/09/08 17:17:25 Logging in to registry: acr33kluokwc2ju4.azurecr.io\n2025/09/08 17:17:25 Successfully logged into acr33kluokwc2ju4.azurecr.io\n2025/09/08 17:17:25 Executing step ID: build. Timeout(sec): 28800, Working directory: '', Network: ''\n2025/09/08 17:17:25 Scanning for dependencies...\n2025/09/08 17:17:26 Successfully scanned dependencies\n2025/09/08 17:17:26 Launching container with name: build\nSending build context to Docker daemon  4.096kB\r\r\r\n"
        headers:
            Content-Disposition:
                - ""
            Content-Range:
                - bytes 0-765/766
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DDEEFB9543818A"'
            Last-Modified:
                - Mon, 08 Sep 2025 17:17:26 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "3"
            X-Ms-Blob-Type:
                - AppendBlob
            X-Ms-Creation-Time:
                - Mon, 08 Sep 2025 17:17:23 GMT
            X-Ms-Lease-State:
                - available
            X-Ms-Lease-Status:
                - unlocked
            X-Ms-Server-Encrypted:
                - "true"
            X-Ms-Version:
                - "2023-11-03"
        status: 206 Partial Content
        code: 206
        duration: 83.812287ms
[...]
    - id: 110
      request:
        host: acrtaskprodeus2022.blob.core.windows.net
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
            X-Ms-Version:
                - "2023-11-03"
        url: https://acrtaskprodeus2022.blob.core.windows.net:443/container-f14d97aa89c04a91ab0080a9676c6861/logs/ch1/rawtext.log?se=2025-09-08T18%3A27%3A23Z&sig=SANITIZED&ske=2025-09-15T17%3A17%3A23Z&skoid=54ea2226-b787-4507-912e-75de6df49d1d&sks=b&skt=2025-09-08T17%3A12%3A23Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2024-11-04&sp=r&sr=b&sv=2024-11-04
        method: HEAD
      response:
        body: ""
        headers:
            Content-Disposition:
                - ""
            Content-Type:
                - text/plain; charset=utf-8
            Etag:
                - '"0x8DDEEFBC2FC5948"'
            Last-Modified:
                - Mon, 08 Sep 2025 17:18:43 GMT
            X-Ms-Blob-Committed-Block-Count:
                - "18"
[...]
