name: Release dev container feature image

env:
  IMAGE_NAME: ${{ github.repository }}
  REGISTRY: ghcr.io

on:
  workflow_dispatch:

jobs:
  call-workflow-test:
    uses: ".github/workflows/devcontainer-feature-test.yml"

  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs: call-workflow-test
    permissions:
      contents: write
      packages: write
    environment:
      name: deploy-devcontainer-feature
    steps:
      - uses: actions/checkout@v3

      - name: "Publish Features"
        uses: devcontainers/action@v1
        with:
          publish-features: "true"
          base-path-to-features: "./ext/devcontainer"
          generate-docs: "false"