name: shellcheck

on:
  pull_request:
    paths:
      - "**.sh"
      - ".github/workflows/shellcheck.yml"
    branches: [main]

# If two events are triggered within a short time in the same PR, cancel the run of the oldest event
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Register ShellCheck problem matcher
        run: echo "::add-matcher::.github/shellcheck-matcher.json"
      - name: Run ShellCheck
        run: |
          find . -name "*.sh" -type f -exec shellcheck -f gcc {} +
      - name: Unregister ShellCheck problem matcher
        if: always()
        run: echo "::remove-matcher owner=shellcheck-gcc::"
